[2019-09-12 18:38] jwmueller opened #10 "searcher get_config() may get stuck in infinite while loop"
Listing issue here for the record since I removed these comments from my **skopt_searcher** code to clean it up.

Issue:
get_config() may become stuck in infinite while loop. There is no termination condition to handle the case where all possible configs have already been tried
(should be inherited from BaseSearcher or Scheduler should automatically terminate).

In general, perhaps the BaseSearche

[2019-10-01 18:36] zhanghang1989 opened #15 "Dataset split stuck for large dataset"
Open an issue tracker.

Current auto split in `ImageClassification.fit` does not work for large dataset. We need to reimplement it usign batchify_fn.

[2019-10-01 18:54] zhanghang1989 opened #16 "Dask Terminal Messaging"
Improve the ssh communication by only catch and display meaningful messages. Currently we just display all the terminal outputs from Dask, which is messy.

[2019-10-07 18:46] zhanghang1989 opened #17 "Tutorials Request"
- User defined Network
- User defined script using Advanced API
- Distributed Training

Issue Tracker for https://github.com/awslabs/autogluon/pull/12

[2019-10-07 18:49] zhanghang1989 opened #18 "Feature Request for Fit API for load and save"
Task.load() and Task.save()

issue tracker for https://github.com/awslabs/autogluon/pull/12

[2019-10-08 16:44] zhanghang1989 opened #19 "API Naming Discussion"
Naming Issue Tracker for https://github.com/awslabs/autogluon/pull/12

1. `autogluon.Linear` => `autogluon.Real` or `autogluon.Range`?

2. Merging `autogluon.Int` with `autogluon.Linear`, which is suggested by @cgraywang ? (I think it may be a little misleading)

3. @cgraywang suggest changing `autogluon.Choice` back to `List`, @jwmueller and @zhanghang1989 think `Choice` may be better.

[2019-10-08 19:47] #16 closed, assigned to nobody

[2019-10-08 22:11] zhanghang1989 opened #20 "Doc Improvement"
Need to improve the documentation.

1) Format: we need to rewrite by following the MXNet doc style, due to using new doc template.
2) Lauguage: need to do proof read and fix typos.
3) Content: need to add working examples to each doc class/function

[2019-10-11 16:57] zhanghang1989 opened #21 "Bug in Scheduler `cleaning_task`"
`cleaning_task` during `join_task` may have race condition, need to fix.

[2019-10-11 17:51] cgraywang opened #22 "Bug when import autogluon"
The error msg is as below:

[code]

pip show mxnet-cu100
Name: mxnet-cu100
Version: 1.5.0

python --version
Python 3.6.5 :: Anaconda, Inc.

ubuntu@ip-172-31-17-156:/home$ pip show autogluon
Name: autogluon
Version: 0.0.1+0d8a584

[2019-10-11 19:08] jwmueller opened #23 "should have try-except block when fetching model files"
When running the basic image classification tutorial, I get log statements like:

[ worker local ] : FileNotFoundError: [Errno 2] No such file or directory: '/home/ubuntu/.mxnet/models/resnet50_v1b-0ecdba34.zip'

presumably because the file hasn't yet been downloaded.  However, we should enclose the file access in a try-except block to prevent such errors from printing, since the user may otherwis

[2019-10-11 19:50] cgraywang opened #24 "NAS/efficient net runnable scripts/notebook"
It would be great if we have a running example for NAS or efficient net.

[2019-10-12 00:05] jwmueller opened #26 "Installation issues + fixes with the current version"
We can use this issue to keep track of installation issues and their fixes with whatever is the current version of autogluon.

[2019-10-12 21:44] zhanghang1989 opened #28 "Error During Scheduler Shutdown"
python script does not have clean exit.

[2019-10-14 19:05] zhanghang1989 opened #29 "Predictor Object for AutoGluon Fit API"
Issue tracker for discussion with @jwmueller @cgraywang today.

`results` returned by `fit` may not be a good way to saving state and handling multiple experiments.

We decide to make a `Predictor` object which contains the following method:

[code]

[2019-10-14 19:20] jwmueller opened #30 "respect time_limits better"
For num_trials default:

if time_limits < THRESHOLD:
    num_trials = 1

where THRESHOLD is something small, say = 1 or 10

[2019-10-14 22:12] jwmueller opened #32 "Results object returned by task.fit() no longer contains info about each config tried and their reward"
After I call results = task.fit(num_trials=10),

the 'results' object should contain information about each of the 10 trials:
which hyperparameter config was tried, the corresponding reward, other various metadata about the trial.

I would use the following naming conventions for the returned object: `results = task.fit()`:

[code]

[2019-10-15 17:37] #18 closed, assigned to zhanghang1989

[2019-10-15 21:17] Innixma opened #33 "Tabular row weight support"
Add support for row-wise weights in a similar fashion to LightGBM:

https://lightgbm.readthedocs.io/en/latest/Parameters.html#weight_column

We can have a dedicated weight column that is checked for presence such as '__weight', and potentially give the user the option to specify the column in the call to learner init.

With this column we would additionally need to add support for weight in all ob

[2019-10-15 21:42] cgraywang opened #34 "Task naming confusion"
Currently, we have trials also called `task` https://github.com/awslabs/autogluon/blob/master/autogluon/core/task.py.

In the original design, we have the frontend applications named as task as well.

We probably need to resolve this issue by renaming `task` to `trial`.

[2019-10-15 21:46] cgraywang opened #35 "MXboard tuple reporting issue"
For MXboard, when passing a tuple as the reporting result https://github.com/awslabs/autogluon/blob/7795b9c956c24ff85904700482aa96e3eafea38e/autogluon/scheduler/fifo.py#L241, we would have an error, where in the simple plot is seems to be fine.

[2019-10-15 21:49] cgraywang opened #36 "Tensorboard with python 3.7"
Tensorboard with python 3.6 is working properly in the current autogluon, however Tensorboard with python 3.7 support needs to be verified, even it seems now Tensorboard already supports python 3.7 https://github.com/kubeflow/kubeflow/issues/3391, just open this issue for tracking purpose.

[2019-10-17 05:11] #32 closed, assigned to nobody

[2019-10-23 17:54] zhanghang1989 opened #40 "Renaming Fit API Arg Names"
make an issue tracker for the discussion in the meeting
`num_cpus => nthreads_per_trial`
`num_gpus => ngpus_per_trial`

[2019-10-24 12:35] ltiao opened #42 "All searchers should expect keyword arguments in `get_config` method"
All searchers should expect keyword args in the `get_config` method, even if they are not used.

Otherwise, this poses a problem for some schedulers. For example, with `ag.searcher.RandomSearcher` and `ag.scheduler.HyperbandScheduler`, I get:
[code]
Perhaps the simplest fix is to ensure `ag.searcher.RandomSearcher` (and all other subclasses of `ag.searcher.BaseSearcher` have the function signature

[2019-10-24 13:23] #42 closed, assigned to nobody

[2019-10-24 17:57] Innixma opened #44 "Objective Function / Metric Support in Tabular"
Currently, tabular can take any objective function as input to optimize for, however not all objective functions act the same:

1. Some objective functions use different inputs: Accuracy takes y_pred, while logloss takes y_pred_proba.

2. Some objective functions have lower values as their optimal, while some have higher. logloss should be optimized to minimize its value, whereas AUC should be opt

[2019-10-24 19:42] jwmueller opened #45 "mxboard should be optional"
mxboard should either be optional or it should be explicitly listed as a requirement in setup.py (I vote for the former choice).

It's annoying to keep getting: `ModuleNotFoundError: No module named 'mxboard'` after `import autogluon` on new instances because I forgot to install mxboard manually myself.

[2019-10-24 22:24] #21 closed, assigned to zhanghang1989

[2019-10-24 22:26] zhanghang1989 opened #46 "Scheduler does not exit cleanly"
`scheduler.shutdown()` doesn't work

[2019-10-24 23:05] #29 closed, assigned to zhanghang1989

[2019-10-25 17:28] #19 closed, assigned to nobody

[2019-10-25 17:48] #22 closed, assigned to nobody

[2019-10-31 21:12] #17 closed, assigned to zhanghang1989

[2019-10-31 21:12] #28 closed, assigned to nobody

[2019-10-31 21:12] #46 closed, assigned to nobody

[2019-11-01 00:40] #40 closed, assigned to nobody

[2019-11-01 17:25] #34 closed, assigned to nobody

[2019-11-01 22:04] jwmueller opened #51 "warnings in tabular/ branch requirements.txt packages"
@Innixma  There are many packages in requirements.txt that are outdated (eg. `botocore`, `thinc`, `protobuf`).  After `import autogluon`, we see ugly warning for these packages:

"DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working"

We should upgrade these package versions to the appropriate ones witho

[2019-11-01 23:44] zhanghang1989 opened #52 "Implementing time limit"
need to implement time_limit in the schedulers

[2019-11-01 23:46] zhanghang1989 opened #53 "Decorator Naming Discussion"
`@autogluon_object` => `@tuable_class`, `@auto_object`?
`@autogluon_function` => `@tunable_function`, or `@auto_function` ?
`@autogluon_register_args` = ?
`ag.space.Categorical` => `ag.space.Category`?

[2019-11-04 18:17] #24 closed, assigned to zhanghang1989

[2019-11-04 18:18] #52 closed, assigned to nobody

[2019-11-04 18:22] zhanghang1989 opened #55 "ENAS Training Efficiency on ImageNet"
ENAS training on CIFAR is improved after using controller prefech, but it is still trained slowly on ImageNet. Around 7 days for now, should be around 2 days. Need to debug.

[2019-11-04 19:33] zhanghang1989 opened #56 "Default Behavior for launch function defined using @autogluon_register_args"
Issue Tracker for today's talk:

Dummy reporter should be automattically provided during the function call, which enables user to lanch a single run for debug purpose.

[2019-11-04 22:56] zhanghang1989 opened #57 "[Bug] scheduler.upload_files()"
`upload_files()` does not behave as expected when uploading non-python files.

[2019-11-07 02:36] jwmueller opened #61 "MXNet segfault error when calling scheduler.run() 2+ times in same Python session"
@zhanghang1989 :  Below is the MXNet error I get when I call scheduler.run() two times in the same Python session.  Here are the steps to reproduce:

1) checkout tabular branch: https://github.com/awslabs/autogluon/tree/tabular
git checkout tabular

2) install tabular module by following steps in tabular/README:  https://github.com/awslabs/autogluon/blob/tabular/tabular/README.md

3) Verify your i

[2019-11-15 04:10] #26 closed, assigned to zhanghang1989

[2019-11-15 23:28] zhanghang1989 opened #69 "Skopt Searcher Error Under Stress Test"
How to reproduce:

[code]

Error message:
[code]

[2019-11-18 19:47] #44 closed, assigned to nobody

[2019-11-20 01:20] #23 closed, assigned to zhanghang1989

[2019-11-20 01:20] #51 closed, assigned to nobody

[2019-11-20 21:34] #69 closed, assigned to jwmueller

[2019-11-20 21:35] jwmueller opened #83 "Tabular- big datasets out of memory issues"
To apply tabular_prediction in settings where dataset does not fit into memory, each model should have specialized functionality to train without having to read in full dataset.

In preprocessing of large datasets, we should separate fit_transform() into separate fit(), transform(), where fit() is based on subsample of the data.

Each model should make sure it throws Exception before using up all

[2019-11-22 18:36] #53 closed, assigned to nobody

[2019-11-22 23:12] zhanghang1989 opened #84 "mv `autogluon/nas` to `autogluon/task/nas`"
folder path change

[2019-11-23 04:57] zhanghang1989 opened #85 "Unify Serialization Method"
Nothing urgent. Start an issue tracker:

1. Use `ag.save` and `ag.load` in tabular task
2. Integrate `save_s3` with `ag.save` or move it to utils and use as `ag.save_s3`

[2019-11-27 21:41] Innixma opened #90 "[Before Open Source] Remove Tabular Branch"
Tabular Branch has datasets in its history, so we should remove it prior to open source.

[2019-11-28 20:20] zhanghang1989 opened #91 "[Before Open Source] Change Image Classification Beginner Tutorial to Small Dataset"
Change it to a toy dataset runnable on CPU, which is important based on discussion of AutoGluon Dev team.

[2019-11-28 23:46] #15 closed, assigned to zhanghang1989

[2019-11-30 18:43] zhanghang1989 opened #92 "NLP User Dataset, Kaggle Tutorial and Doc Improvement"
1. User dataset
2. kaggle tutorial
3. doc improment and address comments in https://github.com/awslabs/autogluon/pull/80

[2019-12-02 19:21] zhanghang1989 opened #96 "IPYWidgets Display Issue on AutoGluon Tutorial Docs"
The `HBox` and `Vbox`

[2019-12-02 21:12] zheng-da opened #97 "Running error on Ubuntu 18.04 (DL base AMI)"
After I install autogluon from `pip install https://autogluon.s3.amazonaws.com/dist/autogluon-0.0.1-py3-none-any.whl` and import autogluon, I got the following error:

[code]

[2019-12-02 21:13] zheng-da opened #98 "Installation error on Ubuntu 16.04 (DL base AMI)"
When I install autogluon with `pip3 install https://autogluon.s3.amazonaws.com/dist/autogluon-0.0.1-py3-none-any.whl`, I got the following error. The Python version is 3.5.2.

[code]

[2019-12-02 21:14] sxjscience opened #99 "Make sure all dependencies are python3 compatible"
I tried to install autogluon on Ubuntu Deep Learning Base AMI 16.04/18.04 (using the python3 version) and has the following error:
Installation command:
[code]
Run command
[code]

Error:
[code]

[2019-12-02 21:14] zhanghang1989 opened #100 "Make Dependencies More Flexible"
Let's try to relax some of the versions of the dependencies. Got some feedback from bug bash:

1. Conda:
    1. create a new env: conda create -n autogluon In default it install python 3.8, will got a installation error ERROR: Could not find a version that satisfies the requirement pyarrow==0.15.0 (from autogluon==0.0.1) (from versions: 0.9.0, 0.10.0, 0.11.0, 0.11.1, 0.12.0, 0.12.1, 0.13.0, 0.14.0

[2019-12-02 21:23] zhanghang1989 opened #101 "Issue installing and using lightgbm"
Reported in bug bash. Once installed libomp, still get an error:

/Users/mli/miniconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.This means that in case of installing LightGBM from PyPI via the pip install lightgbm command, you don't need to ins

[2019-12-02 21:26] zhreshold opened #102 "Check for python version explicitly"
python2 and python<=3.5 doesn't work, autogluon should raise meaningful error instead of confusing backtrace logs.

[2019-12-02 21:36] zheng-da opened #103 "Reduce dependency as much as possible."
It's very difficult to install autogluon. We should reduce the dependency as much as possible.

[2019-12-02 21:45] zhreshold opened #104 "Missing best config after fit for object detection fit example"
After executing object detection example, it only produces:

[code]
while no best config is reported.

Might relate to https://github.com/awslabs/autogluon/issues/29

[2019-12-02 22:36] zhanghang1989 opened #105 "Numpy version"
need to figure out who replies the old version.

[2019-12-03 01:47] Innixma opened #106 "Tabular crashes on AutoML Benchmark"
When attempting to run automlbenchmark, I get the following error. It disappears and everything works correctly if I update my autolguon/task/__init__.py file as follows:

[code]

Thus, something in text classification is causing tabular to error on automlbenchmark.

[code]

[2019-12-03 23:17] zhanghang1989 opened #107 "Avoid ag.done()"

[2019-12-03 23:32] zhanghang1989 opened #108 "olab"

[2019-12-03 23:32] zhanghang1989 opened #109 "Enable Colab Button"

[2019-12-04 00:15] #108 closed, assigned to nobody

[2019-12-04 18:19] jwmueller opened #112 "replace tabular image on autogluon website"
to own file rather than wikimedia commons link.

[2019-12-04 18:26] #45 closed, assigned to nobody

[2019-12-04 20:05] #61 closed, assigned to zhreshold, zhanghang1989

[2019-12-04 20:05] #91 closed, assigned to zhanghang1989

[2019-12-04 20:05] #20 closed, assigned to nobody

[2019-12-04 22:40] jwmueller opened #113 "NotImplemented vs NotImplementedError"
shouldn't we change throughout the package:

raise NotImplemented
->
raise NotImplementedError

In python, raise NotImplemented throws a different exception:

"TypeError: exceptions must derive from BaseException"

[2019-12-06 16:59] aaronmarkham opened #120 "python version 3.8 does not work"
Default environment setup with conda for python=3 is version 3.8.
When installing the MXNet dependency, you get an error.
[code]

Using `conda create -n d2l-py37 python=3.7` gets around the issue.
But I wonder why you must use 3.7. Why can't we use 3.8?
Either way, it should be mentioned.

[2019-12-06 17:18] aaronmarkham opened #121 "s3 bucket setup for all regions"
The tutorials use an s3 bucket for datasets. The `autogluon` bucket must be acquired for each region (BJS/ZHY, etc).

[2019-12-06 18:02] aaronmarkham opened #123 "docs build needs environment installation (graphviz error)"
I tried building the docs, but was met with a graphviz error. Typically this means I can spend a few hours pecking away at the dependencies until I get stable build... or someone that has it working can export their environment, and publish an environment.yml that we can use with the build instructions.
I was going off of the d2l book since that's a dep here, but their [environment.yml](https://gi

[2019-12-06 20:10] Innixma opened #124 "Multiclass Classification Tabular crashes most models when only two classes are present after thresholding"
Fix: Convert to binary classification internally and convert back to multiclass output for the user. This should be done inside Learner.

This only happens on very small datasets or subsampled datasets, and generally won't be an issue on real datasets. Still, we should fix this soon to avoid confusion.

[2019-12-06 21:56] Innixma opened #125 "Enable moving Tabular model directory"
Requires using relative paths for all models or dynamically updating paths of all models upon loading. This may already work for non-stack ensemble learners.

[2019-12-07 06:51] #124 closed, assigned to Innixma

[2019-12-07 07:30] #90 closed, assigned to jwmueller

[2019-12-08 22:08] Innixma opened #130 "Enable time limit based early stopping on Tabular"

[2019-12-09 17:48] TEChopra1000 opened #131 "Issue in Tabular Quick Start Tutorial - AttributeError: 'DefaultLearner' object has no attribute 'evaluate_predictions'"
When going through the Tabular Quick Start tutorial, I received an error message when running this command:
`perf = predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)`

The error message is:
`AttributeError: 'DefaultLearner' object has no attribute 'evaluate_predictions'`

I am running the tutorial on a Mac.

[2019-12-09 22:57] jwmueller commented on #131
This is from having an old version of autogluon installed. In the new version `predictor` is no longer an object of type `DefaultLearner` but rather `TabularPredictor`.

[2019-12-09 22:57] #131 closed

[2019-12-09 22:59] zhanghang1989 commented on #121
Sheng mentioned it has been taken care of.

[2019-12-09 22:59] #121 closed

[2019-12-09 23:37] TEChopra1000 opened #134 "Predicting Columns in a Table - In Depth | Segmentation fault: 11 Error"
When I ran this command when going through the second Tabular tutorial (and re-installing autogluon to get the latest version)
[code]
I got this output - see the segmentation fault error at the bottom. The program appears to stall afterwards.

[code]

[2019-12-10 02:03] Innixma commented on #130
Completed

[2019-12-10 02:03] #130 closed

[2019-12-10 03:55] XWalways opened #136 "About EfficientNet and FIFOScheduler"
1.About search EfficientNet(width_coefficient, depth_coefficient) ,report error:'NoneType' object has no attribute 'initialize',maybe AutoGluonObject can't initialize directly?

2.FIFOScheduler seems can't run all trials, for example: num_trials=20，but it just run 3 trials, then shutdown

[2019-12-10 04:54] zhanghang1989 commented on #136
Regarding 2, what is the `time_out` value did you use?

[2019-12-10 04:56] XWalways commented on #136
i also notice that ,but time_out is None,i don't set time_out

[2019-12-10 04:59] zhanghang1989 commented on #136
Thanks for the feedback. Could you provide the code to reproduce it?

[2019-12-10 05:12] XWalways commented on #136
https://github.com/zhanghang1989/AutoGluon-Tutorial-CVPR2020/blob/master/6.pytorch_hpo.ipynb

try larger num_trials, it will shutdown early

[2019-12-10 06:33] zhanghang1989 commented on #136
What platform/operating system are you using?

[2019-12-10 07:14] XWalways commented on #136
Ubuntu 16.04+cuda10.1+mxnet-cu101mkl-1.5.1.post0+gluoncv-0.5.0+torch-1.3.1

[2019-12-10 08:04] XWalways commented on #136
`import os
from tqdm import tqdm
import logging

import mxnet as mx
from mxnet import gluon
from mxnet.gluon.data.vision import transforms

from gluoncv.model_zoo import get_model
from gluoncv.utils import LRScheduler
from gluoncv.data import transforms as gcv_transforms

import autogluon as ag
from autogluon.model_zoo import *
from autogluon.core import Choice
from autogluon.utils import EasyDict

[2019-12-10 09:07] Innixma opened #138 "For those having issues installing AutoGluon on MacOS"
Please try the following:

Install Xcode
Install brew
brew install libomp opencv

We are working on updating the documentation with these dependencies.

[2019-12-10 09:36] Innixma commented on #101
Resolved by brew install libomp

[2019-12-10 09:36] #101 closed

[2019-12-10 09:37] Innixma commented on #102
Fixed in current version

[2019-12-10 09:37] #102 closed

[2019-12-10 09:37] Innixma commented on #105
Fixed in current version

[2019-12-10 09:37] #105 closed

[2019-12-10 09:38] Innixma commented on #30
Resolved in current version

[2019-12-10 09:38] #30 closed

[2019-12-10 09:41] Innixma commented on #100
Resolved in the current version

[2019-12-10 09:41] #100 closed

[2019-12-10 09:41] Innixma commented on #103
Resolved in the current version

[2019-12-10 09:41] #103 closed

[2019-12-10 09:46] jwmueller commented on #134
This is due to installed MXNet version being incorrect.  Are you on Linux or Mac?
The autogluon website should be updated shortly with the correct MXNet version to install for Mac

[2019-12-10 10:42] jwmueller opened #139 "AutoGluon issues on Mac OSX"
Running AutoGluon on Mac OSX, you may see `Segmentation fault: 11` errors whose stack trace points to `libmxnet.so`.  If you get such errors, please use Linux instead.  You can also try building MXNet from source with appropriate configuration options if you really want to use Mac OSX (which is not fully supported yet).  The error occurs because the current pip installed MXNet does not work proper

[2019-12-10 10:45] jwmueller commented on #134
I assume you're on Mac, in which case this issue is same as:
https://github.com/awslabs/autogluon/issues/139

so closing it.  If you got this error on Linux, please reopen the issue.

[2019-12-10 10:45] #134 closed

[2019-12-10 10:48] jwmueller opened #140 "Improve documentation"
website API is missing documentation for:

- returned object from ImageClassification.fit()
- object detection
- text classification

[2019-12-10 10:50] jwmueller commented on #120
Addressed in https://github.com/awslabs/autogluon/pull/133

[2019-12-10 13:46] XWalways opened #142 "About ENAS_Scheduler"
While using ENAS_Scheduler
Maybe：
[code]
is better than

[code]
in run in enas_scheduler.py, because when self.baseline=None, it will report error

[2019-12-10 18:11] zhanghang1989 commented on #113
Thanks for pointing out. It is my mistake. I will fix it now in my PR today.

[2019-12-10 20:15] #113 closed

[2019-12-10 22:39] #104 closed

[2019-12-10 23:58] Innixma commented on #138
Added to documentation

[2019-12-10 23:58] #138 closed

[2019-12-11 04:18] XWalways opened #147 "About Multi Machine Running"
while using muti-machine runing,  maybe should set conda environment and experiments path on the remote machine, but it seems the connections are not stable, it means the remote machine will  exit before process is done, report error:
`remote process exited with exit status -1`

[2019-12-11 06:30] zhanghang1989 commented on #96
fixed.

[2019-12-11 06:30] #96 closed

[2019-12-11 06:30] zhanghang1989 commented on #107
fixed.

[2019-12-11 06:30] #107 closed

[2019-12-11 06:32] zhanghang1989 commented on #99
fixed

[2019-12-11 06:32] #99 closed

[2019-12-11 06:32] zhanghang1989 commented on #98
fixed

[2019-12-11 06:32] #98 closed

[2019-12-11 06:32] zhanghang1989 commented on #97
fixed.

[2019-12-11 12:53] Innixma opened #149 "Tabular Neural Network hanging non-deterministically"
Defect introduced recently sometime around Open Source. I have disabled NN by default in Tabular until we find the cause and fix it.

[2019-12-11 17:59] zhanghang1989 commented on #149
Thanks for opening the issue tracker! You mentioned it was a recent change causing this issue, right? Do you know which version was working okay? I can compare the diff to debug that.

[2019-12-11 20:50] #97 closed

[2019-12-12 00:51] zhanghang1989 commented on #147
The conda env is not supported yet, but the clean exit is fixed in PR https://github.com/awslabs/autogluon/pull/151

[2019-12-12 01:00] zhanghang1989 commented on #123
https://github.com/awslabs/autogluon/blob/master/docs/build.yml

[2019-12-12 01:57] #147 closed

[2019-12-12 03:22] Innixma commented on #149
Defect introduced on PR 94 due to adding pynvml dependency. For some reason pynvml causes tabular NN to permanently hang. Removing pynvml.

[2019-12-12 03:29] Innixma commented on #149
Opened #153 to fix

[2019-12-12 04:31] Innixma commented on #149
Merged

[2019-12-12 08:33] zhanghang1989 commented on #56
addressed

[2019-12-12 08:33] #56 closed

[2019-12-12 08:34] zhanghang1989 opened #156 "AWS SageMaker Distributed Training Example with Docker Ready"
The issue tracker for features in 0.1 milestone.

[2019-12-12 08:48] XWalways opened #157 "autogluon+nvidia-dali"
using dali to speed up autogluon training,
`pip install --extra-index-url https://developer.download.nvidia.com/compute/redist/cuda/10.0 nvidia-dali`
but always report: Check your library paths and if the driver is installed correctly.
if i don't use autogluon, just define a normal train loop, it can work well.

[2019-12-12 10:20] snow6666667 opened #158 "Failed downloading the pretrained model of efficientnet"
How can i use the pretrained model of efficientnet?  Some errors occurred when i tried to follow guide.
https://autogluon.mxnet.io/model_zoo/index.html

`import autogluon as ag
model = ag.model_zoo.get_model('efficientnet_b0', pretrained=True)`

ERROR: AttributeError: module 'autogluon' has no attribute 'model_zoo'

`import autogluon`
`from autogluon.model_zoo import get_model
model = get_model('e

[2019-12-12 13:40] XWalways commented on #157
autogluon seems not Incompatible with cuda10.0,it can't find any gpus, then i change get_gpu_count=8 directly, but it did not work

[2019-12-12 19:35] zhanghang1989 opened #159 "Doc Built on AWS Batch"
With the new g4 CI instance, the doc built is even slower than before. We have to migrate the doc built to AWS Batch.

[2019-12-12 19:42] zhanghang1989 commented on #158
Thanks for reporting. The models were deleted by accident. Will add it back.

[2019-12-12 21:05] zhanghang1989 commented on #157
Thanks for reporting the issue!
1. We haven't investigated the issue with NVIDIA-dali, but we will do that in the future if we have more bandwidth
2. AutoGluon is compaitible with CUDA 10.0, our CI is actually using CUDA 10.0 on ubuntu 16.04. What's your system setup?

[2019-12-13 05:24] XWalways commented on #157
i just use miniconda environment on Ubuntu 16.04, set LD_LIBRARY_PATH to be cuda-10.0, but it always report Check failed: device_count_ > 0 (-1 vs. 0) : GPU usage requires at least 1 GPU, but if i create a cu101 conda environment, it can work well.

[2019-12-13 06:56] XWalways commented on #157
i create a new cu100 environment, then autogluon worked, AutoGluon is compaitible with CUDA 10.0, but also is not incompatible with dali, means if you install nvidia-dali ,then cannot find any gpus.

[2019-12-17 07:38] kris-mlguy opened #161 "Installation issue"
I was trying to install autogluon using "pip install autogluon" in my laptop with Windows OS.
The error output is below:

Building wheels for collected packages: ConfigSpace
  Building wheel for ConfigSpace (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Program Files\Anaconda3\envs\dm_env\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"

[2019-12-17 16:39] nathan-wood opened #162 "Google Colab - Event Loop error on import autogluon"
Here is a colab notebook for reference:
https://drive.google.com/open?id=1c14OY7zNP64xew1jlNpFGxb3D9No4u95

After installation, the first execution of the import throws an error.
Simply executing a 2nd time loads the library with no error.

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipytho

[2019-12-17 16:49] nathan-wood opened #163 "Google Colab - error in dist_manager.py _refresh_resource(cls)"
Google Colab notebook for reference:
https://drive.google.com/open?id=1DAVTtAD7zGbJzrkvRKRjWvIhKzCawNkH

Code:
`detector = task.fit(dataset)`

Error:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-13-d441b831c269> in <module>()
----> 1 detector = task.fit(dataset)

5 frames
/usr/

[2019-12-17 17:43] zhanghang1989 commented on #162
Thanks for the feedback. This looks like an error with dask distributed.

[2019-12-17 20:04] nathan-wood commented on #162
@zhanghang1989 Should I raise an issue within the dask distributed github?

[2019-12-17 20:08] zhanghang1989 commented on #162
That would be great. Please also link back to this issue to keep track of.

[2019-12-17 22:13] Innixma commented on #161
Hi Kris,

AutoGluon is not officially supported on Windows. We have primarily been working to ensure functionality with Linux, so you may encounter problems on Windows. Several dependencies of AutoGluon are likely not supported on Windows, so I doubt it will work without significant effort and code changes.

In future we plan to investigate Windows support but it still unknown how complicated this

[2019-12-17 22:16] zhanghang1989 commented on #161
@Innixma Thanks for answering the issue!  We may not close the issue until we have solved that. Otherwise, it is not friendly to the community.

[2019-12-17 22:16] Innixma opened #164 "AutoGluon on Windows OS"
# [Windows OS Support is now available in v0.4 pre-release!!!](https://auto.gluon.ai/dev/index.html)

## [Update 2022-01-27]
Windows OS is supported on both CPU and GPU in v0.4. Please respond to this issue after attempting the install instructions so we can get data points on success/failure and any unaccounted for issues.

## [Update 2021-07-20]
AutoGluon appears to work without issue on Windows

[2019-12-17 22:18] Innixma commented on #161
@zhanghang1989 , I referenced this in a meta-issue, should we still keep it open or should we just isolate this to the meta-issue?

[2019-12-17 22:20] zhanghang1989 commented on #161
Thanks @Innixma . We may let the issue contributor to decide whether to keep it.

[2019-12-17 22:23] Innixma opened #165 "MacOS Support for AutoGluon"
Enable AutoGluon for pip install on MacOS. Tabular is mostly functional already, but the other tasks appear to still have issues that need to be resolved, particularly in the scheduler.

[2019-12-17 22:25] zhanghang1989 commented on #165
Seems duplicated with https://github.com/awslabs/autogluon/issues/139

[2019-12-17 22:25] Innixma commented on #165
Yeah just realized, closing

[2019-12-17 22:25] #165 closed

[2019-12-17 22:26] zhanghang1989 commented on #84
moved to model_zoo.

[2019-12-17 22:26] #84 closed

[2019-12-17 22:26] zhanghang1989 commented on #10
This should be fixed in @mseeger 's PR

[2019-12-17 22:26] #10 closed

[2019-12-18 02:51] kris-mlguy commented on #161
Thanks Nick and @zhanghang1989 for the feedback. Given that Windows is being used by almost equivalent number of people as Linux, it would be great if you can extend to Windows as well. I would consider this as a default request. Please do let me know if you have a tentative timeline.

[2019-12-18 20:40] IssacCheng commented on #136
I encountered the same problem: FIFOScheduler does not run all trials=50, but stops at 2nd trial.
And I fixed this problem by setting max_reward to a large number, such as max_reward=1000.

As far as my understanding, FIFOScheduler will not schedule next task if it finds that the reporter reports an accuracy/reward larger than max_reward.
https://github.com/awslabs/autogluon/blob/master/autogluon/

[2019-12-19 19:19] zhanghang1989 opened #167 "Text Classification Customized Dataset"
TODO: need to implement customized dataset for NLP
some prototype we can use:

https://github.com/awslabs/autogluon/blob/master/autogluon/task/text_classification/dataset.py#L109

[2019-12-19 22:11] bwerness opened #168 "Improve out-of-memory handling"
Currently when running on a large dataset with limited compute, the model training can fail completely with out-of-memory errors, when it is possible for it to successfully train several of the models and produce strong predictions.  To make it as reliable as possible for new users, it would be good to instead catch errors when models fail, and simply omit them from the ensemble.   Since (in my ex

[2019-12-19 22:19] zhanghang1989 commented on #163
Thanks for the feedback! Looks like the remote on Collab is not initialized correctly. I will take a look.

[2019-12-19 22:22] zhanghang1989 commented on #163
related issue: https://github.com/awslabs/autogluon/issues/162

[2019-12-20 00:23] jwmueller commented on #106
Can we close this issue?

[2019-12-20 00:29] jwmueller commented on #168
Thanks Brent! This is also related to https://github.com/awslabs/autogluon/issues/83
If you encounter other OOM cases, please let us know in the linked issue.

[2019-12-20 00:41] zhanghang1989 commented on #106
Seems resolved. Reopen if happen again.

[2019-12-21 21:05] Innixma commented on #168
Just merged #170 which should help significantly with this problem

[2019-12-22 00:26] Innixma opened #171 "setup.py install does not work correctly"
Code ran on Linux EC2 instance.

Our documentation on installing AutoGluon from source says to use python setup.py install, however, this code does not work to create a functioning AutoGluon:

[code]

This code works:

[code]

Why does setup.py install not properly install AutoGluon?

[2019-12-22 02:18] StacyYang commented on #171
What is the error message if setup install?

[2019-12-22 02:46] Innixma commented on #171
In python:

`from autogluon import TabularPrediction as task`

Error:

[code]

pip freeze:

[code]
pip freeze when calling setup.py develop (working version):

[code]

[2019-12-22 02:48] Innixma commented on #106
This is not resolved and is still present.

[2019-12-22 21:34] sgdread opened #172 "holdout_frac heuristics is too aggressive for multi-class classification"
The heuristics below is too aggressive for multi-class classification and can cause errors like these on large datasets: it cuts number of samples to 2500 and it might not work correctly when stratified with 38 classes:
[code]

autogluon/task/tabular_prediction/tabular_prediction.py:249
[code]

**Workaround**: explicitly specify `holdout_frac` in `task.fit()` call args.

[2019-12-23 21:25] jwmueller commented on #172
Agreed this seems too aggressive.
@Innixma what's the rationale for using such a limited holdout set when dataset size is large?

I still prefer 0.1 as a hard lower bound for holdout_frac.  As dataset size increases, we should really get improving validation estimates as well.  If we feel there is too much data being held-out for the given base models, then I think we should just return FULL versi

[2019-12-23 21:28] zhanghang1989 commented on #171
The error looks like you don't have `tqdm` installed. Try `pip install tqdm`

[2019-12-24 04:02] XWalways commented on #147
run the Distributed Search Example Code in DOC, the Remote Connection Always Interrupt
[code]

[2019-12-24 04:11] XWalways opened #173 "Distributed Search"
run the Distributed Search Example Code in DOC, the Remote Connection Always Interrupt
[code]

[2019-12-26 23:56] larroy commented on #171
Similar happens with Numpy and ConfigSpace:

this is a fresh virtualenv, it works if I install numpy manually before.

[code]

[2019-12-29 22:24] Innixma commented on #171
tqdm is not the problem, it is in the required install list of AutoGluon, the problem is it does not attempt to install any of these packages when doing python setup.py install

[2019-12-30 00:32] Innixma commented on #172
@jwmueller Just to clarify, the issue is not inherently because holdout is too small, it's due to a bug where threshold is not adjusted according to holdout_frac. This problem gets complex because if we drop too many classes due to high threshold, then we are at a net loss of training data compared to a higher holdout_frac percentage. This can be fixed by altering the train_val split code to force

[2019-12-31 00:04] Innixma opened #175 "Utilize Graph Library for Tabular Stack Ensembling Representation"
@jwmueller , @zhanghang1989

What are your thoughts on adding NetworkX as a dependency?
https://github.com/networkx/networkx

As I work more on the stack ensembling functionality, I find that it becomes increasingly important to have a DAG (Directed Acyclic Graph) representation where each model is a node and each instance of a model taking inputs from another model being an edge.

This is importa

[2020-01-06 18:35] zhanghang1989 commented on #175
@zheng-da Da is working on DGL, which is a graph library using Gluon.
Da, how DGL compare with NetworkX?

[2020-01-06 18:58] jwmueller commented on #172
Perhaps the most critical thing to do for now is as you say just ensure things always work whenever holdout_frac & threshold are left unspecified by the user.

I agree considering FULL is low priority for now.  Re whether 5000 validation rows suffices, my point is more that it depends what adaptive decisions are being made using these rows.  Eg. if it's solely HPO, it is probably ok, but if it is

[2020-01-06 19:55] zheng-da commented on #175
DGL is designed for running neural networks on graphs. NetworkX is designed for graph manipulation. If you want a flexible framework for graph manipulation and you don't need to deal with large graphs, I think NetworkX is probably a good fit.

[2020-01-07 07:11] agn-7 opened #178 "Problem in importing autogluon package"
I'm dealing with the following error when I `import autogluon`:

[code]

---
_OS: Ubuntu 16.04_
_autogluon: 0.0.3_
_Python: 3.6.9_
_pip3: 18.1_
_psutil: 3.4.2_

[2020-01-07 07:21] agn-7 commented on #178
Apparently, I should was updating my `psutil` package as bellow:

[code]

[code]

[2020-01-07 07:39] #178 closed

[2020-01-07 19:11] zhanghang1989 commented on #173
Could you try ``dask==2.6.0`` and ``distributed==2.6.0``?

[2020-01-08 04:15] Innixma commented on #172
This defect is fixed in #177 , the code will no longer crash because of this regardless of how many kfolds / how low of holdout_frac is specified.

This commit fixes:
https://github.com/awslabs/autogluon/pull/177/commits/ba80c70e453e2a137f630a25df008c83b110ad82

[2020-01-08 04:17] Innixma commented on #168
#177 should help to resolve the majority of remaining memory issues

[2020-01-08 04:24] Innixma commented on #161
We don't have a tentative timeline for Windows support at the moment. We will respond to the ticket when we have more info.

[2020-01-09 22:47] Innixma commented on #172
#177 is merged. This issue is now fixed.

[2020-01-09 22:47] #172 closed

[2020-01-09 22:48] Innixma commented on #168
#177 is merged and should resolve this issue for the grand majority of cases. Please feel free to re-open this issue if you find OOM errors still occurring.

[2020-01-09 22:48] #168 closed

[2020-01-10 04:32] lianggaoquan opened #181 "python process killed when running the tutorial example"
![image](https://user-images.githubusercontent.com/26477489/72125826-fec1fa80-33a4-11ea-8521-2952cc1d7677.png)

Run the given example in my local computer and showed this. Is that memory not enough or something else went wrong?

[2020-01-10 11:13] #181 closed

[2020-01-10 15:58] alexAlchemy opened #182 "Request for time series forecasting"
Although I know that you can technically run "managed" deep learning on AWS using Sage Maker I can certainly see the value of a project like this.

Specifically I'm thinking of https://aws.amazon.com/forecast which runs your forecast for you.

Do you have any plans to add forecasting to gluon?

Thanks, Alex

[2020-01-10 20:00] Innixma commented on #182
Hi Alex,

Forecasting is definitely an important area to expand on in future. We don't have plans laid out for when we would be adding forecasting but we will make sure to update this issue when we have more info!

Best,
Nick

[2020-01-10 20:05] zhanghang1989 commented on #182
Thanks @alexAlchemy! Agree that adding time series will be important.

We do have plan to integrate time series using [gluon-ts](https://github.com/awslabs/gluon-ts). An intern starts to implement a autogluon fit for that. It automatically does HPO for time series model. This is toolkit feature instead of manged servies as forecast.

[2020-01-10 20:56] rebotnix opened #183 "Missing example to save and reload a trained model"
I installed the requirements and the demo for object detection works fine.

Is there a way how I can save and reload a trained model after the task.fit call?

detector = task.fit(dataset_train,
                    num_trials=2,
                    epochs=epochs,
                    lr=ag.Categorical(5e-4, 1e-4),
                    ngpus_per_trial=1,
                    time_limits=time_limits)

I

[2020-01-10 21:09] Innixma commented on #181
@lianggaoquan Is there a reason you closed this issue? Could you mention the root cause and resolution if you have identified them?

[2020-01-10 21:38] zhanghang1989 commented on #183
That's good question. We should improve the documentation.

When calling `task.fit(...)`, the training will start. If `resume=True`, it will start will the existing search history.

If you would like to save/load the trained model, please use `detector.save('detector.ag')` and `detector= Detector .load('detector.ag')`

[2020-01-11 22:54] rebotnix commented on #183
Thanks @zhanghang1989 for your response.

 I tried to call the save method after training, but receive an error.

[code]
Error message:
/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import fnmatch, glob, traceback, errno, sys, atexit, locale, imp
Traceback (most rece

[2020-01-12 07:05] fjibj commented on #163
thanks a lot.
i  meet the same error and solve it by using:
pip uninstall -y distributed
pip install distributed
pip install -U ipykernel
and RESTART RUNTIME

[2020-01-12 12:11] TamoshaytisV opened #185 "Segmentation fault: 11"
I have MacOS 10.14.6, Python 3.7.5.

I try to play around with lib and run the simple script by example
[code]

First iteration goes well

[code]

but on second i get
[code]

As i see it tries to do smth with `mxnet::Storage::Get()` so i tried to play with
[code]
with no result

Maybe someone can point me on what i do wrong here

[2020-01-12 19:19] zhanghang1989 commented on #183
Thanks for the feedback @rebotnix . We will prioritize the implementation of save/load method.

[2020-01-12 19:35] Innixma commented on #185
Hi @TamoshaytisV , thanks for adding this issue!

We are aware that issues exist with MXNet on Mac for ImageClassification and also for HPO on Tabular, see #139 . You might be able to fix your issues by building MXNet from source rather than through pip install.

@zhanghang1989 Can you look into this?

Best,
Nick

[2020-01-12 19:59] zhanghang1989 commented on #185
For Mac OSX, the easiest solution for now is building MXNet from source.

You may follow the [MXNet guide](https://mxnet.apache.org/get_started/osx_setup.html)

[2020-01-13 01:33] hongnianwang opened #187 "custom validation sets"
I think `autogluon.task.ImageClassification.fit` should support custom validation sets, because not all tasks are suitable for randomly split validation sets.

[2020-01-13 06:57] jianhaod opened #189 "Missing version folder in autogluon？"
is there any Missing version folder under autogluon？

No matter in PyPI or github source  will meet issue in import process

autogluon/__init__.py
from .version import __version__

issue log:
ModuleNotFoundError: No module named 'autogluon.version'

i need to delete this version import, so that i can execute package successfully. :)

[2020-01-13 08:24] ZHEQIUSHUI opened #190 "loss is more and more high"
[Epoch 0] Validation: person=0.6338410132892208 mAP=0.6338410132892208
[Epoch 1] Training cost: 17.886, ObjLoss=46.407, BoxCenterLoss=37.463, BoxScaleLoss=14.374, ClassLoss=1.023
[Epoch 1] Validation: person=0.0 mAP=0.0
[Epoch 2] Training cost: 31.236, ObjLoss=52.590, BoxCenterLoss=37.873, BoxScaleLoss=14.191, ClassLoss=1.185
[Epoch 2] Validation: person=0.0 mAP=0.0
[Epoch 3] Training cost: 29.734

[2020-01-13 14:03] ZhangSanMo opened #192 "Tutorial example crash"
**Working Env: Windows/Python 3.7.3/Jupyter NoteBook**
----
Runnig Code:
[code]

Error Info:
[code]
Ps.
When I set `problem_type='regression'`, it works well.

[2020-01-13 17:11] zhanghang1989 commented on #189
The version file should be generated automatically during the installation. What's your system setting?

[2020-01-13 17:15] zhanghang1989 commented on #190
Looks like the training diverges. Which dataset are you using?

[2020-01-13 17:24] zhanghang1989 commented on #190
@chongruo do you have some insight on this issue?

[2020-01-13 18:53] larroy commented on #171
Can't we use the latest ConfigSpace? I tried pinning it to 0.4.11 but I get this error:

I didn't dive deep into this.

[code]

[2020-01-13 18:54] larroy commented on #171
Yes the main issue is that tdqm should be installed by ConfigSpace if it's a ConfigSpace dependency. Otherwise we could mitigate by listing tdqm in autogluon explicitly.

[2020-01-13 19:04] #112 closed

[2020-01-13 19:19] larroy commented on #171
Just installed `c75f99c9605938876a6a47a54d64100f9a61a504` in mac in a clean virtualenv and didn't see the issue .

In Linux installing from pip the issue appears as described above (numpy missing from ConfigSpace).

[2020-01-13 19:22] Innixma commented on #171
We fixed this in #180 , the instructions were incorrect and it should be setup.py develop. Are you referring to a different issue @larroy ?

[2020-01-13 19:27] chongruo commented on #190
It is probably because you are in a trial with a large learning rate. Could you try to lower the range of searching space for the learning rate?

[2020-01-13 19:56] Innixma commented on #192
Thanks for your issue submission. I'll take a look into this.

It seems you were able to get AutoGluon working on Windows, is that correct? I'd be very interested to know any difficulties you had and the steps you took to get it running.

Best,
Nick

[2020-01-13 20:05] larroy commented on #171
I just did this now in master:

Ubuntu 18.04 fresh, the below commands fail with error below, because numpy is not installed globally. When numpy is installed in the global scope (as I have on my mac, the installation suceeds). This is a problem with installation or the dependency closure.

[code]

[2020-01-13 20:09] larroy commented on #171
Using `python setup.py develop` has the same issue.

[2020-01-13 20:21] Innixma commented on #171
Can you try:

[code]

[2020-01-13 21:44] leo-p opened #194 "'OrderedDict' is not defined in classifier.py"
Specifying a destination for the `classifier.save()` method results in an error.

[code]

This seems to be due to the fact that `OrderedDict` is used but never imported in `classifier.py` see here.

This can easily be fixed by adding `from collections import OrderedDict`.

[2020-01-13 22:57] Innixma commented on #192
I've looked into this and I believe it is likely a defect specific to Windows, on Mac and Linux it properly works on int64:

[code]

I get:

[code]

On Mac, it says int64 == int, and therefore the defect you mentioned would not have occurred. I don't have a Windows machine available at the moment to test on Windows. Could you attempt to run this code snippet and see the results? If np.integer and

[2020-01-13 23:59] larroy commented on #171
Yeah well, that's is going to install numpy, which will fix the issue, so I guess it will work, the package should install self-sufficiently without errors.

[2020-01-14 00:19] ZhangSanMo commented on #192
**Thanks for your attention.**

I run the following code that you list:
[code]
The **output** is:
[code]

It seems that your guess is right ~

[2020-01-14 00:32] Innixma commented on #194
Merged into mainline, thanks for your contribution!

[2020-01-14 00:32] #194 closed

[2020-01-14 00:36] Innixma commented on #192
Very interesting, for you, float64 == float, float32 != float, int64 != int, and int32 == int.

I will update the checks to use np.integer and np.floating shortly.

In the meantime, could you describe the process you used to get AutoGluon working on Windows? We are looking into adding official Windows support and I'd like to know the commands you ran to run the code successfully.

Best,
Nick

[2020-01-14 00:56] ZhangSanMo commented on #192
1. Get AutoGluon by using the commands `pip install --upgrade mxnet` and `pip install autogluon`.
2. Just run the tutorial example. It works~

[2020-01-14 01:13] ZHEQIUSHUI commented on #190
it is a custom daatset about human head,sometime the result is pretty good but sometime is very bad(same code in two training process),....the mAP was sudden death.

this is my dataset.you can test it if you have free time.i can upload to google drives if you need.thank you

i don`t know it is my wrong or bug.the code couldn`t save model,and i haven`t saw the argument to choose yolo or ssd or fast

[2020-01-14 02:20] lunasdejavu opened #198 "how to use autogluon on RetinaFace"
I'd like to use autogluon on this [github](https://github.com/deepinsight/insightface/tree/master/RetinaFace)

since it is not a normal object detection but also generate keypoints too.
how should I use autogluon?

[2020-01-14 02:22] zhanghang1989 commented on #198
You can using AutoGluon to optimize Hyperparameters on any training code by adding  a few lines of code. A simple example can be found here https://autogluon.mxnet.io/tutorials/torch/hpo.html

For more detailed customizatons, you may look into https://autogluon.mxnet.io/tutorials/course/index.html

[2020-01-14 02:26] Innixma commented on #171
That would require us to install mxnet during the setup.py call. I remember us making the decision not to do this in the past.

@zhanghang1989 What was the reason for not installing mxnet in AutoGluon's setup.py? This would simplify installation to a 1-liner. Users could still install a particular version of mxnet prior to installing AutoGluon to retain the previous functionality.

[2020-01-14 02:40] Innixma commented on #164
User in #192 was able to get AutoGluon working for Tabular on Windows by:

[code]

Python Version: 3.7.3

[2020-01-14 02:53] enduringstack opened #199 "How to specify which GPU to run on"
How to specify which GPU to run on？ tks.

[2020-01-14 05:05] chongruo commented on #190
Yes, you can set small learning rates by changing parameters in ag.Categorical(). We will support ssd and faster-rcnn soon.

[2020-01-14 06:04] ZHEQIUSHUI commented on #190
thank you for your help, i have tried( ag.Categorical(1e-4,1e-5,1e-6 )),the mAP always got 0.0.when i use demo lr(5e-4,1e-4),sometime it can got a good result....so i don`t know what is the reason for this problem.

[2020-01-14 06:25] zhanghang1989 commented on #199
Currently AutoGluon automatically detect all the CPUs and GPUs, and schedule training jobs automatically based on availability. There is no mannual option.

[2020-01-14 06:25] DuinoDu opened #200 "How to get trial index in task?"
When set num_trials>1, how to get trial index inside a task?

[2020-01-14 06:28] chongruo commented on #190
Is your final mAP 0.0, or just intermediate mAP 0.0? Did you finish training all trials? It will final_fit the model after obtaining the best config.

[2020-01-14 06:36] #199 closed

[2020-01-14 06:53] ZHEQIUSHUI commented on #190
maybe i was too anxious...i will try to finish the whole process,i will put issue if i have new problem,thank you and sorry.

[2020-01-14 07:14] DuinoDu commented on #200
Solved by *threading.get_ident()*

[2020-01-14 07:14] #200 closed

[2020-01-14 07:34] quuhua911 opened #201 "How does a 5 category problem become a 3 category problem？"
I did a Tabular Prediction test。It was originally a five-category forecast problem，but AutoGluon only keep 3 out of 5 classes？How do I solve this problem by adding parameters?

predictor = task.fit(train_data=train_data, label=label_column,problem_type="multiclass", output_directory=dir)

Beginning AutoGluon training ...
Preprocessing data ...
Warning: Some classes in data were not valid. AutoGluo

[2020-01-14 08:05] #190 closed

[2020-01-14 08:50] Innixma commented on #201
[code]

The logging message is vague at the moment, I will look towards improving it so it makes more sense. This is occurring because your dataset has very few instances of the classes in question, and so it is difficult to do a reasonable train/validation split on the data and get enough data to make meaningful predictions on those classes.

I would recommend increasing the size of your data to

[2020-01-14 18:12] jwmueller commented on #201
@quuhua911  This happens because Autogluon will ignore any classes that do not appear at least label_count_threshold times in the dataset (default = 10), which means the fitted AutoGluon models will never predict such a class.  With such a rarely-occurring class, AutoGluon models are unlikely to learn how to predict it accurately in the first place, even if it were not ignored.  Note that just bec

[2020-01-14 18:26] jwmueller commented on #185
Closing this issue as it is the same as https://github.com/awslabs/autogluon/issues/139
The easy way to resolve the issue is to use Linux instead when dealing with `ImageClassification` tasks (you probably want GPU anyway).  You may be able to resolve the issue by building MXNet from source on your Mac, if so, please comment your solution steps here (as they may be useful to other users):  https:/

[2020-01-14 18:27] #185 closed

[2020-01-14 18:31] jwmueller commented on #161
Closing this issue as it is the same as  https://github.com/awslabs/autogluon/issues/164
Please keep an eye on that issue for possible solutions.

[2020-01-14 18:31] #161 closed

[2020-01-14 18:33] jwmueller commented on #140
Mostly resolved in:  https://github.com/awslabs/autogluon/pull/180

@chongruo  @zhanghang1989
ObjectDetection and TextClassification docs still need to be made more technically precise.

[2020-01-14 21:08] zhanghang1989 commented on #171
MxNet has multiple CUDA versions, which should be specified by the user. @larroy knows that.
If MxNet support conda, it would be a lot easier. However, this requires significant amount of effort from MxNet team.

[2020-01-14 22:13] geringer opened #205 "Evaluation Metrics"
Hey guys,

I am trying to perform a tabular classification on a [kaggle dataset](https://www.kaggle.com/c/costa-rican-household-poverty-prediction) that I would like to use the f1 score for. when I pass

[code]

 I am met with an error like

[code]

but average is a parameter of sklearn.metrics.f1_score, so when I tried

[code]

I am required to pass the y values, which I don't have yet.

Please a

[2020-01-15 00:07] Innixma commented on #205
Can you try:

`eval_metric = 'f1_macro'`

This should work. The documentation has to be updated to include this as an option.

[2020-01-15 02:15] zhanghang1989 opened #207 "Fix classifier.save() and load()"
Current code is broken. Need to fix it immediately and add an unit-test.

[2020-01-15 02:38] #192 closed

[2020-01-15 03:05] quuhua911 commented on #201
---
The training set I used, the smallest category, has a sample size of 2293。The details are as follows。So There seems to be a bug in the current program。Besides，I set label_count_threshold=1 ,The training program fit() can run, but there are only four categories of predictions result.
The last question is, what does the parameter "label_count_threshold" mean? Does it represent the number of samp

[2020-01-15 03:20] quuhua911 commented on #201
The training set I used, the smallest category, has a sample size of 2293。The details are as follows。So There seems to be a bug in the current program。Besides，I set label_count_threshold=1 ,The training program fit() can run, but there are only four categories of predictions result.
The last question is, what does the parameter "label_count_threshold" mean? Does it represent the number of samples

[2020-01-15 03:33] quuhua911 commented on #201
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"20613622"<20613622@qq.com&gt;;
发送时间:&nbsp;2020年1月15日(星期三) 中午11:19
收件人:&nbsp;"awslabs/autogluon"<reply@reply.github.com&gt;;

主题:&nbsp;回复： [awslabs/autogluon] How does a 5 category problem become a 3 category problem？ (#201)

The training set I used, the smallest category, has a sample size of 2293。The details are as follows。So There s

[2020-01-15 05:53] #189 closed

[2020-01-15 06:09] Innixma commented on #205
Documentation improvements to make this clearer have been merged and are available in the new version 0.0.4.

[2020-01-15 06:11] Innixma commented on #192
Changes to fix this issue have been merged and are available in version 0.0.4.

[2020-01-15 06:13] ResearchingDexter opened #212 "Segmentation fault: 11 when importing MXNet on CentOS"
I just import autogluon, but I got the **Segmentation fault: 11**  error.
my code
[code]
 and the error
[code]

[2020-01-15 06:14] yllgl opened #213 "why I get error when I run my code?"
I write my code as follows:

[autotrain.txt](https://github.com/awslabs/autogluon/files/4063315/autotrain.txt)
but when I run my code on linux，I get this error as follows. Could you help me solve it?

  File "/home/yllgl/anaconda3/lib/python3.7/site-packages/distributed/protocol/pickle.py", line 38, in dumps
    result = pickle.dumps(x, protocol=pickle.HIGHEST_PROTOCOL)
_pickle.PicklingError: Can'

[2020-01-15 06:16] enduringstack opened #214 "NAS：search_efficientnet.py demo Error"
TraceBack:

AttributeError: module 'autogluon' has no attribute 'nas'

[2020-01-15 06:32] Innixma commented on #201
Thanks for the additional information!

We just released AutoGluon 0.0.4 which contains a host of bug fixes. Can you try the new version and see if your issue is resolved?

Best,
Nick

[2020-01-15 06:37] Innixma commented on #212
Thanks for opening up an issue!

Could you please provide a bit more context on your system and provide a pip freeze of your python environment?

Also, if you haven't already, please upgrade to AutoGluon 0.0.4 which was just released less than an hour ago to see if it resolves your issue.

[2020-01-15 06:42] Innixma commented on #171
The primary issue that this was created for has been resolved. The installation instructions now work. Closing this issue. @larroy if you have additional concerns regarding the installation, please open a new issue so we can focus attention.

Best,
Nick

[2020-01-15 07:25] ResearchingDexter commented on #212
System information
[code]
Pip information
[code]
It's not work that upgrade to AutoGluon 0.0.4. I still got the error. @Innixma

https://github.com/awslabs/autogluon/issues/212#issue-549987573

[2020-01-15 09:58] Charlie2-0 opened #215 "Failed install on linux with anaconda"
version information:
Python 3.7.4 (default Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux

mxnet installed fine, autogluon threw an error:

Running setup.py install for ConfigSpace ... error
    ERROR: Command errored out with exit status 1:
     command: /home/ubuntu/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-220w4kjx/ConfigSpa

[2020-01-15 12:58] myBestLove opened #216 "KeyError: 'choice'"
thx for your work.

Is this a bug or I use the API wrong?

import autogluon as ag
a = ag.space.Categorical(*list(range(0,5)))
a.sample()

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/autogluon/core/space.py", line 329, in sample
    choice = config.pop('choice')
KeyError: 'choice'

[2020-01-15 17:54] zhanghang1989 commented on #214
Could you change `nas` to `model_zoo`?

[2020-01-15 17:55] zhanghang1989 commented on #215
Looks like a bug during installing `ConfigSpace`. Does `pip install ConfigSpace` work?

[2020-01-15 17:58] zhanghang1989 commented on #212
Looks like a MXNet error. Could you verify your mxnet installation by following the steps [here](https://beta.mxnet.io/install/validate-mxnet.html)

[2020-01-15 18:00] zhanghang1989 commented on #216
`sample` method is not supposed to be called by the user. Could you try `a.rand`?
Please se more information in the [tutorial](https://autogluon.mxnet.io/tutorials/course/core.html)

[2020-01-15 20:21] Innixma commented on #212
Could you also please provide a pip freeze by using the command:

`pip freeze`

[2020-01-15 21:14] tigerhawkvok opened #217 "Front page example is wrong"
Given the front page first example:

![image](https://user-images.githubusercontent.com/165937/72472065-b5085400-3798-11ea-8eb6-85073cd9f090.png)

Immediately throws a `TypeError`:

![image](https://user-images.githubusercontent.com/165937/72472122-d36e4f80-3798-11ea-9c74-00d4994d7208.png)

The documentation under [TabularPrediction.fit](https://autogluon.mxnet.io/api/autogluon.task.html#autogluon

[2020-01-15 22:11] UNIcodeX opened #218 "Error on demo code execution -- in get_dataset if '.rec' in path: TypeError: argument of type 'NoneType' is not iterable"
The following code yields an error. I'm using a Conda environment with Python 3.6 because it is required for the ConfigSpace Python package.

[code]

This also gives the error:
[code]

The error:
[code]

[2020-01-15 22:58] tigerhawkvok opened #219 "Pickling error with own metrics"
For this code, bog standard except for a custom metric:

[code]

Generating the fit seems to hang partway in, and shows no further progress

[code]

[2020-01-15 23:20] Innixma commented on #219
Thanks for submitting the issue, we will take a look!

[2020-01-15 23:43] jwmueller commented on #217
Thanks for pointing this out, it is fixed in this PR:  https://github.com/awslabs/autogluon/pull/220

[2020-01-15 23:43] #217 closed

[2020-01-15 23:59] Innixma commented on #205
Marking this issue as resolved. Please re-open if you still are experiencing problems in 0.0.4.

Best,
Nick

[2020-01-15 23:59] #205 closed

[2020-01-16 02:57] ResearchingDexter commented on #212
[code]
then print
[code]
@Innixma

[2020-01-16 03:01] Innixma commented on #212
As Hang mentioned, can you also try the steps listed here: https://beta.mxnet.io/install/validate-mxnet.html

If you can successfully run them, then we can confirm it is not an MXNet issue. If you do have issues, then it is MXNet and not AutoGluon.

[2020-01-16 03:09] ResearchingDexter commented on #212
I just
[code]
but I got
[code]
It seems like an  MXNet issue, how can I fix it ?

[2020-01-16 06:44] enduringstack commented on #214
@zhanghang1989  Change `nas` to `model_zoo`  can not solve the issue.

I have a try of the following modify:

- add code
[code]

- change `nas`  to `mz.models`

however, new problem arise:
[code]

tks.

[2020-01-16 07:51] szx1234 commented on #207
this issue intention to slove this problem?
![image](https://user-images.githubusercontent.com/20124347/72504036-01769100-3878-11ea-98e0-635713adb075.png)

[2020-01-16 20:49] larroy commented on #171
That works, since installing mxnet installs numpy.

[2020-01-16 20:58] tigerhawkvok commented on #219
The initial comment was via WSL, and I just confirmed it on Ubuntu 19.10:

![image](https://user-images.githubusercontent.com/165937/72562210-b51f5700-385f-11ea-8d32-daaa6b05740d.png)

[2020-01-16 21:09] Innixma commented on #201
@quuhua911 Has the problem been resolved? Please let us know!

[2020-01-17 00:57] quuhua911 commented on #201
the problem has  been resolved。Thank you. But I checked the results, autogluon is still less accurate than manual tuning.

[2020-01-17 01:04] quuhua911 commented on #201
I mean, the training would have been better if the raw data had been manually culled for the outliers, Data pre-processing, and then autogulon.

[2020-01-17 02:09] Innixma commented on #201
Thanks for confirming that the problem has been resolved.

AutoGluon can frequently benefit from manual feature engineering and pre-processing prior to sending to the .fit call. The scope of different problems within Tabular is extremely vast, so it is difficult to always perform the best pre-processing automatically.

If you want to improve results, try setting auto_stack=True, this should get be

[2020-01-17 02:09] #201 closed

[2020-01-17 02:16] enduringstack opened #223 "How many blocks are there in NAS algorithm?"
How many blocks are there in NAS algorithm?

[2020-01-17 08:08] HollrayChan opened #224 "0.0.4version---No module named 'autogluon.contrib.torch'"
The following code yields an error. My autogluon version is 0.0.4.When I run the example in the
 file ./exmaple/torch/train_enas_imagent.py, I met an error.
`import autogluon as ag
from autogluon.contrib.torch import *
from autogluon import Dict, Categorical
from autogluon.model_zoo.models.utils import _update_input_size

Traceback (most recent call last):
  File "train_enas_imagenet.py", line 5,

[2020-01-17 08:30] ZHEQIUSHUI opened #225 "为什么不把训练过程中最好的map的模型保存下来...."
我看 [这里](https://autogluon.mxnet.io/tutorials/object_detection/beginner.html)，中间明明有一轮已经是90mAP，但是最后找到best config训练完只有80mAP，反而远远中间这一轮，如果把这一轮保存下来岂不是更好，为什么不保存下来呢......

[2020-01-17 09:57] lunasdejavu opened #226 "how to use custom dataset not in the VOC format"
the dataset for our team is in coco format

how to use  ObjectDetection.Dataset() to read the data?

[2020-01-17 14:15] wangyirui opened #227 ""ERROR: Unexpected segmentation fault encountered in worker" when training with PyTorch"
Hi, I am trying to run the example code

 here. However, I got the errors listed below:

I am running it with PyTorch 1.3.1, Python 3.6.9, Ubuntu 18.04, 4x Nvidia Titan V GPU

Can anyone help me with that? Appreciate!

[2020-01-17 15:19] visionNoob opened #228 "How to deal with multi dimensional regression problems?"
Hi. Thank you for your great work!

[code]
When I try the code above, error below is occurred.

[code]

How can i deal with multiple dimensional regression problems?

[2020-01-17 18:32] jwmueller commented on #228
Sorry, predicting multiple columns at once is not yet supported.  For now, AutoGluon TabularPrediction can only predict a single column of your table.

One crude way you can achieve for now this outlined below.
Suppose we have a table `train_data` with columns: [feat1, feat2, label1, label2], where the goal is to train models that simultaneously predict label1 and label2.

`pred1 = task.fit(train_

[2020-01-17 18:40] zhanghang1989 commented on #225
Good question.
The mAP during the training is evaluated on a portion of the training set, which we hold off for hyper-parameter tuning. After all experiments finishes, we retrain the entire training set using the best configuration. The final test mAP is reported on the test provided by the user.

好问题！
我们在调参的时候，从训练集中保留一部分数据做参照，这时候显示的mAP是在这部分数据上的，得到最好的参数后我们用整个训练集重新训练最好的模型。最后做测试的时候反应的结果是在测试集中的，而这部分在

[2020-01-17 18:58] zhanghang1989 commented on #224
Looks like you are using an older/wrong version of the training script. Could you try the current version:

https://github.com/awslabs/autogluon/blob/master/examples/nas/train_enas_imagenet.py#L5

[2020-01-17 18:59] zhanghang1989 commented on #227
Thanks for the feedback. Looks like a pytorch error. I will try if I can reproduce it.

[2020-01-17 21:17] brianschuster opened #230 "Ran into complications trying to run in sagemaker"
I was trying out AutoGluon in sagemaker notebooks and ran into some issues.

I was using the conda_amazonei_mxnet_p36 kernel on a c5.2xlarge host.

My initial notebook was this (stripped down quite a bit to demonstrate the issue):

[code]

This resulted in the following error:

ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyObj

[2020-01-17 21:20] zhanghang1989 commented on #230
Looks like numpy version is updated after ConfigSpace installed. Could you try reinstall ConfigSpace:
[code]

[2020-01-17 21:24] brianschuster commented on #230
I still get this error:

AttributeError: type object 'ConfigSpace.hyperparameters.Hyperparameter' has no attribute '__reduce_cython__'

[2020-01-17 21:28] zhanghang1989 commented on #230
Could you try version 0.4.10?
[code]

[2020-01-17 21:30] brianschuster commented on #230
Could you try version 0.4.10? -- same results

[2020-01-17 22:05] zhanghang1989 commented on #230
Could you also reinstalll numpy?
[code]

[2020-01-17 22:08] brianschuster commented on #230
Same result

[2020-01-17 22:14] zhanghang1989 commented on #230
Do you have cython installed?

If the error still exists, could you also report it on ConfigSpace repo? I looks like their bug.

[2020-01-18 01:17] ZHEQIUSHUI commented on #225
thank you  for your detailed answer!!!
i close this question

[2020-01-18 01:17] #225 closed

[2020-01-19 01:29] HollrayChan commented on #224
It's ok.thx~

[2020-01-19 02:57] #207 closed

[2020-01-19 07:18] zhanghang1989 opened #231 "Error in In-depth FIT Tutorial of tabular"
Originally posted in https://github.com/Talented-zack/AutoGLuon-V.S-XGBoost/issues/1

# Forwarding the message:

Hi, all! Very excited to see that Amazon launches the Auto-GLuon algorithms. I am doing a tabular data prediction project, and I tried two different code: The first is without setting parameters: predictor = task.fit(train_data=train_data, label=label_column, output_directory=dir) This

[2020-01-19 07:19] zhanghang1989 commented on #231
Hi @jwmueller, do you have any thoughts on this error?

[2020-01-19 09:58] HollrayChan opened #232 "The parameters of ‘reporter’ in the doc"
Hello，I am using autogluon on my pytorch network, and I had read the doc(https://autogluon.mxnet.io/tutorials/torch/hpo.html).
But I have a question about the 'reporter' and I didn't find any detailed info about it in the doc.
In my code of test, it would return two lists ——mAP((mean average precision) and CMC(Cumulative Matching Characteristic).

def test():
...
    return result.mAP, list(result

[2020-01-19 10:19] szx1234 opened #233 "Different classification，predict classification result is same，and probability is 1 按照官网的示例，使用训练出的模型预测两张不同分类的图片，预测结果不符合预期，类别结果错误，准确率1"
![image](https://user-images.githubusercontent.com/20124347/72679214-0d688a00-3ae8-11ea-9534-1f176b639446.png)
![image](https://user-images.githubusercontent.com/20124347/72679236-486abd80-3ae8-11ea-92dd-e4ddd8dd316e.png)

[2020-01-19 21:11] jwmueller commented on #231
responding in the original thread to ask for more information

[2020-01-19 22:13] zhanghang1989 commented on #232
Thanks for interest in Customizing AutoGluon!
`reporter` is used to communicate between the training code and `schedulers`.
In your example, you can use the following code:
[code]
and set `time_attr='epoch'` and `reward_attr='mAP'`:
https://autogluon.mxnet.io/api/autogluon.scheduler.html?highlight=fifo#autogluon.scheduler.FIFOScheduler

[2020-01-19 22:16] zhanghang1989 commented on #233
Thanks for the feedback. Looks like a bug recent introduced.
@aptsunny do you have some thoughts on this?

[2020-01-20 02:05] songfh opened #237 "running stalled at starting"
when I run the official object detection example, it was stalled at staring.
I ran the code in docker container. I tried two trials: one with cuda 10.1 and python3.6; one with cuda 10.0 and python3.7
![image](https://user-images.githubusercontent.com/22196645/72693576-54985e80-3b6c-11ea-97e6-249ab72df6d8.png)

[2020-01-20 02:17] zhanghang1989 commented on #237
For cuda 10.0, could you try the mxnet version `mxnet-cu100==1.6.0b20191013`

[2020-01-20 02:17] zhanghang1989 commented on #158
This should be already fixed. Sorry for the delayed reply.

[2020-01-20 02:56] songfh commented on #237
maybe it works with your sugest, beacase it throw timeout exception and give some reasons, I will do a trial on other server. Look forward to good result Thank you!

[2020-01-20 06:57] #158 closed

[2020-01-20 08:41] songfh commented on #237
when I ran a container I added the args / **--ipc="host"** / and all the trials normaly ran.

[2020-01-20 09:45] Charlie2-0 commented on #215
`pip install ConfigSpace` failed because of `gcc` however I was under the impression I had this already. Either way running:

`sudo apt-get install gcc` was successful and allowed me to install configspace. Autogluon installed fine after that.

Many thanks for the help. I'll close the issue and leave this answer here for reference

[2020-01-20 09:45] #215 closed

[2020-01-20 23:23] mistrzuniu1 opened #239 "Possibility for running on multiple gpus"
Is it possible to run my trainings in parallel?
I want to use 1 gpu per training, but want to run eg. 4-8 trainings at once. (I have 8gpus on my machine). Is it supported by autogluon?

[2020-01-20 23:28] zhanghang1989 commented on #239
All the gpus are automatically detected and used. All new trials will be automatically scheduled on available GPUs.

If you are using [fit](https://autogluon.mxnet.io/api/autogluon.task.html?highlight=imageclass#autogluon.task.ImageClassification.fit), you can set `ngpus_per_trial=1` and `num_trials=20` or any other number of trials you would like to run.

Similarly, if you are customizing AutoGlu

[2020-01-20 23:30] mistrzuniu1 commented on #239
Perfect, thanks for quick and clear answer!

[2020-01-20 23:32] #239 closed

[2020-01-21 06:53] quuhua911 opened #240 ""auto_stack" Parameter not available"
----> 2 predictor = task.fit(train_data=train_data, eval_metric ="f1_macro",  auto_stack= True, verbosity=1,label=label_column,problem_type="multiclass", output_directory=dir)

~/anaconda3/lib/python3.7/site-packages/autogluon/task/tabular_prediction/tabular_prediction.py in fit(train_data, label, tuning_data, output_directory, problem_type, eval_metric, hyperparameter_tune, feature_prune, holdout

[2020-01-21 07:58] jwmueller commented on #240
I'd guess you are using an older version of autogluon.   Can you try:

[code]
and see if this fixes your issue?

[2020-01-21 08:30] quuhua911 commented on #240
As you suggested,The Problem has been resolved. Thank you so much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jonas Mueller"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月21日(星期二) 下午3:58
收件人:&nbsp;"awslabs/autogluon"<autogluon@noreply.github.com&gt;;
抄送:&nbsp;"云卷云舒"<20613622@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [awslabs/autogluon] "auto_stack" Par

[2020-01-22 01:54] quuhua911 opened #241 "How to replace the loss function？"
I would like to replace softmax with A-softmax or L-softmax, where I need to modify the parameters？
My problem_type is "multiclass" ,data in tabular format .

[2020-01-22 09:35] jwmueller commented on #241
This may be challenging to do in an appropriate manner, and I wouldn't recommend it unless you have a very strong reason to do so.

For training, you probably are hoping to change the loss function for the TabularNeuralNet model
 (I'm not sure you can use this loss with all the other models that AutoGluon also automatically fits to tabular data).  Because AutoGluon automatically ensembles multiple

[2020-01-23 01:08] wangyirui commented on #227
Could you reproduce this error?

[2020-01-24 04:05] fryng opened #243 "Error in google colab"
object detection tutorial 在使用google colab时，出现"colab" RuntimeError: There is no current event loop in thread 'IO loop'.
解决方法：
pip install tornado==5.*
pip install -U ipykernel
重启kernel解决!

[2020-01-24 08:11] songqiang commented on #167
This feature is very necessary. Without supporting customized datasets, the TextClassification is far from any practical use. The dataset class in the tabular is more feature complete, and  we would better to adopt a consistent interface. Basically, allowing loading data from path or a pandas dataframe

[2020-01-25 02:02] larroy commented on #139
I will figure out what's our CD story in mac for mxnet.

[2020-01-27 21:13] tigerhawkvok opened #245 "Hyperparameter tuning never completes for a tabluar task"
As stated.

Without tuning, the model runs in ~400s.

4 days later, no steps have completed on a `hyperparameter_tune= True` session:

![image](https://user-images.githubusercontent.com/165937/73214306-c2153380-4106-11ea-939d-5adc43e988d4.png)

The VM's `pip freeze` output:

[code]

[2020-01-28 20:33] Innixma commented on #245
This looks like a major issue, investigating.

[2020-01-28 20:42] Innixma commented on #245
Very interesting, we will have to take a look into this. I wasn't able to reproduce this trivially, so I will have to do a deeper dive by recreating the venv with your versions. It appears that it somehow stalled while training LightGBM.

Hyperparameter tuning may not be perfectly stable as of yet, especially if using a searcher other than random search. We are still dealing with some weird intera

[2020-01-28 20:57] tigerhawkvok commented on #245
@Innixma Thanks, I'll give it a try and let you know. If you have trouble replicating, let me know and I'll do what I can to assist.

[2020-01-28 22:18] prasiyer opened #249 "Train data with new/updated features"
Is there a function or pre-defined approach to get a copy of the train data with new and transformed features?

[2020-01-28 22:43] tigerhawkvok commented on #245
Confirming `predictor = task.fit(train_data=task.Dataset(agTrainable), label="solutionLabel", auto_stack= True, hyperparameter_tune= False)` runs to completion, taking ~15x longer than a standard run (as advertised)

![image](https://user-images.githubusercontent.com/165937/73311922-76cd5480-41dc-11ea-9b50-ad06992014bf.png)

I'd still love to do the full search and it's still hanging, so I'll leav

[2020-01-29 10:26] nikparmar commented on #237
This worked for me

[2020-01-29 13:30] luyifanlu commented on #245
when i run the code,i get a error:ValueError: Unknown keyword argument specified: auto_stack
predictor = task.fit(train_data=train_data[features], tuning_data=valid_data[features], label=label_column,
                     output_directory=output_directory, time_limits=time_limits, num_trials=num_trials,
                     auto_stack= True, hyperparameter_tune=hp_tune, hyperparameters=hyperparame

[2020-01-29 13:40] luyifanlu commented on #245
I also get same problem,but when i run the code as sugesstion ,i get a error:ValueError: Unknown keyword argument specified: auto_stack
`predictor = task.fit(train_data=train_data[features], tuning_data=valid_data[features], label=label_column,
                     output_directory=output_directory, time_limits=time_limits, num_trials=num_trials,
                    auto_stack= True ,hyperparamete

[2020-01-29 23:47] zhanghang1989 commented on #213
Looks like your function / object can not be serialized by pickle.

[2020-01-29 23:48] zhanghang1989 commented on #173
should be fixed in https://github.com/awslabs/autogluon/issues/173

[2020-01-30 01:32] Innixma commented on #249
This would be a good feature to have!

At the current time the data transformation is contained internally in AutoGluon, and thus you wouldn't be able to get the data in this form unless you called some internal functions that aren't well documented for users.

Note that there are some transformations of the data done internally that may not work very well if used outside of the context of AutoGlu

[2020-01-30 05:30] luyifanlu commented on #231
set hyperparameter_tune=False,it may be work

[2020-01-30 05:34] yllgl opened #251 "Why do I get errors when I try to follow "MNIST Training in PyTorch"?"
I copied the official document sample code to jupyter notebook,  everything was working fine before I run the code:
`myscheduler.run()`
`myscheduler.join_jobs()`
I get the errors as follows:
Process Process-3:
Traceback (most recent call last):
  File "/home/yllgl/anaconda3/lib/python3.7/site-packages/torch/utils/data/dataloader.py", line 724, in _try_get_data
    data = self._data_queue.get(timeo

[2020-01-30 08:04] luyifanlu commented on #245
i tried
`
pip install tornado == 5. *
pip install  ipykernel
`
solve the problem.may it work for u

[2020-01-30 21:57] #173 closed

[2020-02-01 03:25] Innixma commented on #245
@luyifanlu if auto_stack was not found as a valid argument, then you are using an old version of AutoGluon. auto_stack was added in 0.0.4.

Please try `pip install --upgrade autogluon`

[2020-02-03 18:08] chaltik commented on #161
I am getting this error on Ubuntu 18.04. It is the last of three errors I am getting, however. The first one is
` Running setup.py bdist_wheel for psutil ... error
  Complete output from command /home/captain/dev/replicant/py3.6/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-7oki1ybh/psutil/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n

[2020-02-04 10:53] AakashBasu opened #260 "How can I use Autogluon in SageMaker?"
I'm trying to evaluate Autogluon results with my on prem YOLO V3 results. Do not have a GPU to run Autogluon on-prem. So, wish to run the same on Sagemaker. But, saw some bug in one of its requirement libs in another issue here. Do I have to wait for the dependent library to be fixed before using it on SM or can I still use it?

[2020-02-04 10:56] AakashBasu opened #261 "Train Autogluon with coco dataset"
I want to train autogluon with coco dataset and then use the best trained model it gives to predict on my set of images to evaluate it with YOLO V3. Totally new to Deep Learning, any help shall be highly appreciated.

[2020-02-04 17:27] zhanghang1989 commented on #260
Here are the package versions I used in SageMaker Docker container. Please expect an example later to run on SM.
[code]

[2020-02-04 17:30] zhanghang1989 commented on #261
@chongruo @Jerryzcn

[2020-02-04 20:08] dclong opened #262 "Which underlying libraries of AutoGluon uses GPU for training?"
I have AutoGluon (both CPU and GPU version) installed and tried to train models on Tabular data. There doesn't seems to be much difference in terms of training time between the CPU and GPU version. I monitored the GPU usage when I trained models using the GPU version of AutoGluon and there was no GPU usage almost all the time. I'm curious which underlying libraries of AutoGluon train models using

[2020-02-04 20:10] zhanghang1989 commented on #262
GPU training is only enabled for image / text applications, but not for tabular yet.

[2020-02-04 21:50] dclong commented on #262
@zhanghang1989 Thank you! Is there any plan to enable GPU for tabular data?

[2020-02-04 21:57] zhanghang1989 commented on #262
@jwmueller @Innixma

[2020-02-05 00:10] Innixma commented on #262
Yes we have plans to add GPU usage for Tabular. We are currently focused on optimizing CPU and ensuring stability. I expect GPU support to be added in the next 2-3 months, but potentially sooner if enough users express a desire for this feature in Tabular.

[2020-02-05 00:15] Innixma opened #263 "GPU Support in Tabular"
Support GPU usage in Tabular.

Models that could benefit from GPU:
- [Deep Neural Network](https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/models/tabular_nn/tabular_nn_model.py)
- [LightGBM](https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/models/lgb/lgb_model.py)
- [CatBoost](https://github.com/awslabs/autogluon/blob/master/autogluon/utils/ta

[2020-02-05 00:17] Innixma commented on #262
I have created a master issue for this: #263

[2020-02-05 00:31] larroy commented on #219
I spent some time looking into this but not able to find a fix yet. Root cause seems that the function is serialized along while the model while saving.

A small reproduction of a similar issue, is when redefining a function which has been captured by a class that is being pickled. But I didn't see the function mediand_absolute_percentage_error_raw here being redefined in the repro.

[code]

I thi

[2020-02-05 00:54] larroy commented on #219
I checked with the debugger, and for GBM seems the function is indeed redefined or has a different ID.  I suspect it could be because the args decorator.

[2020-02-05 01:00] dclong commented on #262
@Innixma Thank you very much!

[2020-02-05 01:00] #262 closed

[2020-02-05 01:20] larroy commented on #219
I would suggest to run fit with hyperparameter_tune=False I don't observe the crash with this, as it doesn't trigger multiprocessing. We will rework how we do multiprocessing and distributed training for hyperparameter tunning in the future.

[2020-02-05 01:56] Innixma commented on #161
@chaltik Can you create a new issue? This is an issue marked as resolved and related to Windows.

[2020-02-05 08:47] yceugenelai commented on #233
I also have the similar issue when I try to use predict function with a single image.
However, it seems that the predict function works fine with the task.Dataset input.
Is there any difference between single image and dataset input?

[2020-02-05 08:55] szx1234 commented on #233
@yceugenelai  Yes, I use predict function with test.Dataset, it seems works too. but when I try to use a single iamge, the acc is always 1.
It is looks like a bug.

[2020-02-05 09:37] yceugenelai opened #265 "evaluate function issue of the Image Classification - Quick Start tutorial"
the evaluate result seems incorrect.

Top-1 test acc: **nan**

I have tried on my pc. it shows similar messages as the tutorial and return the wrong evaluate result too

"UserWarning: Ignoring data/test/BabyPants of type . Only support .jpg, .jpeg, .png"

is it a bug of getting class names or listing the images? or is there changes about dataset and/or evaluate function?
Thank you

[2020-02-05 19:18] Innixma opened #266 "Improve Tabular Hyperparameter Tuning Stability"
Master Issue for Tabular hyperparameter tuning improvement tracking.

If you are a user experiencing issues, we recommend to use **auto_stack=True**, **hyperparameter_tune=False** for best stable performance.

Currently hyperparameter tuning suffers from various issues, generally due to multithreading.

Related Issues:
#245
#231
#219
#139
#329

[2020-02-05 19:29] zhanghang1989 commented on #265
Thanks for reporting. It is a bug recently introduced. We will fix it.

[2020-02-05 19:41] zhanghang1989 commented on #265
[code]

[2020-02-06 00:12] zhuwenzhen opened #268 "ImportError for TabularPrediction in SageMaker Notebook Instance"
I got **ImportError** when trying to use AutoGluon in a SageMaker instance (ml.c5d.4xlarge), with kernel being **conda_python3**.

The error I got is:
[code]
[code]

If I try
[code]
[code]

For your reference:

I installed AutoGluon by using Version PIP in the notebook as usual.
[code]

[code]
There are 2 errors in the second installation step:

**ERROR: sagemaker 1.43.4.post1 has requirement boto

[2020-02-06 23:51] larroy opened #269 "Tabular KNN does not respect time limit"
I'm running fit on the microsoft malware detection dataset, and during RF training I see only one core being used and the time limit is not respected, as it's training for more than 20h.

[code]

[2020-02-07 02:07] Innixma commented on #268
Thanks for submitting this issue!

We haven't looked closely at which boto versions are functional with AutoGluon, but I would suspect using the newer version wouldn't cause issues.

We will take a look.

[2020-02-07 13:43] aptsunny commented on #233
@szx1234 I think the problem seems to be caused by the single image format. Please refer to #270 .

[2020-02-07 13:57] melikbekyanrazmik opened #271 "Type checking should be performed by using `isinstance`."
https://github.com/awslabs/autogluon/blob/8bfe6b0da8915020eeb9895fd18d7688c0d604c1/autogluon/task/tabular_prediction/tabular_prediction.py#L243

[2020-02-07 13:58] melikbekyanrazmik commented on #271
references:
https://docs.python.org/3/library/functions.html#isinstance
https://stackoverflow.com/questions/152580/whats-the-canonical-way-to-check-for-type-in-python

[2020-02-07 15:09] szx1234 commented on #233
I replace the new codes to my machine, when I test it , it throws an excetpion
![image](https://user-images.githubusercontent.com/20124347/74040336-7adc4c00-49fe-11ea-9600-4e8995cebaa1.png)
![image](https://user-images.githubusercontent.com/20124347/74040488-cbec4000-49fe-11ea-8c1b-a7785c802cbf.png)

[2020-02-07 17:51] zhanghang1989 commented on #271
Agree. Could you create a PR for that?
``if isinstance(train_data, str):``

[2020-02-08 05:12] quuhua911 opened #274 "latest version autogluon==0.0.5 F1 macro score dropped significantly"
I was working with the latest version autogluon==0.0.5 on a multi category table prediction problem and found that the run time was significantly shorter and the F1 macro score dropped significantly compared to the previous version.

dir = './agModels-predictClass' # specifies folder where to store trained models
predictor = task.fit(train_data=train_data, eval_metric ="f1_macro",hyperparameters =

[2020-02-08 14:35] yaojunr commented on #213
I use pytorch as backend. I also meet the same problem. If the problem occurs, how i can deal with it? Or how i can know which variable cause the problem.  My train script seems the same as the code provided in 'MNIST Training in PyTorch' tutorial.

[2020-02-09 08:53] dmxj opened #276 "Could not pickle object as excessively deep recursion required"
**when I try object detection task, use tiny motorbike dataset privided by demo, but some error happen**

  File "train.py", line 15, in <module>
    time_limits=time_limits)
  File "/opt/conda/lib/python3.6/site-packages/autogluon/task/object_detection/object_detection.py", line 257, in fit
    scheduler_options)
  File "/opt/conda/lib/python3.6/site-packages/autogluon/task/base/base_task.py", li

[2020-02-09 17:30] zhanghang1989 commented on #213
@yllgl Sorry for the delay. Didn't notice that you have attached the code.

The dataset/dataloader should be created inside the training function or being created through `@ag.obj()` or `@ag.func()` https://autogluon.mxnet.io/api/autogluon.core.html?highlight=func#autogluon.func  then pass through the `@ag.args()`.

[2020-02-09 17:31] zhanghang1989 commented on #213
@yaojunr Please see my reply to @yllgl . Let me know if you have resolved that.

[2020-02-09 18:14] aptsunny commented on #233
plt.imshow(img.asnumpy())

[2020-02-09 19:35] razmikmelikbekyan opened #277 "Does not cover the case when the list is empty."
https://github.com/awslabs/autogluon/blob/fef4da4c5e6b8c1d0c7a453f45403c14d7244d7e/autogluon/utils/tabular/features/abstract_feature_generator.py#L378

[2020-02-10 10:15] yllgl commented on #251
I comment out the code :
"trainloader = torch.utils.data.DataLoader(trainset, batch_size=128, shuffle=True, num_workers=2)" and change it to
"trainloader = torch.utils.data.DataLoader(trainset, batch_size=128, shuffle=True)"
it works well.

[2020-02-10 16:53] zhanghang1989 commented on #276
Could you check the `dask` and `distributed` package versions?
[code]

[2020-02-10 20:06] Innixma commented on #277
Hello, thanks for creating an issue!

This part of the code is never called by the DefaultLearner in AutoGluon and thus we haven't noticed this defect, but upon looking into it this does seem to be a situation where incorrect behavior would occur.

I have created #278 to address this.

Best,
Nick

[2020-02-10 20:06] Innixma commented on #271
Thanks for your contribution!

[2020-02-10 20:06] #271 closed

[2020-02-10 20:58] Innixma commented on #274
Thanks for submitting this issue!

F1 score has a defect in it in the current version, specifically because we are not adjusting the threshold (Currently fixed at 0.5), although I think this problem should have also been present in earlier versions too.

Also, you are specifying HPO num_trials but you did not enable HPO: hyperparameter_tune=True, meaning it will not do anything.

A workaround is f

[2020-02-10 21:02] Innixma commented on #274
I just noticed you are actually doing multiclass classification. Could you provide the logs for your run on the older version of AutoGluon where you got a better score?

[2020-02-10 21:06] Innixma commented on #269
We have not tested KNN on this large of a dataset before. It could be that it is still training or some other issue. Can you attempt to reduce the size of the dataset until it works correctly?

[2020-02-11 01:35] Innixma commented on #277
Merged fix: #278

[2020-02-11 01:35] #277 closed

[2020-02-11 02:12] quuhua911 commented on #274
sorry，The logs have been erased along with older version of AutoGluon, so there's no way to recreate them. But Thank you so much for your quick response and your advice.

[2020-02-11 04:02] Innixma commented on #274
Can you try:

`pip install autogluon==0.0.4`

and re-running the above code to see the output? One potential reason is because the early stopping rounds were decreased in 0.0.5 for large datasets (previously 150, now 10), meaning it is possible the model is now stopping before it reaches its best score. If this is the case, we can look to update the minimum early stopping rounds to correct for you

[2020-02-11 04:05] Innixma commented on #224
Resolving as it appears no further action is required.

[2020-02-11 04:05] #224 closed

[2020-02-11 04:06] Innixma commented on #216
Resolving. Please reopen if you wish to clarify the problem.

[2020-02-11 04:06] #216 closed

[2020-02-11 04:09] Innixma commented on #35
What is the status of this? Should we mark as resolved?

[2020-02-11 05:40] zhanghang1989 commented on #35
The reported `reward_attr` should be numerical value, because we want to compare the value. We may need to mention it somewhere in the doc.

[2020-02-11 11:54] vinayakkailas opened #282 "is it possible to load ag checkpoints in native mxnet?"
Is there a way to load ag checkpoints in mxnet? Otherwise please guide, how would we take a trained model to production?

[2020-02-11 13:52] quuhua911 commented on #274
autogluon==0.0.4:
dir = './agModels-predictClass' # specifies folder where to store trained models
predictor = task.fit(train_data=train_data, eval_metric ="f1_macro",hyperparameters ={ 'GBM': {'num_boost_round': 10000},'custom': ['GBM']},
                     num_trials=600,nthreads_per_trial=40,auto_stack=True,verbosity=2,label=label_column,problem_type="multiclass", output_directory=dir)
**Here

[2020-02-11 14:04] yllgl opened #283 "The results of the training were garbled"
![image](https://user-images.githubusercontent.com/23625282/74242940-c2721900-4d19-11ea-86a4-83806a976996.png)
here is my code.
![image](https://user-images.githubusercontent.com/23625282/74242990-d87fd980-4d19-11ea-991c-eb5173a613ea.png)
I find that this garbled code occured after I set the "searcher" parameter. Howerver, after I remove the "searcher" parameter, it‘s back to normal.

[2020-02-11 14:09] quuhua911 commented on #274
I have enough computing power and memory, and I'm after good model results, so...

[2020-02-11 14:45] hmingkwan commented on #269
I encountered the same problem, but as @lnnixma said it might be the KNN issue. So I set the hyperparameters = {'NN': {}, 'GBM': {}, 'CAT': {}, "RF": {}, 'XT': {}} and
task.fit(train_data=train_data, label=label_column, tuning_data=val_data, time_limits=28800, auto_stack=True, hyperparameter_tune=False, hyperparameters=hyperparameters, stack_ensemble_levels=2, eval_metric=eval_metric)
and it works

[2020-02-11 17:32] zhanghang1989 commented on #282
Thanks for pointing out. The detector `load` and `save` methods are not implemented yet.
@chongruo will work on this.
https://github.com/awslabs/autogluon/blob/master/autogluon/task/object_detection/detector.py#L167-L171

`detector.model` is a MXNet model, which can be saved through MXNet `detector.model.save_parameters('network.params')`

[2020-02-11 17:33] zhanghang1989 commented on #283
SkOpt searcher has some logging, but seems not readable:
https://github.com/awslabs/autogluon/blob/master/autogluon/searcher/skopt_searcher.py#L170-L172

[2020-02-11 20:28] Innixma commented on #274
I see. Thanks for the logs! To be clear: Reducing early stopping rounds is not intended to get worse results. It is actually to combat overfitting and speed up results. Previously, we would do 150 rounds of early stopping, which would tend to take an unreasonable amount of time for large datasets where the best score was found around iterations 1-10: Meaning we were taking >15x the time that we co

[2020-02-12 00:18] larroy commented on #171
Issue regarding pip install not having numpy / Configspace remains, just had it again on windows.

[code]

[2020-02-12 00:24] larroy opened #285 "CI seems to pass even though the test might fail"
tests/run_all.sh don't have -e  so test pass even though some of the unittest files have errors. See this PR:

https://github.com/awslabs/autogluon/pull/280#partial-pull-merging

@szha

[2020-02-12 00:42] larroy opened #286 "Errors in windows running tabular tests"
[code]

[2020-02-12 02:06] Innixma commented on #286
Appears to be related to Distributed code.

[2020-02-12 02:06] Innixma commented on #285
Resolved by #280

[2020-02-12 02:06] #285 closed

[2020-02-13 01:50] Innixma commented on #171
So you are saying that pip install mxnet does not install numpy?

[2020-02-13 07:05] razmikmelikbekyan opened #292 "Seed is not fixed in LightGBM"
https://github.com/awslabs/autogluon/blob/9a214c5e97363447c321e4e307d8faf0c861dd65/autogluon/utils/tabular/ml/models/lgb/lgb_model.py#L78

[2020-02-13 14:31] mseeger opened #293 "Why this repeated call of _cleaning_tasks ?"
https://github.com/awslabs/autogluon/blob/9a214c5e97363447c321e4e307d8faf0c861dd65/autogluon/scheduler/scheduler.py#L185

I am wondering why _cleaning_tasks is called 2x here, at the start and at the end. Is this required?

[2020-02-13 14:32] mseeger commented on #293
I am currently looking through most code in scheduler and searcher, and I can flag things I do not get as issues. Tell me if I should not do that right now ...

[2020-02-13 18:55] zhanghang1989 commented on #293
Thanks for pointing out. Yes, this is a little redundant.  We can only call `cleaning_task()` once at the end of `join_jobs()`

[2020-02-13 19:37] austinmw commented on #189
@zhanghang1989 What if installed from master?  `!pip install git+https://github.com/awslabs/autogluon.git`

[2020-02-13 19:50] zhanghang1989 commented on #189
I haven't tried that. If that doesn't work, you can try:
[code]

[2020-02-13 19:54] austinmw commented on #189
Sorry, should have followed those instructions. that works, thanks.

[2020-02-13 21:47] Innixma commented on #292
This indeed should mean that results will differ each run, however I can't seem to make them differ even when trying.

Setting seed value to different values doesn't seem to change the results. Not sure why.

I even tried setting the other seed parameters:

[code]

According to their documentation, this should result in different behavior: [https://lightgbm.readthedocs.io/en/latest/Parameters.html

[2020-02-14 06:47] razmikmelikbekyan commented on #292
It seems that `seed` parameter is used for generation other seeds, e.g. `data_random_seed`, `feature_fraction_seed`, etc. And all of these other seeds have `not None` default values, that is why the results are deterministic. So either we can close this issue without changing anything, either for safety we can put some default value to `seed`, which will not change the other seeds anyway (unless t

[2020-02-14 07:54] dmxj commented on #276
@zhanghang1989 the `dash` and `distributed ` version is 2.6.0
![image](https://user-images.githubusercontent.com/6835981/74511870-ed3eb600-4f41-11ea-8815-c831a58b7a79.png)

[2020-02-14 11:57] mistrzuniu1 opened #296 "Id of each job in train_loop."
https://autogluon.mxnet.io/tutorials/course/script.html#create-the-scheduler-and-launch-the-experiment

I want to get something like id inside train_loop, because I want to checkpoint the model. Is it possible for example from reporter or args?

[2020-02-14 12:01] mistrzuniu1 commented on #296
It is inside args.
I am closing.

[2020-02-14 12:01] #296 closed

[2020-02-14 17:42] zhanghang1989 commented on #276
The dask and distributed versions are correct. Sorry that I could not reproduce the issue on my machine. What's your environment settings?

[2020-02-14 17:43] Innixma commented on #292
Yes, that would be the expected behavior (that the default values for other seeds are set, thus ignoring generic seed). However, it seems even changing the other seed values doesn't have an effect. Very odd.

I don't think it's particularly a problem, it would only be an issue if a user specified these parameters and was expecting them to affect things. But at the end of it all, I think it is a Li

[2020-02-14 17:44] Innixma commented on #292
Created #297 to update to 0

[2020-02-14 19:45] #265 closed

[2020-02-14 19:45] #233 closed

[2020-02-15 00:12] Innixma opened #302 "Multi-threaded Tabular embednet over 50% slower on MacOS Laptop than prior"
Tested on MacOS Laptop with 2 physical cores, 4 threads

Multi-thread Speedup (#291) Benchmarking

adult dataset, 5000 sample rows:
Enabled:
Train time: 30.230026s
Inference time: 1.180679s

Disabled:
Train time: 18.27790s
Inference time: 0.809626s

adult dataset, 39073 rows (Full):
Enabled:
Train time: 229.882597s
Inference time: 2.202588

Disabled:
Train time: 138.790045s
Inference time: 0.97736

[2020-02-15 00:39] Innixma commented on #302
Testing on m5.2xlarge, full adult dataset:
Enabled:
Train time: 163.131340s
Inference time: 1.02232s

Disabled:
Train time: 82.923477s
Inference time: 0.513330s

Neural Network Architecture:

[code]

[2020-02-15 01:19] Innixma commented on #302
Testing on m5.24xlarge, full adult dataset:
Enabled:
Train time: 131.077446s
Inference time: 1.257798s

Disabled:
Train time: 60.339118s
Inference time: 0.612159s

[2020-02-15 01:26] zhanghang1989 commented on #302
For small dataset, it does slowing down due to the overhead of starting threads.
I  tested the following dataset on p3.2xlarge, which gives speedup 256s to 162s. Don't use `mkl` version of MXNet, which slows down the training.

``train_data = task.Dataset(file_path='https://autogluon.s3-us-west-2.amazonaws.com/datasets/Inc/train.csv')``

[2020-02-15 01:27] zhanghang1989 commented on #302
The code example is:
[code]

[2020-02-15 01:35] Innixma commented on #302
What would you consider a small dataset? This has 40,000 rows

[2020-02-15 01:35] Innixma commented on #302
Also, this is without MKL

[2020-02-15 01:44] zhanghang1989 commented on #302
I thought it is okay to slow down the small datasets. We may add an option for it, which is only enabled for large dataset.

[2020-02-15 01:49] Innixma commented on #302
Testing on m5.25xlarge, full Inc dataset:
Enabled:
Train time: 141.742719s
Inference time: 0.650476s

Disabled:
Train time: 60.972039s
Inference time: 0.550650s

This seems to be contrary to the speedup you saw with p3.2xlarge

[2020-02-15 01:51] zhanghang1989 commented on #302
I haven't tested it on m5, but I tested it on p3.2xlarge with @jwmueller . I am okay if you would like to disable due to no speed up on m5.

[2020-02-15 01:52] Innixma commented on #302
Could you provide a pip freeze of your python environment for that test? Perhaps it is a version differerence.

[2020-02-15 01:55] zhanghang1989 commented on #302
sure, please see the following
[code]

[2020-02-15 01:59] Innixma commented on #302
My pip freeze output:

[code]

[2020-02-15 01:59] zhanghang1989 commented on #302
Note that this only improve the speed for datasets with multiple/many embedding layers.

[2020-02-15 02:00] Innixma commented on #302
Most notably, we have different mxnet and numpy versions. Your mxnet is more recent and your numpy is older

[2020-02-15 02:57] Innixma commented on #302
Interestingly, on my Mac I see a speedup on Inc:

Enabled:
Train time: 205.570401s

Disabled:
Train time: 242.018018s

Interestingly, my Mac appears to be faster than the p3.2xlarge instance, which should not be the case. My Mac has only 2 cores and 4 threads.

[2020-02-15 05:47] zhanghang1989 commented on #302
If the machine does not have enough number of cores to handle multi-processing. There won't be any speed up. A mac book only has 4 cores.

[2020-02-15 08:20] jwmueller commented on #302
I guess it's worth having a speedup on larger datasets at the cost of a small slowdown on small datasets, as long as the multithread version remains robust across many versions of mxnet.

I didn't really notice much qualitative difference on various types of m5.*xlarge instances before/after the fix. I do recall Hang demonstrated that for adult-income data on p3.2xlarge (no mxnet-mkl, no GPU-usage

[2020-02-15 08:51] Innixma commented on #302
@zhanghang1989 But it isn't consistently true, an m5.24xlarge (96 core) is over twice as slow on Inc dataset when this is enabled.

[2020-02-15 21:00] Innixma commented on #292
Merged #297

[2020-02-15 21:00] #292 closed

[2020-02-16 06:49] ccll opened #304 "Is there a way to view feature importance and pruned features of a trained predictor?"
Since autogluon has a `feature_prune` parameter for the fit() method, there should have a way to get the importance of all features, and to get a list of pruned features.

[2020-02-16 07:27] edwinforedwin opened #305 "Could not find a version that satisfies the requirement autogluon"
My PC has python version 3.7.5
But when I running the command for installing AutoGluon by AWS, the terminal says

'Could not find a version that satisfies the requirement autogluon (from versions: )
No matching distribution found for autogluon'

[2020-02-16 12:04] razmikmelikbekyan commented on #266
Hi,

I am facing the following issue when running hyperparameters tuning.
When there are  errors in all individual trial threads `autogluon.utils.tabular.ml.models.abstract.model_trial.model_trial` in `autogluon/scheduler/fifo.py:223` the main process is not finishing. I do not know exactly if someone else faced similar issues or not that is why I decided to add it as a comment.
For reproducing it

[2020-02-16 12:09] razmikmelikbekyan commented on #266
Basically I want to ask also, if someone is working on this issue on general and from where it is possible to find more detailed documentation about distributed resource management of AutoGluon to be able to solve this.

[2020-02-17 21:49] Innixma commented on #304
This is a feature we are currently working on. If a user tries to specify feature_prune in v0.0.5 it will display a warning and automatically set to False, as the current feature pruning code is not robust enough to be ready for users. Once feature_prune functionality is ready, obtaining feature importance for all features and the list of pruned features will be made available at the same time.

[2020-02-17 23:24] Innixma commented on #266
@razmikmelikbekyan According to https://catboost.ai/docs/concepts/python-reference_parameters-list.html, CatBoost num_leaves parameter is not valid on CPU.

The part about the main job not finishing is an issue however, it should simply fail on CatBoost and return.

HPO is the one part of the Tabular code I am not familiar with because it is part of the core AutoGluon code used in the other parts

[2020-02-18 01:22] Innixma commented on #305
Can you elaborate?

What is the exact command you entered, and can you provide a 'pip freeze' terminal output?

Also, what is your system information: OS, etc.

Can you try:

[code]

[2020-02-18 01:32] Innixma commented on #106
Found source of error:

numba is imported by TextClassification, and numba breaks AMLB when imported after amlb.logger, fixed by updating amlb source code.

I still think we should try to avoid star importing all of AutoGluon on initial import, but for now this problem is fixed.

Resolving.

[2020-02-18 01:32] #106 closed

[2020-02-18 13:55] razmikmelikbekyan commented on #266
Hi @Innixma ,

Thanks for response.
So the part about the main job not finishing is an issue however and I noticed similar behaviour in some other cases.

I would like to help fixing these issues, so I will try to get familiarised with the HPO code and start working on that. Meanwhile @zhanghang1989 it would be nice if you give me a small direction, where I can see the code flow (threads / process

[2020-02-18 20:54] austinmw opened #309 "predictor.predict hanging"
I'm trying to integrate autogluon with SageMaker training/deployment.

With the test script I'm currently using, sometimes fit/deploy/predict work fine, but about half of the time (without any modification of docker image or train/serve code, seemingly randomly) when I get to the point where I'm trying to call `predictor.predict(data)`, I can see in my endpoint logs that it's just hanging there an

[2020-02-18 21:15] zhanghang1989 commented on #309
Looks like question on Tabular Predition. @Innixma @jwmueller

[2020-02-19 01:20] Innixma commented on #309
Removing the SageMaker component of this, does your code fail on predict in the local setting?

[2020-02-19 02:09] leezu opened #311 "autogluon has too many dependencies"
autogluon lists

[code]

as requirements.

This makes it essentially infeasible for other projects to introduce a dependency on autogluon and make use of it's tuning facilities.

It would be good for autogluon to provide a minimal core that allows external projects to integrate with it easily.

[2020-02-19 03:18] Innixma commented on #311
I can see this being quite beneficial and healthy long term for users especially as AutoGluon gains more components.

An interesting point here is the complexity in regards to development once the package has been modularized. I'm not very familiar with handling projects split into various modules in terms of code-refactors, but it seems to me like it adds complexity it terms of ensuring the code

[2020-02-19 07:48] jwmueller commented on #136
@zhanghang1989 Can we remove the default value max_reward = 1.0 in scheduler?
This will trigger unexpected behavior in many applications.  Default should probably be Inf (or None).

[2020-02-19 09:30] mseeger commented on #311
This is an important request, but also not something simple to do quickly.

The best would be to think of a way to split between the core scheduling and optimization capabilities, and then the code needed to get important use cases going (e.g., GluonCV, GluonNLP, different boosting methods, ...).

On the other hand, I feel it needs to remain simple and robust to install the "sum of all important p

[2020-02-19 15:03] edwinforedwin commented on #305
It's now solved
I got an error while updating my python version and OS bit crashed
So I reinstalled OS and updated python
Now I can use autogluon easily

[2020-02-19 15:03] #305 closed

[2020-02-19 18:04] zhanghang1989 commented on #136
I agree. This causes troubles.

[2020-02-19 18:09] austinmw commented on #309
Hi @Innixma , looks like it does not fail in the local setting, so must be a sagemaker/environment issue. Having a bit of difficulty in teasing the difference between the two environments. Happen to know of a way to get more to the bottom of why predictor.predict() times out in SM? Dataframe input and model look to be the same. Going to get more environment info and minimum reproducible examples.

[2020-02-19 18:20] Innixma commented on #309
@zhanghang1989 would be the most knowledgable regarding SM and AutoGluon, but right now its largely an untested domain. Insights into this from your testing would be greatly appreciated!

[2020-02-19 18:57] leezu commented on #311
Would `extras_require` option in `setup.py` help solve this problem? For example, to use autogluon tabular, users wculd then be required to install `pip install autogluon[tabular]`.

[2020-02-19 19:25] Innixma commented on #311
What other packages make use of this? I think it would be good to take examples from other popular open source projects.

[2020-02-19 20:15] leezu commented on #311
This is the standard way to declare optional dependencies https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

I suppose any python project with optional dependencies uses it.

[2020-02-19 23:12] Innixma commented on #311
Seems like it could be a nice solve, although I haven't seen other packages use this before, which is why I was wondering what other packages use it.

Can we do the reverse? pip install autogluon installs everything but we have pip install autogluon[tabular] which only installs tabular dependencies and pip install autogluon[core] which only installs core dependencies etc.?

[2020-02-19 23:28] szha commented on #311
GluonNLP does: https://github.com/dmlc/gluon-nlp/blob/a0d7fbb1b9be4b155c9b03ecdf56ae4c844389c8/setup.py#L64-L93

and so does GluonTS: https://github.com/awslabs/gluon-ts/blob/master/setup.py#L212-L217

[2020-02-19 23:32] szha commented on #311
@Innixma The feature is for extra dependencies so the semantics of `autogluon[tabular]` means the required dependencies plus the extra dependencies for tabular. What you described sounds more like having a separate package for the tabular part (e.g. `autogluon-tabular`), which is a feasible alternative.

[2020-02-20 10:24] razmikmelikbekyan opened #315 "`hyperband` and `rl` search strategies are nut running for Tabular prediction."
[code]

The error:
[code]

[2020-02-20 10:41] mseeger commented on #315
What is the output of the assertion message?

hyperband is not a search strategy, but a scheduling strategy which can be run with different underlying searchers. Currently supported are 'random' (default), 'skopt', 'grid'. You probably want to keep it at 'random' (as this is what gives you *the* Hyperband method as published).

In the near future, there will be more searchers being supported here,

[2020-02-20 10:42] mseeger commented on #315
I am personally not much familiar how a call to task.fit maps to the creation of a scheduler. When you create a scheduler (FIFOScheduler, HyperbandScheduler), you can pass searcher and search_options, and searcher -> name in searcher_factory. You seem to be using search_strategy above ...

[2020-02-20 10:47] razmikmelikbekyan commented on #315
Hi @mseeger yep, I was using `hyperband` as a `search_strategy`. I wanted to use `HyperbandScheduler` behind the scenes. If it is not supported at this moment, it would be correct to remove it from docstring: https://github.com/awslabs/autogluon/blob/a1347ea81ff678a6047cc1723c32fcf0dc81bbf2/autogluon/task/tabular_prediction/tabular_prediction.py#L179

[2020-02-20 10:54] mseeger commented on #311
Let us separate two issues here:
1) Different built-in large features of AutoGluon (e.g., tabular)
2) ML frameworks we'd want AutoGluon to apply to (for tuning parameters) (e.g., GluonCV,
   GluonNLP, <your favourite NN software>)

I personally would have 1) always be part of the core, unless it becomes really large. I think we want a strategy for dealing with 2). Not only will many users not care

[2020-02-20 12:23] mseeger commented on #315
Hello,

this is not the problem here.
If you look into tabular_predicition.py you see that towards the end, when scheduler_options are set, you have
   searcher = search_strategy

This is wrong for Hyperband. HB is not a searcher, but a scheduler, and you want searcher = 'random' if search_strategy is 'hyperband'. This would fix your issue.

I still think that code should be refactored, because it

[2020-02-20 13:14] mseeger commented on #315
In fact, let me try and fix this for now. I'll do a pull request and notify you.

[2020-02-20 13:59] mseeger commented on #315
Have a look at #316

[2020-02-20 14:17] razmikmelikbekyan commented on #315
Thanks for reply. Yep it is a a confusing that in `search_strategy` you put `hyperband`.
What about `rl` scheduler ? This also works only with `random`.

[2020-02-20 14:27] mseeger commented on #315
Hello, rl is a searcher, it works with FIFO scheduler. There are currently only two schedulers, FIFO and Hyperband. And making Hyperband work with searcher != random is not trivial, we work on this.

But maybe we should not bother the user with the distinction between scheduler and searcher. Let us see what others say.

[2020-02-20 14:46] mseeger commented on #315
If 'rl' does not work for you, this has a different reason, check what you pass for search_options.

I have no idea what the RL searcher is doing,

[2020-02-20 21:35] mseeger commented on #315
There is another bug that affects why 'rl' does not work. It has to be rewritten (but not by me).

[2020-02-20 21:41] mseeger opened #317 "RLSearcher cannot be used with existing schedulers"
https://github.com/awslabs/autogluon/blob/72153b8f373ecadec8aaf359f9ae3ee3099f21e1/autogluon/searcher/rl_controller.py#L34

__init__ has argument kwspaces, of type List[Space], while all other searchers, and BaseSearcher, use CS.ConfigurationSpace. I wonder why the Space abstraction is needed, ConfigSpace should do all of that. And __init__ does not call BaseSearcher.__init__.

This means you cann

[2020-02-20 21:43] mseeger commented on #317
Or otherwise remove 'rl' as valid argument for search_strategy in tabular_prediction, because currently this does not work out.

[2020-02-20 21:47] zhanghang1989 commented on #317
Yes. Currently, RLSearcher has to work with RLScheduler https://github.com/awslabs/autogluon/blob/master/autogluon/scheduler/rl_scheduler.py

We may not expose RLSearcher in the searcher factory.

[2020-02-21 02:33] jwmueller commented on #311
I also like this solution the best but would be good to see examples.
It would be nice to keep it as simple as possible for users who just want to quickly try out various autogluon functionalities (single pip install).  Users who've already tried autogluon and decided they like it enough to integrate it into a bigger system can then install only the dependencies for components they want to integra

[2020-02-21 02:37] jwmueller commented on #309
Is this your first time using SM? Perhaps you can also try using a different python model (eg. scikit-learn) as well as autogluon, just to rule out that it is a pure SM issue?

[2020-02-21 02:57] Innixma commented on #309
It is possible the issue stems from the path issue solved in #319. I'd recommend trying again after building from latest source once this PR is merged.

[2020-02-21 03:09] Innixma commented on #268
@zhuwenzhen In the latest mainline of AutoGluon, the boto version limitation has been removed. This may resolve your issue if you install AutoGluon from source, or wait for AutoGluon 0.1 to be released.

[2020-02-21 03:17] Innixma opened #320 "Removing ConfigSpace"
ConfigSpace seems to have several limitations and is not being updated regularly nor are issues being responded to: https://github.com/automl/ConfigSpace

Is there a reason we absolutely need this package?
What would be the work required to match ConfigSpace's functionality?
Why does ConfigSpace require cython?

Related Issues:

#230

[2020-02-21 03:24] Innixma commented on #226
@chongruo Can you please respond to this issue?

[2020-02-21 03:26] Innixma commented on #237
@zhanghang1989 Is there any action remaining for this issue or can it be resolved?

[2020-02-21 04:32] leezu commented on #311
You can provide `pip install autogluon[all]`. I don't think the reverse is supported, but maybe I'm wrong

[2020-02-21 08:31] mseeger commented on #317
OK, maybe let me ask this differently:
train_fn has train_fn.cs of type CS.ConfigurationSpace, and then it also seems to have train_fn.kwspaces, which is List[Space].

In RLScheduler, train_fn.kwspaces is used, but then FIFOScheduler.__init__ is called, where train_fn.cs is used.

I am just wondering why we cannot use train_fn.cs in RLSearcher, this would solve the issue. Is there anything in Spac

[2020-02-21 08:45] mseeger commented on #320
Uh wait: This also relates to my objections about RLSearcher.

I've looked into this. The reason to use ConfigSpace is that it is very fast, and sometimes this does matter. I've seen HPO experiments in the Amper team, where literally most of the time was spent converting HP configurations into vectors or back.

The reason why ConfigSpace requires cython is to make it fast.

Note it comes from some

[2020-02-21 08:47] mseeger commented on #320
Let me expand. In HPO experiments, when running get_config, people often start evaluating the surrogate model for a large number of randomly chosen (or by Sobol sequence) configs, and then run a local search from the best points found this way. In such situations, I observed that all the local optimization and Gaussian process computations can be faster than the initial evaluations, and the reason

[2020-02-21 10:05] ccll commented on #304
@Innixma Thanks for the info.
Can't wait to see the new release. :smile:

[2020-02-21 10:59] mseeger commented on #317
Related to #320

[2020-02-21 13:47] AdelZakirov commented on #158
Still there

[2020-02-21 14:22] mseeger commented on #317
I see now why List[Space] is needed, because these makes the evaluation function decorators easy to do, and using ConfigSpace there would not be easy.

Still, it would be great if we could use ConfigSpace internally in the searchers (as default), because of the speed advantages. It also offers some pretty advanced stuff (like relationships between parameters).

[2020-02-21 14:42] austinmw commented on #309
@jwmueller been using SM for quite a while now. Will look into path issue, thanks! Still working on reproducible examples.

[2020-02-21 18:18] zhanghang1989 commented on #158
This should be resolved. Otherwise the CI won't pass the unit test.

[2020-02-21 18:40] zhanghang1989 commented on #317
Thanks @mseeger !

The RL Searcher was not carefully implemented, which can be rewritten using ConfigSpace to construction the LSTM controller.
Currently, we still need RLScheduler, because the searcher update is quite different. We need a large refactor to make RL with FIFO naturally.

[2020-02-21 21:02] Innixma commented on #320
Ok, it seems we have strong reasons to keep ConfigSpace. This was mostly a question from my end as to what benefits it gives, as I believe a few other members are unaware of its benefits.

Also, one of our users posted a detailed GitHub issue to ConfigSpace which hasn't been responded to for over a month: https://github.com/automl/ConfigSpace/issues/141 , which was where my concern stemmed from re

[2020-02-21 21:02] #320 closed

[2020-02-21 21:35] Innixma commented on #158
@AdelZakirov Can you try building from AutoGluon source and seeing if it works? It could be you are using an old version of AutoGluon.

[2020-02-21 22:21] #125 closed

[2020-02-21 23:41] Innixma commented on #309
#319 has been merged, please try to see if it works with the latest build. Note that it requires retraining of the model, the model from the old version won't be fixed.

Best,
Nick

[2020-02-22 01:34] austinmw commented on #309
Worked!

[2020-02-22 01:34] #309 closed

[2020-02-22 02:06] Innixma commented on #309
Awesome!

[2020-02-24 19:36] jwmueller commented on #315
Hyperband should now work with TabularPrediction thanks to:  https://github.com/awslabs/autogluon/pull/316

We will look into why 'rl' does not work.

[2020-02-24 19:39] jwmueller opened #329 "Scheduler/searcher runs infinitely long (fails to handle error in individual training trials)"
HPO may currently run infinitely (due to deadlock) when any individual training trial has an error.

May be root cause of issues like this:  https://github.com/awslabs/autogluon/issues/245

A temporary fix is implemented for TabularPrediction in: https://github.com/awslabs/autogluon/pull/322/

But a more long-term fix should live in scheduler/searcher.

[2020-02-24 19:49] jwmueller commented on #245
This issue may be caused by the scheduler/searcher failing to handle errors during the individual training trial:  https://github.com/awslabs/autogluon/issues/329

We have included a quick fix for TabularPrediction (thanks to @razmikmelikbekyan): https://github.com/awslabs/autogluon/pull/322, so can you try the full search again now on your dataset after pulling latest version of autogluon?

Note

[2020-02-24 19:57] zhanghang1989 commented on #329
Thanks @jwmueller

As we discussed, this need to be implemented in the scheduler to handle the reporter when exception happens in the user/pipeline code.

We can prioritize it when we refactor searchers & schedulers with new algorithms added.

[2020-02-24 20:04] #315 closed

[2020-02-24 20:06] jwmueller commented on #317
Thanks Matthias (and for your fix on the 'hyperband' option), I'll just remove the 'rl' option from tabular documentation.

[2020-02-24 21:15] larroy commented on #269
please reassign.

[2020-02-24 21:16] larroy commented on #139
Pleas reassign

[2020-02-25 10:24] mseeger commented on #329
Hello,

this is something I am interested in. We will add new searchers that come with a certain complexity, and they may well fail with throwing an exception (even though this happens very rarely for us).

We'd love that in this case, the whole experiment is shut down.

In the longer term, we should consider alternatives. Maybe the very simplest is to catch exceptions and return some "invalid eva

[2020-02-25 19:09] Innixma commented on #329
Why not have a parameter to Searcher which dictates behavior upon receiving an exception: Shutdown, ignore+continue, crash, etc.?

[2020-02-25 19:10] Innixma commented on #329
Additionally, I'd like to comment that skopt Searcher randomly deadlocks even after #322 has been applied. In 3 runs, 2 of them deadlocked at different points and 1 succeeded. It's unknown why it does this.

[2020-02-25 19:21] zhanghang1989 commented on #187
Thanks for requesting the custom split. This is important feature. We will prioritize.

[2020-02-26 00:22] jwmueller commented on #329
It seems the base RandomSearcher was updated with some locking functionality that was never added to the skopt searcher: https://github.com/awslabs/autogluon/blob/master/autogluon/searcher/searcher.py#L162

@zhanghang1989 Can you add this same functionality to the skopt searcher?
In general, we really need to ensure that whenever any of the searchers/schedulers is altered, the same changes are mad

[2020-02-26 08:52] mseeger commented on #329
I may have put in the additional locking. While I lack the understanding of Hang, I'd rather err on the cautious side. Louis once told me that both read and write access to class members should be protected. If members are objects with methods, then maybe they should have their own locks. At least, this seems to me how the code works.

[2020-02-26 08:54] mseeger commented on #329
@Innixma We could ask autogluon evaluation functions to return a certain status, but this sounds cumbersome.

Maybe better (if feasible) would be to wrap any such evaluation call into try catch, and if something is caught, we return a "failed" signal and maybe the exception object?

Then, it would be up to the scheduler and searcher to react to a failed evaluation, which is probably the best solut

[2020-02-26 20:37] Innixma commented on #329
@mseeger  What I think is ideal is that if an exception occurs in a trial started by a scheduler, it should receive the exception and handle it in a manner which does not result in deadlock and is well explained. By giving a new parameter to scheduler, we could dictate what this behavior is (Ignore and continue, raise exception, stop HPO early, etc.)

Currently, when a trial has an exception, the

[2020-02-26 20:37] Innixma commented on #329
Regarding this, could you apply the same additional locks to skopt searcher? Currently it is unstable.

[2020-02-26 20:58] Innixma commented on #139
I have tested after latest HPO fixes and it appears that hyperparameter_tune=True is now stable on MacOS (Including for Neural Network). I have not built mxnet from source.

mxnet version: 1.5.1.post0

[2020-02-26 22:05] jwmueller commented on #329
Perhaps we can better utilize inheritance / class hierarchy to prevent issues like this going forward?

For example, in the `BaseSearcher`, we could have something like this:
[code]

and then instead of `get_config()` method, each usable Searcher can have internal `_get_config()` method used to return the next configuration, which doesn't have to worry about error-handling, locking, etc.  We can p

[2020-02-27 08:35] mseeger commented on #329
Hmm, I think get_config is the wrong one to wrap. Recall that there are two things happening:

1) Scheduler obtains new value(s) from jobs via reporter, calls update of searcher
2) Scheduler asks searcher for new config to start (get_config)

When a job fails, this should go through 1), not 2). What would be great if the reporter could be asked whether the job has failed. An easy idea would be tha

[2020-02-27 11:40] razmikmelikbekyan commented on #329
Hello, I experimented similar problems, when using schedulers for training some custom train functions. I suggest the following solution.

- to implement custom process object, which provides info about exception
- before trying to get info from local reporter queue  we can check the exception of the process (which is the process which is running model trial)
               https://github.com/awsl

[2020-02-27 18:19] jwmueller commented on #329
My pseudocode / suggestion to better utilize inheritance was not really intended to address error-handling specifically.  Rather it is to address an issue I keep seeing: as new changes are being made to improve certain schedulers/searchers, they are not being made in the rest of the searchers/schedulers thus leading to inconsistencies that shouldn't exist (and this'll get worse as more algorithms

[2020-02-28 08:50] mseeger commented on #329
@jwmueller
You are making great points. It would be great to formulate the requirements for a new searcher in the header comments of BaseSearcher. Even better if they were enforced by abstract methods.

I'd be very interested in this, because as you know, we are about to contribute a bunch of new searchers which are quite sophisticated, and I am not sure we are currently supporting all the points

[2020-02-28 08:51] mseeger commented on #329
I will make sure our new searchers respect the default config requirement.

[2020-02-28 09:02] mseeger commented on #329
OK, while I am doing this: Are you sure that configspace.get_default_configuration() always returns a sensible config to evaluate at? What I mean, is the AG user who specifies the evaluation function, also required to provide a default config?

[2020-02-28 18:46] jwmueller commented on #329
Regarding this point, I think all of our default HPO spaces (used when the user does not specify anything) should absolutely have a well thought-out default_config.  This is one of the easiest ways to improve performance reliability.  For user-defined custom HPO spaces, I believe ConfigSpace already automatically selects defaults even when they are not specified by the creator of the HPO space (eg

[2020-03-02 17:28] austinmw commented on #149
Hi, I'm also experiencing this NN hanging, in SageMaker using the MXNet DLAMI's as base images. Doesn't look like they have pynvml installed. This happens with both CPU and GPU images:

`197237853439.dkr.ecr.us-east-2.amazonaws.com/autogluon-tabular-data-cpu-py36:latest` and
`197237853439.dkr.ecr.us-east-2.amazonaws.com/autogluon-tabular-data-gpu-py36-cu101:latest`

To test, I've been trying diffe

[2020-03-02 23:00] Innixma commented on #149
@austinmw This may be related to #345. Uncertain at this time though, as your issue is only on SageMaker. If it persists after #345 is merged, please make a new issue for this and we will look into it.

In your cpu_freeze.txt, you have LightGBM 2.3.0, but it should be 2.3.1 if you are using latest AutoGluon in mainline. Did you pip install (not fixed) or build from latest source (fixed)?

[2020-03-03 16:17] austinmw commented on #149
Oops, good catch, had LightGBM 2.3.0 in my requirements file. Same issue with latest versions though. Will wait for that merge and check again, thanks.

[2020-03-03 18:36] Innixma commented on #149
I'd recommend considering removing your requirements file altogether to ensure AutoGluon is installed with its preferred dependencies.

As for GPU, we have #263 . Currently Tabular does not support GPU but it could likely achieve significant speedups in areas you mentioned if the functionality was added. Feature pruning is an interesting use-case, but would require some more thought on how it coul

[2020-03-04 07:56] razmikmelikbekyan opened #349 "k nearest neighbors model ignores categorical features"
https://github.com/awslabs/autogluon/blob/2b11a59a0e9af6c71f23ecb9607d61f954ba1a10/autogluon/utils/tabular/ml/models/knn/knn_model.py#L26

[2020-03-04 08:42] jwmueller commented on #349
Categoricals eventually shouldn't be dropped like they are currently, but simply converting them to int is also inappropriate for kNN since the distance between different pairs of categories should remain equal.  One-hot encoding satisfies this property, but has the downside that different features with different # of categories will end up with totally different distances.

I see a couple preproc

[2020-03-04 14:47] razmikmelikbekyan commented on #349
Thanks for detailed explanation and possible solutions. Do you think if this kind of solution can be applied also in general for all models? At least mean target encoding.

[2020-03-04 17:23] Innixma commented on #349
Target mean encoding is something that is greatly desired in future. For now, the built-in categorical support we have in LightGBM, CatBoost, and the neural network model mitigate some of the losses we have for not doing target mean encoding (CatBoost actually does TME internally), but there is definitely significant improvements that can be had from it.

A great breakdown of TME strategies is ava

[2020-03-04 17:32] aaronkl opened #350 "error in disrtribued fifo scheduler"
If I run the distributed fifo scheduler across multiple instances I get the following error

    autogluon.protocol.core - CRITICAL - Failed to deserialize
    Traceback (most recent call last):
    File "/usr/local/lib/python3.6/site-packages/distributed/protocol/core.py", line 106, in loads header = msgpack.loads(header, use_list=False, **msgpack_opts)
    File "msgpack/_unpacker.pyx", line 195,

[2020-03-04 19:03] Innixma commented on #350
Is this for Tabular or is this generic? Tabular doesn't support distributed at the moment.

[2020-03-04 22:18] aaronkl commented on #350
It's the generic case. I will try to create a script that reproduces this behavior, but that might be a bit tricky with my distributed setup.

[2020-03-05 08:22] mseeger commented on #350
Hi Aaron, this reminds me to something I had a while ago, in a different context.

JSON does not support "tuple" as datatype, you need to convert it to "list". Maybe the key is done by JSON in some way?

[2020-03-05 08:23] mseeger commented on #350
Is there a stack trace, so we understand what part of the AutoGluon code is causing this?
For example, which method in FIFOScheduler?

[2020-03-05 08:43] mseeger commented on #350
BTW: I am confused. I grep for any of these error messages, or parts of them, and I do not find anything! ??

[2020-03-05 12:18] aaronkl commented on #350
the following code snippet should reproduce the error:

    import autogluon as ag
    import numpy as np

    dist_ip_addrs = # add list of worker IP addresses here

    @ag.args(p=ag.Real(0, 1),
             epochs=10,)
    def train_fn(args, reporter, **kwargs):

       for e in range(args.epochs):
            epoch = e + 1
            r = np.random.binomial(1, p=args.p)

            reporter(e

[2020-03-05 17:04] austinmw commented on #149
Tested with latest master and still hanging with NN. May be out of scope here since it's only happening in sagemaker, but will continue trying to figure out what's causing it.

[2020-03-05 23:02] Innixma commented on #283
This logging has been fixed in latest version, it is now readable.

[2020-03-05 23:02] #283 closed

[2020-03-05 23:05] #212 closed

[2020-03-06 22:15] #232 closed

[2020-03-06 22:16] #237 closed

[2020-03-06 22:18] Innixma commented on #243
@zhanghang1989 Can you please respond to this issue or mark as resolved if it is outdated?

[2020-03-06 22:20] Innixma commented on #213
Resolving, please re-open if issues still persist.

[2020-03-06 22:20] #213 closed

[2020-03-06 22:21] Innixma commented on #218
@zhanghang1989 Could you respond to this issue?

[2020-03-06 22:21] Innixma commented on #223
@zhanghang1989 Can you respond to this issue?

[2020-03-06 22:25] #245 closed

[2020-03-06 23:41] #198 closed

[2020-03-07 00:10] zhanghang1989 commented on #243
Could you follow the solution here https://github.com/awslabs/autogluon/issues/163#issuecomment-573388784

[2020-03-07 00:12] zhanghang1989 commented on #218
I believe this issue has been resolved.
Could you try the newest tutorial?

https://autogluon.mxnet.io/tutorials/image_classification/beginner.html

[2020-03-07 01:43] zhanghang1989 commented on #350
Hi @aaronkl , Thanks for reporting the issue!
Looks like maybe a bug recent introduced in master branch, or some system setting error.

I have created a AWS public AMI with id of ami-02bb25a14053a257b with stable autogluon version.

You can start new p3.2xlarge instances and try it.

I have just tested both your code and the [distributed tutorial](https://autogluon.mxnet.io/tutorials/course/distri

[2020-03-07 03:28] jwmueller commented on #349
Most definitely!  If you're interested in helping with this, I'd implement the TME as a general preprocessing function that just happens to be used by the kNN model.  A good next step after that would be to also create a second Neural Net that also operates on TME-preprocessed categorical data as a more efficient alternative to our current network's embedding layers. The kNN will almost certainly

[2020-03-09 09:25] razmikmelikbekyan commented on #349
Yep, I would try to help.

[2020-03-11 00:44] zhanghang1989 commented on #302
This should be resolved by inverting the PR.

[2020-03-11 00:44] #302 closed

[2020-03-11 05:59] shashankprasanna opened #356 "Spiky GPU utilization when training image classification tasks"
When running shipping samples for image classification directory - cats/dogs, plant seedlings, aerial cactus etc. I notice very spiky GPU utilization behavior.

Repro: Follow the steps to download the kaggle datasets and run benchmark.py with suggested options on this page:
https://github.com/awslabs/autogluon/tree/master/examples/image_classification

Open a separate terminal window and run:
`wat

[2020-03-11 14:24] aaronkl commented on #350
ok it's seems the problem went away with latest changes in the master branch

[2020-03-11 14:24] #350 closed

[2020-03-11 20:41] jwmueller commented on #356
I doubt this explains your issue, but FYI we do expect GPU utilization to drop between training trials.  AutoGluon will train many networks under different hyperparameter configurations, and there is a brief gap in between training runs where GPU may not be utilized.  However, I assume your GPU utilization is constantly oscillating all the time, not just between training runs (so this is not the e

[2020-03-11 21:12] shashankprasanna commented on #356
I observe this behavior during a single training run, and it appears to happen during an epoch. Something’s not right and I don’t know how to debug/diagnose.

[2020-03-12 18:41] aptsunny commented on #356
@shashankprasanna  Thanks for the feedback. In my point of view, the GPU utilization does fluctuate spiky within this range [0%, 90%] in the tasks included in the example, even during a single training run. Generally speaking, the GPU computing amount of the same computing task is fixed. The high GPU utilization during the training process means that the actual running time is less. and about GPU

[2020-03-12 21:21] Innixma commented on #356
@aptsunny Are you saying that you expect spikes in GPU utilization and that is not a problem? If we expect spikes, my question would be why? If we don't, can you try to reproduce this GPU spike behavior and detail what part of the code causes it? Perhaps performance improvements could be gained if the utilization did not spike?

[2020-03-13 06:14] bharathkumar-kancharla opened #357 "AttributeError: 'numpy.int64' object has no attribute 'asscalar'"
**This is for image classification problem**

output of predict function i.e., inds is directly being to passed into **generate_csv** function without any intermediate steps

**Note:** code was executed in kaggle kernels
**Link:** https://www.kaggle.com/bharath901/hackerearth-deep-learning-challenge-auto-tag-image

code:
[code]
**Error:**
[code]

[2020-03-14 23:51] drjah opened #359 "Are resnet18 and resnet50 the only architectures tested for image classification?"
I used autogluon to train an image classifier.
It was easy to do, but when I ran
    fit_summary = classifier.fit_summary(verbosity=1)
the result includes:
    net.choice', Categorical['ResNet50_v1b', 'ResNet18_v1b']

In prior tests I ran using mxnet and gluon (not autogluon), using vgg19, I got better accuracy  for my classification task (identifying the vertebra I found with object detection) th

[2020-03-15 18:55] zhanghang1989 commented on #359
All Gluon-CV models are built-in https://gluon-cv.mxnet.io/model_zoo/classification.html
For example you can use `net='VGG19_bn'`

[2020-03-15 22:39] drjah commented on #359
Thank you for the response. I will try to run autogluon specifying more
models to try.

On Sun, Mar 15, 2020 at 11:55 AM Hang Zhang <notifications@github.com>
wrote:

[2020-03-17 00:47] austinmw opened #360 "[Feature Request] OD meta_arch center_net"
Hi, curious if it's been considered adding center_net from GluonCV into the supported OD meta_arch's?

[2020-03-18 02:35] Innixma commented on #163
Using AutoGluon 0.0.5, I am able to get it working in Colab through:

[code]

RESTART RUNTIME

[code]

[code]

One thing I noticed was that NN takes ~3x longer to train than on my mac laptop. Intel MKL is installed on Colab and should be uninstalled to speed-up AutoGluon. Uninstalling MKL gives at least 2x speedup.

Link to Colab Notebook: https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qW

[2020-03-18 02:39] #163 closed

[2020-03-18 02:40] Innixma commented on #243
Duplicate of #163. Please follow the solution in #163 to fix, thanks!

[2020-03-18 02:40] #243 closed

[2020-03-18 02:41] Innixma commented on #162
This issue stems from #163. Please follow the fix outlined in #163 to resolve. Thanks!

[2020-03-18 02:41] #162 closed

[2020-03-18 15:19] drjah commented on #359
This worked great for image classification with
import autogluon as ag
nets=ag.space.Categorical('SE_Net_154', 'SE_ResNext101_32x4d')
# choose models from https://gluon-cv.mxnet.io/model_zoo/classification.html
# then include net=nets in the task.fit command

Thanks!

[2020-03-18 15:19] #359 closed

[2020-03-18 16:39] drjah opened #364 "RecordIO format does not worl with image classification?"
While a RecordIO format dataset can be loaded without error using:

    import autogluon as ag
    dataset = ag.task.image_classification.RecordDataset('file.rec')

the fit command fails with the message:

.....autogluon/task/image_classification/dataset.py", line 206, in num_classes
    raise NotImplementedError

Is there a trick to getting this to work?
The recordio format file I am using works

[2020-03-19 05:36] zhanghang1989 commented on #364
Could you try the following command?
[code]

[2020-03-19 05:39] zhanghang1989 commented on #357
@aptsunny Could you have a look at this problem?

[2020-03-19 09:26] aptsunny commented on #357
@bharathkumar-kancharla some wrong with variable type. https://github.com/awslabs/autogluon/pull/365

[2020-03-19 16:35] drjah commented on #364
Thanks for the response.
I tried this but got the same error from dataset.py about num_classes not
implemented
The rec file was created using im2rec.py

On Wed, Mar 18, 2020 at 10:36 PM Hang Zhang <notifications@github.com>
wrote:

[2020-03-19 16:41] #357 closed

[2020-03-20 18:51] doccosmos opened #368 "ImageClassification example crashes with out of memory error"
I'm trying the ImageClassification example on a Linux box:

Linux rico 3.10.0-327.36.1.el7.x86_64 #1 SMP Wed Aug 17 03:02:37 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

running Python 3.7 (Anaconda distro) with CUDA 10.1 and the appropriate autogluon package.  The TabularClassification example runs absolutely fine but the ImageClassification crashes:

...                       epochs=5,
...

[2020-03-20 23:23] zhanghang1989 commented on #368
can you reduce the batch size?

[2020-03-20 23:25] doccosmos commented on #368
I'm just following the example notebook so am surprised it crashes.

[2020-03-21 00:15] Innixma commented on #329
This has now been resolved thanks to #345 and #354. Resolving the issue.

[2020-03-21 00:15] #329 closed

[2020-03-21 00:56] jwmueller opened #370 "Handling ID columns in TabularPrediction"
Many tabular datasets contain an "ID" integer column that is useless as a predictive feature.  Such features are often actively harmful to include as predictors (eg. because they take larger values in test data than in training data).

Currently, AutoGluon users should manually declare such columns via the keyword-arg `id_columns` in `TabularPrediciton.fit()` and the AutoGluon will ignore them.

H

[2020-03-21 12:23] elife33 opened #371 "autogluon-0.0.6 tabular_prediction predictor.evaluate fail in Python 3.6.9"
Traceback (most recent call last):
  File "t2.py", line 12, in <module>
    performance = predictor.evaluate(test_data)
  File "/home/elife/.local/lib/python3.6/site-packages/autogluon/task/tabular_prediction/predictor.py", line 148, in evaluate
    perf = self._learner.score(dataset)
  File "/home/elife/.local/lib/python3.6/site-packages/autogluon/utils/tabular/ml/learner/abstract_learner.py", li

[2020-03-21 12:46] elife33 commented on #371
python in Mac OS X is 3.7.7

[2020-03-21 13:41] elife33 commented on #371
autogluon-0.0.6 not support model of autogluon-0.0.5

[2020-03-21 13:41] #371 closed

[2020-03-21 14:40] oke-aditya opened #372 "Google Colab : Unable to install autogluon"
Hey team.
I tired installing autogluon on google colab. But it seems to give me an error.
Does a simple pip install not work ?
There is import error
`ImportError: cannot import name 'isStringType'
`

![image](https://user-images.githubusercontent.com/47158509/77228814-e09c2600-6baf-11ea-86c7-63d7039d0e6d.png)

[2020-03-21 14:44] oke-aditya commented on #372
- Is this issue linked to #171 ?

[2020-03-22 07:51] Innixma commented on #371
Thanks for clarifying! It may be useful in future for us to add a message warning someone who loads a model trained on a different version of AutoGluon. At the current time of development, it will very likely be the case that models trained in old versions will not work on newer versions.

[2020-03-22 07:55] Innixma commented on #372
Please see #163 for the solution, I believe it should solve your problem. Unfortunately Colab uses an old version of Tornado and needs a bit of extra code to get working with AutoGluon. Resolving for now, please let me know if you have any issues!

[2020-03-22 07:55] #372 closed

[2020-03-22 11:52] oke-aditya commented on #372
- It isn't solving the issue. I just tried as you said. It is still giving me error.

![image](https://user-images.githubusercontent.com/47158509/77248728-ac813d80-6c61-11ea-894a-e64000a66160.png)

[2020-03-22 11:53] oke-aditya commented on #372
Link to Colab Notebook:

[https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qWgGnxUpr9zVQVYlr](https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qWgGnxUpr9zVQVYlr)
i used the above notebook. It is not working

[2020-03-22 19:28] Innixma commented on #372
Seems that for 0.0.6 doing the ipykernel upgrade at the start doesn't work, but it does if you put it at the end of the installs.

I have updated the notebook and the instructions in #163. Do note that you have to manually restart the Colal runtime prior to importing autogluon (There is a cell that mentions this)

Notebook:
https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qWgGnxUpr9zVQVYlr

[2020-03-23 09:27] oke-aditya commented on #372
- Works like charm. No issues now. This alternative works.

[2020-03-23 11:51] elife33 opened #376 "TabularPredictor's predict is very slow!"
I had trained a TabularPredictor model, when I called  evaluate() at 50k+ samples, it took 3.991s. But when I called predict() at a sample for 100 times,  it took 151.334s. Why predict() is so slow?!

[2020-03-23 16:58] Innixma commented on #376
Could you provide a code sample? Predictor.evaluate() should take at least as long as Predictor.predict(), as evaluate calls predict internally.

Can you also clarify what you mean by 'called predict() at a sample for 100 times', are you saying that you are only passing in 1 row, and that the average runtime was 1.5s?

If so, you can speed-up these kinds of predictions with the following line of c

[2020-03-24 00:40] elife33 commented on #376
Thanks Innixma! Yes, I mean only passing in 1 row, and that the average runtime was 1.5s.
After I add predictor._learner.persist_trainer(low_memory=False), the average runtime reduced to 0.6s.

The code is below:
fn='/Users/elife/work/ai/ml/dl/autogluon/dtlQT/NNQT-Bn/AutogluonModels/ag-20200321_133804'
predictor_0= ag.task.tabular_prediction.predictor.TabularPredictor.load(fn)
fn='/Users/elife/wor

[2020-03-24 21:32] Innixma commented on #304
Hi @ccll ,

The latest AutoGluon 0.0.6 now has built in feature importance support for Tabular. After getting your fitted predictor object, simply call predictor.feature_importance(X_test) or predictor.feature_importance().

Documentation: https://autogluon.mxnet.io/api/autogluon.task.html#autogluon.task.tabular_prediction.TabularPredictor.feature_importance

Note that feature pruning is still not

[2020-03-25 06:25] CoinCheung opened #377 "How could I save fitted model and reload in in another script ?"
Hi,

I am new to autogluon, and I find the basic usage in the [page](https://autogluon.mxnet.io/tutorials/object_detection/beginner.html) which shows how could I train a yolov3 model. After the training is done, I need to save the trained best model, and use the saved model for prediction in the future tasks. I have found no explicit save/reload example in the docs, would you please tell me how co

[2020-03-25 08:39] elife33 commented on #376
Thanks for the kind and helpful answer! In my case, predictor.leaderboard shows
                         model  score_test  score_val   fit_time  pred_time_test_full  pred_time_test  pred_time_val  stack_level
0           CatboostClassifier    0.536633   0.579560   3.186842             0.011617        0.011617       0.011825            0
1   RandomForestClassifierGini    0.535645   0.650602   3.38

[2020-03-25 12:26] tlienart commented on #139
FWIW, I'm on macOS, built MxNet 1.6 from source with MKL, and used AG 6b247bfea9d504381cc512e36ba1909e6c54c0c3 I was able to run `tabular-indepth` without issue. Maybe this issue can be closed?

[2020-03-25 15:16] tlienart opened #378 "Balanced accuracy error"
(this is with 6b247bf)

Consider (from `tabular-indepth` tutorial):

[code]

**with ag**

[code]

**with sklearn**

[code]

### Reason

I believe the issue stems from this line: https://github.com/awslabs/autogluon/blob/6b247bfea9d504381cc512e36ba1909e6c54c0c3/autogluon/utils/tabular/metrics/classification_metrics.py#L21

which would be ok if `prediction` and `solution` have been encoded to intege

[2020-03-25 17:04] mseeger opened #380 "How is train_fn.cs.get_default_configuration() being set?"
This is a question about the code.
The first config which is evaluated, is train_fn.cs.get_default_configuration().

I am wondering how this config is set if the user does not set it as part of the @ag.args definition? And moreover, can the user set it (and how)?

Some quick digging in the code (core/decorator.py, core/space.py) did not produce something obvious. Is this logic in AutoGluon, or in

[2020-03-25 19:22] Innixma commented on #376
Great to hear that this worked for you! You can combine this with

`predictor._learner.persist_trainer(low_memory=False)`

To speed it up even more.

We will be adding more options to make this easier to use and more visible to users. Specifically we plan to have a way for a user to specify a desired speed and then AutoGluon automatically selects the best model to satisfy that constraint.

I am ma

[2020-03-25 19:22] #376 closed

[2020-03-25 19:38] Innixma commented on #139
I'll add a clarifying statement to this issue: If you build mxnet from source, it works correctly. Issues only happen if mxnet is not built from source but instead pip installed. Even if you pip installed mxnet, it still works sometimes, but fails seemingly at random.

[2020-03-25 20:04] austinmw opened #381 "Issue with f1 eval_metric and net.evaluate_predictions"
On a tabular binary classification problem ("yes"/"no" labels rather than 0/1). I'm able to run `net.evaluate_predictions` successfully with `eval_metric='accuracy'`, but when I switch to `eval_metric='f1'`, and rerun evaluate_predictions, I get an sklearn error:

`pos_label=1 is not a valid label: array(['no', 'yes'], dtype='<U3')`

Not sure if this needs to be fixed since I could probably just m

[2020-03-25 20:09] zhanghang1989 commented on #380
User can setup the default value when creating the search spaces, for example:
[code]
If the user doesn't setup the fault value, ConfigSpace will automatically suggest defaults, which is usually the average between upper and lower values.

[2020-03-25 20:10] Innixma commented on #381
This is likely because evaluate_predictions takes in the prediction values after they were converted to the external user representation, but does not convert them to the internal representation before doing evaluations. This should be fixed by converting the inputs to internal representation through self._learner.label_cleaner inside evaluate_predictions()

@jwmueller Can you take a look and see

[2020-03-25 20:40] mseeger commented on #380
Thanks!

[2020-03-25 20:40] #380 closed

[2020-03-26 00:29] #378 closed

[2020-03-26 06:36] sxjscience opened #382 "Singeleton pattern for the task API"
Currently, in AutoGluon, we will do the following, in which `TabularPrediction` is used as a singeleton.

[code]

A more natural design choice is to create a new class object and call fit as a method.
[code]

@Jerryzcn

[2020-03-26 08:22] tlienart opened #383 "[tabular-metrics] add confusion matrix + derived metrics"
As a follow up to #379 the suggestion would be to

- add some code to compute a C x C confusion matrix where C is the number of classes
- add some code to compute metrics on said confusion matrix (e.g. balanced accuracy)

I'm happy to eventually open a PR for this but would welcome suggestions as to what metrics are most relevant beyond the binary case.

~~Possibly related #381~~

PS: one thing th

[2020-03-26 21:30] Innixma commented on #382
I think this is reasonable, it aligns with how H2O and auto-sklearn function. It will be a major refactor in terms of user-facing API, so we should save it for a major release.

I am curious what we would gain from this outside of it being more 'natural'. I suppose we could add info/utility functions that would explain the parameters they passed in? Would .fit() still take in the data itself as a

[2020-03-26 21:35] Innixma commented on #383
A lot of the current metrics code is based off of auto-sklearn's metrics, which is based off the sklearn metrics.

The benefit of this approach would be that you could compute multiple metrics more efficiently if you re-used the C x C confusion matrix between them correct? I think the metrics we would care about in this instance would be the metrics which are computationally expensive to calculate

[2020-03-26 21:36] Innixma commented on #377
@Jerryzcn and @zhreshold , can you please respond to this issue?

[2020-03-26 21:40] sxjscience commented on #382
@Innixma I think `.fit()` will still take the data as the input parameter. The difference is that we can pass some specific requirements like time budget and inference latency when constructing the `task`, e.g.

[code]

Then, we will automatically learn a predictor that obeys the budget constraint.

[2020-03-26 21:51] zhreshold commented on #377
@zhanghang1989 @chongruo
By checking the existing detector implementation, I found there's no implemented `save` and `load` function, do you guys have discussion about this before?

@CoinCheung The easiest solution for you is to use `pickle` to dump and load the detector object. We will update once we have concrete solution for serialization and de-serialization.

[2020-03-26 22:41] Innixma commented on #382
@jwmueller Any comments on this?

[2020-03-26 22:44] Innixma commented on #377
It was discussed before, but I don't think action was taken to implement it: #183.

I think this should be high priority to enable ease of use for users.

[2020-03-26 23:30] zhanghang1989 commented on #377
Sorry that I am not familiar with object detection code.
`detector.model.save_parameters('net.params')` should save the mxnet model params.

[2020-03-26 23:35] zhanghang1989 commented on #260
FYI.
An example of using image classification docker is available:
https://github.com/zhanghang1989/AutoGluon-Docker

[2020-03-27 01:29] Innixma commented on #260
We are actually working on a SageMaker container for AutoGluon, hopefully we can give further updates in the next few weeks.

[2020-03-27 02:10] CoinCheung commented on #377
Thanks for replying !!!  if this problem is solved, please add a few lines to the doc so that we could figure this out faster.

[2020-03-27 04:24] ccll commented on #304
@Innixma
Yohoo! Thank you for the great work.
I'll try that later.

[2020-03-27 09:23] tlienart commented on #383
What I mean is that sklearn already does this, as far as I'm aware when you call `balanced_accuracy_score` with sklearn it forms the confusion matrix.

I could rephrase as follows, either one of the following two options makes sense IMO but not a mix of the two:

* reduce dependency on sklearn, bring here essential code for metrics we care about, all metrics are computed by this package directly o

[2020-03-27 20:25] Innixma commented on #383
I think we should stick with thinking of sklearn as a hard-dependency (even more-so than mxnet). It is so widely used and useful that I don't think we should consider rewriting our own versions if the sklearn ones satisfy our needs.

As to why some of the metrics don't use sklearn, that is hard to tell. Those decisions were made a long time ago and I don't remember exactly what was simply re-used

[2020-03-27 20:27] tlienart commented on #383
that makes sense, but so I suggest closing this for now and maybe leaving the balanced accuracy code as it is for now; if there's later work on metrics it might be good to have another think.

[2020-03-27 20:27] #383 closed

[2020-03-27 22:27] jwmueller commented on #382
I agree the instantiating the `TabularPrediction` object is more natural Python, but what properties would be set when the object is instantiated to justify this extra line of code?  I don't think the object constructor should be tracking time-limits, those should be in `fit()` since they are never used afterward.  But the object constructor could be appropriately used for things which remain rele

[2020-03-27 23:11] sxjscience commented on #382
Yes, we can set some evaluation metrics bound to the learning task. We could also probably set 1) the IP address of the servers, 2) the directory that the task will use for storing temporary results. Putting the learning-related arguments inside `fit()` will end up with a very large fit function. Nevertheless, this is just something that would be nice to have.

[2020-03-28 00:00] Innixma commented on #171
Marking this issue as resolved since the website instructions are correct.

[2020-03-28 00:00] #171 closed

[2020-03-28 00:12] jwmueller commented on #381
Thanks for pointing out this issue.  It should be fixed in this PR:  https://github.com/awslabs/autogluon/pull/387

Note that in the meantime before this PR is merged, you can just do the following as long as the label column is still present in your test_data Dataframe:
[code]

[2020-03-28 00:30] jwmueller commented on #382
In principle, I agree with including the directory since its relevant outside of `fit()`.  However, this comes with some thorny issues. Suppose the user calls `task = TabularPrediction(directory=...)` and then calls `a = task.fit(...)`, `b = task.fit(...)`.  The second `fit()` will overwrite the files of the first which may be less intuitive to the user than when they explicitly have to pass the d

[2020-03-28 00:39] sxjscience commented on #382
I find that there is actually another `Learner` class in AutoGluon, which behaves more similar to the model in scikit-learn.

[2020-03-28 00:48] aptsunny commented on #368
Hi, @doccosmos thank you for your feedback. Would you provide more details, like your operating system, hardware configuration (CPU/GPU/memory/disk, etc), data you used?

[2020-03-30 20:47] Innixma commented on #382
Learner was the original user-facing API prior to open-source, however we added Predictor as a wrapper to it to conform to the API of ImageClassification and TextClassification.

[2020-03-30 21:33] jwmueller commented on #381
PR has been merged.

[2020-03-30 21:33] #381 closed

[2020-03-31 00:26] jwmueller opened #390 ""previewsave" tool ValueError in Predictor.fit_summary() (only for bokeh versions > 2.0.0, autogluon versions <= 0.0.6)"
If you are using autogluon versions <= 0.0.6, you may encounter ValueError regarding "previewsave" tool when calling `Predictor.fit_summary()` if you have installed bokeh version > 2.0.0 (due to a recent non-backwards-compatible bokeh update).

In this case, you do not need to retrain your models to use `fit_summary()`; instead simply pip install an older version of bokeh (e.g. 1.4.0), reload your

[2020-03-31 00:26] #390 closed

[2020-03-31 05:19] nithila-yalamanchi opened #392 "Callbacks for every epoch"
Hey guys, so I've been using autogluon for a while now but I unable to figure out a way to have a Hook/Callback which is called after every epoch and after every model is trained. So, I'd highly appreciate if you guys could point me to the appropriate method if it is already implemented else please let me know how to add my own callbacks function.

[2020-03-31 09:27] mseeger commented on #392
Hello, your training evaluation function calls the reporter after each epoch, passing on data, which has to include the validation metric (such as accuracy -- careful, the metric must be such that larger is better). Have a look at an example, and note the reporter is passed as argument to the evaluation function.

You can then look into the code for schedulers (e.g. FIFOScheduler and HyperbandSche

[2020-03-31 15:44] nithila-yalamanchi commented on #392
Hey, thanks for the quick response. I’ve tried this method and these seem to work if we have our own training function, but for some components in my project, I’m using TabularPrediction.fit() and I need to have the callbacks mechanism for the same on tabular data. Though I’m able to get fit_summary (after training with final accuracy values for each model but not with intermediate values), I need

[2020-03-31 18:05] Innixma commented on #392
Hi Nithila,

Thanks for the question and feedback! Tabular currently doesn't support user-specified callback functions. I am unsure if this is the case for ImageClassification as well or exclusive to Tabular.

Adding custom callback support gets a bit tricky since not all models have a concept of an 'iteration', and in particular, I don't believe CatBoost has the ability to have a callback functio

[2020-03-31 23:21] jwmueller commented on #392
Like Nick said, TabularPrediction uses many models by default, many of which are not trained in "epochs".  If you're ok to solely use the neural network model in TabularPrediction (this will result in lower accuracy), then you can record per-epoch callbacks with these steps:

1) Install autogluon from source (and install mxboard):
[code]

2) Go to this line of code: https://github.com/awslabs/auto

[2020-04-01 09:44] mseeger opened #398 "Why exactly is FIFOScheduler.state_dict and load_state_dict needed?"
Hello,

we are stuggling with FIFOScheduler.state_dict failing because the line

destination['searcher'] = pickle.dumps(self.searcher)

fails. This is because our searcher is a complex object, containing several members that just cannot easily be pickled.

Could somebody tell me why this state_dict method is needed? I see this could be nice to have in order to restart an aborted experiment, but we

[2020-04-01 12:45] mseeger commented on #398
OK, looking at the code, this seems to be mainly used for checkpointing, so a solution for us is to switch off checkpointing.

I find it quite risky to blindly rely on pickle.dumps and pickle.loads to just work for a complex object, like a searcher or a scheduler. So I'd recommend to switch checkpointing off by default, until it is established it actually really works.

[2020-04-01 13:19] braaannigan opened #399 "LightGBM error special JSON characters in feature name"
Hi - great library everyone!

I'm doing tabular prediction with news article data.  The LightGBM model doesn't run with the following error:
[code]
The upstream issue in LightGBM is here:https://github.com/microsoft/LightGBM/issues/2455

Basically they check for special json characters .e.g ```[],{}":``` in features names and throw an error if found. Could autogluon check for these characters and

[2020-04-01 18:14] Innixma commented on #399
Good catch, thanks for the info! Just to clarify, LightGBM fails in this scenario, but the rest of the models train successfully and you are able to get a result from AutoGluon?

If so, I think I can look into fixing this, the question is if I can get it to still use the features rather than dropping them entirely (I think I can by clever renaming).

[2020-04-01 18:39] Innixma commented on #251
@zhanghang1989 This looks like a bug that still requires a manual fix by the user, can you confirm if this is still the case?

[2020-04-01 18:46] braaannigan commented on #399
Yep, everything else works fine and I get a result at the end

[2020-04-01 18:55] Innixma commented on #175
Merged and utilized networkx in #385

[2020-04-01 18:55] #175 closed

[2020-04-01 22:28] zhanghang1989 commented on #398
Hi @mseeger
Yes, the `state` is mainly used for checkpointing.

For complex searcher, we may try the following solution:
1). implementing ``__getstate__`` and `` __setstate__`` to make the searcher object pickle-serializible.
https://stackoverflow.com/questions/11801284/how-to-overwrite-the-dump-load-methods-in-the-pickle-class-customizing-picklin
2). implementing ``save_state`` and ``load_stage``

[2020-04-02 07:15] mseeger commented on #398
OK, it would be "nice to have" that I can restart an experiment from a checkpoint, but given this is likely quite complex, I am just wondering whether there is anything in AutoGluon right now that depends inherently on this.

We also need to be clear what constitutes the state versus the remaining arguments. In the current code, the state does not contain everything to recreate the scheduler and s

[2020-04-02 08:47] braaannigan opened #401 "How to only train some of the models in TabularPrediction.fit()"
In my task the neural network component is adding a lot to the training time - which isn't a big deal - and a lot to the inference time - which is more important.  The NN component isn't adding a lot to the already excellent performance of the axis-aligned models in this case.

I'd like to fit the model without the NN. It appears that models can be specified in the hyperparameter option as
[code]

[2020-04-02 08:49] braaannigan commented on #401
Further info: in my case it takes about 30 seconds to do predictions on 1000 rows of data with the level 0 cat model, but I gave up before making any predictions with the full model - even on a single row it ran for at least 10 minutes without returning anything

[2020-04-02 16:43] zhanghang1989 commented on #398
There are not much code depends on this feature. We mainly provided this for the user who want to resume some experiments.

Yeah. I agree that the current implementation does not contain everything in searcher and scheduler. Users need to call it with the same arguments.

If we would like to store everything, we may make another experiment management object which launch the scheduler inside and st

[2020-04-02 17:56] jwmueller commented on #401
Apologies we should clarify our TabularPrediction documentation.
The `hyperparameters` dict currently has the following possible keys:
'NN', 'GBM', 'CAT', 'RF', 'XT', 'KNN', 'custom'
corresponding to 7 different models that can be trained.
To omit one of these models during `task.fit()`, you simply drop that key from the
`hyperparameters` dict.  For example, you can tell AutoGluon to only consider

[2020-04-02 18:38] jwmueller commented on #401
Note: if you mainly care about prediction time (inference latency), you also don't necessarily need to prevent AutoGluon from training all of its models.  If you don't require a high-accuracy ensemble, you can instead just tell AutoGluon to use the fastest of these trained models at inference time, like this:

First, invoke your default `predictor = task.fit()` call without specifying the `auto_st

[2020-04-02 18:52] Innixma commented on #401
I'm curious to know the scale of the data you are dealing with for a single row to take 10 minutes to infer with the ensemble. Does it contain text features? I don't think I've ever seen a model take that long on inference. Do you have Intel MKL installed? If so, I would recommend uninstalling it -> Intel MKL drastically slows down the NN train and inference time.

[2020-04-02 19:19] Innixma commented on #399
To aid in testing to ensure I am covering all of the failure cases, could you provide a sample training data of the news article data you are experiencing the problem with or the location which you obtained the data? If you wish to keep it private that is fine, but it could help accelerating the fix on my end.

[2020-04-02 21:00] braaannigan commented on #401
Great stuff everyone!

Thinking about it today I was wondering if my use case is a bit different from the standard tabular task.  My dataset are news articles pulled from a news api so one of the columns is a potentially long text article in contrast to typical tabular examples where text entries are generally short.  This gives rise to a high dimensionality in the text vectorizer (often about 30,

[2020-04-03 06:02] braaannigan commented on #401
Great stuff everyone!

Thinking about it today I was wondering if my use case is a bit different from the standard tabular task.  My dataset are news articles pulled from a news api so one of the columns is a potentially long text article in contrast to typical tabular examples where text entries are generally short.  This gives rise to a high dimensionality in the text vectorizer (often about 30,

[2020-04-03 06:16] braaannigan commented on #399
Sure - first 3 rows of csv are enough to trigger it - see attached zip.
[err.tar.gz](https://github.com/awslabs/autogluon/files/4425329/err.tar.gz)

Is there a way to access errors in the underlying models using the %debug in ipython?

[2020-04-03 09:43] Innixma commented on #401
Thanks for the info! I have mainly focused on standard tabular problems and haven't had a chance to deep dive into text problem performance. Very interesting that NN is impacted so heavily by text features. I may have to look into this and potentially disable text features for NN to keep it in-line with the other models. In the near future we intend to start adding fine-tuned BERT to the stack ens

[2020-04-03 14:48] braaannigan commented on #401
Great - AG already matches what I get with a fine-tuned roberta model (using the text column alone in the latter case), so think a bert element would be very powerful

[2020-04-03 21:09] Innixma commented on #401
If you want a neat trick right now to get a better result, you can probably do a weighted ensemble with equal weight of your BERT model and AG's model to get a major boost in score.

[2020-04-06 21:08] bitcoinvsalts opened #406 "How can I deploy my model on Heroku?"
Is there a node js package to deploy my model on heroku easily?

what is the best practice to deploy an autogluon model into an api for prediction?

[2020-04-06 22:39] Innixma commented on #406
Thanks for submitting an issue! I am not personally familiar with heroku or NodeJS, but perhaps @zhanghang1989 or @jwmueller will have more context to answer. We do have fairly comprehensive AWS SageMaker API support that will be available in the next month or so.

[2020-04-07 00:44] jwmueller commented on #406
Sorry I'm also not familiar with heroku, nor aware of any efforts to provide a NodeJS autogluon API.  If you can use Sagemaker instead, here are some resources for deploying AutoGluon there:

AutoGluon for tabular data on Sagemaker:
https://github.com/yoheigon/amazon-sagemaker-examples/blob/master/advanced_functionality/autogluon-tabular/AutoGluon_Tabular_SageMaker.ipynb

AutoGluon for image data

[2020-04-08 00:51] dbsxdbsx opened #407 "Reinforcement Learning with AutoGluon"
I just wonder if the technique is feasible iin a reinforcement learning job.

[2020-04-08 13:41] mseeger commented on #398
We can close this for now.
I will try something like this. I figure I can recreate a searcher object by starting from the current searcher object, as created in __init__ of the scheduler, and some standard Python data structures which can be pickled. This would circumvent the problem of having to create the searcher object from the pickled content alone, and the latter is not needed anyway.

[2020-04-08 13:41] #398 closed

[2020-04-08 20:44] Innixma commented on #407
Thanks for your question @dbsxdbsx !

Reinforcement Learning is not yet a supported task type in AutoGluon. The technique is likely feasible to extend to RL, however RL has many intricacies to it that often vary depending on the RL environment (Including the means to simulate the environment's interaction with the agent).

I would personally be very interested in exploring in this direction, as I

[2020-04-11 04:49] dbsxdbsx commented on #407
@Innixma ,thanks for your reply. I know it is not easy ,compared to supervise learning. It is just a suggestion.

[2020-04-11 22:27] Innixma opened #411 "Tabular: os.fork() called by MXNet NN model during prediction causing OOM"
This OOM error was caused during training of Albert OpenML dataset (Large) on m5.2xlarge. This OOM error has never been encountered before. (Happened 3 times on latest benchmark run on Albert and Airlines datasets).

The error happened during the setup for training the weighted ensemble with bagging and stacking disabled. Therefore, each model needs to do predictions on the validation data in turn

[2020-04-11 22:29] Innixma commented on #411
pip freeze output:

[code]

[2020-04-13 18:33] jwmueller commented on #411
To clarify, you never saw this issue previously show up on Albert/Airlines before this issue was posted, right?  Or do you think that in the previous runs, the NN never got a chance to produce this error due to time limits, and it is now producing the error because of increased efficiency in the other models?

[2020-04-13 21:02] Innixma commented on #411
I believe the latter given more thought. This run was on non-bagged, so every model trains 10x faster in a sense. It is also possible that it didn't run OOM on bagged version because it failed in the try/except part of the code during training (NN predicts on validation in fit() with bagging, which the exception can get caught and NN gets skipped).

[2020-04-13 23:08] jwmueller commented on #411
One fix that should avoid the `os.fork()` / multiprocessing is to change the `self.num_dataloading_workers` from:

[code]

in these lines:
https://github.com/awslabs/autogluon/blob/7e551a22921de4c2fdef594f99f7b06896a5ed6b/autogluon/utils/tabular/ml/models/tabular_nn/tabular_nn_model.py#L172-L174

to simply always have:
`self.num_dataloading_workers = 0`

This just supposes extra available threads

[2020-04-14 16:41] #364 closed

[2020-04-14 23:01] Innixma commented on #411
Do you know why it is running OOM? Is the fork causing memory doubling? Does it call fork for every core? Would it make sense to multi-thread instead? Forking and doubling memory would also be a significant time overhead, which would actually slow down most inference.

[2020-04-15 13:14] dsp6414 opened #414 "add model export onnx format"
how can i export nn model to   tf/pytorch/onnx format

[2020-04-15 22:15] Innixma commented on #414
@zhanghang1989 could you link the appropriate person to answer this question?

[2020-04-16 00:04] dsp6414 commented on #414
thanks.

---Original---
From: "Nick Erickson"<notifications@github.com&gt;
Date: 2020/4/16 06:15:21
To: "awslabs/autogluon"<autogluon@noreply.github.com&gt;;
Cc: "春笋"<386393335@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [awslabs/autogluon] add model export onnx format (#414)

@zhanghang1989 could you link the appropriate person to answer this question?

—
You are receiving thi

[2020-04-16 02:58] zhreshold commented on #414
@dsp6414 Not sure what model you are refering to, but for gluon models, you can checkout this tutorial to export to onnx: https://mxnet.apache.org/api/python/docs/tutorials/deploy/export/onnx.html

[2020-04-16 03:58] dsp6414 commented on #414
thanks.I have finished the model transform test.

---Original---
From: "Joshua Z. Zhang"<notifications@github.com&gt;
Date: 2020/4/16 10:59:15
To: "awslabs/autogluon"<autogluon@noreply.github.com&gt;;
Cc: "春笋"<386393335@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [awslabs/autogluon] add model export onnx format (#414)

@dsp6414 Not sure what model you are refering to, but for

[2020-04-16 09:09] precision2intelligence opened #415 "Why the trials are 2 even I have modified to 32?"
The scheduler I set is as following:
[code]
However, I only found 2 groups of hyperparameters after training, even the Pengding Tasks are 32.

Num of Finished Tasks is 0
Num of Pending Tasks is 32
  0%|                                                                                                                                                     | 0/32 [00:00<?, ?it/s]lr: 0.0007071068, wd: 0.00

[2020-04-16 18:33] Jerryzcn commented on #415
Can you post your search space?

[2020-04-16 18:34] Innixma commented on #414
Please re-open if you still have questions, thanks!

[2020-04-16 18:34] #414 closed

[2020-04-16 23:32] zhreshold commented on #411
Discussed offline with @jwmueller , according to the existing use case, there's no reason to use multiprocessing workers, since each worker process has to keep a copy of original ndarray.

Two choices here:
- Stick with `num_workers=0` for DataLoader, to avoid duplicate data in child processes
- Use `num_workers>0`, together with `thread_pool=True`, this will not bypass GIL, but can significantly

[2020-04-16 23:35] jwmueller commented on #411
Thanks for your input!  I think we should first try `thread_pool=True` to avoid

[2020-04-17 01:22] Innixma commented on #411
I was able to demonstrate NN slowdown on the current setting by creating a large list in memory before calling task.fit():

`long_lst = [i for i in range(200000000)]`

On my Mac, this 7 GB list increased inference time by ~20% consistently for the NN. This would probably be much more severe on a larger machine with more cores and more data in memory.

Inference Time by Scenario:
Normal: 0.48s
Long

[2020-04-17 02:12] jwmueller commented on #411
Interesting... after delving into it a bit, I also found the DataLoader behaves in counterintuitive ways.  Most of the public MXNet material regarding DataLoader practices is with regards to datasets stored on-disk rather than in-memory like the ArrayDataset we operate on.  Older MXNet models used to usually use DataIterator rather than DataLoader, but this documentation specifically recommends Da

[2020-04-17 07:21] zzdgit opened #418 "RuntimeError: Feature 'TVM_OP' is unknown, known features are: ['CUDA', 'CUDNN'........"
I was able to execute successfully last week and the environment didn't change, but I suddenly reported an error today

The error information is as follows:
[code]

 operating environment
[code]

[2020-04-17 13:50] precision2intelligence commented on #415
[code]

[2020-04-17 14:38] chongruo commented on #415
Did you set the value of time_limits? Maybe the running time of your job exceeds the limits?

[2020-04-17 14:45] precision2intelligence commented on #415
I suppose not. I use the default set. “time_out=None”.
[code]

[2020-04-17 15:59] Innixma commented on #411
Benchmark Results:
[code]

This suggests to use the current setting during training, and numwork0 for inference, or perhaps numwork0 for both in we want to lean towards memory stability. thread_pool=True should be avoided, at least for m5.2xlarge instances.

[2020-04-17 20:37] philschmid opened #420 "Integrate Weights and Biases (wandb) for logging."
Hi,

when i train models i often use [https://www.wandb.com/](https://www.wandb.com/) to track my hyperparameter and results of my training. I think it's an awesome tool to keep track of what you are using and what works best.

I thought i could be an awesome addition to autogluon. We could log every model from the training process separately and keep track of what is working better.

The [simplet

[2020-04-17 22:05] philschmid opened #421 "Search Strategy Error Object Detection"
Hi,

when i use `search_strategy='rl'` with `from autogluon import ObjectDetection as task`.

I´ll get an Error:
[code]

Steps to reproduce:
[code]

Environment:
I run AutoGluon in Google Colab

[2020-04-17 22:13] Innixma commented on #418
Thanks for the issue! Very strange assuming the environment did not change. @zhreshold perhaps you might know why, as the error is coming from mxnet.

One thing I do notice is that mxnet 1.4 is quite old, so perhaps upgrading to mxnet 1.5/1.6 will solve your issue.

[2020-04-17 22:25] Innixma commented on #420
Hi @philschmid, thanks for your suggestion!

I am unfamiliar with this tool. From the website it appears you need an account and subscription, and it isn't open source. This means that only users with an account would be able to utilize this functionality in AutoGluon, correct?

If you have an idea on how to gracefully add it as an optional dependency that does not impact normal AutoGluon when not

[2020-04-18 06:05] philschmid commented on #420
Hi @Innixma,

Weights and Biases is a managed "Logging, Experimenting, Tracking" Service for training. Unfortunately, it isn´t open-source, but you can create an account with your github user and it is free for personal usage. They have a similar pricing/account strategy like github, where you can have private and public projects, etc.

To use weights and biases you have to create a project in wei

[2020-04-18 14:08] zzdgit commented on #418
I tried version 1.6 of mxnet，but still reported an error。Then I switched to a server and it was fine。
I wonder what dependencies need to be installed to support TVM_OP。
thanks,

[2020-04-18 23:51] zhreshold commented on #418
@zzdgit I think you might have a corrputed mxnet installation. Try clean up the mxnet in pip site-package and reinstall again.

[2020-04-20 00:06] Innixma commented on #411
I tested with an additional configuration (called _mixed in the benchmark): training set is kept as is, but validation set and test sets for inference use numworkers = 0. This achieves the best result with no downsides compared to the other methods:

[code]

[2020-04-20 00:19] Innixma commented on #411
Please see #422 for the proposed solution.

[2020-04-20 01:03] dsp6414 opened #423 "How to use Image augmentation for image classification"
I still don't know how to use autogluon for sample augmentation, can anyone help me?

[2020-04-20 01:11] dsp6414 commented on #423
dataset.py [code]

 if train:
            transform = transforms.Compose(
                [
                    transforms.RandomResizedCrop(input_size),
                    transforms.RandomFlipLeftRight(),
                    transforms.RandomColorJitter(
                        brightness=jitter_param,
                        contrast=jitter_param,
                        saturation=jitter_para

[2020-04-20 01:15] dsp6414 opened #424 "How to do checkpoint and use the ‘’resume‘’ option for task.fit (image classification)"
can anyone help me?

[2020-04-20 01:19] dsp6414 commented on #424
i can save and load the model ,and also can export the model  mxnet json format and model params, but i still don't know how  to do checkpoint in the next task.fit when i change the args.

print(classifier)
print(classifier.model)
classifier.save('classification_test')

classifier2=Classifier.load("classification_test")
test_acc = classifier2.evaluate(test_dataset)
print('Top-1 test acc: %.3f' % t

[2020-04-20 07:13] mseeger commented on #421
I am not sure this RLScheduler and RLSearcher is fully supported right now.

Can you paste more of the error message you get? Where exactly is the TypeError thrown?

[2020-04-20 08:17] amirsani opened #425 "Predict proba with changing seed"
Is there a way to run the model or train the model with different random seeds?

Thanks

[2020-04-20 09:05] amirsani opened #426 "Use RLScheduler as search_strategy"
What's the best way to use RLScehduler as the task.fit search strategy?

[2020-04-20 09:36] philschmid commented on #421
I the documentation for ObjectDetection under stands:
search_strategy str
Which hyperparameter search algorithm to use. Options include: ‘random’ (random search), ‘skopt’ (SKopt Bayesian optimization), ‘grid’ (grid search), ‘hyperband’ (Hyperband), ‘rl’ (reinforcement learner)

So i thought it is implemented.

Here the error message:
[code]

also created a Colab Notebook for recreation of the erro

[2020-04-20 16:57] braaannigan opened #428 "Export feature matrix"
I'd like to be able to export the final feature matrix that autogluon creates.  For example, in the tabular case I'd like to see if I can replicate the model performance using a synthetic dataset created from a tabular GAN model. Is this possible?

[2020-04-20 18:05] zhreshold commented on #423
@dsp6414  Yes you can define your own augmentation list.

For instance:
[code]

[2020-04-20 18:07] zhreshold commented on #424
I don't understand, can you elaborate what you are trying to do?

[2020-04-20 18:27] #421 closed

[2020-04-20 19:40] Innixma commented on #428
This is technically possible, but it depends on what level of preprocessing we are talking about.

Preprocessing in Tabular works at different stages:

Stage 1: The generic preprocessing stage which does automated FE, type inference, ngram generation, etc. This is then passed to the training logic as the 'synthetic dataset' which models are trained with.

Stage 2: Stacker preprocessing stage. This

[2020-04-20 19:55] Innixma commented on #401
@braaannigan

If you are interested in using the bleed-edge mainline of AutoGluon, we just merged in #422 which dramatically speeds up NN inference times, particularly when doing inference on small amounts of data, as you attempted in this PR. We haven't tested it with truly massive datasets, but I suspect this may have been one of the reasons inference took so long for you. I'd be very interested

[2020-04-20 20:00] Innixma commented on #425
Do you have a particular task in mind (Tabular, Image, etc.)? Regarding Tabular, this is not added at present but could be if you believe there is value in it.

[2020-04-20 20:03] Innixma commented on #426
If you are experiencing issues with RLScheduler, please see #421 and its resolving PR #427. Consider using the latest mainline AutoGluon to get access to this fix now. Note that RLScheduler is not supported in Tabular at present.

[2020-04-20 20:48] amirsani commented on #426
Thanks Nick

[2020-04-20 20:51] amirsani commented on #425
There's value in that it provides an avenue for generating bootstrap confidence intervals in the case of prediction and robustness in the case of training. Note that early stopping has a lot of value in the case of training.

Thanks for the great package and putting the time into this.

[2020-04-20 20:54] Innixma commented on #425
Just to confirm, are you referring to this functionality for Tabular? Also, how does early stopping relate to this exactly?

[2020-04-20 21:27] amirsani commented on #425
Yes, tabular

As you estimate the performance over seeds, you can use an online estimator to see if the mean is converging to a value that is better than the current performance threshold. You can also use forecasts to see if the rate of improvement in the estimated performance is likely to exceed the stopping threshold. You can further accelerate this estimate by bootstrapping.

[2020-04-20 22:35] amirsani commented on #425
How can I set the seed of a model that's been learned with AutoGluon?

[2020-04-20 23:34] dsp6414 commented on #424
Sorry, I'd like to know how to use the last checkpoint for fine-tuning in new training when I changed the new hyper-params but the model leave the same.

[2020-04-20 23:49] Innixma commented on #425
Please see PR #429 for the addition of the random_seed parameter to the task.fit() call.

Regarding estimating performance, we have an optimized version of this if you are using bagging which is repeated bagged functionality. Using it will give you both better predictions and more accurate prediction estimates. It is enabled automatically if you specify time_limits and set auto_stack=True, or by s

[2020-04-21 01:53] Innixma commented on #420
This seems quite reasonable. Could you submit a PR implementing this along with some screenshots from the wandb site indicating that it is working successfully?

@jwmueller and @zhreshold , feel free to add your thoughts on this as well.

[2020-04-21 02:20] hanyunfan commented on #418
I see the same error when I running mlperf:resnet-50 with RTX GPUs, V100s cards are just fine.

[2020-04-21 03:31] zzdgit commented on #418
@zhreshold，Thank you very much.
 After creating several virtual environments using anconda, I removed the others, reinstalled mxnet and autogluon, and the problem was gone.I'm confused that using conda create-n XXX python==3.6 should result in an environment that is isolated from each other.

[2020-04-21 05:13] Innixma commented on #418
I remember experiencing strange issues with conda environments in the past, although I don't think I've seen them interact across environments before. venv has never caused issues for me however.

[2020-04-21 05:52] Innixma commented on #428
I gave this a shot and have created #431 which should enable the retrieval of feature matrices for stage 1 and 2 as described above. I will notify you when it has been merged. Let me know if this addresses your request!

[2020-04-21 06:23] amirsani commented on #425
Thank you for the quick turnaround and apologies for my poor explanation.

I would like to take the top model output by AutoGluon, let's call it model, and refit that specific model after training to the full data with different seeds. I believe it might look like model.refit_full(seed), with the option of applying it to new data, so maybe something like,
``
seeds = range(100)
models = [model.fit(

[2020-04-21 07:01] mseeger commented on #424
Could you be more specific? Are you trying to checkpoint the scheduler state, and then resume an experiment from a checkpoint, using the resume argument of the scheduler?

If so, this feature is not yet fully supported across all schedulers and searchers. Please note it does not checkpoint the models you evaluate, but only the optimizer state. So there should be no need to save MXNet models, unles

[2020-04-21 10:32] razmikmelikbekyan opened #432 "How to get a trained model instance by its name in Tabular task?"
What is the most suitable way to get the trained model instance including all data preprocessing steps in Tabular prediction?

Image you have trained autogluon tabular task and now you want to use one of the autogluon models as a separate model instance. The idea is the following.

[code]

So now we have a predictor object. It would be nice to have some `get_model(model_name)` method which will re

[2020-04-21 10:33] tlienart opened #433 "[distributed] Improper shutdown of remote service"
cc: @zhanghang1989 @mseeger

I'm still investigating a standard error that occurs on most runs with SageMaker:

[code]

After some investigation it looks like:

1. the SIGTERM is launched from `Service.shutdown` as per

https://github.com/awslabs/autogluon/blob/04866e5a976c471df1c9272b9be15132f986ead9/autogluon/scheduler/remote/remote.py#L52-L53

This is not good.

The clean termination procedure

[2020-04-21 12:10] usufu commented on #218
the error still there with the latest tutorial.

[2020-04-21 13:17] braaannigan commented on #428
Thanks!

[2020-04-21 13:57] tlienart commented on #433
So `self.proc.kill` does not seem to be sufficient, I still get

[code]

on one of the workers, curiously the main worker (scheduler) finishes fine.

[2020-04-21 18:59] #142 closed

[2020-04-21 21:20] zhreshold commented on #420
Sounds like a remotely served tensorboard with fancy UI. I am upvoting for it.

[2020-04-21 21:22] #418 closed

[2020-04-21 21:36] #423 closed

[2020-04-21 21:36] #424 closed

[2020-04-22 19:57] Innixma commented on #418
@hanyunfan If the solution mentioned here did not work for you, please feel free to create a new issue highlighting your situation.

[2020-04-22 20:05] Innixma commented on #218
@zhreshold Could you take a look at this?

[2020-04-22 20:26] Innixma commented on #432
Could you explain the last part, specifically:

What do you mean for cross-validation, are you running AutoGluon 5 times to get a CV score?  Would the ability to return OOF (Out of Fold) predictions solve your issue? This is added in #431. Could you provide pseudo-code that achieves what you require?

To get the model object at present, you would do:

`model = predictor._trainer.load_model('my_mod

[2020-04-22 20:37] Innixma commented on #433
Adding @zhreshold who may have some context. Also pinging @zhanghang1989 in case he has comments to add.

[2020-04-22 20:41] Innixma commented on #433
@tlienart It may be beneficial for you to add a minimal reproducible example of the error so we can work towards identifying why the particular example fails. Ideally it could be added as a unit-test in your PR (if such a thing is do-able, uncertain given this is related to distributed).

[2020-04-22 22:47] #411 closed

[2020-04-23 00:34] Innixma commented on #432
Note also that the model object does not know all the context required to transform the raw data into its internal representation. To return a model with that knowledge, it would be to effectively return a copy of the Learner object which has all other models removed from it.

[2020-04-23 01:08] Innixma commented on #425
Ah, I see what you mean now!

To support this I need to enable the following functionality:

1. Enable user to create an unfit copy of a model.
2. Enable user to alter the hyperparameters of the unfit model copy to update whatever seed parameter the model might have.
3. Model training after the task.fit() call (predictor.fit_continue() or something similar).

#1 is already available internally, I

[2020-04-23 06:17] tlienart commented on #433
I don’t think that’s doable publicly at this point. But I’m willing to communicate internally with someone who would want to dig into this + experiment with possible ways  out of the issue & report.

[2020-04-23 06:29] zzdgit commented on #167
@Innixma Excuse me, do you support the case of Chinese data set?

[2020-04-23 22:31] Innixma commented on #167
At present for Tabular, a Chinese data set for text will not work well due to the lack of space characters to generate ngrams with. In regards to the text classification module, @cgraywang can you answer this?

[2020-04-24 20:16] Innixma commented on #428
Hi @braaannigan,

I believe I have added the functionality you requested.

As an example code:

[code]

Let me know how it works for your use case and if anything is missing from this implementation.

[2020-04-24 20:40] zhreshold commented on #218
@UNIcodeX The problem is that you used the wrong argument name `train_path` instead of the correct `path` arg.

I found it's actually due to the wrong documentation. To avoid similar problems in the future, I filed a PR to fix the docstrings: https://github.com/awslabs/autogluon/pull/436

[2020-04-24 20:44] UNIcodeX commented on #218
@zhreshold LMAO! Alright thanks!

[2020-04-25 09:24] philschmid commented on #420
Good Morning,

I didn't have that much time during the week. I am starting this weekend.

Is there someone I can connect to if I have a question? for example about architecture?

[2020-04-25 13:30] #425 closed

[2020-04-25 13:30] #426 closed

[2020-04-25 23:36] dsp6414 opened #437 "Autogluon training is very slow"
size of datasets: 4000
images: 600*600

tricks = ag.space.Dict(
        last_gamma=False,
        use_pretrained=True,
        use_se=False,
        mixup=False,
        mixup_alpha=0.2,
        mixup_off_epoch=0,
        label_smoothing=False,
        no_wd=False,
        teacher_name = None,
        temperature=20.0,
        hard_weight=0.5,
        batch_norm=False,
        use_gn=False)

class

[2020-04-25 23:41] dsp6414 commented on #437
GPU: Tesla  v100 32G
![image](https://user-images.githubusercontent.com/22781941/80293354-42dcdd80-8791-11ea-8a76-0bcccf835935.png)

[2020-04-25 23:43] dsp6414 commented on #437
GPU: tesla v100 32G
![image](https://user-images.githubusercontent.com/22781941/80293393-8a636980-8791-11ea-9aea-2ff57abd5361.png)