[2020-12-06 19:16] dayananddevarapalli commented on #810
It didn't work either and gave segmentation fault.

$ python3
Python 3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)] :: Anaconda, Inc. on darwin
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault: 11

[2020-12-07 07:57] TakeshiMatsukura commented on #810
`$ pip install autogluon==0.0.14 autogluon.tabular "mxnet<2.0.0"`

`from autogluon.tabular import TabularPrediction as task`

Explicitly installing autogluon.tabular resolved the issue.
Is it the expected behavior?

[2020-12-07 11:12] bhithesh commented on #810
Loading model from disk is not working in autogluon.tabular import TabularPrediction as task. Error : no module found : numpy.random._pickle

[2020-12-07 11:17] bhithesh commented on #810
Following error is present in all environments - local windows/ Mac, Google Collab and Amazon Sagemaker

ImportError: cannot import name 'TabularPrediction' from 'autogluon' (unknown location)

from autogluon import TabularPrediction as task

ImportError: cannot import name 'TabularPrediction' from 'autogluon' (unknown location)

[2020-12-07 11:50] mglowacki100 commented on #810
Method by @TakeshiMatsukura  works for me. Thanks :)
So probably this:
[code]
from https://auto.gluon.ai/stable/tutorials/tabular_prediction/tabular-quickstart.html need to be updated.
Btw. it is not a big issue but would be easier to have also "full script" at bottom of the page to have single copy-paste just for test.

[2020-12-07 11:58] TommasoBendinelli opened #811 "ImportError: cannot import name 'TabularPrediction' from 'autogluon' (/home/tommaso/repos/gemintelligence/env/lib/python3.7/site-packages/autogluon/__init__.py)"
I am getting this error with a fresh install using the commands in the home page

[code]

And then
[code]

[2020-12-07 12:06] konstantinjdobler opened #812 "Reasoning behind the standard reward function in ENAS"
Hey! Is there documentation on why the recommended reward function (https://auto.gluon.ai/tutorials/nas/enas_proxylessnas.html#autogluon-enas-unit, `reward_fn = lambda metric, net: metric * ((net.avg_latency / net.latency) ** 0.1)` ) is structured that way?

Is the latency used to incentivize fast models instead of accurate ones? If so why, why is `(net.avg_latency / net.latency)` used instead of

[2020-12-07 17:06] trunghlt commented on #811
This has been blocking our releases too.

[2020-12-07 17:24] bhithesh commented on #811
Any suggestion on alternative

[2020-12-07 19:45] Innixma commented on #810
I have reproduced the issue on a fresh machine and will deep dive:

[code]

[2020-12-07 19:47] Innixma commented on #811
I have reproduced the issue on a fresh machine and will deep dive:

[code]

[2020-12-07 20:12] Innixma commented on #811
Issue identified:

`gluoncv` recently released v0.9.0 which depends on the pre-release `autogluon.core` module. AutoGluon has been changed to be a namespace package in preparation for v0.1 release, meaning it is now made up of several separate packages. However, having both `autogluon==0.0.14` (non-namespace) and `autogluon.core` (namespace) installed creates a namespace collision. Because `autogl

[2020-12-07 20:13] Innixma commented on #810
The issue has been identified and a workaround has been demonstrated: https://github.com/awslabs/autogluon/issues/811#issuecomment-740153141

[2020-12-07 22:21] Innixma commented on #812
@zhreshold Would you be able to answer this?

[2020-12-08 06:33] zhreshold commented on #812
@konstantinjdobler If we take into consideration that `metric`(can be accuracy or else) and `net.latency` are unknown before search, you will notice that subtracting is substantially error prone. By doing `(net.avg_latency / net.latency) ** K` where K is a factor to control the weight of network latency, then you ensure that the `reward_fn` will never be negative. It's not specifically mentioned i

[2020-12-08 18:51] Innixma commented on #806
@zhreshold Perhaps this is related to the HPO instability issue that has recently been addressed?

[2020-12-08 19:26] Innixma commented on #811
This issue has been fixed with the release of [v0.0.15](https://github.com/awslabs/autogluon/releases/tag/v0.0.15). Please install the new version from a fresh environment to avoid any corruptions from prior installs. v0.0.15 should work identically to v0.0.14 minus the installation issue.

[2020-12-08 19:26] #811 closed

[2020-12-08 19:26] jesteria commented on #811
I can confirm this is resolved by `v0.0.15`.

[2020-12-08 19:28] Innixma commented on #810
This issue has been fixed with the release of [v0.0.15](https://github.com/awslabs/autogluon/releases/tag/v0.0.15). Please install the new version from a fresh environment to avoid any corruptions from prior installs. v0.0.15 should work identically to v0.0.14 minus the installation issue.

[2020-12-08 19:28] #810 closed

[2020-12-08 21:42] jwmueller commented on #263
GPU is now supported for these 3 models, so closing to avoid confusion.

[2020-12-08 21:42] #263 closed

[2020-12-09 16:31] RuojiWang commented on #811
This is the problem that bothered me for a few days. Now the problem is solved, thanks a lot :)

[2020-12-09 18:28] RuojiWang opened #815 "ModuleNotFoundError: No module named 'autogluon.vision'"
**i use ubuntu 18.04 and Pycharm**

**in my anaconda environment, i use the following code to install autogluon：**

python3 -m pip install --upgrade "mxnet<2.0.0"
python3 -m pip install autogluon

**when i running the following code, which is the example code of object detection of autogluon:**
import autogluon.core as ag
from autogluon.vision import ObjectDetection as task

root = './'
filename_z

[2020-12-09 20:31] Innixma commented on #815
You are using the stable release of AutoGluon, meaning you should refer to this version of the documentation: https://auto.gluon.ai/stable/tutorials/object_detection/beginner.html

However, you were looking at the pre-release documentation of AutoGluon which is not compatible with the stable release: https://auto.gluon.ai/dev/tutorials/object_detection/beginner.html

In order to use the pre-releas

[2020-12-09 23:53] Innixma commented on #804
Another Transient CI failure in the `install` step: https://ci.gluon.ai/blue/organizations/jenkins/autogluon/detail/master/405/pipeline

[2020-12-10 02:20] Innixma opened #817 "Dependency cleanup for v0.4"
Several packages should likely be removed from dependencies or moved to optional, and others should be added to dependencies.

**Change logic:**

1. numpy (need to enforce numpy is installed prior to other packages such as ConfigSpace or else errors occur)
2. setuptools (setuptools needs to be upgraded to support installing namespace packages, enforce it is installed before other packages)

With t

[2020-12-10 09:46] hmingkwan opened #818 "ImportError: cannot import name 'TabularPrediction' from 'autogluon' (unknown location)"
I followed the following steps to install

!pip install --upgrade "mxnet<2.0.0"
!pip install autogluon

but I could not import the TabularPrediction and got this error:

ImportError: cannot import name 'TabularPrediction' from 'autogluon' (unknown location)

[2020-12-10 13:52] RuojiWang commented on #815
now, i am running the code, i didn't notice the stable quick start
thanks a lot.

[2020-12-10 21:07] #815 closed

[2020-12-10 21:09] Innixma commented on #818
Could you please try again with a fresh virtual environment and provide `pip freeze` output if it still is encountering issues? Please also refer to #811, which covers a similar issue that has been resolved as of v0.0.15 release.

[2020-12-11 01:31] hmingkwan commented on #818
Below is my pip freeze output:
absl-py==0.10.0
adal==1.2.2
affine==2.3.0
aiobotocore==1.1.2
aiohttp==3.7.3
aiohttp-cors==0.7.0
aioitertools==0.7.1
aioredis==1.3.1
alabaster==0.7.12
albumentations==0.5.2
alembic==1.4.3
allennlp==1.2.2
altair==4.1.0
anaconda-client==1.7.2
anaconda-project==0.8.3
annoy==1.17.0
ansiwrap==0.8.4
appdirs==1.4.3
argh==0.26.2
arrow==0.15.5
arviz==0.10.0
asn1crypto==1.3.0
a

[2020-12-11 08:09] Innixma commented on #818
[code]

These are incompatible with each-other and was caused by a corrupted install prior to v0.0.15 releasing.

Please try uninstalling autogluon.core and autogluon, and then installing autogluon:

[code]

If this still causes issues, create a fresh venv (from scratch) and follow the installation instructions to ensure the environment is not corrupted: https://auto.gluon.ai/stable/index.html#ins

[2020-12-11 16:37] konstantinjdobler opened #821 "ENAS - Enable controller to choose skip connections?"
Hello again! In the original ENAS paper (https://arxiv.org/pdf/1802.03268.pdf), the controller is able to choose skip connections between the current node and previous nodes? I was not able to replicate such a behaviour so far. Is this included in the native ENAS implementation of AutoGluon?

[2020-12-12 13:20] hmingkwan commented on #818
I have another question, I tried to install autogluon in Kaggle Kernels and followed the steps you mentioned,  but I still got the same error.
Do you have any ideas that how I can install autogluon in Kaggle Kernels?

[2020-12-12 18:45] mreismendes commented on #182
@zhanghang1989 Has the work moved ahead? I'm so curious about that. It would be amazing having this.

Thank you

[2020-12-13 07:29] RuojiWang opened #823 "object detection example code can not work 【Cannot reset context for Parameter 'mobilenet0_conv0_weight' because it has not been initialized.】"
**i use ubuntu 18.04 and pycahrm, my autogluon verison is  0.0.15 and my autogluon-contrib-nlp is 0.0.1b20201009**

**when i am running the example code of object detection(i only change variable like time_limits、 epoch to make program run faster) as following:**

[code]

**i google it but have no idea how to modify the code, so i come here for help.
i guess the problem is: Cannot reset context fo

[2020-12-13 18:56] Innixma commented on #823
Thanks for reporting the issue!

We can confirm that this tutorial runs reliably on our CI build machines as it is executed on our [CI builds](https://ci.gluon.ai/blue/organizations/jenkins/autogluon/detail/0.0.15/2/pipeline) to [build the documentation](https://auto.gluon.ai/0.0.15/tutorials/object_detection/beginner.html), so if you are still having issues running it, it may be specific to your

[2020-12-13 19:05] Innixma commented on #182
@mreismendes Yes this is under development at present. Please refer to #822 for discussion.

[2020-12-13 19:14] Innixma commented on #818
@gradientsky Any ideas? I remember you mentioned you were able to install AutoGluon in kaggle kernels.

[2020-12-14 11:05] kunal-05 commented on #818
ImportError: cannot import name 'TabularPrediction'. Not able to import . Facing same issue in Kaggle Kernels too.

[2020-12-14 15:22] impulsecorp commented on #818
Yes, I have the same problem on Google Colab. It was working fine for me on Google Colab 4-5 days ago (using what was written in one of your postings about using !pip uninstall -y mkl).

[2020-12-14 21:07] Innixma commented on #818
I just gave it a try on Google Colab with v0.0.15 and it works:

https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qWgGnxUpr9zVQVYlr?usp=sharing

I have also ran a Google Colab notebook with latest pre-release successfully:

https://colab.research.google.com/drive/1p4abW16g2XpXH9Ax8Y5rcpnbx0vQDvrn?usp=sharing

For anyone having issues, please refer to the above Colab notebooks. If this does

[2020-12-14 21:11] Innixma commented on #810
In case anyone is interested, I have recently successfully ran two Google Colab notebooks with AutoGluon:

`v0.0.15`: https://colab.research.google.com/drive/1ULOytrRHcw4GLl0qWgGnxUpr9zVQVYlr?usp=sharing

Pre-release `v0.0.16b20201214`: https://colab.research.google.com/drive/1p4abW16g2XpXH9Ax8Y5rcpnbx0vQDvrn?usp=sharing

[2020-12-14 21:39] impulsecorp commented on #818
Yes, that fixed it for me on Google Colab, thanks!

[2020-12-15 01:02] hmingkwan commented on #818
I use the codes you provided on Google Colab with v0.0.15 and it still does not work for Kaggle Kernels.
The code I used:
# Uninstall mkl for faster neural-network training time
!pip uninstall -y mkl
# Upgrade pip to ensure the latest package versions are available
!pip install -U pip
!pip install -U "mxnet<2.0.0"
!pip install autogluon
!pip install -U ipykernel
# Uninstall autogluon.core
!pip uni

[2020-12-15 01:23] gradientsky commented on #602
@sxjscience is this issue still a problem or we can close it?

[2020-12-15 01:48] sxjscience commented on #602
@gradientsky I just tried again with the latest autogluon and find that we still have this issue. May be it's related to whether we will turn on forkserver by default.

[2020-12-15 17:04] gradientsky commented on #818
For the reference, here is working [AutoGluon Kaggle kernel](https://www.kaggle.com/sgdread/mlcourse-ai-fall-2019-autogluon-starter/).

[2020-12-16 00:18] hmingkwan commented on #818
@gradientsky, it works on Kaggle kernel, thanks.

[2020-12-16 10:25] MatheCore commented on #488
Do anyone know how to fix this error? I have the same error in almost the same code. I am working with autogluon and running my code on google colab. But when I don't use the GPU and run my code with FashionMNIST dataset, i get no error. But i have to use the GPU becuase my dataset is very big and i also need to test no FashionMNIST dataset.
thanks for help.

[2020-12-16 13:52] liangfu commented on #488
Previously, I had this error when I was trying to perform image classification training with image size less than 224x224 or the number of images are too small for training (less than 100 samples). I increased the number of samples, and resize images to 224x224, and the error disappeared. Still not quite sure about what is the root cause under the hood.

[2020-12-16 18:59] elvinaqa commented on #596
Same error
```ImportError: cannot import name 'isStringType' from 'PIL._util' (/opt/conda/lib/python3.7/site-packages/PIL/_util.py)```

[2020-12-16 19:06] elvinaqa opened #827 "Cant install Autogluon on Kaggle"
Error
```ImportError: cannot import name 'isStringType' from 'PIL._util' (/opt/conda/lib/python3.7/site-packages/PIL/_util.py)```

[2020-12-16 22:41] Innixma commented on #827
Can you try to follow the logic of the working Kaggle Kernel linked [here](https://github.com/awslabs/autogluon/issues/818#issuecomment-745429026)?

[2020-12-16 22:41] Innixma commented on #596
@elvinaqa @salil-gtm Can you try to follow the logic of the working Kaggle Kernel linked [here](https://github.com/awslabs/autogluon/issues/818#issuecomment-745429026)?

[2020-12-16 22:46] Innixma commented on #488
@MatheCore Can you try to use the pre-release version of AutoGluon? The fix in #744 is not available in the stable release. Example colab notebook of pre-release can be found [here](https://github.com/awslabs/autogluon/issues/818#issuecomment-744710997).

Pre-release docs are available at https://auto.gluon.ai/dev/index.html

[2020-12-16 22:47] #818 closed

[2020-12-17 08:53] Droneree opened #830 "Continuous search space like ag.space.Real not supported by RLScheduler?"
Mxnet version: 1.7.0
autogluon version: 0.0.13

I tried a piece of example code from [Autogluon official website](https://auto.gluon.ai/api/autogluon.core.scheduler.html#rlscheduler).

[code]

An error was raised:

[code]

It seems that only **Categorical** search space is supported for **RLSchduler**. I replaced RLScheduler with **FIFOScheduler**, it turned out to be fine. Also when my search spa

[2020-12-20 10:41] ChengTsang opened #832 "distributed.core - ERROR - 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte"
Hi, when i clone the new version code and train it on my own data, I met a issue:

distributed.core - ERROR - 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/distributed/core.py", line 589, in handle_stream
    handler(**merge(extra, msg))
  File "/usr/local/lib/python3.7/dist-packages/distribu

[2020-12-21 03:28] sergeyf opened #833 "AutoGluon for very small datasets?"
Hello,

Thanks for the hard work on this package!

I was wondering, do the authors/maintainers of this package have experience with applying AutoGluon to very small datasets? For example, N = 100, or N = 500. Especially in settings where the dimensionality D > N.

For such small datasets, my experience is that Ridge Regression or Elastic Net are hard to beat because it's too easy to overfit to a t

[2020-12-21 08:47] DrMondesire opened #834 "Illegal Operation when importing TabularPrediction"
When I try to import anything from AutoGluon, I get "Illegal instruction (core dumped)" from a py script. In a jupyter notebook, I get a dead kernel and nothing runs. I am running Ubuntu 18.04, followed the github installation instructions, and have executed my script and notebooks with only the import code.

I have installed using pip (see below) without error message when installing. I have also

[2020-12-21 21:01] Innixma commented on #833
Thanks for the interesting question!

Which of the tasks in AutoGluon are you referring to?

If you are talking primarily about Tabular, then I believe AutoGluon will do well in small dataset scenarios when repeated bagging is enabled. We don't actually do hyperparameter tuning in Tabular by default, which helps immensely to mitigate overfitting. Furthermore, repeated bagging will help stabilize t

[2020-12-21 21:08] sergeyf commented on #833
Thanks for your answer @Innixma. Yes, I was referring to tabular regression/classification.

I have a half-formed plan to apply AutoGluon to a bundle of small UCI datasets and see how it fares against (a) my favorite linear models and (b) just LightGBM which I have had success in tuning properly. I'll certainly report back.

[2020-12-21 21:16] Innixma commented on #834
What immediately stands out to me is that AutoGluon is not installed according to your pip freeze output. I have not seen the exception you are referring to before, so I suspect it is some unusual aspect of your configuration. Try creating a fresh venv and simplifying the issue by running from command line instead of through Jupyter.

Please also ensure your python version is 3.6 or 3.7 as a sanit

[2020-12-21 21:17] Innixma commented on #832
Hi, thanks for making an issue! Could you provide a minimally reproducible example (say with 10 rows of training data provided that cause the issue?). This would help immensely in debugging.

[2020-12-21 23:04] DrMondesire commented on #834
I am running Python 3.7.6 on Ubuntu 18.04.

From CLI (outside of jupyter), when I run "python3 -m pip install autogluon", I receive messages of "Requirement already satisfied: autogluon in /home/smondesire/anaconda3/lib/python3.7/site-packages (0.0.15)". Here is the full output:
[requirementSat.txt](https://github.com/awslabs/autogluon/files/5726902/requirementSat.txt)

When I run "pip install aut

[2020-12-22 10:34] nunocesarsa commented on #163
Just adding a comment for future reference to whoever stumbles on the same error. The suggestion by @Innixma  worked perfectly but I also had to update "dask" because stringify was not getting called.

So after:

pip install -U ipykernel

You can also update -U dask:

!pip install -U dask

[2020-12-22 12:58] ChengTsang commented on #832
Thanks for your reply, you can reproduce this issue with whatever data set such as https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv

[2020-12-22 13:00] ChengTsang commented on #832
I just clone the new code and install with full_install.sh not with pip.

[2020-12-23 05:39] ppunyst commented on #834
I have a same issue.

I use Linux OS by using Oracle VirtualBox6.1.16 r140961 (Qt5.6.2).

Ubuntu Version: Ubuntu 18.04.5 LTS
HOME_URL="https://www.ubuntu.com/"
VERSION_CODENAME=bionic
UBUNTU_CODENAME=bionic

Python 3.6.9

I created fresh venv and ran from command line instead of through Jupyter.

Pip3 List:
[code]
When I command `from autogluon import TabularPrediction as task`,
I got the response

[2020-12-23 05:41] ppunyst commented on #834
@DrMondesire

[2020-12-24 03:45] sergeyf commented on #833
Hello again. I got 142 UCI datasets that someone else packaged up and ran some baselines on them. You get a plot like this (each dot is a dataset):

![image](https://user-images.githubusercontent.com/1874668/103058574-5a09e000-4557-11eb-9f71-8c63524fc158.png)

My goal is to add an AutoGluon line. What's a reasonable time budget for each dataset? The baseline models run in ~30s to 10m.

[2020-12-29 18:27] DrMondesire commented on #834
@Innixma @ppunyst I reinstalled ubuntu (both 18.04 and 20.04) and tried on fresh virtual environments. When installing from pip3, I always got an _"Illegal instruction (core dumped)"_ error when I called _import autogluon_. I also got the same error when calling `import mxnet` from python3. This led me to believe there was an issue with mxnet, though I was using the required mxnet 1.7.0 version. I

[2020-12-30 12:13] Venge42 commented on #33
Any update on this one or the 0.1 release?

[2020-12-30 14:04] jhmenke opened #840 "Lower training time consistently beats higher training time"
Hi,

first of all, Autogluon is really awesome, i thank you so much for providing such a wonderful tool.
My use case is relatively simple: i do a tabular prediction with a low number of features (about 30) and -- depending on the use case -- about 10k to 40k samples. This is the script i use:

[code]

The weird thing is, that if i set time_limits to one hour, the trained ensemble consistently outp

[2020-12-30 18:35] Innixma commented on #840
This is very dataset dependent and applies to any ML process that tries to optimize based on training data: It can overfit.

Generally, AutoGluon is very resilient to overfitting, but it is possible to occur, especially if your hold-out data is not representative of your training data. We have a large scale benchmark that we run frequently for autogluon which shows AutoGluon **on average** improve

[2020-12-30 18:54] jhmenke commented on #840
Thanks for responding so quickly, that is a good explanation. My holdout set should be representative, but to be honest i have not done an in-depth analysis so it may not be. However, i generally generate new datasets (part of it by shuffling) and the behavior seems consistent (lower time = better results).

I will try the best_quality setting, thanks!
However, this setting will not be realistic f

[2020-12-30 20:58] Innixma commented on #840
`best_quality` uses a technique called 'repeated bagging'. It trains many copies of each model on different splits of the data. This leads to improved results but also to diminishing returns relative to the number of copies. In its most extreme, this can train 200 of each model, and the final predictions are the averaged predictions of all 200 models, for each of the model types. This means in the

[2020-12-30 21:28] jhmenke commented on #840
Thank again! I think that solves my question(s).

[2020-12-30 21:28] #840 closed

[2020-12-31 08:11] jwmueller commented on #830
As you said, the RLScheduler only supports Categorical search spaces at the moment. Real search spaces would require a different policy network that can parameterize continuous distributions, whereas the current policy network only parameterizes discrete distributions.

[2020-12-31 08:16] jwmueller commented on #833
Note that you don't need to specify a time budget to use AutoGluon. However, if you find it is taking too long, then you could set a time budget based on how long you're willing to wait (or perhaps 1-10x as long as your most intensive model since AutoGluon performs better when it is able to train many models).

If you care most about obtaining the best possible AUROC, make sure to run autogluon's

[2020-12-31 16:47] sergeyf commented on #833
Thanks!  I dd want to use a time budget because I was doing 4-fold nested cross-validation on 142 datasets, so a budget of 60s was equivalent to 9.333 hours. I also ran a 120s budget. Here are the results.

Number of datasets each algorithm does best on:
Counter({'AutoGluon (sec=120)': 84, 'AutoGluon (sec=60)': 74, 'LightGBM (n_iter=25)': 74, 'LightGBM (n_iter=10)': 68, 'Logistic Regression': 64,

[2020-12-31 19:23] Innixma commented on #833
120s is definitely on the very low end of time limits and isn't enough to realistically estimate how powerful AutoGluon (or any AutoML system) is. For our benchmarking we usually run for 1 hour or 4 hours on `presets='best_quality'`. I notice in your code you have not enabled any of the presets, meaning AutoGluon is on `'medium_quality'`. This will result in worse scores (although 120s is likely n

[2020-12-31 21:48] Innixma commented on #33
v0.1 release has been shifted to February 2021 to allow for more polishing. Row weight support is a stretch goal for v0.1 and will be a high priority follow-up if it doesn't make the v0.1 release.

[2020-12-31 22:51] sergeyf commented on #833
Thanks @Innixma, I appreciate your pointers.

I will change the preset to `best_quality` and rerun with a 5m budget. I understand that may not be enough to achieve "best" performance, but this comparison is designed to compare "roughly equivalent" algorithms on tiny datasets, and allocating 1 hour feels like an unfair advantage when LightGBM hyperopt search runs in less than 1m. It would, however,

[2021-01-01 08:07] dai-ichiro commented on #763
I can use GPU in my new environment.

[code]

Thank you so much.

[2021-01-03 00:26] sergeyf commented on #833
Hi again. I reran everything with 5m, and it seemed this was enough for the smaller datasets. AutoGluon is now the best (almost) across the board, except at the very end where it probably needs more time:

![image](https://user-images.githubusercontent.com/1874668/103469230-f16cf100-4d16-11eb-8752-a0025525d728.png)

And some numbers:

[code]

There are still some datasets where AutoGluon, Logistic

[2021-01-04 01:09] Gpwner opened #846 "Is there a way to use pretrained bert model to do text classify with autogluon.task.TextPrediction?"
When I  refer to the  autogluon.task.TextPrediction API , I found the 'fit' method return a model which is
`A BertForTextPredictionBasic object that can be used for making predictions on new data.`
So,Is there a way to use pretrained bert model to do text classification with autogluon.task.TextPrediction?

[2021-01-04 15:24] dai-ichiro commented on #763
AutoGluon can find GPU.

[code]

And when I run the image classification sample scripts, everything is OK.

But when I run the object detection sample scripts, I get the error.

[code]

[2021-01-04 22:37] MatheCore commented on #488
At that time i tried very different things but nothing worked. Then i worked with another type of data for my research. But for now i really need to work with images. I have this code now:
`import autogluon as ag`

`from autogluon import ImageClassification as task`

`#filename = ag.download('/content/cat-and-dog.zip')`

`#ag.unzip(filename)`

`dataset = task.Dataset('training_set/training_set')`

[2021-01-05 00:39] gradientsky commented on #832
What system codepage are you running this code on?

[2021-01-05 00:46] gradientsky commented on #832
Another sanity check: I see a distributed scheduler was used. Did all the machines had same version of dask?

[2021-01-05 01:54] Gpwner commented on #846
What I  mean is using customized pretraining model.Any help?

[2021-01-05 22:59] MatheCore commented on #823
With the following code :
``
``
``
``
``
``
``
``

[2021-01-05 23:14] MatheCore commented on #823
With the following code:
`import os`
`root = './'`
`filename_zip = ag.download('https://philschmid-datasets.s3.eu-central-1.amazonaws.com/tiny_fruit.zip',
                        path=root)`
`# unzip data`
`filename = ag.unzip(filename_zip, root=root)`

`# create Dataset`
`data_root = os.path.join(root, filename)`
`# train dataset`
`dataset_train = task.Dataset(data_root, classes=('banana','apple'

[2021-01-05 23:21] Innixma commented on #846
We use pre-trained BERT by default and fine-tune it on the provided data. @sxjscience could you elaborate on what our support for custom pre-training models are?

[2021-01-05 23:30] sxjscience commented on #846
@Gpwner Thanks for the question! Currently it's not directly supported. And you will need to tweak the code to convert your pretrained weights to a format understandable by GluonNLP (https://github.com/sxjscience/autogluon-contrib-nlp/blob/master/src/autogluon_contrib_nlp/models/electra.py). I'm currently

1) Add the support of Huggingface pretrained models so you can use your own pretrained model

[2021-01-06 01:54] Gpwner commented on #846
Is it possible to use tensorflow model which is pretrain by Google official BERT code?

[2021-01-06 02:15] Gpwner commented on #846
Any way This is a great job.Looking forward to your upgrade！

[2021-01-06 02:38] sxjscience commented on #846
Yes, the plan is to ask people to use the conversion tool in Huggingface (https://huggingface.co/transformers/converting_tensorflow_models.html) / GluonNLP (https://github.com/dmlc/gluon-nlp/tree/master/scripts/conversion_toolkits) to convert the  TF checkpoints. This will offer a path for using TF models.

[2021-01-08 01:52] stacy0416 opened #853 "Stuck in task.fit() for image classification"
I used autogluon to train an image classifier.
But when I trained a classifier with nets='resnest101', there will be a situation where the GPU utilization has been reset to zero, the CPU/memory usage has slowly increased, and the process has not finished.

`classifier = ag.ImageClassification.fit(dataset,
                      net='resnest101',
                      input_size=224,

[2021-01-08 06:35] Droneree commented on #830
Thanks for @jwmueller 's answer. I think my problem has been solved.

[2021-01-08 06:35] #830 closed

[2021-01-10 07:33] ChengTsang commented on #832
halo, I fixed the problem by use another version of distributed.

[2021-01-10 07:34] ChengTsang commented on #832
halo, I fixed the problem by using another version of distributed.

[2021-01-10 17:33] Venge42 commented on #33
Great! Thank's for the update. Desperately waiting for it... :)

Thanks for the great work, guys!

[2021-01-11 02:16] jmrichardson opened #856 "Disable shuffle?"
Hi,

My tabular data is temporal and overfits without specifying the validation data manually as in below:

`predictor = task.fit(train_data=train_data, tuning_data=val_data, label=label_column, output_directory=dir)`

I have read that autogluon does stratified sampling and I believe shuffling=True.  Is there a way to disable shuffling?

[2021-01-11 13:18] RuojiWang commented on #823
**i guess i met the problem because of using VM Oracle VirtualBox(which is a kind of virtual machine) on my windows7(ubuntu18.04 without GPU, cause virtual machine can not share GPU with my windows).

when i use dual system windows7&ubuntu18.04, i never met this problem, now i can use the object detection example code. and the code and work in pycharm environment, maybe i should use terminal more

[2021-01-11 13:33] RuojiWang opened #857 "will there be image segmentation API in AutoGluon?"
thanks for providing autogluon, will there be image segmentation API in AutoGluon?

[2021-01-11 23:47] Innixma commented on #823
@MatheCore I suspect that trying to infer with these models without a GPU will not work. I don't believe our developers intended object detection models to be trained and inferred with CPU, and I would highly recommend that you leverage a GPU as these models are very large.

@zhreshold Do you think it would make sense for us to have Colab notebook tutorials for image classification and object dete

[2021-01-11 23:49] Innixma commented on #857
@zhreshold Could you answer?

[2021-01-12 00:00] Innixma commented on #856
There is not a way to disable shuffling at present. I'd recommend you to specify the tuning data explicitly in these scenarios. We are working on specialized temporal data support, likely to be available later in the year.

[2021-01-12 00:04] #834 closed

[2021-01-12 05:00] zhreshold commented on #853
Do you notice the GPU memory hit the maximum before it freeze? And how long have you been waiting for the process to finish?

[2021-01-12 12:16] jmrichardson commented on #856
This is great news and looking forward to it.  Hopefully it will have the ability to control the split indices

[2021-01-13 02:01] stacy0416 commented on #853
Do you notice the GPU memory hit the maximum before it freeze? Yes
How long have you been waiting for the process to finish? Haven't finished for a long time.

[2021-01-14 23:28] sflender opened #866 "AutoGluon Text training error due to data passing"
When training AutoGluon Text (nightly) with a large file (2M rows), I get an error

**distributed.core - ERROR - 2497537887 exceeds max_bin_len(2147483647)**

Xingjian: " I’m suspecting this line: https://github.com/awslabs/autogluon/blob/ae5dd91e8892c6c8edd87e42442b8007fc9d60c5/text/src/autogluon/text/text_prediction/models/basic_v1.py#L[…]11, in which we are passing the train_data. This may pote

[2021-01-15 00:52] mikiwz opened #868 "Autogluon Dev Tutorial for Tabular + Text Model 5 multimodal embedding not used"
https://auto.gluon.ai/dev/tutorials/tabular_prediction/tabular-multimodal-text-others.html#model-5-multimodal-embedding-tabularpredictor

In Model 5, it seems that the multimodal embedding is not used and the original train_df fed into the TextPrediction is the input to the TabularPrediction, and thus there is no performance improvement observed.

[2021-01-15 04:00] sxjscience commented on #866
@sflender Would I know if the fix works or not?

[2021-01-15 04:36] sflender commented on #866
the fix worked, the model is training. thanks!

[2021-01-15 04:37] #866 closed

[2021-01-17 07:58] bhavi289 commented on #832
@ChengTsang

Which version of "distributed" did you use?

[2021-01-18 23:07] zhreshold commented on #853
@stacy0416 batch_size 64 is probably not feasible for your setup, you may reduce it in order to allow the model to fit in the gpu memory.

[2021-01-19 00:27] Innixma commented on #833
Hi @sergeyf, sorry for the late response (was on vacation). Great to hear that you were able to get good results with AutoGluon! I also saw your reddit post, which was very nicely written!

Like you had mentioned, I'd be very interested in a run with more time allocated to AutoGluon, so I might come back to this dataset suite in future, possibly by integrating it with automlbenchmark which would a

[2021-01-19 03:50] sergeyf commented on #833
Ah no worries - vacation are important :)

Nice to hear about the improvements. What do you attribute the better performance to?

[2021-01-19 19:13] sflender opened #872 "AG Text multi-GPU inference"
Hey AG team, when running inference with the AG Text Neural Network in the nightly build, I only see one GPU is being used (of the 8 on a p2-8xlarge instance). Training on the other hand works fine on the 8 GPUs. Can we implement support for multi-GPU parallelized inference?

[2021-01-19 22:42] sxjscience commented on #872
@sflender Feel free to report here if it has fixed your issue.

[2021-01-20 17:13] briandesilva opened #875 "Segmentation fault on import"
### Issue
I am getting a segmentation fault when running the following import statement
[code]
and segmentation fault: 11 when running
[code]

I am using a recent branch of autogluon, installed in a clean virtual environment: autogluon version 0.0.16b20210120

### Environment
[code]

I have also tried installing by cloning autogluon from github, replacing the last line with
[code]

Platform: Linux

[2021-01-20 22:50] dai-ichiro commented on #875
I got the same error.
I solved it by changing python version from 3.7 to 3.6.

Hope this helps.

[2021-01-20 23:39] briandesilva commented on #875
Switching to Python 3.6 worked for me too.

[code]

[2021-01-20 23:45] briandesilva commented on #875
Minor issue: the nightly build [documentation](https://auto.gluon.ai/dev/api/autogluon.task.html?highlight=auto_ml_pipeline) shows `AutoMLPipelineFeatureGenerator` residing at `autogluon.utils.tabular.features.generators.auto_ml_pipeline.AutoMLPipelineFeatureGenerator`, but it appears to now be at `autogluon.tabular.features.generators.auto_ml_pipeline.AutoMLPipelineFeatureGenerator`.

[2021-01-21 00:00] Innixma commented on #875
Were you also using cuda? I suspect this might be related to cuda versions, and `cu100` is fairly old.

[2021-01-21 00:53] dai-ichiro commented on #875
Yes, I'm using cuda toolkit 10.2.

[2021-01-21 01:03] Innixma commented on #875
Just a guess, but it might be related to the use of Amazon Linux, since all our tests are on Ubuntu, and therefore we haven't tested Amazon Linux. I'll plan to have someone look into this prior to our next release. If anyone is able to figure out the cause or has additional info, please feel free to share it here.

[2021-01-21 02:51] dai-ichiro commented on #875
My environment was:
[code]
I got this error.

[2021-01-21 16:18] daikikatsuragawa commented on #798
@Innixma

Sorry for the late reply.

Below are some ideas. What do you think?
I would like to discuss, share opinions, and brush up.

- Apply Black for the time being, then put a badge on the README to encourage contributors to use Black. And added to [Tips for Modifying the Source Code](Tips for Modifying the Source Code)
  - Sample: https://github.com/stanfordmlgroup/ngboost

- Similar to CodeQL

[2021-01-21 16:44] daikikatsuragawa commented on #798
https://github.com/awslabs/aws-data-wrangler/blob/main/.github/workflows/static-checking.yml

[2021-01-21 18:44] Innixma commented on #798
Thanks for the breakdown!

I think as a first step, doing the first option would be most pragmatic to get the majority of benefits. I'd be open to adding a GitHub Action in future so long as it doesn't distract contributors efforts (If we just do a Black application every couple of months, we wouldn't need our contributors to worry about adhering to it so strictly). Automatic adaptation could be c

[2021-01-21 19:38] Innixma commented on #833
Improved performance comes primarily from:

1. New Model: XGBoost
2. New Model: FastAI Tabular Neural Network
3. Improved Hyperparameters: LightGBM (halved learning rate)
4. Improved Hyperparameters: CatBoost (halved learning rate)
5. Improved Neural Network handling of Categorical features
6. Improved training priority of models to incentivize most impactful models to train first, especially impo

[2021-01-21 19:43] sergeyf commented on #833
Sounds great, thanks for the thorough answer!

[2021-01-22 00:43] sflender opened #880 "AutoGluon Text crashes on p4d instance"
AutoGluon Text crashes on a p4d instance.

**install history:**
[code]

**Error log:**

[code]

**pip freeze:**

[code]

[2021-01-22 11:45] daikikatsuragawa commented on #798
Thank you for your reply!
I agree with that opinion!

[2021-01-22 11:58] leezu commented on #880
Would you need a Cuda 11 build for P4?

[2021-01-22 12:25] daikikatsuragawa commented on #798
For reference, I tried it after forking.

https://github.com/daikikatsuragawa/autogluon/commit/35d81213ac914999003844bf1d8ac48eeb9a5897

The settings are as follows:

https://github.com/daikikatsuragawa/autogluon/blob/black/pyproject.toml

If there seems to be no problem, I would like to send you a pull request.

[2021-01-22 17:10] sflender commented on #880
That's possible, need to do more research. If that's true, I think a problem is that there's no pip-installable version of mxnet with cuda 11.

[2021-01-22 17:57] leezu commented on #880
While official MXNet is pending, you can use the AWS MX s3://aws-mx-pypi/1.8.0/aws_mx_cu110-1.8.0-py2.py3-none-manylinux2014_x86_64.whl

[2021-01-22 18:13] sflender commented on #880
Thanks, I'll give this a try

[2021-01-22 18:28] sflender commented on #880
I tried that, and get a different error. Somehow the libcudnn.so file is missing.

Install history:

[code]

Error:

[code]

[2021-01-22 19:03] leezu commented on #880
Your OS is too old. You need CuDNN 8

[2021-01-22 21:01] Innixma commented on #798
It looks reasonable to me, although I'd suggest we have a longer line limit since we want to incentivize descriptive variables.

I would be in favor of a line-limit of **160** or 180, although it seems 160 is the length used by GitHub.

Outside of line limit, I notice `black` is doing a few strange things related to long strings:

[Example](https://github.com/daikikatsuragawa/autogluon/blob/35d812

[2021-01-22 21:03] sxjscience commented on #798
Since Black won't change the API and just enhances the coding format, I will prefer adopting it after v0.1.

[2021-01-24 06:28] RuojiWang opened #884 "how to change anchor box size in autogluon object detection"
i am using object detection of autogluon for my own custom data(to find coins in picutres), the detector can show me the target through the anchor box, but i want to know how to change the size of anchor box, to make box fit the target.

[2021-01-25 18:23] sxjscience commented on #872
@sflender Just a check. Has the issue been resolved?

[2021-01-25 19:22] sflender commented on #872
Indeed, thanks.

[2021-01-25 19:22] #872 closed

[2021-01-25 19:46] sflender opened #886 "AG Text non-deterministic crashes, possibly due to Dask backend"
Sometimes AG Text crashes with the error message below. We suspect that this could be because of issues with the Dask backend in HPO.

[code]

[2021-01-25 21:08] sflender commented on #875
I also encountered Segmentation fault: 11 once when running .fit() with AG Text on a p3dn.24xlarge with Ubuntu. Rebooting the instance solved the problem for me - might be an issue with the instance itself.

[2021-01-26 19:58] sflender commented on #886
The issue happens both in python 3.6 and 3.7.

[2021-01-27 20:57] RuojiWang commented on #806
**i met this problem a few days ago when i was training custom data with object detection of autogluon. but i use pycharm and anaconda not docker. i spent half a day trying out the following method, which works for me:**

1) use smaller num_workers in fit method, which the default value is 32, you can try 4, 8 or 16 until you never met this problem.
2) run your code in terminal. do not run your co

[2021-01-27 21:04] Innixma commented on #806
@RuojiWang Thanks for the info, it appears that this is primarily a GPU memory issue then.

[2021-01-30 08:37] Gpwner opened #894 "why TabularPrediction can not utilize GPU?"
Here is my code,I just dont understand why it can  not utilize gpu  at all:
[code]
And my CPU utilization is upon to 99%.

[2021-01-30 09:01] Gpwner commented on #894
And I got this error:
[code]

[2021-01-30 11:29] claudiuvintila commented on #806
Thank you!

[2021-01-31 05:35] Innixma commented on #894
In the upcoming v0.1 release, GPU will no longer need to be specified in order to be utilized when appropriate. Additionally, numerous stability improvements related to GPU have been added for v0.1, so hopefully this issue will be fixed in v0.1. v0.1 is planned to release in ~2 weeks, or you can take a look at and install the pre-release now: https://auto.gluon.ai/dev/index.html

[2021-02-01 02:11] Gpwner commented on #894
Thanks for reply.

[2021-02-02 02:47] Innixma commented on #269
KNN now respects time limit in upcoming v0.1 release.

[2021-02-02 02:47] #269 closed

[2021-02-02 19:03] Innixma opened #898 "Distillation data augmentation does not respect time limit"
Tabular's distillation method does not respect time limit during data augmentation when ideally it should.

[2021-02-02 19:09] Innixma commented on #898
Existing workaround: specify `augment_method=None` to avoid generating augmented data to ensure time limit is respected.

[2021-02-02 19:28] sflender opened #899 "Add support for token pre-selection"
Add option to pre-filter the tokens generated with CountVectorizer, for instance with sklearn's SelectKBest, and only keep the K tokens that are most correlated with the label column. This should improve both training speed and model performance.

piece of the code to be changed:
https://github.com/awslabs/autogluon/blob/ff6830416e88affa75d5550e9a5875708223fc5a/features/src/autogluon/features/gene

[2021-02-02 20:11] davidabek1 opened #901 "GroupKFold crossvalidation in AutoGluon Tabular?"
Hello,
Thanks for your work on this AutoML package,
**Is GroupKFold-cross-validation supported in AutoGluon Tabular?**
As AutoGluon creating validation sets for internal search of best model and hyperparameters, it has to create the train/val sets based on allowed groups, or training will be "contaminated".
currently with other models I'm using nested cross-validation approach, where in my inner c

[2021-02-02 20:38] Innixma commented on #901
This is not supported at present, but has been requested before and is a reasonable enhancement to add.

AutoGluon currently supports KFold splits by the following code:

[code]

Note that `n_repeats` allows for repeated bagging / cv. It seems that `GroupKFold` would not support `n_repeats>1`, so we would need to force `n_repeats=1` in this scenario. Similarly, `stratified` and `random_state` argu

[2021-02-02 21:08] davidabek1 commented on #901
Thank you, for the fast response,
I did looked up to see previous request, and closest resembled one was the "Time based crossvalidation", which is not the same.
All your comments for GroupKFold constraints are in place, another approach as an addition enhancement to provide support for `random_state` and `n_repeats` is with the [GroupShuffleSplit](https://scikit-learn.org/stable/modules/generated

[2021-02-03 07:33] EternalConfession opened #904 "How to limit CPU usage?"
The **TabularPrediction.task.fit()** will occupy all the CPU cores, even though I set **nthread_per_trial = 1** and **"NUMEXPR_MAX_THREADS" = 8**. The CPU usage will rocket to ~9000%.

How can I limit the CPU usage.

[2021-02-03 18:37] Innixma commented on #904
This is a good callout, as currently most models do not respect limiting the resources. I will plan to address this in the upcoming v0.1 release or as a follow-up, as we already have added limit control for GPUs.

[2021-02-03 20:22] #833 closed

[2021-02-03 20:24] Innixma commented on #804
I believe this has been resolved.

[2021-02-03 20:24] #804 closed

[2021-02-03 20:26] Innixma commented on #894
Hi @Gpwner , I have added support for GPU in #896, which will be available in pre-release and in v0.1.

To ensure GPU is used, add the argument `ag_args={'num_gpus': 1}` to the call to `TabularPredictor.fit()`

[2021-02-03 20:26] #894 closed

[2021-02-03 20:36] #722 closed

[2021-02-03 20:38] Innixma commented on #696
In v0.1 and pre-release, NeuralNet uses the GPU if specified: #896

[2021-02-03 20:38] #696 closed

[2021-02-03 20:41] #641 closed

[2021-02-03 20:42] Innixma commented on #635
This has been fixed.

[2021-02-03 20:42] #635 closed

[2021-02-03 20:44] #611 closed

[2021-02-03 20:44] #607 closed

[2021-02-03 20:45] #593 closed

[2021-02-03 20:46] Innixma commented on #580
FastText has been added, thanks again @songqiang for the contribution!

[2021-02-03 20:46] #580 closed

[2021-02-03 20:49] #482 closed

[2021-02-03 20:52] Innixma commented on #415
It appears that your score was 60.34, but your max_reward setting was `1.0`, meaning that HPO stopped early due to achieving over the max reward.

[2021-02-03 20:52] #415 closed

[2021-02-03 20:54] Innixma commented on #311
AutoGluon v0.1 release introduces namespace packaging modules, which should resolve this issue.

[2021-02-03 20:54] #311 closed

[2021-02-04 01:41] EternalConfession commented on #904
For those who meet the same issue, currently, I use **taskset** to limit the resources.

taskset -c 0-32 python xxx.py

[2021-02-10 19:30] mhup115 opened #916 "Customize learning_rate in autogluon classification .fit()"
I'm a student working on an autogluon project and can't get the learning rate modified. I have an oscillating HPO chart and figured that was a good place to start.

![sagemaker v2 train](https://user-images.githubusercontent.com/78876421/107563036-701a4100-6b95-11eb-8379-d04c6c06bf88.png)

Here's my code:

[code]

[2021-02-10 19:36] mhup115 commented on #916
The random learning rate values were from my debugging, should have mentioned that I originally used the code as its given in the documentation: learning_rate=ag.space.Real(1e-4, 1e-2, log=True)

[2021-02-11 02:43] Innixma commented on #916
Could you provide logs? It is very hard to debug without logs.

Additionally, could you try pre-release? v0.0.15 is 5 months old now, and we have overhauled ImageClassification.

Pre-release installation instructions and documentation:

https://auto.gluon.ai/dev/install.html
https://auto.gluon.ai/dev/tutorials/image_prediction/beginner.html#sec-imgquick

[2021-02-11 03:50] mhup115 commented on #916
Sorry, here are the logs. I'll try downloading the pre-release next.
--
scheduler_options: Key 'training_history_callback_delta_secs': Imputing default value 60
scheduler_options: Key 'delay_get_config': Imputing default value True

Starting Experiments
Num of Finished Tasks is 0
Time out (secs) is 600

scheduler: FIFOScheduler(
DistributedResourceManager{
(Remote: Remote REMOTE_ID: 0,
	<Remote: '

[2021-02-11 04:11] mhup115 commented on #916
I just tried updating to the pre-release, it says i'm running the latest version and to restart the kernel.

When following these [docs](https://auto.gluon.ai/stable/tutorials/image_classification/hpo.html) on customizing the search space, the logs produced don't reflect any of these changes. Pretty stumped unfortunately

[2021-02-11 18:46] Innixma commented on #916
You probably aren't using the pre-release then. I'd recommend creating a fresh venv without autogluon installed, and then following thee pre-release install instructions.

[2021-02-12 05:36] tiru1930 opened #921 "Support Inference on AWS Lambda"
I was trying to run the aws inference inside aws lambda function  and i got this error

[code]
looks like there an issue with aws multi-processing

[2021-02-12 11:29] mhup115 commented on #916
Thanks, that eventually got it resolved. However now I'm hitting a another wall with the fit function returning -1 values for train_acc and valid_acc:

`
import autogluon.core as ag
from autogluon.vision import ImagePredictor
train_dataset, _, test_dataset = ImagePredictor.Dataset.from_folders("data")
predictor = ImagePredictor()
predictor.fit(train_dataset)`

INFO:gluoncv.auto.tasks.image_classif

[2021-02-13 23:45] Innixma commented on #921
AutoGluon does not currently support AWS Lambda for a variety of reasons. Most importantly, multiprocessing methods that AutoGluon makes heavy use of are not enabled in Lambda. Either Lambda must enable these multiprocessing options, or AutoGluon must have a configuration which does not make use of them to work on Lambda.

AutoGluon does work on EC2 and Fargate without issue, so I would recommend

[2021-02-13 23:50] Innixma commented on #827
Closing as we have confirmed AutoGluon pre-release can be installed on Kaggle via pip.

[2021-02-13 23:50] #827 closed

[2021-02-14 00:09] #459 closed

[2021-02-14 00:10] #476 closed

[2021-02-14 00:12] Innixma commented on #433
Closing this, please re-open if this issue still exists.

[2021-02-14 00:12] #433 closed

[2021-02-14 00:15] Innixma commented on #382
Closing as resolved, we have implemented the singleton pattern for v0.1.

[2021-02-14 00:15] #382 closed

[2021-02-14 00:17] #304 closed

[2021-02-14 00:20] Innixma commented on #249
This is now achievable via `predictor.transform_features` and `predictor.load_data_internal`

[2021-02-14 00:20] #249 closed

[2021-02-14 00:20] #241 closed

[2021-02-14 00:24] Innixma commented on #149
Assuming this is resolved at this point. If not, please re-open.

[2021-02-14 00:24] #149 closed

[2021-02-14 00:25] #123 closed

[2021-02-14 00:26] #92 closed

[2021-02-14 00:28] #57 closed

[2021-02-14 00:28] #55 closed

[2021-02-14 00:29] #35 closed

[2021-02-14 00:30] #36 closed

[2021-02-14 00:30] #136 closed

[2021-02-14 00:32] #159 closed

[2021-02-14 00:33] #157 closed

[2021-02-14 00:34] #227 closed

[2021-02-14 00:34] #226 closed

[2021-02-14 00:34] #223 closed

[2021-02-14 00:34] #214 closed

[2021-02-14 00:36] #261 closed

[2021-02-14 00:37] #268 closed

[2021-02-14 00:38] #477 closed

[2021-02-14 00:41] #582 closed

[2021-02-14 00:42] #757 closed

[2021-02-14 00:43] #734 closed

[2021-02-14 00:45] Innixma commented on #784
#733 has been merged, so marking this as resolved. If the issue still exists in pre-release / upcoming v0.1 release, please re-open.

[2021-02-14 00:45] #784 closed

[2021-02-14 00:47] #832 closed

[2021-02-14 00:48] Innixma commented on #880
I believe we have successfully used p4 instances recently with AutoGluon Text. If you are still having issues, please re-open this ticket and I can ping the users who were using p4 instances to provide instructions.

[2021-02-14 00:48] #880 closed

[2021-02-14 00:51] #853 closed

[2021-02-14 00:56] #716 closed

[2021-02-14 00:58] #823 closed

[2021-02-14 00:59] #806 closed

[2021-02-14 01:02] Innixma commented on #698
@zhreshold is this resolved now?

[2021-02-14 11:04] Pentar0o opened #925 "classifier.predict PIL object loading"
Hi,

Will it be possible in a near future to be able to use a PIL Image object instead of a physical file in classifier.predict() ?

Regards.

[2021-02-15 21:58] zhreshold commented on #925
@Pentar0o You can use numpy image with RGB layout in shape (H, W, 3), will try to add PIL image support in the future.

[2021-02-15 22:02] zhreshold commented on #698
@solua100 the dataset is fixed, however, task is deprecated in current version, you may refer to https://auto.gluon.ai/stable/tutorials/object_detection/beginner.html for the new tutorials to train a detector

[2021-02-15 22:02] #698 closed

[2021-02-15 22:30] mhup115 commented on #916
Hi following up on this. If its relevant info, the graph output after the model training in the checkpoint folder is blank:
![ag](https://user-images.githubusercontent.com/78876421/107998592-52384c00-6f9a-11eb-91ff-20419512738e.png)

[2021-02-16 08:37] jeonginseo opened #931 "How to use .rec for ENAS?"
First of all, thank you for your awesome work.

**I tried to import my custom image dataset (made by im2rec.py) for ENAS example as below:**
(source : http://autogluon-staging.s3-website-us-west-2.amazonaws.com/PR-388/3/tutorials/nas/enas_mnist.html#reference)

**train_set = mx.gluon.data.RecordFileDataset('train.rec')**

**but it failed with these errors:**
/usr/lib/python3/dist-packages/apport/r

[2021-02-16 10:33] Pentar0o commented on #925
So I tried this (tabofimage contains the content of the image in a PIL format) :
                ImageNumpy = np.asarray(tabofimage[1])
                indice, _, _ = classifier.predict(ImageNumpy)

And I get this following error :
TypeError: cannot unpack non-iterable NoneType object

Did I misunderstand something in your answer ?

[2021-02-16 16:12] ecoskian opened #932 "AutoGluon Tabular ensembling fails with NaN-related error"
Hello,

Just tried using AutoGluon on a Pandas DataFrame with the following:

[code]

None of the columns in the training data contains NaNs, however the first round of ensembling fails as follows.

Any help appreciated.

[code]

[2021-02-16 22:50] Innixma commented on #932
Could you try the pre-release version of AutoGluon? (Ensure fresh venv is used): https://auto.gluon.ai/dev/install.html

Unfortunately with the error you provided, it is hard to reproduce, so if pre-release does not work you will want to provide the full training logs instead of just the error.

[2021-02-17 04:24] Innixma opened #935 "Add Sklearn Neural Network to Tabular"
Add Sklearn Neural Network to Tabular

[2021-02-17 08:08] ecoskian commented on #932
Thanks. Tried again using the pre-release but no luck. Full log below.

[code]

[2021-02-17 22:10] Innixma commented on #932
Seems the issue is coming from:

[code]

Somehow, the Neural network is getting a NaN score... I've never seen this before and it isn't obviously reproducible on any dataset that I have. Furthermore, I can't even figure out a way to artificially get a NaN score output from `autogluon.core.metrics.root_mean_squared_error` which is the metric used in your run.

I would be very interested if you coul

[2021-02-19 15:50] kabirmdasraful opened #943 "Final model large size"
Hi,
First of all thanks to all developers for providing such a great package.  I am facing a space problem when `presets='best_quality'` is selected. The reason what I understand is that it tries different types of model and save all of them.
Is there any way to save only the best model in one single file as H2O-3 package does? Also saving option not only in `.pkl` but also in `binary` form?

[2021-02-19 19:40] mhup115 opened #945 "Image Classification error: returning -1 'train_acc' and 'valid_acc' values"
The model completes the epochs, however when its finished training I get this error showing -1 values for training accuracy and validation accuracy. The HPO graph produced is blank.

CODE:

`pip install --upgrade "mxnet<2.0.0"`
`pip install --pre autogluon`
`pip install autogluon.vision`
`pip install autogluon.core`
`import autogluon.core as ag`
`from autogluon.vision import ImagePredictor`
`train

[2021-02-19 20:41] Innixma commented on #943
If disk space is a concern, consider using:

`presets=['high_quality_fast_inference_only_refit', 'optimize_for_deployment']`.
This should be ~20x-40x+ reduction in disk space used.

If that is still too much, use:
`presets=['good_quality_faster_inference_only_refit', 'optimize_for_deployment']`.
This will be ~100x+ reduction in disk space used.

If you'd like to use only a particular model and del

[2021-02-19 22:41] Innixma commented on #945
Most import thing I notice, is that you aren't using GPU.

This is mentioned at the end of the logs: `'MXNetError: GPU is not enabled\n',`

[code]

Is not correct for GPU usage. Instead it should be:

[code]

Refer to dev install instructions, CPU/GPU is part of the installation:
https://auto.gluon.ai/dev/install.html

@zhreshold Can we add an automatic exception raising when GPU MXNet is not inst

[2021-02-19 23:20] zhreshold commented on #945
@mhup115 I also noticed that you are running in tensorflow kernels, you may want to create a new conda environment or try the mxnet* kernels.

[2021-02-20 03:04] Innixma commented on #33
sample_weight support is now in PR: #942

[2021-02-20 03:45] kmedved commented on #33
Exciting! Thanks @Innixma

[2021-02-21 09:25] #33 closed

[2021-02-21 19:12] j2schmit opened #949 "TextSpecialFeatureGenerator post_drop_dulicatesd default True"
https://github.com/awslabs/autogluon/blob/63fa1da164a3243de214a84067bbfa7d5f89fc51/features/src/autogluon/features/generators/text_special.py#L30

The default value for post_drop_duplicates is True, but for large datasets this activity seems to take a lot of time. Is there a recommended pythonic way to set this as False?

[2021-02-21 19:29] Innixma commented on #33
#942 has been merged, and this feature should be available in the pre-release on Monday.

[2021-02-21 20:04] Innixma commented on #949
Refer to this example of creating custom feature generators: https://github.com/awslabs/autogluon/blob/master/examples/tabular/example_custom_feature_generator.py

You would need to specify a `feature_generator = PipelineFeatureGenerator(...)` and pass it into `predictor.fit(..., feature_generator)`

Since you'd be using [PipelineFeatureGenerator](https://auto.gluon.ai/dev/api/autogluon.features.h

[2021-02-21 23:13] Innixma commented on #949
I decided to look into this, and I found a way to heavily optimize the DropDuplicatesFeatureGenerator, now it should be 10x-1000x+ faster once this PR is merged: #950

I believe once this optimization is merged, you shouldn't need to disable duplicate dropping.

[2021-02-21 23:56] j2schmit commented on #949
Thanks for the quick fix Nick. To answer your question there are around 31M rows around 1 GB (this is already heavily downsampled). The Ngrams went reasonably quick  around 700s (memory constraints limited the vectorizer vocab size). Prior to your fix, drop duplicates hadn't finished after 12 hours of runtime.

[2021-02-22 01:32] #949 closed

[2021-02-22 02:48] Innixma commented on #949
Good to know, we haven't thoroughly explored datasets that are beyond 5M rows (especially true for datasets with text in them), so any feedback you have on the experience/further difficulties would be very valuable to improving our support for large datasets. Likely some issues (such as the DropDuplicates issue), only appear with large datasets that are outside of our typical benchmarking.

For in

[2021-02-22 11:22] kabirmdasraful commented on #943
@Innixma Thanks for the clarification.  I have another question. I am not sure if need to open a separate issue for this.

`predictor = task.fit(train_data, label='class',time_limits = 2*60)` if I run this code it automaticlly starts saving the model which sometimes inconvenience for user. Mostly as a scikit-learn user, we are used to saving the model only after if the user thinks the model is per

[2021-02-22 14:37] dai-ichiro commented on #763
I updated my environment.

[code]
And I can now use the GPU for object detection tasks.

[2021-02-22 14:37] #763 closed

[2021-02-22 17:43] Innixma commented on #943
We currently don't support delaying model saving, as otherwise we would need to persist all trained models in memory at once, which can lead to numerous memory error related problems if the user isn't careful. This may be added in a future release, but isn't on our current roadmap. My suggestion is to increase disk space or avoid using models that take up a large amount of space (i.e. KNN, RF, XT)

[2021-02-22 17:44] #943 closed

[2021-02-22 18:41] Innixma commented on #932
I've merged a PR which will not save any model that gets a NaN score, to avoid crashes in future: #937

However, we are still investigating the root cause of the issue. It seems to be triggered when a prediction is NaN by the model, and we have only been able to reproduce it one time across 100s of runs.

[2021-02-23 17:09] zhreshold commented on #945
closed with #946

[2021-02-23 17:09] #945 closed

[2021-02-23 17:11] zhreshold commented on #925
@Pentar0o can you post the stack trace of this particular error?

[2021-02-23 19:56] songqiang opened #957 "minor issue with StringDtype dtype columns"
There is minor issue with pandas dataframe with columns of pd.StringDtype dtype.  If the label column is StringDtype, and the problem type is multiclass classification, AG fails. If one of the feature columns is of StringDtype, AG issues a warning, but manages to finish training.

Here is a toy example to reproduce the issue:
[code]
which gives
[code]

Now we train an AG model
[code]
The training

[2021-02-23 23:14] Innixma commented on #932
This has been fixed in #954.

[2021-02-23 23:14] #932 closed

[2021-02-23 23:30] Innixma commented on #931
Hi @jeonginseo , could you try using pre-release or waiting for v0.1 to release (should be release within 1 week)? We have overhauled a lot of the logic and your issue may have been fixed already.

[2021-02-24 10:21] nwils opened #959 "Cannot run Neural Architecture Search example"
Hi,

I am trying to run the nas example [https://github.com/awslabs/autogluon/blob/master/examples/nas/train_enas_imagenet.py](NAS example). I tried to run it on AWS SageMaker. An MXNet estimator was used to run it.

autogluon version = 0.0.15
mxnet - 1.7.0
train instance - p2.xlarge

 But it produced an error as follows.
[code]

I tried the same code on an EC2 instance, but the error was differen

[2021-02-24 15:10] Pentar0o commented on #925
Hope that help (tell me if you need more info) :

The Code :
                try:
                    ImageNumpy = np.asarray(lettre[1])
                except Exception as ex:
                    traceback.print_exception(type(ex), ex, ex.__traceback__)

                try:
                    indice, _, _ = classifier.predict(ImageNumpy)
                except Exception as ex:

[2021-02-24 21:24] Innixma commented on #959
Please consider using a fresh virtual environment instead of a pre-made virtual environment, and to get help with issues, please install autogluon pre-release version (`pip install --pre autogluon`), as much has changed and your issue may have already been fixed in pre-release.

[2021-02-24 22:11] Innixma commented on #139
Resolved in #920 , now default HPO process will no longer cause issues on MacOS.

[2021-02-24 22:11] #139 closed

[2021-02-24 22:11] Innixma commented on #120
#955 appears to not run into any issues using 3.8, marking as resolved.

[2021-02-24 22:11] #120 closed

[2021-02-24 22:12] Innixma commented on #231
Issue should be resolved by #920

[2021-02-24 22:12] #231 closed

[2021-02-24 22:13] Innixma commented on #266
#920 should resolve all issues with HPO stability.

[2021-02-24 22:13] #266 closed

[2021-02-25 00:05] Innixma commented on #615
Basic multi-label support has been added as a tutorial in #953, which is available in pre-release documentation: https://auto.gluon.ai/dev/tutorials/tabular_prediction/tabular-multilabel.html

[2021-02-25 00:05] #615 closed

[2021-02-25 00:08] #656 closed

[2021-02-25 00:11] Innixma commented on #602
This should be resolved by using local sequential scheduler from #920

[2021-02-25 00:11] #602 closed

[2021-02-25 00:13] Innixma commented on #595
This issue is resolved by #598, although NN can still take a very long time to train in general compared to other models.

[2021-02-25 00:13] #595 closed

[2021-02-25 00:17] Innixma commented on #526
It is expected that this is now fixed in pre-release and upcoming v0.1 due to overhauls in the code.

[2021-02-25 00:17] #526 closed

[2021-02-25 00:21] #368 closed

[2021-02-25 00:22] #276 closed

[2021-02-25 00:24] Innixma commented on #274
#714 is tracking adding more user-options for early stopping control.

[2021-02-25 00:24] #274 closed

[2021-02-25 00:25] #251 closed

[2021-02-25 00:26] Innixma commented on #228
Resolved in #953

[2021-02-25 00:26] #228 closed

[2021-02-25 00:28] #356 closed

[2021-02-25 00:30] Innixma commented on #187
This has been added for v0.1, and is available in pre-release.

[2021-02-25 00:30] #187 closed

[2021-02-25 00:32] Innixma commented on #488
I am guessing this has been fixed in pre-release and for the upcoming v0.1 release due to code overhauls. If this issue still exists in pre-release / v0.1+, please open a new issue.

[2021-02-25 00:32] #488 closed

[2021-02-25 00:34] #490 closed

[2021-02-25 00:35] #916 closed

[2021-02-25 01:43] Innixma opened #961 "Add documentation for model stack levels / name suffixes"
Add documentation for model stack levels / name suffixes to Tabular models doc page.

[2021-02-25 04:24] Innixma commented on #782
All accepted proposals have been implemented into v0.1 release.

[2021-02-25 04:24] #782 closed

[2021-02-25 21:25] Innixma commented on #683
Please consider trying this again on pre-release or after v0.1 releases. We believe that the majority of issues related to ConfigSpace have been resolved, but have not tested this on Windows. Please re-open if issues persist.

[2021-02-25 21:25] #683 closed

[2021-02-25 21:29] Innixma commented on #875
I expect some of the issue is related to ConfigSpace, which we have recently stabilized in pre-release. I am marking this resolved for now, but please re-open if issues persist in latest pre-release and v0.1+

[2021-02-25 21:29] #875 closed

[2021-02-25 21:31] Innixma commented on #868
Thanks for the report! This has been fixed as the tutorial has been reworked: https://auto.gluon.ai/dev/tutorials/tabular_prediction/tabular-multimodal-text-others.html#

[2021-02-25 21:31] #868 closed

[2021-02-25 21:31] Innixma commented on #886
This should be fixed now with Text overhaul and local sequential scheduler HPO management overhaul in pre-release. Please re-open if issue persists.

[2021-02-25 21:31] #886 closed

[2021-02-25 21:33] Innixma commented on #709
@sxjscience is this fixed at this point?

[2021-02-25 21:33] sxjscience commented on #709
Yeah, it has been fixed.

[2021-02-25 21:33] #709 closed

[2021-02-26 07:36] songqiang opened #967 "NeuralNetFastAI training fails when presets is good_quality_faster_inference_only_refit"
The FastAI neural network models fails when preset is good_quality_faster_inference_only_refit or high_quality_fast_inference_only_refit. It works fine when presets is medium_quality_faster_train or best_quality.

Package version:
[code]

Code to reproduce error
[code]

The error message looks like:
[code]

[2021-02-26 23:56] Innixma commented on #967
Thanks for spotting this! This bug also affected the AG_TEXT_NN model. I have fixed both in this PR: #973

[2021-02-27 03:04] Innixma commented on #967
#973 is merged and fixes this issue.

[2021-02-27 03:04] #967 closed

[2021-02-27 03:05] Innixma commented on #961
Added in #965

[2021-02-27 03:05] #961 closed

[2021-02-27 03:52] Innixma opened #976 "Align predict_proba argument defaults across Tabular and Text"
Align `predict_proba` argument defaults across Tabular and Text for binary classification.

Option 1: `as_multiclass=False`:
- Return the positive_class pred_proba as a single column (pandas Series).
- User refers to `predictor.positive_class` to identify which class the probabilities belong to.
- This is what TabularPredictor/TabularPrediction has traditionally done.

Option 2: `as_multiclass=Tru

[2021-02-27 03:54] Innixma commented on #976
@jwmueller @gradientsky @sxjscience Please feel free to weigh in.

[2021-02-27 03:56] Innixma commented on #976
It should be noted that this will be something we cannot change after v0.1 release, as it is heavily API breaking.

[2021-02-27 04:02] sxjscience commented on #976
I will vote for option 2. Option 1 will make the return type and shape  be inconsistent. It can be either pandas.Series or pandas.DataFrame for option 1. In addition, it will also be difficult for users to process the data output by predict_proba because they will need to check whether they are dealing with a binary classification problem or multiclass classification problem.

[2021-02-27 07:37] jwmueller commented on #976
I agree option 2 is a bit more unified, and currently option 1 is not as user-friendly since it was less clear which class the probabilities were for. My only concern is changing Tabular to option 2 might introduce many bugs and take some time?

[2021-02-27 20:24] Innixma opened #978 "Align predict_proba behavior on regression problems"
Tabular and Text differ in predict_proba behavior on regression problems. They should be aligned for v0.1.

Option 1: Internally call predict and return predict output
- Tabular does this
- AbstractModel does this
- Increases flexibility for new users who may not understand the nuances of regression and predict_proba.

Option 2: Raise Exception
- Text does this
- May help avoid bugs in users code

[2021-02-27 20:25] Innixma commented on #978
@jwmueller @sxjscience @gradientsky @zhreshold Feel free to weigh in.

[2021-02-27 20:30] sxjscience commented on #978
I'll vote for Option 2. `predict_proba` should be disabled if it's a regression problem. Raising an exception will make the life easier and avoid bugs.

[2021-02-27 20:32] sxjscience commented on #978
I think the general rule is to always raise exceptions if the user is using the toolkit in any unexpected way.

[2021-02-28 00:04] gradientsky commented on #978
I'll vote for Option 2 - this clears confusion for experienced users who deal with forecasting problems: they usually want the prediction with the confidence intervals.

[2021-02-28 02:25] jwmueller commented on #978
I’m fine with either way. I think it’s not that confusing if predict_proba just calls predict for regression, and unlikely to introduce bugs unless the user didn’t even realize they’re working with a regression problem in the first place...

We are also in the process of adding quantile regression problem_type, but were planning to have a separate predict method for that problem.
I agree predict_p

[2021-02-28 22:56] Innixma commented on #976
#979 has been merged and implements Option 2. Thanks for the feedback, I agree that it is the most user-friendly and least confusing option.

[2021-02-28 22:56] #976 closed

[2021-02-28 23:28] Innixma commented on #978
I also think it is unlikely to produce bugs (What bug exactly would be produced that wouldn't already happen if this threw an exception?)

Regarding confidence intervals / quantiles, I think that may want to live in a separate method altogether.

I think this is a 2-way door, since we can always later add a deprecation warning to calls to predict_proba when problem type is regression, so I think w

[2021-03-01 04:38] Innixma opened #984 "Document release process"
Add documentation for developers on steps to take during release.

Include:
- execute GitHub Action `pythonpublish_testpypi.yml`
- Update versions in code
- Create Release via GitHub
- Increment versions in code after release to ensure pre-release isn't using old version numbers.

[2021-03-01 13:40] Kishansinh94 commented on #372
Searching for answer? refere this :

https://github.com/awslabs/autogluon/issues/163#issuecomment-573388784

It worked for me 👍
Don't forget to restart manually.

[2021-03-01 23:46] Innixma opened #985 "Add feature importance groupings to Tabular"
Add ability to specify a group of features to get an overall importance for the group.

[2021-03-02 11:36] Entrack commented on #818
On the present day, when importing autogluon I've faced the same issue as @impulsecorp.
But upgrading dask package solves the issue.
[code]
By the way, autogluon (at least for the TabularPredictor) also imports without workarounds, just with `!pip install autogluon`.

[2021-03-02 17:14] mli opened #986 "import error for v0.1 on python 3.8"
Tried to install autogluon v0.1 on python 3.8, got a bunch of error when to

[code]

some sample lines

[code]

A temp solution is just using python 3.7

[code]

additional info about my env, i created an ec2 instance from ubuntu 18, then using the following code to install python and pip

[code]

[2021-03-02 18:39] Innixma opened #987 "RF/XT lower priority for regression problems."
RF/XT can be slow in regression due to performing many splits, consider lowering model priority.

[2021-03-02 18:41] Innixma opened #988 "Add log statement that eval_metric scores are being flipped to ensure higher is better."
Add line in logs if eval_metric is flipped (root_mean_squared_error).

[2021-03-02 22:33] Innixma opened #991 "Fix TextPredictorModel during refit_full"
Calling refit_full on a TextPredictorModel can take overly long since it doesn't use the epochs trained by the original model. This should be fixed for users to use good and high quality presets for faster inference compared to best_quality.

[2021-03-02 22:43] Innixma opened #992 "Tabular: Add option for user to specify # of folds to use during inference"
Add option for user to specify # of folds to use during inference to enable flexible inference latency.

[2021-03-02 23:44] Innixma opened #993 "Document submodule installation"
Add documentation on how to install submodules such as `autogluon.tabular`, including their optional dependencies.

[2021-03-03 02:24] Innixma opened #994 "Fix fit_weighted_ensemble on high_quality preset"
Following code crashes:

[code]

Leaderboard before crash:

[code]

Error:

[code]
This occurs because the best model `WeightedEnsemble_L3_FULL` has None as its validation score, so when comparing with `WeightedEnsemble_L3Best`, the type error occurs.

[2021-03-03 06:58] sxjscience commented on #991
In fact, I added one test case in https://github.com/awslabs/autogluon/blob/7af68d6d80ff7dfe6e03f9555e85491cdfde9c7a/tabular/tests/unittests/models/test_text_prediction_v1_model.py#L8-L10. May need to investigate what causes the failure.

[2021-03-03 06:59] sxjscience commented on #987
In fact, should we consider to remove RF/XT given that we have already had three other tree models? (LightGBM, CatBoost, XGBoost).

[2021-03-03 07:15] sxjscience commented on #987
Also, may be we can consider to only keep one between FastAI model v.s. MXNet-based NN.

[2021-03-03 07:16] Innixma commented on #991
I looked into code user mentioned failure in, error was actually caused by #994, so the issue isn't TextPredictor. Still, it will be good eventually to handle refit_full correctly to respect time_limit and ensure refit_full version isn't significantly different from non-refit_full version in terms of accuracy.

[2021-03-03 10:19] nwils commented on #959
Hi,
Thank you very much for the quick reply. I tried to run the code in a new virtual environment, unfortunately a new error appears regarding the mxnet scheduler.
[code]
I tried to import the scheduler from mxnet module, but it does not exist. How can I proceed?

[2021-03-03 11:32] mseeger commented on #959
Can you try and add an empty __init__.py in autogluon/mxnet/src/autogluon/mxnet/scheduler ?

[2021-03-03 12:08] mseeger commented on #959
Sorry, this is old code written by somebody who left the team. But we should make sure this still works. Porting it to PyTorch would be worth wile an exercise, if you look for something to contribute

[2021-03-03 18:40] Innixma commented on #959
The ModuleNotFoundError was indeed a missing init file. #996 fixes this. Once it is merged, feel free to try again after installing from source: https://auto.gluon.ai/stable/install.html

[code]

[2021-03-04 03:05] salad-henchmen opened #999 "Cross Validation and custom pipeline in Autogluon."
Hello,
I have a problem with data leakage and wanted to avoid it so I created a custom pipeline to cleanse the data before train/validation. However, when the cross validation is performed across the train dataset, splitting it into train and val in each fold, does the pair go through the _fit_transform within the pipeline? Is there any extra configuration that I'll have to enable first?

[2021-03-05 03:10] Innixma commented on #999
Could you provide more context in terms of the form of data leakage that is in your dataset and how it relates to the cross-validation splits?

[2021-03-05 03:14] #728 closed

[2021-03-05 03:18] Innixma commented on #985
Added in #989

[2021-03-05 03:18] #985 closed

[2021-03-05 16:33] Razieh-Rosie opened #1001 "Old doc pages still exist."
Hi,
I've installed autogluon and now I a trying to use image classification by following the steps provided in the following link:
https://auto.gluon.ai/tutorials/image_classification/kaggle.html

I'm getting this error about cannot import name 'ImageClassification' as following screenshot shows:

<img width="1006" alt="Screen Shot 2021-03-05 at 9 19 30 AM" src="https://user-images.githubuserconte

[2021-03-05 22:24] Innixma commented on #1001
This is an old doc page that isn't generally reachable without the exact link.

Please refer to our stable documentation instead: https://auto.gluon.ai/stable/index.html

And for the exact page you are looking for: https://auto.gluon.ai/stable/tutorials/image_prediction/kaggle.html

@zhreshold Can we find a way to delete the old pages that don't conform to our new doc format? Is it just a matter o

[2021-03-06 17:33] Razieh-Rosie commented on #1001
instructions from the new link are working with no error. Many thanks.

[2021-03-08 17:58] schinto commented on #569
Uncertainty estimation got available in catboost
https://towardsdatascience.com/tutorial-uncertainty-estimation-with-catboost-255805ff217e

https://youtu.be/aeMQk9EYqlw

[2021-03-08 20:59] Innixma opened #1003 "Error when calling leaderboard after using high_quality preset with TextPredictor model."
In Tabular if a user fits with high_quality with multimodal hyperparameters and then calls `predictor.leaderboard(extra_info=True)`, it causes an error during model size calculation.

[2021-03-09 11:31] VGODIE opened #1004 "Time series split during inner cross validation"
I've searched the documentation and failed to find a possibility to use option to make inner validation not randomly based on some 'time' parameter - in my case data is time dependent and i want to assure that during validation step only data 'from past' is used as train set, and 'from future' as validation set.

Is there any option to enable it ?

[2021-03-10 16:23] daikikatsuragawa commented on #596
For your reference.

I was also in trouble with a similar problem. The following is one example of the solution.

https://www.kaggle.com/daikikatsuragawa/a-beginner-s-guide-to-autogluon

[2021-03-10 17:27] Innixma commented on #596
Awesome! Thanks for giving an example.

One note (and unfortunately I expect this is going to happen a lot, so is the way of optional dependencies in python...):

`!pip install autogluon.tabular` only installs a minimal install of Tabular, with most of the models missing.

You'll want to do `!pip install autogluon.tabular[all]` to get all the models.

[2021-03-10 17:47] Innixma commented on #1004
We are currently working on this functionality. The PR of the WIP time-series support is available here: #684

You can refer to the existing issue tracking this feature request here: #617

At present, it's recommended to not use bagging / stacking for time series problems in AutoGluon and instead use a train/val split and pass both into fit as `train_data`, `tuning_data`. Once #684 is merged, the

[2021-03-10 17:50] Innixma commented on #617
As an update to this feature:

We are currently working on time-series functionality. The PR of the WIP time-series support is available here: #684

At present, it's recommended to not use bagging / stacking for time series problems in AutoGluon and instead use a train/val split and pass both into fit as `train_data`, `tuning_data`. Once #684 is merged, the plan is to investigate adding the inner

[2021-03-10 18:05] Innixma opened #1008 "Clarify pip install autogluon.tabular[all] instructions"
`pip install autogluon.tabular[all]` is not very visible. Many users may use `pip install autogluon.tabular` and not realize they are installing only a minimal version of AG-T.

[2021-03-10 18:18] schinto commented on #617
A generalized form of the Splitter concept for CV as used here would be great
https://github.com/deepchem/deepchem/blob/master/deepchem/splits/splitters.py
So that time/clusterid/integer columns can be selected, which contains custom splits, but the columns are excluded from prediction.

[2021-03-10 20:17] jwmueller commented on #569
Yes this catboost virtual-ensembles can be useful, particularly for quantifying model uncertainty which quantile regression does not measure.  But we should first add uncertainty-quantification as a bonus functionality for regular classification/regression, before trying to add it for quantile regression.  It'll presumably be a valuable functionality for all types of prediction problems.

[2021-03-10 20:59] Innixma opened #1009 "Add model uncertainty as feature to stack when performing repeated bagging."
Model uncertainty may be a powerful feature for stacker models, and it comes free when performing repeated bagging on base models.

Primary concern: It may take many (5+) repeated bags to get a confident uncertainty measure.

[2021-03-10 21:20] daikikatsuragawa commented on #596
Thank you! I got very good information!

[2021-03-11 00:13] Innixma commented on #596
@daikikatsuragawa Decided to give a shot at it in minimal LOC: https://www.kaggle.com/innixma/top-3-in-3-lines-of-code-w-autogluon

[2021-03-11 10:59] daikikatsuragawa commented on #596
@Innixma
I seem to have misunderstood. And thank you.
I think it's amazing!

[code]
https://www.kaggle.com/innixma/top-3-in-3-lines-of-code-w-autogluon

[2021-03-11 11:41] antoinecomp commented on #399
`Do not support special JSON characters in feature name`: how to use LGBM in columns with Russian names?

I have a train part of a dataframe with Russian names:

[code]

And when I apply LightGBM on it, it rases the same issue:

[code]

So how can I use LightGBM on this kind of features? Do I need to transform them to English column names?

[2021-03-11 13:25] zenetio opened #1011 "ImagePredictor not splitting the dataset"
I am running the example dog-breed-identification and when I run the statement below
`train_dataset, val_dataset, test_dataset = ImagePredictor.Dataset.from_folders(dataset_dir)`
For the returned value, I am getting all the images inside train_dataset variable and the other two variables, val and test dataset, are empty. I have the following structure
[code]
Based on the documentation, I understan

[2021-03-11 22:16] Innixma commented on #399
@antoinecomp This error doesn't appear to be from AutoGluon, are you using AutoGluon?

[2021-03-11 23:45] Innixma opened #1012 "[Vision] Exception when loading GPU trained model on CPU machine"
When an `ImagePredictor` object is trained on GPU, then loaded on a CPU-only machine for inference, this error occurs:

`MXNetError: GPU is not enabled`

Ideally, we should give the option for users to switch to CPU inference mode, or to automatically switch to CPU if GPU is not present (along with a warning).

[2021-03-12 00:38] Innixma commented on #1012
Initial thought:

[code]

valid inference_mode values: 'cpu', 'gpu', 'auto'

[2021-03-12 00:55] zhreshold commented on #1012
[code]
ctx = ['cpu', 'gpu', 'auto']

[2021-03-12 00:58] Innixma commented on #1012
Looks good, can we also keep track of ctx used during training so we can log a warning if ctx changes due to 'auto'?

[2021-03-12 01:08] Innixma commented on #1011
From what you have shown, your directory only includes train, so it would make sense to only have data in `train_dataset`. If the documentation says otherwise, can you please link to it?

[2021-03-12 05:40] zhreshold commented on #1012
We can, of course

[2021-03-12 08:11] jwmueller commented on #617
@Innixma time-based crossvalidation or train/val split does not necessarily correspond to time-series. It may still be useful for regular supervised learning where rows are independent, just not identically distributed over time.

I think users who want a time-based single train/val split should just do it themselves though and pass their val data as `tuning_data`.  For bagging/stacking, we could

[2021-03-12 14:44] zenetio commented on #1011
Hi @Innixma , thanks for your quick answer.
Based on the link below, I understand that autogluon should split the training dataset into, at least, two parts: train/val. But I the statement line I mentioned in my first post, returns just the train dataset managed in images and labels. No signal of val or test datasets.
https://auto.gluon.ai/dev/tutorials/image_prediction/kaggle.html

[2021-03-12 20:31] Innixma commented on #1011
@zhreshold could you take a look?

[2021-03-12 20:33] Innixma commented on #617
@jwmueller my current plan is to add generic support for specifying fold indices (although it will disable repeated bagging when specified). The time-based cross-val will be a separate implementation, since it needs special handling.

[2021-03-12 21:02] zenetio commented on #1011
Hi @Innixma, I just edited the source code and got the point. The function will receive the train directory and make the split process on the fly. The point is that the way how this process is commented in the documentation, lead us to think that the function will create train and val directories with splitted images.
I did spend many hours trying to understand and searching the internet looking f

[2021-03-12 21:50] Innixma commented on #1011
I see, thanks for the context. We will look into updating the docs to make it more clear.

[2021-03-12 23:58] Innixma commented on #596
You didn't misunderstand, the reason I don't need to do the other lines (mxnet, pip, setuptools), is because they are already installed on kaggle kernel. It is still necessary outside of Kaggle.

I think it makes sense to keep the general instructions, so I've reverted it in my notebook.

Also, I ran AG for 1 hour in the notebook and got 0.804 without feature engineering :D https://www.kaggle.com/

[2021-03-15 08:22] ppunyst opened #1013 "AutoGluon Tabular excluded_model_types doesn't work."
Hello.
I had a test on Ubuntu 18.04 / Python 3.6.9 w/ AutoGluon ver. 0.1.0b20210225.

When I call TabularPredictor(label=label_column).fit(train_data, excluded_model_types='["KNN", "NN"]') ,
It works well w/o any error message.

But, Even though I ordered `Do not train KNN, NN kinds of models',
AutoGluon Tabular still trains those kinds of models.

Indeed, I got the log message `Excluded Model Typ

[2021-03-15 10:30] yx1215 opened #1014 "Scheduler Hang issue"
When running the examples [here ](https://auto.gluon.ai/stable/api/autogluon.core.scheduler.html) with python version 3.8.3, the process hangs. I have no ideas what caused this issue because it also happens when I was trying to test my forecasting code in python version >= 3.8.

The following is the script:
[code]

The following is the result before hanging:
[code]

The following is the message af

[2021-03-15 23:00] Xingchi-Lboro opened #1016 "module 'autogluon' has no attribute 'args'"
Hi,

I am working on a hyperparameter tuning problem based on the example code 'https://github.com/zhanghang1989/HPO2NAS-Tutorial-CVPR-ECCV2020/blob/master/mlp.ipynb'.
However, when I run the code, an error comes as 'module 'autogluon' has no attribute 'args'', I don't know how to fix this problem.

Basically, I can import autogluon, but can not use it, even cannot check the autogluon version by a

[2021-03-16 00:56] Innixma opened #1019 "Improve logging clarity of TextPredictor exceptions when called via TabularPredictor"
Currently, if during multi-modal TabularPredictor fit, TextPredictor runs out of time and doesn't finish any models, it will raise an exception which is caught by Tabular and displayed to the user as a model failure. This error can be misleading and confusing to the user, so it might be better to rephrase the error message to appear less serious.

[code]

[2021-03-16 01:03] Innixma commented on #1016
The example you are referring to is very old, and does not align with the current API of AutoGluon.

You could try the tutorial after installing an old version of AutoGluon (<=0.0.15), or (preferably) refer to our up-to-date tutorials in our stable documentation: https://auto.gluon.ai/stable/tutorials/index.html

[2021-03-16 01:03] #1016 closed

[2021-03-16 01:05] Innixma commented on #1013
Are you passing the string value `'["KNN", "NN"]'` instead of a list `["KNN", "NN"]`? You have to pass a list. A string will not be properly handled.

[2021-03-16 01:07] #1013 closed

[2021-03-16 02:38] Innixma opened #1020 "BLAS : Program is Terminated. Because you tried to allocate too many memory regions."
When training K-nearest-neighbors (KNN) models, sometimes a rare error can occur that crashes the entire process:

[code]

It has so far only occurred on machines with >300 GB of memory (2 confirmed instances). In both cases, the system was not low on memory and had plenty to complete the task, yet the error still occurred.

[2021-03-16 02:42] salad-henchmen commented on #999
Hello! Sorry for the late response. I'm performing an aggregate operation across an entire feature. And so I'm trying to build a separate pipeline to handle the validation data such that this operation is performed across this val_data using the information we obtain from the train set. I was wondering how cross validation is performed so that for each temporary train and validation set, i could t

[2021-03-16 02:45] Innixma commented on #1020
Current theory based on https://github.com/xianyi/OpenBLAS/issues/1882:

AutoGluon will call .fit many times very quickly when sampling KNN with 96 threads, each fit call creates 96 threads for parallel fitting/inference. Because this process repeats so rapidly, python isn't able to clean the threads faster than they are created, causing BLAS to error.

[2021-03-16 17:39] Innixma commented on #1014
What OS are you running? Are you running the script from terminal?

[2021-03-16 17:48] Innixma commented on #1014
Likely cause: On MacOS Python 3.8 defaults to `spawn` when forking instead of `fork`, which was changed from Python 3.7

https://discuss.python.org/t/multiprocessing-spawn-default-on-macos-since-python-3-8-is-slower-than-fork-method/5910

[2021-03-16 18:13] Innixma opened #1021 "Child model leaderboard visibility + variance calculation"
Add option to show child models in leaderboard, and an option to specify them in `.predict`.

Add option to calculate bagged model variance in leaderboard.

[2021-03-17 15:26] yx1215 commented on #1014
1. I am using MacOS
2. I am running the script using Pycharm.
3. I tested both 3.8.1 and 3.8.3 and it seems that both of them have the error, while the simple script is totally fine with version 3.7.x.

[2021-03-19 14:47] JordanHolland opened #1024 "How to specify max training CPU count in Tabular"
It appears the `n_threads_per_trial` kwarg has been removed from `TabularPredictor.fit()`, but not removed from `ImagePredictor.fit()` fit function. Was this intended?

The byproduct of this removed functionality, combined with a safe limit of 8 cores seems to limit the number of cores that can be used for the `TabularPredictor`:

`Note: NumExpr detected 32 cores but "NUMEXPR_MAX_THREADS" not set,

[2021-03-19 21:40] sflender opened #1025 "keep feature matrix sparse for large dataset support"
For very large text datasets (millions of rows+) it is much better to keep the ngram feature matrix sparse instead of decompressing it, as done here:

https://github.com/awslabs/autogluon/blob/master/features/src/autogluon/features/generators/text_ngram.py#L200

This would also alleviate the memory issue mentioned here:

https://github.com/awslabs/autogluon/blob/master/features/src/autogluon/featu

[2021-03-20 23:10] Innixma commented on #1024
The below message can be ignored. I'm not sure why it is printed in our logs but it shouldn't impact our model training:

`Note: NumExpr detected 32 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.`

Currently we default to using all cpu cores for each model training, and don't support specifying custom values. The old `n_threads_per_trial` in old Tabular did not work correct

[2021-03-21 02:21] zenetio opened #1026 "Missing saved model"
I am using Ubuntu 18.04 running on WSL2 with cuda enabled.
I did the dog example using the benchmark.py script. The example did run with no problem and at the end, I checked the checkpoint directory and it was empty. The log file shows the best model is being saved but the directory is empty and there is no error message.
It seems something not working.

[2021-03-21 20:59] Innixma commented on #1026
Thanks for submitting an issue! Could you please provide a reproducible script + logs so that we can try to replicate the exact issue you are experiencing?

[2021-03-21 21:07] Innixma commented on #999
Ah I see! This does sound like useful functionality. We don't currently support this for the global preprocessing step, however for the model-specific preprocessing, one option is to create custom models and specify them in hyperparameters. These custom models could override the `_preprocess` method by first calling your custom feature engineering logic that is split specific. (data passed to `_pr

[2021-03-22 14:32] JordanHolland commented on #1024
Just checked -- does look like we're still using all cores for model training. You're probably correct that the majority  of users will want to automatically use all CPUs. Thank you for clearing up the confusion with the `n_threads_per`_trial` kwarg, feel free to close the issue as you see fit.

[2021-03-24 01:31] zenetio commented on #1026
After debugging the benchmark.py script using the dog-breed-identification example, I figured out that there is a **cleanup_disk** flag in image_classification.py script that is true, causing the deletion of the entire checkpoint directory at the end of the fit process. Where can I set this flag to false and avoid the checkpoint directory deletion? I know I can do a hardcode setup but I think ther

[2021-03-24 03:42] zenetio opened #1029 "Issue when trying to save the predictor model in image classification"
When I try to save the predictor model using the function **predictor.save()** I am getting the following error
Traceback (most recent call last):
  File "/home/carlao/projects/autogluon/examples/image_classification/benchmark.py", line 95, in <module>
    main()
  File "/home/carlao/projects/autogluon/examples/image_classification/benchmark.py", line 92, in main
    predictor.save()
  File "/home

[2021-03-24 10:35] petergtz opened #1030 "autogluon.mxnet is missing dependency on autogluon.extra"
`autogluon.mxnet` uses `autogluon.extra`:
https://github.com/awslabs/autogluon/blob/b403079bcc17171d8b5366096f7d7f9e7eb1b99a/mxnet/src/autogluon/mxnet/task/nets.py#L8
but it doesn't list it as a dependency:
https://github.com/awslabs/autogluon/blob/b403079bcc17171d8b5366096f7d7f9e7eb1b99a/mxnet/setup.py#L19-L28

This breaks when doing a `python3 -m pip install autogluon.mxnet` and then importing `

[2021-03-24 19:55] salad-henchmen commented on #999
Oh okay! I'll look into that too then. But how about using the AbstractFeatureGenerator to build a custom pipeline. Can't the _fit_transform and _transform be used to handle the train and validation datasets separately? Also, wouldn't this allow me to continue using auto_stack safely?

[2021-03-24 21:07] jmrichardson opened #1031 "Confusing error message: HPO on Random Forest"
Hi,

When tuning RF with the following:

[code]

I get the following error:

[code]

When trying to tune min_samples_leaf:

[code]

I get this error:

[code]

When trying for Real (float):

[code]

I get this error:

[code]

Am i doing something wrong?  Here is how I am calling autogluon:

[code]

Autogluon version:

[code]

[2021-03-25 02:33] jmrichardson opened #1033 "GBM doesn't like ":" in column name"
Using the [tutorial](https://auto.gluon.ai/stable/tutorials/tabular_prediction/tabular-indepth.html) with a different data set produced the error below.  Changing the column names to exclude a ":" resolved the issue however would like to report it as I prefer them and the other models i have tested so far don't seem to have this issue.  Also, this only occurs with something similar to the the foll

[2021-03-25 14:33] Innixma commented on #1030
Thanks for spotting this! #1032 fixes the issue and will be available in our next release.

[2021-03-25 14:33] #1030 closed

[2021-03-25 23:27] zhreshold commented on #1026
@zenetio You don't necessarily have to dig into the checkpoint folder, just save the predictor to disk whenever you feel comfortable by `predictor.save('the_checkpoint_i_need')` after fit function.

After a recent fix in gluoncv the predictor will always load the best checkpoint before returning (https://pypi.org/project/gluoncv/0.11.0b20210325/)

[2021-03-27 20:38] Innixma commented on #1031
Ah, good catch!

HPO is currently disabled for RF/XT/KNN models as most users are better off tuning the other model types (GBM, CAT, XGB, NN). Tuning RF/XT/KNN has a major risk of taking up many GB or TB of disk space. It seems the error message users get when trying to do HPO on them is not clear however, so this is a bug.

[2021-03-27 20:41] Innixma commented on #1033
Very nice catch. This is an extremely specific error that is due to how models are trained when bagging, which bypasses the correct conversion of feature column names in LightGBM when invalid column names are present. For now, I'd recommend cleaning the model names outside of AutoGluon before sending them in, and I will look into fixing this.

[2021-03-28 01:20] #1033 closed

[2021-03-28 01:21] Innixma commented on #1033
This is now fixed in #1036. Thanks again for reporting!

[2021-03-29 18:13] rxjx opened #1038 "threshold for classifier"
Is there a way to get the threshold for a trained classifier, i.e. to convert predict_proba returned values to binary (or multi-class) predictions? I can't find anything in the docs or in the issues for this. I'd rather not fork and modify the code if possible.

[2021-03-29 21:13] Innixma commented on #1038
Currently it is always 0.5 for binary or the max for multiclass. We don't adjust thresholds when making predictions.

[2021-03-31 19:10] cpoptic opened #1043 "BrokenPipeError: [Errno 32] Broken pipe"
When running TabularPredictor.fit(), I encounter a BrokenPipeError for some reason.
What is causing this?
Could it be due to OOM error?

[2021-03-31 19:45] Innixma commented on #1043
Thanks for submitting an issue! Please also include more information such as Python version and OS (I assume Windows).

This appears to be an issue related to Windows interaction with torch/fastai. If you can isolate the issue to a minimal example such as with `hyperparameters=['FASTAI': {}]`, this would be helpful.

If you want to avoid the error for now, you can disable the FASTAI model via `exc

[2021-04-01 00:45] cpoptic commented on #1043
Thanks @Innixma , yep it's a Windows 10 machine on VS Code (I really need to set up WSL on VS Code so I can run this code on Linux).
python -V is `3.7.10`, running in a Conda environment.

I suspect you're right about the `fastai` on Windows issue.

I don't know how to check the logs (if there are any), but it appears AutoGluon runs successfully in this order:

1. RandomForestMSE
2. ExtraTreesMSE

[2021-04-01 12:37] zenetio commented on #1026
@zhreshold , your comment is what I was looking for.
Thank you.

[2021-04-01 12:37] #1026 closed

[2021-04-01 19:51] jwmueller commented on #1038
If you would like to use a different threshold, please use `predict_proba()` and then apply your own threshold to decide how to map these predicted class-probabilities into predicted class-labels.

[2021-04-01 20:14] rxjx commented on #1038
Yes, I was already doing that. I was just curious if that gets adjusted internally as part of optimization. Is it not done because you've seen that causing overfitting? Or is there a theoretical ERM reason not to? I assume you're not doing it because you don't know the cost of misclassification for each category.

[2021-04-01 21:05] jwmueller commented on #1038
@rxjx  I think we just haven't adjusted threshold internally simply due to lack of bandwidth :)
If you'd like to help contribute this, that would be awesome!

The steps needed would be something like:

1) add optional `class_threshold` argument to `predict()` function. Make sure `class_threshold` can also take in array & pd.Series of thresholds for each class in multiclass classification (and incl

[2021-04-01 21:11] rxjx commented on #1038
Thanks for the response. I can definitely take a look at doing this, although not in a prompt manner since work and another side project claim time. Might be nice to return confusion matrices for some thresholds too or perhaps graphical representations.

[2021-04-01 21:22] jwmueller commented on #1038
Awesome to hear you're interested 👍
I agree graphical representations would be nice to show, note that we do already offer confusion-matrix functionality inside our `evaluate_predictions()` function.

You can also email us at: autogluon-dev@amazon.com
for private Qs or to receive an invite to our Slack channel for contributors.

[2021-04-02 09:40] Gpwner opened #1045 "How to setup Negative Class when using TextPredictor?"
I  am using Autogluon.text 0.1.0 for binary text classification，I wonder whether can I setup negative class.Thanks~

[2021-04-05 09:07] VGODIE commented on #1043
I have the same error on MacOs

[2021-04-05 13:51] VGODIE opened #1046 "Refit creditor on new data"
Is it possible to take the best found predictor by the search and refit exactly this predictor to the new data without new search?

[2021-04-06 12:45] sitems opened #1048 "Using different pretrained NN model in multimodal TabularPredictor"
I want to use multimodal TabularPredictor with 'multi_cased_bert_base_fuse_late' pretrained model (instead of the default one). How should I specify it exactly?

[code]

[2021-04-06 18:39] Innixma commented on #1046
There is no automatic way to do this at present (assuming you are referring to Tabular). What you can do is use `predictor.info()` to see the hyperparameters of the final models and specify them exactly in a new predictor.

[2021-04-06 20:58] Innixma commented on #1045
positive/negative class specification is available in autogluon.tabular but not yet in autogluon.text , this is a good addition to have in a future release. For now, if you set your negative class to 0 and positive class to 1, this might work.

[2021-04-07 01:52] Gpwner commented on #1045
Thanks，I will have a try.

[2021-04-07 22:13] talhaanwarch commented on #810
@Innixma  Its not working, please check
https://colab.research.google.com/drive/1f3r2KJpWodJEqG3IoRkOKhT5zdl8MHTq?usp=sharing

[2021-04-08 00:07] Innixma commented on #810
@talhaanwarch Please refer to this notebook for a more updated version: https://colab.research.google.com/drive/1oT3zNsj9et8s1bJNx7VeHOn_mfpBoe4q?usp=sharing#scrollTo=hunLgsNTea_e

[2021-04-09 18:38] qo4on opened #1051 "Memory error in official kaggle tutorial"
`TabularPredictor().fit` from [this tutorial](https://auto.gluon.ai/stable/tutorials/tabular_prediction/tabular-kaggle.html) doesn't work in `Colab` or in `Kaggle` because of the memory error.
Kaggle has 16.81 GB of available RAM. Autogluon log shows that it needs much less memory: `Train Data (Original)  Memory Usage: 2715.97 MB`
What is the problem?

[2021-04-09 20:45] Innixma commented on #1051
To clarify, the data taking 2.7 GB of memory doesn't mean that AutoGluon won't need more than that to actually train models. You'll likely need 32 GB of memory (such as an m5.2xlarge).

I think it might be good for the tutorial to be updated so it can be run on 16 GB of memory. For example, we have a kaggle kernel that gets top 1% in the Otto competition: https://www.kaggle.com/innixma/autogluon-r

[2021-04-09 21:18] Innixma commented on #1048
You will need to specify a custom hyperparameters dictionary instead of using the preset. This example shows using the multimodal preset as a template and replacing the default text NN with your desired one.

[code]

[2021-04-09 21:18] #1048 closed

[2021-04-09 21:20] qo4on commented on #1051
Thank you for your answer. I understand that, but the error occures in `Fitting AsTypeFeatureGenerator...`
Are you sure that 11.3 GB of available Colab memory is not enough for feature generation? I successfully trained on 200 000 sampled examples and most of the time memory usage was far from the limit.

Also it's not clear what is the right way for installing AutoGluon. For `Colab` it kind of wo

[2021-04-09 21:32] Innixma commented on #1051
It is likely that there is too little memory, 2.7 GB dataset is very large for 15 GB memory, and depending on how you wrote your code, it could be duplicated in memory multiple times (along with having test data in memory). Operations that update DataFrames often also require duplication of the data in memory for the operation, which happens in `AsTypeFeatureGenerator` when converting data types.

[2021-04-09 21:33] Innixma commented on #1051
If you can share the Kaggle Kernel which is causing issues for you on IEEE, that would be a good resource for me to reference.

[2021-04-09 23:32] Innixma opened #1053 "Make pyarrow an optional dependency / not installed by default"
pyarrow is specific to parquet files, better to have it be optional in autogluon.text or removed entirely (add informative error message to install pyarrow if attempting to load parquet and pyarrow is not installed)

[2021-04-10 07:00] daikikatsuragawa commented on #798
Send a pull request as needed.
What kind of timing is good?

[2021-04-10 12:10] qo4on commented on #1051
I'm not sure what Kaggle Kernel you are talking about. Just 5 lines of code that return an error in latest Kaggle CPU environment:
![image](https://user-images.githubusercontent.com/35609308/114267353-794c5080-9a14-11eb-99bc-83dff986d543.png)

The code from your Kaggle Kernell works fine:
![image](https://user-images.githubusercontent.com/35609308/114267537-ad744100-9a15-11eb-8024-59b462afddba.png

[2021-04-10 14:35] sitems opened #1054 "The right setting of batch_size in case of OOM error"
I'm using TextPredicotor on GPU and get memory error. So I decreased the batch_size to 1, but I still have the same error. Am I setting the batch_size correctly?

[code]

[2021-04-10 20:35] qo4on commented on #1051
I managed to reduce memory usage for `Colab` to `1.2 GB` and for `Kaggle` to `3.1 GB` using this function:
[code]
I have no idea why `Kaggle` needs more memory than `Colab` for the same task.

[2021-04-10 21:44] Innixma commented on #1051
re the error: thanks for this. Looks to be caused by `bokeh`. The latest version has `tornado>=5.1` as a dependency, which upgrades tornado. Since Kaggle doesn't offer an option to restart the runtime while keeping the environment, unlike Colab, an upgrade of tornado causes errors on AutoGluon import.

The following code works on Kaggle:

[code]

I have created PR #1055 to remove bokeh as a depend

[2021-04-11 04:39] recreationx opened #1056 "ImportError: cannot import name 'TextClassification' from 'autogluon.text'"
Reproduced on Google Colab

Installed via:
!python3 -m pip install -U pip
!python3 -m pip install -U setuptools wheel
!python3 -m pip install -U "mxnet<2.0.0"
!python3 -m pip install autogluon

when calling
from autogluon.text import TextClassification as task
ImportError: cannot import name 'TextClassification' from 'autogluon.text' (/usr/local/lib/python3.7/dist-packages/autogluon/text/__init__.

[2021-04-11 09:44] qo4on commented on #1051
You can do this. First run this:

![image](https://user-images.githubusercontent.com/35609308/114299115-1968af00-9ad3-11eb-84ed-5e489e2b406b.png)

Then restart the runtime while keeping the environment:

![image](https://user-images.githubusercontent.com/35609308/114299183-69477600-9ad3-11eb-971a-32073eab4676.png)

After that import AutoGluon without any error. But the second import shows a warnin

[2021-04-11 20:24] Innixma commented on #1051
Thats great! I didn't know about those options. Regarding `bokeh`, the PR has been merged, so in the next release there should no longer be an exception on import.

[2021-04-11 20:27] Innixma commented on #1056
You are using the old API, the new API is:

[code]

Tutorial: https://auto.gluon.ai/stable/tutorials/text_prediction/beginner.html

[2021-04-11 20:27] #1056 closed

[2021-04-11 20:32] Innixma commented on #798
Hi @daikikatsuragawa,

Thanks for the follow-up! I think in ~2 weeks we should be in a good spot for the PR. v0.2 release is planned in ~1-2 weeks, so we will try to get that released and then directly follow-up with the `apply black` PR. I might also try to apply black to a few of the submodules individually before then to minimize the blast radius. The tricky part is we have collaborators / devs

[2021-04-14 09:09] qo4on opened #1060 "AutoGluon stacking quality"
What is the reason why `AutoGluon` shows significantly worse result compare to simple [one layer stacking](https://www.kaggle.com/sergeyzinchenko/predicting-a-biological-response)?
5 hours `best_quality` training gives private score `0.38131` compare to `0.37353` for 2 hours logistic regression.

![image](https://user-images.githubusercontent.com/35609308/114684468-61cdda00-9d2a-11eb-997c-eae94c98

[2021-04-14 12:30] qo4on commented on #1051
Can we get features after preprocessing step? They are all numerical, and they suppose to take less memory. If we do preprocessing in a separate process when the data is loading and then skip preprocessing step in `fit()`, this will help save memory.

[2021-04-14 19:01] Innixma commented on #1060
Thanks for providing the kernel!

Logistic / Linear regression has been known to outperform greedy ensemble selection on some datasets (Greedy Ensemble Selection is what `WeightedEnsemble` is based on), so this may be the cause.

It's also possible that AutoGluon may have overfit to the cross-validation data from early-stopping.

There was also this trick in the kernel that may have contributed:

[2021-04-14 19:33] Innixma opened #1063 "Tabular: Bagged blend-stack"
Add option for user-enabled bagging during blend-stacking (such as on `medium_quality`).

This will allow users to have some models be bagged while others be single models (standard), at the same time.

This is useful if some models are far slower than others: These models can be trained in the standard format, while the fast models can be bagged for improved model quality.

By treating all models

[2021-04-14 19:50] qo4on commented on #1060
They also use calibration `CalibratedClassifierCV`. Can we manually set 1000 trees? Do you know which parameters could improve `AutoGluon` result in this case?

[2021-04-14 20:10] Innixma commented on #1060
You can set to 1000 trees via the `hyperparameters` argument in `.fit`: https://auto.gluon.ai/stable/_modules/autogluon/tabular/predictor/predictor.html#TabularPredictor.fit

something like:

[code]

[2021-04-14 20:45] Innixma commented on #1051
Unfortunately, to fit the preprocessing stage features, we need all the data present. There is no 'skipping' it.

However, you can fit the preprocessing prior to calling fit (useful for isolating the memory error):

This example shows how feature generators work: https://github.com/awslabs/autogluon/blob/master/examples/tabular/example_custom_feature_generator.py

To get an identical generator to

[2021-04-15 08:51] qo4on commented on #1060
It looks like `19.6GB` of `Kaggle` disk space is not enough:
`Failed after 1 hour and 56 minutes` `OSError: [Errno 28] No space left on device`

[2021-04-15 14:04] kidotaka opened #1065 "plot_ensemble_model: OSError: syntax error in line 13 near '"'"
Hello
This is Windows related problem.
I know it's not supported yet.

TabularPredictor#plot_ensemble_model() result in OSError from pygraphviz on Windows.

A line number in the message vary by dot file and it's not an actual problem line.

Each node have "path" attribute and include backslash separator on Windows.

It seems that backslash is treated as an escape.

After replacing backslash to sla

[2021-04-15 20:48] Innixma commented on #1060
Yes, this is expected on Kaggle, having 1000 trees means using a lot of disk space. Especially when you are using `best_quality`. You could try using `presets='high_quality_fast_inference_only_refit'`, which should fit on disk without error.

[2021-04-16 18:18] qo4on commented on #1060
Thanks.
Unfortunately I did not managed to get the same score using `AutoGluon`. Stretch improves the result to `0.37828`, but it's far from `0.37353`. If anyone finds a better `AutoGluon` setting, post it here, please.

[2021-04-17 14:08] hokmingkwan opened #1069 "How to load a specific model on leaderboard"
Hi,  after using TabularPredictor for training, we can use `predictor.leaderboard(extra_info=True, silent=True)`  to see the model's performance and we can use `model_to_use = predictor.get_model_best()` to predict the test data e.g.: `y_pred = predictor.predict(test_data, model=model_to_use)`

May I know that how we can use the second best model to predict? e.g. The second best is WeightedEnsembl

[2021-04-17 14:58] talhaanwarch commented on #164
Checked on Windows 10. Python 3.8.5 and its working. AutoGlouon version is 0.1.0

[2021-04-17 17:56] talhaanwarch commented on #164
tested with v0.0.15 as suggested in #811 but now it give `ModuleNotFoundError: No module named 'autogluon.tabular'`

[2021-04-17 19:26] talhaanwarch commented on #164
tested with `pip install --pre "autogluon==0.0.16b20201214"` but now kernel keep on restarting

[2021-04-18 04:43] talhaanwarch commented on #164
After some test, i found that in some previous versions package is imported this way `from autogluon.tabular import TabularPrediction as task` which cause an [issue](https://github.com/awslabs/autogluon/issues/811) in newer version `0.1.0`. So I figured out the syntax changed to `TabularPredictor` instead of `TabularPrediction` and for me it worked on windows 10, python version `3.8.5`

[2021-04-18 04:58] talhaanwarch commented on #1069
I believe you need to pass it as
y_pred1 = predictor.predict(X_test, model='weighted_ensemble_l3')
or the simple way is to pass the index of the model as follow or string
[code]

[2021-04-18 12:08] talhaanwarch opened #1070 "Make torch installed by user instead of auto-installation"
I think the torch version should be installed by the user. Currently with `v0.1.0`,  `torch-1.8.1` is installed which throws the error `AssertionError: Torch not compiled with CUDA enabled`. And as user, I first need to uninstall it and then install it again. Further different systems has different cuda version and making it pre-installed with latest cuda version make things difficult.

Note:  the

[2021-04-18 12:25] talhaanwarch opened #1071 "Prevent model saving in disk"
Is there a way to avoid saving of model in the disk? I checked the [docs ](https://github.com/awslabs/autogluon/blob/e618bf9caf83d7f86c9cd4d86caaaeb7f1d7f16c/tabular/src/autogluon/tabular/predictor/predictor.py#L74)but if the `path` to set to None instead of not saving, it saved it to a time-stamped based folder.

[2021-04-18 19:34] Innixma commented on #1070
Thanks for mentioning this!

One option is to install torch prior to AutoGluon, which should keep your torch version in most cases.

Another is to avoid installing torch altogether via:

[code]

By default, it installs `autogluon.tabular[all]` which includes torch.

Hope this helps! We may consider making torch a separate dependency, however `fastai` depends on `torch`, and we ideally want `fastai

[2021-04-18 19:37] Innixma commented on #1071
Not at present. This is to simplify the code and avoid nasty out-of-memory errors. If the amount of disk usage is the problem, the upcoming v0.2.0 reduces Tabular's disk usage by ~10x+ in many cases.

[2021-04-18 19:40] Innixma commented on #164
@talhaanwarch I'd recommend to always check the documentation, we also keep legacy documentation pages for older versions:

https://auto.gluon.ai/stable/index.html

https://auto.gluon.ai/dev/versions.html

[2021-04-18 19:49] Innixma commented on #1069
You can use the name of the model that was on leaderboard.

[code]

For more information, refer to the documentation: https://auto.gluon.ai/stable/api/autogluon.task.html#autogluon.tabular.TabularPredictor.predict

[2021-04-18 19:49] #1069 closed

[2021-04-18 19:56] rxjx commented on #1038
I think the multiclass case gets complicated fast. Let's restrict it to binary for the first pass?

[2021-04-19 07:00] jwmueller commented on #1038
Yes I think an initial PR can just add it this functionality for only binary classification since it's more straightforward and the most common use-case. For other problem-types you could for now simply print error message if the user has specified the optional threshold argument.

[2021-04-19 21:34] talhaanwarch opened #1073 "RuntimeError: DataLoader worker (pid(s) 18864, 2468, 18668, 19464, 1744, 14436, 8604) exited unexpectedly"
Python 3.8.5
OS: windows 10
Code to reproduce
[code]
I got this error `RuntimeError: DataLoader worker (pid(s) 18864, 2468, 18668, 19464, 1744, 14436, 8604) exited unexpectedly`

Error Log
[code]

[2021-04-19 21:37] #799 closed

[2021-04-19 21:44] talhaanwarch commented on #1073
On the other hand, I did not get any error when I run the following code
[code]

[2021-04-19 21:46] talhaanwarch commented on #1073
The buggy code work in colab. check [here](https://colab.research.google.com/drive/1YJUjQM-dJY9DF1FNUKmtw8tXFpS3n0A-?usp=sharing). So look like its only window os issue

[2021-04-19 23:56] SangbumChoi opened #1074 "Performance evaluation question"
Hi, as the title mentions
I am modifying autogluon to have faster inference time with the same performance (especially in the feature engineering part).
However, I was curious about the rule of the modified code's generality. This means that the paper denotes about a total 10 kaggle competition (except Walmart since deprecated), so does overall or average performance gain on this 10 dataset can be

[2021-04-21 00:20] Innixma commented on #1074
Hi Choi,

Thanks for your interest! We would be happy to benchmark changes you make from a PR submission.

The current way we go about benchmarking / evaluating AutoGluon Tabular is with the AutoMLBenchmark: https://github.com/openml/automlbenchmark . This is somewhat involved to run yourself, and is more suited to large-scale benchmarking on 100's of datasets.

For smaller-scale testing, I'd reco

[2021-04-21 00:27] Innixma commented on #1073
Thanks for this! Could you try running on the pre-release of AutoGluon with a fresh venv? This appears to be a FastAI bug on Windows. In pre-release we have updated to v2 of FastAI, whereas current stable release of AutoGluon uses FastAI v1. It is possible this has been fixed in FastAI v2.

Get pre-release via:

[code]

Make sure to do this in a fresh venv so there isn't any corruption from past i

[2021-04-21 00:29] SangbumChoi commented on #1074
Hi, thanks for the reply!
I see some gap between automlbenchmark dataset (which is somehow preprocessed of feature engineering and not having NA values) and the raw dataset (such as Kaggle).

Not only these issues I also experimented and saw some slight performance gap (using pure AutoGluon code with importing tabularpredictor vs. Openmlbenchmark)

However, the reply was pretty clear enough for me

[2021-04-21 00:32] #1074 closed

[2021-04-21 07:30] talhaanwarch commented on #1073
If i directly install `pip install --pre autogluon` it throws following error
[code]
So first I install pytorch with pip then fastai with pip before installing `pip install --pre autogluon`

[2021-04-21 20:08] Innixma commented on #1074
AutoMLBenchmark actually does have NA values on some of the datasets, and isn't particularly preprocessed. The only thing that is different in AutoMLBenchmark is that it specifies the feature types when the feature types are ambiguous, such as a feature that has values `0, 1, 2, 3, 4, 5` being categorical vs integer.

If you do find something particularly odd about the performance gap you are obse

[2021-04-21 22:27] Innixma commented on #1073
Interesting, so you are saying the installation issue is caused by FastAI v2 on Windows if torch wasn't already installed? You might have an old version of pip, or else it is a bug in FastAI.

Does FastAI v2 solve the original runtime error related to pids?

[2021-04-21 22:33] talhaanwarch commented on #1073
yes, FastAI solves the pid error. Might be the issue is because of pip because I am using `20.2.4` pip version and latest is `21.0.1`

[2021-04-21 22:55] talhaanwarch commented on #1073
The following commands also resolve the issue, so I think the version error mentioned above is because of an outdated pip version
[code]

[2021-04-21 23:03] talhaanwarch opened #1076 "Matplotlib version: AttributeError: module 'sip' has no attribute 'setapi'"
I am not sure whether this error should be fixed in autogluon or not. But I am mentioning it as it throws an error but did not halt the code progress. This has been observed both in `v0.1` and `v0.2` of autogluon.
OS: Windows 10
Python: 3.8.5

Error log
[code]
[This StackOverflow issue](https://stackoverflow.com/questions/64291087/matplotlib-module-sip-has-no-attribute-setapi) suggests downgrading

[2021-04-21 23:14] Innixma commented on #1073
Sounds good, then this will be resolved in the next release.

[2021-04-21 23:14] #1073 closed

[2021-04-21 23:16] Innixma commented on #1076
Could you try to get a working version by manually downgrading matplotlib after installing AutoGluon?

[2021-04-21 23:20] talhaanwarch commented on #1076
First, I uninstalled matplotlib version `3.4.1`, then install `3.2.0`, this resolved the issue

[2021-04-21 23:31] Innixma commented on #1076
Thanks for the info!

I'm leaning towards not fixing this in AutoGluon as it is Windows specific and seems like a bug in FastAI / matplotlib that should be fixed on their end. If it remains a problem long-term, we may consider restricting the version of matplotlib.

As of right now, you may want to open an issue with FastAI or matplotlib so they have visibility to the problem.

[2021-04-21 23:57] talhaanwarch commented on #1076
Thanks. I opened the issue with [matplotlib ](https://github.com/matplotlib/matplotlib/issues/20040) suggesting that simply installing pyqt5 will resolve this error. So here at autogluon, i suggest adding `pyqt5` in the requirement file or setup file.

[2021-04-22 00:00] Innixma commented on #1076
Thanks! I'll wait to see matplotlib's response before adding additional dependencies.

[2021-04-23 05:53] SangbumChoi commented on #1074
Well then the last thing that I want to ask is that does the paper evaluation was held on default configuration (which means no stacking and bagging by having auto_stack=default) or does stacking and bagging were set by auto_stack=True? (Also this kind of configuration will be highly dependent on server setting such as number of CPU, GPU, etc...)

[2021-04-23 06:04] Innixma commented on #1074
The paper was specifically set to `auto_stack=True`. While stacking is not always better due to a variety of factors, most notably a limited time budget, it is better than the default method the vast majority of the time. Also, the paper results shouldn't necessarily be considered as the current state of AG, as it has been over a year since those results were published and AutoGluon has undergone

[2021-04-23 06:51] SangbumChoi commented on #1074
Currently, my custom feature engineering shows performance increment in 7 out of 9 kaggle dataset when using vanilla AG, but sometimes having errors with multi-class and bnp-paribas dataset. Keep trying to have no error.
Yeah, pretty much version updated since the paper released I understand about the circumstances. Thanks for your kind and fast response :)

[2021-04-23 08:48] ShaohongBai opened #1079 "Model Serving - AutoGluonOnnx"
For tabular model, or any model class, is there any easy way or plan in the coming release to integrate with ONNX for downstream serving ?

A side question is for any individual trained model, e.g.`model = predictor._trainer.load_model('xgboost')`, is this directly compatible to things like mlflow.xgboost or  bentoml.frameworks.xgboost.XgboostModelArtifact? I think it would be super good to consid

[2021-04-23 15:45] rakshithvasudev commented on #1020
I can confirm this is still happening. Any best practices you recommend to alleviate this bug?

[code]

[2021-04-23 17:54] Innixma commented on #1020
@rakshithvasudev I suspect it occurs when you have many CPUs. Could you tell me how many CPUs your machine has? One option is to specify your `hyperparameters` explicitly, and set `n_jobs` for `KNN` to a small enough value to stop the error from occurring. This is a work-around until a better solution is implemented.

[2021-04-23 18:10] rakshithvasudev commented on #1020
@Innixma Thanks for your response. I have `128` cores on 2 CPUs. How do I set `n_jobs  `explictly for `KNN` model only?

I'm very new to autogluon. I'm using the `TabularPredictor`.

`TabularPredictor(label=label, path=save_path, eval_metric="f1").fit(train_data, time_limit=6000, presets='high_quality_fast_inference_only_refit')
`

Including the full log it that helps:

[code]

[2021-04-23 20:29] Innixma commented on #1020
Thanks for the info!

To understand how to specify custom hyperparameters, refer to the `hyperparameters` argument documentation: https://auto.gluon.ai/stable/_modules/autogluon/tabular/predictor/predictor.html#TabularPredictor.fit

The default hyperparameters are:

[code]

You would want to edit `KNN` (example to enforce using only 16 cores):

[code]

Another option is to disable KNN entirely:

[

[2021-04-23 21:13] Innixma commented on #1079
If anyone wants to try building a prototyping / POC of AutoGluon with ONNX support, we welcome contributions! One tricky aspect of AutoGluon is that it is an end-to-end ML solution, whereas most optimization frameworks like ONNX operate at the individual model level (aka does not support pre-processing, feature generation, post-processing, ensembling, etc.).

Obviously this doesn't mean it isn't p

[2021-04-23 23:01] gradientsky commented on #1060
I would suggest excluding KNNs since those take a lot of disk space:
[code]
The most recent changes might have optimizations made by Nick to reduce disk space consumption. @Innixma are these ok to use at this point?

[2021-04-24 16:20] rakshithvasudev commented on #1020
Thanks @Innixma the `n_jobs` set to 16 works. I tried running the job twice and had no problem.

[2021-04-25 14:09] qo4on opened #1083 "Replicate AutoGluon pipeline in code"
Can `AutoGluon` save training code, similar to what `TPOT` does? If not, how can I find out exactly what it's doing?

![image](https://user-images.githubusercontent.com/35609308/115995621-667d7280-a5f5-11eb-9657-49500ec57b89.png)

Suppose I selected `WeightedEnsembleL3` with
[code]
Then loaded it
[code]
I believe that `AutoGluon` runs `AutoMLPipelineFeatureGenerator` as default preprocessing
[code

[2021-04-26 16:28] ShaohongBai commented on #1079
Cool, I think the answer is expected however still thank you for the transparency. Do you have any plan in your mind regarding model serving then when it comes to end-to-end, i.e how the best model/models could be horizontally scalable for inference?

[2021-04-26 20:18] Innixma commented on #1079
We are working on improving general inference latency across the board (v0.2.0 that will soon be releasing is 5x faster in inference than v0.1.0), as well as incorporating acceleration frameworks internally such as Intel DAAL and NVIDIA RAPIDS. We are looking into distributed / cluster based inference which we will provide more news for when it's ready. Currently if you have the skills to containe

[2021-04-26 21:11] Innixma commented on #1079
0.2.0 is planned for release sometime this week. For deployment, it's possible to do some kind of custom ECS / EC2 solution (or a fully generic one), as all thats needed is to wrap the `TabularPredictor` object in some kind of callable API. Would be very interested if you end up having any info to share on how this process goes. We are thinking about some kind of cloud API such as `autogluon.cloud

[2021-04-26 21:22] ShaohongBai commented on #1079
ESC/EC2 are absolutely our first choice here. We are trying to bundling with BentoML, which looks similar to you cloud API solution. Will let you know how it goes. Congratulations on the release then!

Regards

Shaohong Bai

[2021-04-26 22:11] rxjx opened #1085 "TextPredictor fails if eval_metric = 'average_precision'"
I am training a TextPredictor in Colab without a GPU (%env AUTOGLUON_TEXT_TRAIN_WITHOUT_GPU=1). It works fine when I use eval_metric='f1' but fails when eval_metric = 'average_precision' like so:

INFO:root:Fitting and transforming the train data...
INFO:root:Done! Preprocessor saved to /content/drive/My Drive/autogluon_txt/task0/preprocessor.pkl
INFO:root:Process dev set...
INFO:root:Done!
INFO:r

[2021-04-26 22:11] rxjx commented on #1085
Sorry, the formatting got messed up.

[2021-04-26 23:36] talhaanwarch commented on #1085
I also faced this, check colab [notebook ](https://colab.research.google.com/drive/191nVpfvKLBCFgxsjeK5htHLNoI6KLHFi?usp=sharing)

[2021-04-28 21:03] Innixma commented on #1079
BentoML looks really cool! We might end up using that for our backend in the official API, thanks for mentioning it.

[2021-04-29 16:51] petulla commented on #1053
Thanks for this. There seems to not be any PyArrow support at Python 3.9.

[2021-04-29 18:57] Innixma commented on #1008
Resolved in #1091

[2021-04-29 18:57] #1008 closed

[2021-04-29 19:00] Innixma commented on #156
Closing due to staleness.

[2021-04-30 11:49] davidabek1 commented on #901
@Innixma , thank you for adding this enhancment to the task list of 0.3 release.
Lately I've been playing with H2O and by just adding the ability to assign a fold column, can resolve all posibilities,
Since then I will be able to create the column to which ever fold split I need, taking care of stratification and/or groups and/or TimeSeries.
All what left for the model is to use the cross-validati

[2021-04-30 16:58] rxjx commented on #1085
Yeah, verified that this would work. I changed it to:
`if problem_type == BINARY and scorer.name in ['roc_auc', 'average_precision']: `

However, might be better to just check for predictions' shape and use predictions[:,1] if it has more than one column?

[2021-04-30 17:07] sxjscience commented on #1085
@rxjx Would you mind submit a PR to fix it? We can change the code to check for the shape of prediction and slice `[:, 1]` if it is binary.

[2021-04-30 17:08] rxjx commented on #1085
Sure, I can do that tomorrow if that's OK. Need to work on my paying job today :-)

[2021-04-30 23:37] rxjx commented on #1085
Oddly, the training crashed twice after an hour. Not sure if that's related but will look at it more tomorrow. Colab is not showing me any logs about it. Just tells me it crashed.

[2021-05-01 16:25] rxjx commented on #1085
@sxjscience is predictions guaranteed to be a numpy array at that point in that code? Or could it also be a pandas dataframe/series?

[2021-05-01 16:42] sxjscience commented on #1085
Yes, it is guaranteed as a numpy array.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: rxjx ***@***.***>
Sent: Saturday, May 1, 2021 9:25:50 AM
To: awslabs/autogluon ***@***.***>
Cc: Xingjian SHI ***@***.***>; Mention ***@***.***>
Subject: Re: [awslabs/autogluon] TextPredictor fails if eval_metric = 'average_precision' (#1085)

@sxjscience<https://github.com/sxj

[2021-05-01 16:59] rxjx commented on #1085
Yeah, I looked thru the code and verified that. Just wanted to double check. OK, PR is ready.

[2021-05-02 17:36] #1085 closed

[2021-05-03 11:33] mattmcclean opened #1094 "[Tabular] Error with NeuralNetMXNet model saving to S3 path"
Am trying to run the getting started example with AutoGluon Tabular and running into a problem with the NeuralNetMXNet model training. The problem is with `TabularPredictor` `__init__` method that can take an S3 prefix rather than a local dir. I tried again removing the S3 path and it worked fine. The error is below.

The error message is the following:
[code]

[2021-05-03 15:27] mattmcclean commented on #1094
Looks like will need to follow the instructions here to build with S3 support - https://mxnet.apache.org/versions/1.8.0/api/faq/s3_integration#step-1-build-mxnet-with-s3-integration-enabled. Do you know if there is a pre-built version of this library with S3 support to avoid building from source ?

[2021-05-04 16:19] zhreshold commented on #360
Sorry for the late update on this issue, centernet is added already in v0.2

[2021-05-04 16:19] #360 closed

[2021-05-04 16:19] Innixma commented on #260
Please refer to the SageMaker tutorial on using AutoGluon: https://github.com/aws/amazon-sagemaker-examples/blob/master/advanced_functionality/autogluon-tabular/AutoGluon_Tabular_SageMaker.ipynb

[2021-05-04 16:19] #260 closed

[2021-05-04 16:22] Innixma commented on #524
Labelling this as won't fix. I think it's better to keep them as negative to have consistency across the system and to simplify how sorting operates with respect to metric scores.

[2021-05-04 16:22] #524 closed

[2021-05-04 20:18] #85 closed

[2021-05-04 20:18] #109 closed

[2021-05-04 20:18] #286 closed

[2021-05-04 20:19] #432 closed

[2021-05-04 20:20] Innixma commented on #466
Closing due to staleness, please re-open if the issue still exists.

[2021-05-04 20:20] #466 closed

[2021-05-04 20:24] Innixma commented on #487
Closing due to staleness. Many major updates to AG have occurred since this issue was created, so the issue may have been resolved.

[2021-05-04 20:24] #487 closed

[2021-05-04 20:25] Innixma commented on #538
#1041 implements Tabular + Image functionality.

[2021-05-04 20:26] Innixma commented on #603
This is likely resolved as of 0.1 / 0.2.

[2021-05-04 20:26] #603 closed

[2021-05-04 20:27] Innixma commented on #596
Closing as it appears there are no issues with installing AutoGluon on Kaggle as of v0.1 and v0.2.

[2021-05-04 20:27] #596 closed

[2021-05-04 20:29] Innixma commented on #563
Closing as it appears the issue is resolved.

[2021-05-04 20:29] #563 closed

[2021-05-04 20:30] Innixma commented on #743
@sxjscience @zhreshold are we using bayesopt by default in nlp and vision as of v0.2?

[2021-05-04 20:32] Innixma commented on #700
Closing due to staleness. It may be the case that the model is now available. Please re-open if the issue persists.

[2021-05-04 20:32] #700 closed

[2021-05-04 20:34] #652 closed

[2021-05-04 20:35] #931 closed

[2021-05-04 20:40] #959 closed

[2021-05-04 20:40] sxjscience commented on #743
Not for NLP, text is using local + random by default: https://github.com/awslabs/autogluon/blob/699e74d5c0ad7eab1544c64a5f5f1c53dff5f0dd/text/src/autogluon/text/text_prediction/presets.py#L46-L48

[2021-05-04 20:45] Innixma commented on #623
Closing due to staleness. We don't support GPU training on MacOS at present.

[2021-05-04 20:45] #623 closed

[2021-05-04 20:47] #655 closed

[2021-05-04 20:50] Innixma commented on #471
Closing for now, please re-open if the issue still exists.

[2021-05-04 20:50] #471 closed

[2021-05-04 20:52] Innixma commented on #988
Added log statement in #1080

[2021-05-04 20:52] #988 closed

[2021-05-05 04:06] mli opened #1096 "Training with `presets='best_quality'` takes too long"
The following code takes ~2h on a cpu machine, which is reasonable.

[code]

However, if enable `presets='best_quality'`, it will a significant more time. I stopped the training after about 5hours, I guess other users would do a similar thing.

We could improve the user experience by

1. report an estimated remaining time, not necessary to be accurate, but encourage users to wait
2. may generate a

[2021-05-05 04:16] mli opened #1097 "How to use GPUs for tabular"
I didn't find a tutorial how to use leverage gpus for tabular

One related notebook is https://www.kaggle.com/innixma/autogluon-rapids-top-1 Though I feel it's a little hard to follow

[code]

for example:
1. unclear which model I can use gpu
2. i even don't know what models i should include

is there an easy option to enable gpu, and autogluon will try its best to put proper models into gpu?

[2021-05-05 08:47] jwmueller commented on #1094
I'm not aware of a pre-built MXNet with the S3 support, so you may have to build from source.

Alternatively why not just first train with a local path, and then copy the resulting directory over to s3 after training is complete?

If there's some reason you need to use s3 path and cannot install s3-supported mxnet, then you could also just pass: `excluded_model_types=['NN'] to skip training of thi

[2021-05-05 08:58] jwmueller commented on #1083
You may use: `predictor. plot_ensemble_model()` to see the stack ensemble corresponding to
`predictor.get_model_best()`

Basically after data-preprocessing, autogluon simply trains all the models you see on the leaderboard above (L2 models are stacker models trained on top of L1 models' predictions as their features). More details are provided here: https://arxiv.org/abs/2003.06505

If you'd like

[2021-05-05 13:15] mattmcclean commented on #1094
Yes, I got around it by using EFS instead to save the models instead of S3

[2021-05-05 19:42] Innixma commented on #1094
This is a bug at present, we don't have good testing in place for the train in s3 functionality so it can sometimes have issues with certain models that are not traditionally serializable in pickle.

[2021-05-05 23:40] #538 closed

[2021-05-06 14:36] Innixma commented on #1097
Yes, there is an easy option to enable GPU:

`predictor = TabularPredictor(...).fit(..., ag_args_fit={'num_gpus': 1})`

This will force all models capable of running on GPU to run on GPU. This includes XGB, CAT, GBM, NN, and FASTAI at present.

The reason the notebook looks a bit more complicated is that GBM was actually worse with GPU enabled for that dataset, so I had to specify gpu usage on a p

[2021-05-06 15:12] Innixma commented on #1096
In general, `best_quality` will take ~20x longer than default, so if default takes 2 hours, `best_quality` will take 40 hours.

Currently it is somewhat difficult to get an estimate of total training time remaining, and this will be especially true for more diverse ensembles. I think a practical first step would be to add a log message to the user when training without specifying `time_limit` if t

[2021-05-06 20:40] Innixma commented on #1096
For this particular dataset, the reason it takes a long time is because it has text features which are expanded into ngrams.

I've added a PR to address this by adding a warning if time_limit=None and data is large (either by rows or by memory) which triggers on the dataset you mentioned:

[code]

[2021-05-06 20:48] Innixma commented on #1071
Closing as wontfix for now. Adding this functionality adds a great deal of code complexity for not much benefit. Please re-open if you can highlight a use-case where saving to disk is not an option.

[2021-05-06 20:48] #1071 closed

[2021-05-06 20:50] Innixma commented on #1083
You can also try:

```predictor.leaderboard(extra_info=True)```

This adds many additional columns with detailed model information to the output.

[2021-05-06 20:50] #1083 closed

[2021-05-06 20:54] Innixma commented on #1060
@gradientsky Yes, they are available in v0.2 release.

[2021-05-09 21:20] Innixma commented on #1097
#1101 adds an FAQ section on using GPUs. Will plan to add further documentation once GPU usage is more solidified (ideally we want to automatically use GPUs when available, however there are some accuracy inconsistencies at present between CPU and GPU training as some models train differently depending on if they use GPU or CPU.

[2021-05-09 21:20] #1097 closed

[2021-05-09 21:22] #1096 closed

[2021-05-10 08:24] Jcoke commented on #1046
Love autogluon so far - this would be an incredibly useful feature for my current use case. Can you provide a rough estimation (months? years?) for when this feature might be available? Thanks!

[2021-05-11 06:41] zhangfazhan opened #1103 "ModuleNotFoundError: No module named 'mxnet.base'"
from autogluon.text import TextPredictor

from .base import _LIB, check_call, c_str, py_str
ModuleNotFoundError: No module named 'mxnet.base'

mxnet:
mxnet-cu102               1.8.0.post0               <pip>

autogluon:
autogluon                 0.2.0                     <pip>
autogluon-contrib-nlp     0.0.1b20210201            <pip>
autogluon.core            0.2.0                     <pip>
autogl

[2021-05-11 08:05] zhangfazhan commented on #1103
I soved this problem by use mxnet-cu102 1.7.0 instead of mxnet-cu102 1.8.0.

[2021-05-12 00:26] zhreshold commented on #599
This issue is fixed in autogluon v0.1 therefore I am closing this, feel free to reach out if you still need the legacy models to be loaded

[2021-05-12 00:26] #599 closed

[2021-05-12 00:34] #812 closed

[2021-05-12 00:35] zhreshold commented on #821
I double checked and this particular implementation is not included

[2021-05-12 00:41] zhreshold commented on #884
Take ssd object detector as an example, you may plugin the anchor sizes and ratios such as:

[code]

Note that if you change these settings, the custom model can no longer benefit from the pre-trained COCO models therefore the results may be worse than the default ones.

[2021-05-12 00:41] #884 closed

[2021-05-12 00:46] zhreshold commented on #1011
- The default `from_folders` expects the train/val/test root folders to be pre-split into subdirectories similar to this example here: https://auto.gluon.ai/stable/tutorials/image_prediction/dataset.html#load-an-image-directory
- If the structure of the folders are not designed to be the same way, there are still some convenient methods, e.g., use `from_folder` to load the whole folder regardless

[2021-05-12 17:02] YirunKCL opened #1106 "How can I use autogluon offline in Kaggle notebooks?"
Most of the ongoing Kaggle competitions now require participants to disable the internet connection during inference. How can I use autogluon without internet connection in Kaggle notebooks?

[2021-05-12 17:56] Innixma commented on #1106
Could you try following these instructions? https://www.kaggle.com/c/severstal-steel-defect-detection/discussion/109679

The other alternative is getting AutoGluon pre-installed in the Kaggle kernel. autogluon.core is already pre-installed, but autogluon.tabular is not.

[2021-05-12 18:11] YirunKCL commented on #1106
Thanks. How can I pre-install it into the notebook?

[2021-05-12 18:22] Innixma commented on #1106
This would require having it installed in the base Kaggle kernel, such that all users for all kernels would have AutoGluon pre-installed. This is the more extreme approach and would require a PR to https://github.com/Kaggle/docker-python

[2021-05-12 23:17] YirunKCL commented on #1106
Thanks. I have found a way to install it offline.

[2021-05-12 23:17] #1106 closed

[2021-05-13 11:46] talhaanwarch opened #1108 "Load image dataset from dataframe instead of folder"
I am looking if there is an option to load images from dataframe. I checked the documentation and found that `ImagePredictor.Dataset.from_folder` is available but I am looking if loading image from dataframe is possible?

[2021-05-13 11:52] #1108 closed

[2021-05-13 12:29] talhaanwarch opened #1109 "TypeError: argument of type 'NoneType' is not iterable"
My data has two columns, `[image,labels]` and I load images as follow
df = ImagePredictor.Dataset.from_csv('train.csv', root='train_images')
when I do `df.show_images()` it plot the images. But when I do
[code]
It gives following  error
[code]
which mean that column name should be `label` instead of `labels`
so when I changed column name with `label` as follow
[code]
and do `df.show_images()` I go

[2021-05-13 14:06] talhaanwarch commented on #1109
solution is that we need to change label of csv file first, then save it and then load it again. also need to perform encoding

[2021-05-13 14:12] talhaanwarch commented on #1109
i also tried to specify column name, but it did not work
predictor = ImagePredictor(label="labels")

[2021-05-13 21:19] talhaanwarch opened #1110 "Specify model weight path manually"
Some of kaggle competitions don't allow the use of the internet while submitting csv file for scoring. For such purpose, we need to add pre-trained weights as data and then link it to the model.
For example in keras we can do
`model.load_weights('/kaggle/input/weights.h5')`
in pytorch we can load as follow
`model.load_state_dict(torch.load('/kaggle/input/weights.ckpt')['state_dict'])`
How can we d

[2021-05-13 22:13] talhaanwarch commented on #1109
Here is[ colab notebook ](https://colab.research.google.com/drive/1UJw6Hvl7B-B9gdH5yMKt0jmY8bJt_wHa?usp=sharing)

[2021-05-13 22:27] talhaanwarch opened #1111 "Prevent weights download during inference/testing"
I have a trained a vision model and saved it as
`predictor.save('predictor.ag')`
when I do inference with it , I load the model back again
`predictor = ImagePredictor.load('predictor.ag')`
It start downloading pre-trained weights as
[code]
As we are not training the model, pre-trained weights should not be downloaded.

[2021-05-13 22:41] talhaanwarch commented on #1106
Here are the steps if some one needed latter
1) Open new Kaggle notebook with internet and name it as myautogluon or whatever name you want
2) run !pip download [insert package name] such as
[code]
3) it will download the package and all its requirements
4) now create a new notebook with internet off
5) click on add data on upper right corner, go to notebook output files, click on your work and im

[2021-05-13 23:18] YirunKCL opened #1112 "Colab autogluon does not utilise GPU"
I have tried to install autogluon on colab pro notebook and check the GPU usage by !nvidia-smi. It seems it does not utilise GPU and the speed is very slow for training text transformer models.

Colab has CUDA version 11.2. So, I tried to install mxnet_cu112<2.0.0 and then get the following error.

OSError: libcusolver.so.11: cannot open shared object file: No such file or directory

UPDATE: insta

[2021-05-14 01:47] jianzhnie opened #1114 "How to add a new model support for TabularPredictor?"
I found that autogluon has already supported some ml models (knn, lightgbm, xgboost, ...). What should I do if I want to add a new model, such as DeepFM?

[2021-05-14 03:34] YirunKCL opened #1115 "How to load textpredictor without downloading from google_electra?"
I have trained a text predictor and want to submit it on Kaggle without an internet connection. However, it needs to download the google_electra parameters using the internet. How do I solve this problem?

Another problem is when I am passing the data for prediction, an error raises.

NotImplementedError: The format of data is not understood. We have type(data)="<class 'pandas.core.series.Series'>

[2021-05-14 03:44] #1112 closed

[2021-05-14 04:29] talhaanwarch commented on #1115
I am facing the same issue in vision task #1111  during inference the weights are being downloaded, though there is no need for it and I am specifying the path of the saved predictor.

[2021-05-14 04:40] YirunKCL commented on #1115
I think one possible solution is to manually copy these parameters to the mentioned path

[2021-05-14 07:40] zhreshold commented on #1109
@talhaanwarch see fix in #1113, the root cause is that the label column is not properly recognized in Dataset, causing the sequential problems.
You can update autogluon once the PR is merged, it will automatically fix the issue, or you can use the raw DataFrame instead.

For example, instead of
[code]
use
[code]

BTW, you are installing `mxnet<2.0.0`, which is cpu only wheel. You can install `mxne

[2021-05-14 07:40] #1109 closed

[2021-05-14 09:40] kevin666aa opened #1116 "munmap_chunk(): invalid pointer"
<img width="882" alt="企业微信截图_16209850219930" src="https://user-images.githubusercontent.com/32823396/118252141-08003180-b4db-11eb-97fa-74f415942db4.png">
I encountered this error after running for a while, can anyone help me locate the problem?

[2021-05-14 17:56] Innixma commented on #1114
We would be happy to review a PR that implements a new model in AutoGluon!

We have a basic example tutorial for this here: https://github.com/awslabs/autogluon/blob/master/examples/tabular/example_custom_model_tabular.py

Additionally, we have documentation of models and their API available here:
https://auto.gluon.ai/stable/api/autogluon.tabular.models.html

Here is the AbstractModel code API, w

[2021-05-14 18:03] Innixma commented on #1110
Can you be more specific as to which Predictor you are using? TabularPredictor has no direct concept of loading weights, however you can do this for TextPredictor and ImagePredictor. If you could provide more details that would help us be able to answer. For example, are you trying to replicate a model that was trained on a non-kaggle machine to an offline kaggle kernel? If so, why not use your gu

[2021-05-14 18:10] Innixma commented on #1115
You need to pass a pandas DataFrame, not a pandas Series. Currently the error is a bit confusing, so I'll look to improve it.

[2021-05-14 18:11] Innixma commented on #1115
@sxjscience Regarding the downloading of google_electra model, can we disable this on models which are being loaded after training?

[2021-05-14 18:13] Innixma commented on #1111
@zhreshold any idea why this is happening? Can we avoid this?

[2021-05-14 18:18] Innixma commented on #1116
@kevin666aa Thanks for reporting this issue. Could you please provide more details such as OS, Python Version, CUDA Version, size of data, GPU you are using, etc.?

@zhreshold Any ideas?

[2021-05-14 18:28] sxjscience commented on #1115
@Innixma Yes, we will need to update this line: https://github.com/awslabs/autogluon/blob/516668adfe33c5adaed69c14976339480081eb79/text/src/autogluon/text/text_prediction/mx/models.py#L1396-L1397

@YirunKCL Would you try to change the line to the following

[code]

[2021-05-15 01:50] kevin666aa commented on #1116
![image](https://user-images.githubusercontent.com/32823396/118344666-04fc5400-b562-11eb-8e68-17053f9489e1.png)
![image](https://user-images.githubusercontent.com/32823396/118344682-25c4a980-b562-11eb-9aa8-c47a884b7051.png)
![image](https://user-images.githubusercontent.com/32823396/118344711-56a4de80-b562-11eb-97ad-376cb007f860.png)
![image](https://user-images.githubusercontent.com/32823396/1183

[2021-05-15 02:34] talhaanwarch commented on #1110
How can we download pre-trained weights from mxnet server and load it to ImagePredictor. It would be a zip file and predictor accept `.ag` format, I think

[2021-05-15 02:54] zhreshold commented on #1116
@kevin666aa it's very much a very underlying problem, likely in mxnet. Can you post the version of `mxnet-cu102`?

[2021-05-15 07:02] Fanxingye commented on #1116
Hi, @zhreshold , I am in the same team with @kevin666aa . I use the same environment with him , our version of mxnet is mxnet-cu101   1.8.0.post0

[2021-05-15 19:05] Innixma commented on #1110
@zhreshold could you take a look?

[2021-05-16 12:37] wlongxiang commented on #846
Looking forward to this!

[2021-05-16 18:20] qo4on opened #1119 "Can't delete models"
When I trained a small model the size of main folder was
`135M	AutogluonModels`

Then I deleted everything:
`predictor.delete_models(models_to_keep=[], dry_run=False)`

But still got:
`102M	AutogluonModels`

With some files and folders inside:
`AutogluonModels/ag-20210516_175027: learner.pkl  models  predictor.pkl  utils`

How to delete everything or keep only the best model without additional `10

[2021-05-17 11:22] YirunKCL opened #1120 "How can I add my own CV split?"
Hi, I am working on a time series problem. Apparently, random k fold is not proper so I would like to use my own timeseries cv split. How can I add this to the models?

[2021-05-17 17:38] talhaanwarch commented on #1111
Look like this issue is with the save option, instead of load. If I do
[code]
It starts downloading pre-trained weights. So I think this behavior is saved while saving model

[2021-05-17 18:03] talhaanwarch commented on #1111
Error log, you can produce it by turning your net off and loading the model
[code]

[2021-05-17 18:59] Innixma commented on #1111
Thanks! I've discussed this with @zhreshold and it appears to be a bug in GluonCV. The plan is to fix in GluonCV and then AutoGluon will update to using the fixed release of GluonCV in AG v0.3

[2021-05-17 19:04] Innixma commented on #1120
Custom CV splits are not yet supported, but are planned for v0.3. See existing issues: #617, #901, #999

Closing as duplicate for now, will communicate in linked issues when custom CV splits are implemented.

[2021-05-17 19:04] #1120 closed

[2021-05-17 19:11] Innixma commented on #1119
Try `predictor.save_space()`, given you've deleted the models but 102MB still exists, that is likely from the cached data files. `.save_space` should delete those files and the resulting size should be quite small. There is currently no `delete_all` functionality, mostly to safeguard the user in-case they had other files in the AG directory.

[2021-05-18 15:06] qo4on commented on #1119
Thank you it deletes most content. But some folders are still there. For example, initially I have:
![image](https://user-images.githubusercontent.com/35609308/118674137-00aa9200-b813-11eb-9d58-959eebacf632.png)
![image](https://user-images.githubusercontent.com/35609308/118674360-29cb2280-b813-11eb-8bf1-4c634f69d0c4.png)

To keep only the best model I do this:
[code]
![image](https://user-images.

[2021-05-18 17:15] sxjscience commented on #1115
@YirunKCL Would you verify if the latest autogluon has fixed the issue?

[2021-05-18 17:32] Innixma commented on #1115
To clarify, we mean the latest pre-release. This is obtainable on a fresh venv via `pip install --pre autogluon` or by building from source. You will likely have to re-train the model in order for it to work properly.

[2021-05-19 12:02] wlongxiang opened #1121 "No version property"
[code]
For most python packages, the above should print out the version number. This is useful for quick version checking and automation in CI pipelines.

[2021-05-19 12:23] qo4on commented on #1060
I have some suggestions for improving `AutoGluon`:

1. It would be nice to add Logistic / Linear regression option to `AutoGluon`.

2. Add calibration wrapper for each first level model:
[code]
I didn't find how to do that using current `AutoGluon` version.

3. Also I faced a problem when `'best'` model is not the best one. In this case on Titanic dataset the second model shows better test score t

[2021-05-19 17:11] Innixma commented on #1060
Re 1: This already exists (`'LR'` is the key to use in `hyperparameters`), however it is not used by default. I plan to add it as a default model in a future release (possibly in v0.3).

Re 2: We have a more sophisticated method of handling bagging / CV than is available in sklearn. We have to handle more complex cases than is supported by CalibratedClassifierCV. In future we may consider contribu

[2021-05-19 17:14] Innixma commented on #1121
AutoGluon is a namespace package, which means you cannot perform any imports at the `autogluon` level as it is not technically a package.

Instead, you will need to get the version of a particular submodule of autogluon, such as:

[code]

[2021-05-19 17:28] Innixma commented on #1119
This looks like you are referring to two separate runs in your examples. The only time files will remain is if:

1. They are required for the best model
2. They failed during training and were never tracked by `predictor` in the first place.

I think your last image is from a different training run, or else you re-used the same directory path for multiple runs of AutoGluon. Try on a fresh director

[2021-05-19 18:18] Innixma commented on #1121
Ah, you are correct, it is under:

[code]

[2021-05-19 18:33] wlongxiang commented on #1121
Thanks both for your quick response @sxjscience @Innixma !
I would still like to add that it is more or less conventional for a package, in this case, tabular, text, etc. under autogluon namespace to have `__version__`

This should ideally give back the version number:
[code]
I can make the pull request to add this property to the package level, if you guys think it could be a small improvement to

[2021-05-19 18:47] Innixma commented on #1121
Yes, I had the same thought @wlongxiang, I have created a PR which adds the requested functionality: #1122

[2021-05-19 18:54] qo4on commented on #1119
Copypaste this to colab:
[code]

[2021-05-19 19:11] Innixma opened #1123 "[Vision] ImageDataset loading bug"
When ImageDataset loads a dataset whose classes are integers such as `[0, 1]`, it will cause a crash during training due to the `ImageDataset.classes` attribute being an `ndarray` instead of a `list`. A workaround is to convert the `ImageDataset` to a `pandas.DataFrame`, which removes the incorrectly typed `classes` attribute.

The downstream error occurs in https://github.com/dmlc/gluon-cv/blob/m

[2021-05-19 19:34] Innixma opened #1124 "[Tabular] Delete failed models"
Related to #1119

Models that raised an exception during training will not have their artifacts deleted when calling `predictor.delete_models` or `predictor.save_space`. An enhancement is to track which models failed and delete their directories when `predictor.save_space` is called.

[2021-05-19 19:35] Innixma commented on #1119
Refer to this colab example, I believe your example is corrupted in some way: https://colab.research.google.com/drive/1Ij-Njdn3H6zS_simVf94XQDGp4Q6DREl?usp=sharing

Re failed models: Yes, currently there is no functionality to delete failed model files. I have created an issue to track adding a feature to delete these files: #1119

[2021-05-19 20:02] Innixma opened #1125 "[Vision] ImagePredictor.evaluate does not support pd.DataFrame input"
`ImagePredictor.evaluate(dataset)` crashes if `dataset` is a `pd.DataFrame`.

[code]

[2021-05-19 22:50] albert-ying opened #1126 "[Tabular] Separate training and validation set by group"
Hi, I have a dataset with many groups of samples (i.e., samples from different individuals). When splitting the training and validation set, I don't want the samples from the same individual to be used in both sets, since that may cause information leaking.

In another word, I would like data to be split based on grouping variables instead of rows.

I tried to specify the training and validation s

[2021-05-20 02:13] talhaanwarch opened #1127 "No GPU detected/allowed, using most conservative search space."
Greetings. I am using windows 10, cuda version 10.1, python 3.8.5. GTX 1060 MaxQ.
I installed autogluon as follow
[code]
I checked GPU presence as follow
[code]
It output as `1`

package info
mxnet-cu101==1.5.0
autogluon==0.2.0
autogluon-contrib-nlp==0.0.1b20210201
autogluon.core==0.2.0
autogluon.extra==0.2.0
autogluon.features==0.2.0
autogluon.mxnet==0.2.0
autogluon.tabular==0.2.0
autogluon.text=

[2021-05-20 02:32] talhaanwarch commented on #1126
the way i do this is creating list of list, containing individuals and samples,
then split them using sklearn train_test_split function.
After that convert it to dataframe.

Let me explain it in detail
I have 2 classes, pos and neg, each class has ten 10 individuals folder. Each individual folder has 5 images.
Now i want to split it such that there is no information leakage.
I will do it as follow

[2021-05-20 16:38] sallypannn opened #1128 "Support for ordinal regression problems"
Suggest adding support for ordinal regression (classification) problems: regression + optimized rounder

1. Train a regression model.

2. Get regression results on validation set and test set.

[code]

3. Implement an optimized rounder to minimize the objective loss (in the following case, quadratic weighted kappa)

[code]

Fit using validation set and predict.

[code]

[2021-05-20 20:14] Innixma commented on #1127
Thanks for opening an issue on this! We will plan to look into why this is occurring sometime in the next couple weeks. I'd guess it may be related to using Windows and your particular CUDA installation / GPU. There are multiple ways to check if GPUs are available, and the one we use may not be the same as `mx.context.num_gpus()`.

[2021-05-20 20:20] Innixma commented on #1126
I am currently writing a PR which will add support for specifying a hold-out set in multi-layer stacking mode (referred to as bagged mode): #1105

Once merged, this should enable you to specify `tuning_data` as you intended for v0.3 release (and nightly pre-release).

For now, one option is to not use bagging/multi-layer stacking. Then you can specify `tuning_data` without issue.

Alternatively, h

[2021-05-21 05:54] talhaanwarch commented on #1125
Until this issue resolve, saving csv and loading it back is workaround
[code]

[2021-05-22 15:18] seekingdeep opened #1138 "TinyML and Model Deployment"
.

[2021-05-23 08:59] jianzhnie opened #1139 "How to use Image augmentation for Auto ImagePredictor?"
I found there an implementation [augment.py](https://github.com/awslabs/autogluon/blob/master/vision/src/autogluon/vision/utils/augment.py) for Image Auto Augment, But I still dont't know how to config for Auto ImagePredictor @zhreshold

[2021-05-23 12:25] talhaanwarch opened #1140 "RuntimeError: [Errno 2] No such file or directory: 'checkpoint/plot_training_curves.png'"
When i try `good_quality_fast_inference` preset, i got following error
`RuntimeError: [Errno 2] No such file or directory: 'checkpoint/plot_training_curves.png'`

Code
**predictor = ImagePredictor(verbosity=1)
predictor.fit(train_df,tuning_data=val_df,presets=['good_quality_fast_inference'])**
Full log
[code]

[2021-05-24 18:44] Innixma commented on #1140
Thanks for highlighting this issue! Does this error only occur with `good_quality_fast_inference` or does it occur with other presets?

[2021-05-24 18:45] Innixma commented on #1138
Hi @seekingdeep, I was planning to respond to this issue but saw that you just deleted the content. Is there a reason why?

[2021-05-24 19:36] seekingdeep commented on #1138
@Innixma hi,
i noticed that you had a lot on your plate. Believe me my intentions were good.

[2021-05-24 20:05] Innixma commented on #1138
No worries!

While I don't have time to dive deeply into this topic, the general idea is reasonable. A pre-req for this to work is that no data-preprocessing is necessary by AutoGluon, so that the raw data can be directly inputted to the tree model. This is somewhat challenging but can be done if the user knows how to make sure their data is valid prior to inference.

Doing this with AutoGluon's e

[2021-05-24 20:35] seekingdeep commented on #1138
@Innixma there is a library dealing with this task called treelite
 https://treelite.readthedocs.io/en/latest/
https://github.com/dmlc/treelite

https://github.com/neo-ai/neo-ai-dlr

[2021-05-25 04:06] kevin666aa commented on #1116
Hello there, it should be an environment problem, related to mxnet version and cuda version, after updating the new enviroment, the problem has been fixed. Thank you for your support!

[2021-05-25 04:06] #1116 closed

[2021-05-25 04:52] talhaanwarch opened #1141 "RuntimeError: Cannot find new config in BaseSearcher, even after 100 trials"
I am getting `RuntimeError: Cannot find new config in BaseSearcher, even after 100 trials` when using `medium_quality_faster_inference` as preset in `ImagePredictor`.

Colab notebook
https://colab.research.google.com/drive/1ekpD-r29DqtDiPXCy9zHHA8LTKLeTDrN?usp=sharing

Error log
[code]

[2021-05-25 04:56] talhaanwarch commented on #1140
I am working on others, for example, please check #1141. If I found an error with other presets, I will update

[2021-05-25 05:05] talhaanwarch commented on #1141
Please check this notebook,
https://colab.research.google.com/drive/1lo9FIkiubR28ZOxTAkT7qMcB4-ECU5iU?usp=sharing
The error is quite weird.
By default preset is `['medium_quality_faster_train']`, if I define it explicitly, I got the error. Otherwise, I did not

[2021-05-25 05:13] seekingdeep commented on #1138
ok

[2021-05-25 05:13] #1138 closed

[2021-05-25 18:00] Innixma commented on #1141
Thanks for checking this and providing colab notebooks!

I believe this is because there is no actual search space specified in `medium_quality_faster_train`. This is the config:

[code]

As a comparison, here is the `best_quality` config:

[code]

As can be seen, `best_quality` searches over model, lr, and batch_size. You would get a similar error by specifying `best_quality` and specifying fixed

[2021-05-25 18:23] talhaanwarch commented on #1141
So if i have to use define presets explicitly, I should not define hyper-parameters explicitly?

[2021-05-25 22:21] Innixma commented on #1141
You can still do so, I'm just referring to how the logic works (if you specify a given hyperparameter value, that value will override what is set in the preset). The bug is that if there are no hyperparameters with searchspaces and hyperparmeter tuning is enabled, the code will crash with the cryptic error you mentioned. Two things need to be fixed: 1. Make the error less cryptic. 2. Make `medium_

[2021-05-26 00:38] talhaanwarch commented on #1141
But if you check, `medium_quality_faster_inference`, according to my understanding, there are hyper-parameters in search space, so why it raises the above issue?
[code]

[2021-05-26 16:15] amir78pgd opened #1142 "how to interpret Negative root_mean_squared_error for regression problem?"
I'm using the following dataset 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.csv' and I have divided the data into train and test csv. While supplying the data to the Tabular Predictor I get the result as Negative root_mean_squared_error, how do I interpret it ?

[2021-05-26 19:13] Innixma opened #1143 "Improve documentation on custom eval_metric"
Add tutorial on specifying a custom eval_metric

[2021-05-26 19:32] Innixma commented on #1142
AutoGluon returns all results as `scores`. A score is defined as higher values = better by definition. Converting an `error` metric to a `score` metric generally means flipping the sign. So to see the RMSE value, flip the sign so it is no longer negative.

[2021-05-26 19:32] #1142 closed

[2021-05-26 19:38] Innixma commented on #1141
Oh, my mistake. I misread your initial comment as `medium_quality_faster_train` instead of `medium_quality_faster_inference`.

I'm unsure why `medium_quality_faster_inference` would crash. @zhreshold It's possible that the hyperparameter overrides are not working correctly for Vision and they are overwriting the entire `hyperparameters` dictionary instead of individual keys within the dictionary.

[2021-05-27 01:49] talhaanwarch commented on #1141
First, i thought this issue is because of hyper-parameters overriding, but it is not. check this notebook
https://colab.research.google.com/drive/1SshDbvdCSzvRpxDc5qRsvxM03NfKEUqp?usp=sharing

[2021-05-27 02:58] Fanxingye opened #1144 "Imagepredictor HPO can't return the best model[bug]"
According to the training log, I found that the best model can be obtained from the historical trail, but imagepredictor only returns the latest model results.
This is the training log:
![image](https://user-images.githubusercontent.com/50837470/119759041-189ca880-beda-11eb-9c6a-191bf7fd3014.png)
This is the summary:
![image](https://user-images.githubusercontent.com/50837470/119759120-3f5adf00-be

[2021-05-27 03:03] talhaanwarch commented on #1141
Btw thanks @Innixma you are doing great. AG is quite an amazing package.

[2021-05-27 03:04] jianzhnie commented on #1144
I also encountered this bug, Can anyone Help me?

[2021-05-27 03:18] loveunk commented on #1144
@zhreshold @Innixma Any suggestion for this issue? Thanks.

[2021-05-27 07:11] noamanemobidata opened #1145 "Spark parallel memory warnings"
Hi!

I'm running TabularPredictor inside a Pandas function for each group of a spark dataFrame:

[code]

I'm using 2 workers of 64G each, but some models are skipped :
[code]

is there another solution (other than increasing the memory) to have better quality models ?
Thank you

[2021-05-27 08:03] noamanemobidata commented on #1145
In `.fit` I excluded NN models but it seems that autogluon is tring to fit  `NeuralNetFastAI`  :
`Time limit exceeded... Skipping NeuralNetFastAI_BAG_L1.`

[2021-05-28 01:26] xxx2009-lab commented on #1127
I also got the same issue @Innixma
import mxnet as mx
mx.context.num_gpus()
1

ag.get_gpu_count()
0

[2021-05-28 01:34] xxx2009-lab opened #1146 "No GPU detected/allowed"
@zheng-da @jpeddicord @jonashaag @fela @songqiang
My platform is Ubuntu18.04，anaconda+python3.7
The TensorFlow，pytorch and mxnet can all discover and use GPUs，but autogluon can not
![Capture](https://user-images.githubusercontent.com/76828059/119916860-e6ea1700-bf97-11eb-961f-a7e5a360e0b0.PNG)

gluoncv.auto.tasks.image_classification:No GPU detected/allowed, using most conservative search space.

[2021-05-28 04:27] Fanxingye opened #1147 "Why "valid_acc" always better than "train_acc"?"
In the summary of different task logs,  "valid_acc" always better than "train_acc", it seems unreasonable.
These are logs of different tasks:
![image](https://user-images.githubusercontent.com/50837470/119929306-d5146e00-bfaf-11eb-86d5-9f2bf13881dc.png)
![image](https://user-images.githubusercontent.com/50837470/119929360-f1180f80-bfaf-11eb-89ae-acd166a8f356.png)

[2021-05-28 06:06] jonashaag commented on #1146
Please don’t @mention random people.

[2021-05-28 06:06] talhaanwarch commented on #1146
What is your cuda, cudnn, mxnet version. Because I successfully managed to install it at Ubuntu18.04 machine but failed on windows

[2021-05-28 06:22] Fanxingye opened #1148 "why the checkpoint of last trial always saved into .trial_0"
These are logs of different tasks:
![image](https://user-images.githubusercontent.com/50837470/119939213-144abb00-bfc0-11eb-95fd-b82e94e35470.png)

![image](https://user-images.githubusercontent.com/50837470/119939231-1d3b8c80-bfc0-11eb-8a41-5f1bd6abe2f8.png)

[2021-05-28 07:15] xxx2009-lab commented on #1146
ubuntu20.04+cuda10.1+cudnn7.6.5+mxnet1.8

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Talha ***@***.***&gt;;
发送时间: 2021年5月28日(星期五) 下午2:07
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [awslabs/autogluon] No GPU detected/allowed (#1146)

What is your cuda, cudnn, mxnet version. Because I successfully managed to install it at Ubuntu18.04 machine but failed on win

[2021-05-28 17:18] talhaanwarch commented on #1147
I did not observe this behavior in Vision task
![image](https://user-images.githubusercontent.com/37379131/120020007-98259700-c002-11eb-8268-69c455905e62.png)

[2021-05-28 17:21] talhaanwarch commented on #1146
Can you try downgrading mxnet? Becuase according to docs, mxnet1.8 does not support 10.1
![image](https://user-images.githubusercontent.com/37379131/120020390-1124ee80-c003-11eb-9f1f-fca2d0be5596.png)

[2021-05-28 21:22] xxx2009-lab commented on #1146
Thanks a lot!

---Original---
From: "Talha ***@***.***&gt;
Date: Sat, May 29, 2021 01:22 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [awslabs/autogluon] No GPU detected/allowed (#1146)

Can you try downgrading mxnet? Becuase according to docs, mxnet1.8 does not support 10.1

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on

[2021-05-29 03:17] Fanxingye commented on #1147
But it always appears in all my Vision tasks, which dataset did you use?

[2021-05-29 03:21] talhaanwarch commented on #1147
Are you defining tuning set explicitly in predictor function or AG split it self

[2021-05-29 04:15] jianzhnie commented on #1147
Yes, I did not defin my own val_data, just use the tuning data in predictor function split it self

[2021-05-29 04:16] jianzhnie commented on #1147
Yes, I did not defin my own val_data, just use the tuning data in predictor function split it self

[2021-05-29 07:42] Fanxingye commented on #1147
Yes, I did not define my own val_data, just use the tuning data in predictor function split it self, Is there any different between these two mode？

[2021-05-30 09:30] jianzhnie opened #1149 "ImagePredictor can't use the EfficinetNet model"
ImagePredictor can't use the Efficientnet model

[2021-05-31 02:43] kevin666aa commented on #1147
![image](https://user-images.githubusercontent.com/32823396/120131774-a559a600-c1fb-11eb-850a-b06ff89f5400.png)
I used a dataset from kaggle, [the yoga posts]( https://www.kaggle.com/shrutisaxena/yoga-pose-image-classification-dataset?select=dataset). And I have observed the same problem.

As you can see, the training accuracy is more than 20% less than validation accuracy, and when I used a self-

[2021-05-31 10:47] LiJinrun opened #1150 "How to resume ImagePredictor training?"
`from autogluon.vision import ImagePredictor
dataset = ImagePredictor.Dataset.from_folder('./train')
predictor = ImagePredictor()
predictor.fit(dataset,time_limit=None)
predictor.save()
predictor = ImagePredictor.load('image_predictor.ag')
print('Top-1 val acc: %.3f' % predictor.fit_summary()['valid_acc'])
`

The above code is on the official document, how can I resume training?

[2021-05-31 17:41] Innixma commented on #1147
Thanks for reporting! This is definitely strange and might have to do with some kind of index misalignment in how training data is scored, hard to tell without deep diving. We will plan to look into this issue and resolve it for v0.3.

[2021-05-31 17:43] Innixma commented on #1147
@Fanxingye / @kevin666aa Could you provide a kaggle notebook / colab notebook that reproduces the issue reliably? This would help us debug.

[2021-05-31 17:54] Innixma commented on #1145
I would recommend training AutoGluon predictor's sequentially rather than in parallel if possible, unless you have a spark cluster such that each worker is training a singular predictor in isolation. A single predictor tries to use as much resources as possible, so training them in parallel on the same machine would not be helpful as they are trying to use all cores. I'm unsure exactly how spark d

[2021-05-31 18:01] Innixma commented on #1144
This appears to be a pretty serious issue, we will prioritize a fix for v0.3 release. If I'm not mistaken, this seems to be that during HPO only the last model trained is returned as the solution, rather than the best model.

[2021-06-01 04:04] jianzhnie commented on #1144
Yes, it  is,  during HPO only the last model trained is returned as the solution.
I have a solution about this bug:

- First, save the model results every trials
- Second,  Analysis of the model config saved in historical trials and find the  best model
- Reload the best_model.pkl and save it as `predictor.ag`

[2021-06-01 18:35] talhaanwarch opened #1152 "[Tabular] How to get best model in cross-validation"
I have applied cross-validation to my data. But each time a different best model is produced. Now how can I decide which model to choose as the final model?

[2021-06-01 19:13] Innixma commented on #1152
Could you provide a bit more context? Are you using ImagePredictor?

One option is to use pre-release (`pip install --pre autogluon`) and use TabularPredictor for images to train ImagePredictor with cross-validation. This is going to be the preferred approach going forward into future releases as TabularPredictor includes a lot of more advanced functionality such as being able to select which mode

[2021-06-01 20:01] talhaanwarch commented on #1152
Let me explain. Here is steps of 5 fold cross validation
[code]
It produces a different best model in each loop. SO I am confused which one to pick out of 5 in 5 fold cross-validation

[2021-06-01 20:12] Innixma commented on #1152
I'd recommend letting AutoGluon do that work! This is largely what TabularPredictor is built around -> Efficiently splitting and validating data to construct powerful ensembles.

Do the following:

[code]

This automatically performs cross-validation (num_bag_folds) in an optimized manner.

To get stronger results:

[code]

`best_quality` preset performs multi-layer stack ensembling (which include

[2021-06-01 20:35] talhaanwarch commented on #1152
If I used, `presets='best_quality'`, do i need to use `predictor.refit_full()`? I mean do `'best_quality'` also include this feature?

[2021-06-01 21:01] Innixma commented on #1152
I'd recommend reading through the [TabularPredictor API](https://auto.gluon.ai/stable/api/autogluon.predictor.html#module-0).

In general, you don't need to use `predictor.refit_full()`. `refit_full` is purely for speeding up inference latency (generally at the cost of a slight accuracy drop). Refer to the [tutorial documentation](https://auto.gluon.ai/stable/tutorials/tabular_prediction/tabular-i

[2021-06-02 04:22] jianzhnie commented on #1147
Here is a demo from the docs of autogluon, I tested it  and observed the same problem. https://auto.gluon.ai/stable/tutorials/image_prediction/hpo.html

[2021-06-02 08:00] WangRongsheng opened #1153 "Simplify ImageDataset Format"
[code]

How can I solve this problem?

[2021-06-02 17:41] Innixma commented on #1153
This seems like something particular to your data. Could you provide a colab notebook or script with a minimally reproducible example?

[2021-06-02 17:53] Innixma commented on #1147
Thanks, it does appear to be quite widespread. The primary maintainer of the vision portion of the codebase is currently on vacation this week, but we will try to resolve as much as we can once he is back.

[2021-06-02 19:13] talhaanwarch commented on #1152
thanks

[2021-06-02 19:13] #1152 closed

[2021-06-03 01:53] WangRongsheng commented on #1153
I have solved this problem！If you have this problem, you can do it.

At first, my data set was stored like this：
[code]
You will meet 'KeyError: score'，you can：
[code]

Solve it！

[2021-06-03 02:24] RexHuang opened #1154 "ModuleNotFoundError: No module named 'ConfigSpace.configuration_space'"
error running following script  in Jupyter Notebook

from autogluon.tabular import TabularDataset,TabularPredictor
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-31-7e8854c3483c> in <module>
----> 1 from autogluon.tabular import TabularDataset,TabularPredictor

~/.local/lib/pytho

[2021-06-03 04:05] xuantubka opened #1155 "Export AutoGluon Tabular model to onnx format"
I need to integrate my tabular autogluon model to Java-based system. What can I do to achieve this goal? I'm considering export it to ONNX format but can't find any tutorial/documents about doing so.

[2021-06-03 12:31] Gpwner opened #1156 "Question About ImagePredictor"
I am working on a Image classify Task with these code:
[code]

Some problems with my network prevented me from automatically downloading these models, so I had to manually download them and put them in this directory:

`~/.mxnet/models/`
[code]

It looks like I put them in the wrong directory, because as soon as I ran the code there were some files generated with.lock:

[code]

So which directory

[2021-06-03 15:23] Innixma commented on #1155
Currently this is not possible for the ensemble because it isn't just models linked together, but also preprocessing code and data piping which uses pandas and numpy heavily. For individual models it may be possible, but this is not yet implemented. You could give it a try by trying to export individual models to ONNX. The [Random Forest model](https://github.com/awslabs/autogluon/blob/master/tabu

[2021-06-03 16:41] xuantubka commented on #1155
Thank you. Then I will go with docker solution

[2021-06-03 17:28] Innixma commented on #1153
Thanks! I'll re-open this for now as I think the error message can be improved to be less vague.

[2021-06-03 18:42] Innixma commented on #1154
Could you try with python 3.7? Another thing: can you run `pip freeze` to get the installed packages list and provide OS information? It could be your ConfigSpace version is different than expected.

[2021-06-04 03:28] xuantubka opened #1157 "How can I resume training after accidentally kill training job"
I was training my tabular classification task. My training job was almost done (has trained LightGBM, lightGBMXT, CatBoost),  but it was killed because memory exceeded. Can I resume training from what I have trained so far?

[2021-06-04 06:57] SangbumChoi opened #1158 "Does FastAI model usually not train well on regression data?"
According to the result of benchmark in kaggle dataset (mercedes, allstate, houses, etc...)

I think that fastainn model does not well-training (which means early stopping in 0 epoch with 20 patience) in regression kaggle datasets (except for allstate).

Since mxnet models usually train well on various regression and binary datasets and also fastainn models train well on binary and multi-class dat

[2021-06-04 07:00] SangbumChoi commented on #1158
0
TensorBase(5.7082e+08)
1
TensorBase(1.3430e+10)
2
TensorBase(2.8899e+11)
3
TensorBase(3.9408e+12)
4
TensorBase(3.4854e+13)
5
TensorBase(2.3243e+14)
6
TensorBase(6.1357e+14)
7
TensorBase(8.1096e+14)
8
TensorBase(4.5594e+13)
9
TensorBase(5.2544e+13)
10
TensorBase(1.4245e+13)
11
TensorBase(1.0146e+14)
12
TensorBase(2.2767e+14)
13
TensorBase(8.1047e+12)
14
TensorBase(1.3270e+14)
15
TensorBase(3.3033

[2021-06-04 09:39] jwmueller commented on #1157
Resuming training is on the roadmap but not yet available. You can follow this existing issue for updates:  https://github.com/awslabs/autogluon/issues/475

If you are interested in helping implement this functionality, let us know!

[2021-06-04 09:39] #1157 closed

[2021-06-04 22:48] Innixma commented on #1158
Thanks for noticing this! This appears to be a serious bug that we weren't aware of. At some point it must have been introduced as I remember a long time ago FastAI working correctly in regression problems.

Code showing the bug:

[code]

[code]

Leaderboard:

[code]

[2021-06-05 00:52] SangbumChoi commented on #1158
The two things that I've mentioned will be useful to debug this error (I'm also searching the reason + I expect this is not error because of AutoGluon but FastAI).
1. allstate regression dataset works fine
2. the loss is too large compare to MXNet

[2021-06-05 05:25] talhaanwarch opened #1160 "Vision predictor always download resnet50_v1b"
Vision predictor always downloads resnet50_v1b, even I specify the models.
![image](https://user-images.githubusercontent.com/37379131/120881111-3fe52b00-c5e8-11eb-999a-b5df9e08b056.png)

[2021-06-05 21:04] Innixma commented on #1158
#1162 should fix the issue. Running on that branch, I get the following result:

[code]

There were multiple bugs:

1. We were not applying scaling to the target variable
2. After splitting the data into train and val, some features in train had only 1 unique value. When a row in val has a different unique value, that row will be predicted as a ridiculous value, which is what caused the extremely

[2021-06-06 01:25] SangbumChoi commented on #1158
Yeah, I agree with the reason 1.
I think 2 is happening beacuse of subsampling with small portion of data.

However, it is interesting that total score_test got even worst. Maybe different for whole dataset with various models.

Thanks

[2021-06-06 09:57] jmts-w24 opened #1163 "Incremental Training"
I am trying to perform incremental training with Autogluon by loading the model of the last increment and running fit() with a fresh data set. I run into two problems:

1. I assume the weights of the last increment are not loaded - is there any way of checking?
2. The detector.py refers  to _classifier  in vision/detector/detector.py line 243 and line 244 - this looks like a bug. Correct?

Cheers

[2021-06-06 17:58] Innixma commented on #1158
The worse score_test is likely just random chance and using a small sample of data.

The fix has been merged and will be available in tomorrow's pre-release or by building from source.

Thanks again for spotting this!

[2021-06-06 17:58] #1158 closed

[2021-06-07 15:42] Innixma commented on #1160
Thanks for highlighting!

I believe this may be related to the other issues regarding downloading unnecessary models / weights:

#1111
#1115

[2021-06-07 15:48] talhaanwarch commented on #1160
According to my understanding, it's not related to #1111 or #1115. The issue is that if I want to use densenet , instead of using densenet it still use resnet. This is what I think.

[2021-06-08 21:02] zhreshold commented on #1160
@talhaanwarch can you paste the full log here? I need to verify if the proper configs are being used

[2021-06-08 21:35] zhreshold commented on #1144
@Fanxingye I noticed that the 0.75 acc model during training is saved to temporary trial 7, indicated by the log xxx_trial_7/best_checkpoint.pkl, while the 0.65 acc model is writing to trial_0. I wonder if the trials are running in accending order?

The autogluon core search should be managing the best config/best trial so there might be some issue. I personally havn't experienced similar issue so

[2021-06-09 00:27] songqiang commented on #1094
Is it possible to make this a built-in behavior in autogluon?

in predictor constructor (__init__):

[code]
in predictor destructor (__del__):

[code]

This is definitely a hacky way, but seems a nice usability enhancements. As AutoGluon sometimes use quite a lot of local disk, we do have the need to persist the artifacts to s3 when training a lots of models.

[2021-06-09 04:07] talhaanwarch commented on #1147
Hi, @zhreshold and @Innixma  I would like to hear your opinion on @kevin666aa comment as he is saying he got similar accuracy when he do splitting him and much lesser accuracy when splitting is performed by predictor. Or may I misunderstood what he is saying

[2021-06-09 04:30] talhaanwarch commented on #1160
@zhreshold  look like the gluoncv update has resolved this issue.

[2021-06-09 04:30] #1160 closed

[2021-06-09 06:41] talhaanwarch commented on #1153
@Innixma  i think the `from_folders` should also pick a single folder, either train, val or test. because ultimately it has to create a dataframe. this saves the hassle of arranging data in a particular structure.
What I am saying, if data structure is like
data
-class0
--image0
--image1
...
--imagen
-class1
--image0
--image1
...
--imagen

All the images with their class should be picked. and afte

[2021-06-09 07:08] talhaanwarch commented on #1156
Similar to issue #1110

[2021-06-09 18:29] Innixma commented on #1153
@talhaanwarch Yes, this is a good observation and is also how I would like the structure to be formatted.

Currently, the structure is based on GluonCV's expected input structure, so any changes to the structure have to go through GluonCV.

In general, I think there should be no concept of `train` and `test` data until the data is passed into `.fit`. A better approach would be to instead:

[code]

[2021-06-09 18:36] Innixma commented on #1147
@zhreshold It may be worth trying to replicate the issue shown by @kevin666aa, this feels like an actual bug to me.

[2021-06-09 18:40] Innixma commented on #1094
This is reasonable, although probably best done at the model level rather than the predictor level. Models could save their artifacts to a temp directory, then when it comes time to save, it will upload those artifacts to S3.

[2021-06-09 18:41] talhaanwarch commented on #1147
I am not sure, but I would suggest to double check if data is shuffled before splitting

[2021-06-10 01:33] Gpwner commented on #1156
@Innixma Can anyone else help?   @zhreshold seems to be too busy to answer this question.Thanks~

[2021-06-10 03:24] adivekar-utexas commented on #898
Isn't the param called `time_limits`? From here: https://auto.gluon.ai/api/autogluon.task.html#autogluon.tabular.TabularPredictor.distill

[2021-06-10 07:08] talhaanwarch commented on #1156
@Gpwner can you try again. I have checked your code and all models are being download. Is there any sort of restriction from your internet provider?

[2021-06-10 09:22] Gpwner commented on #1156
@talhaanwarch Can you show me your downloaded model directory tree？YES ，there are some restriction from my Internet.

[2021-06-10 10:07] talhaanwarch commented on #945
This error start rising again, if i restart colab notebook and run it again, each time I have to factory reset it
RuntimeError: Unexpected error happened during fit: { 'args': "{'img_cls': {'model': 'resnet50_v1b', 'use_pretrained': True, "
          "'use_gn': False, 'batch_norm': False, 'use_se': False, "
          "'last_gamma': False}, 'train': {'pretrained_base': True, "
          "'batch_siz

[2021-06-10 10:56] talhaanwarch commented on #1147
colab notebook
https://colab.research.google.com/drive/1_tZ9y-gmzelaLLLX6eSO_NLUg-ksD6qy?usp=sharing

[2021-06-10 19:47] talhaanwarch commented on #945
@Innixma  this issue arises when I split data after shuffling using some external library or using even .iloc function and feed it to the predictor without resetting the index.

[2021-06-10 19:50] Innixma commented on #1156
This is what I see:

[code]

I'm unsure if those are the only relevant files, but it seems to be the correct location for the files you downloaded.

[2021-06-11 00:02] Innixma commented on #1147
Deep dived into this and it is indeed a bug.

When validation data isn't explicitly specified to `predictor.fit()`, 100% of data is used for both training and validation.

The reason why is not so simple however... Everything looks like its going correctly until deep in GluonCV code when the ImageDatasets are transformed into their mxnet versions via `train_data.to_mxnet()` and `val_data.to_mxnet(

[2021-06-11 00:49] Innixma commented on #1147
Opened #1168 which fixes ImagePredictor functionality.

[2021-06-11 02:07] Gpwner commented on #1156
@Innixma Thanks.

[2021-06-11 15:59] sallypannn opened #1175 "Issue about DataFrame index"
If passing a DataFrame whose index column is named something other than 'index' (e.g. 'id'), ImagePredictor will fail because of this line: https://github.com/awslabs/autogluon/blob/93fab8dd18918b96d886a9f81b162a57ebed0a0b/vision/src/autogluon/vision/predictor/predictor.py#L499

[2021-06-11 19:12] talhaanwarch commented on #1175
you can reset the data frame meanwhile if the maintainer considers adding this functionality.

[2021-06-11 20:08] Innixma opened #1176 "[Vision] train_acc is 1 epoch behind valid_acc"
When training ImagePredictor models, the reported training accuracy is from prior to the epoch being fit, while the validation accuracy is after the epoch is fit.

[code]

In this example `train_acc` is from the end of Epoch 1, and `valid_acc` is from the end of Epoch 2. `train_acc` should instead be the `train_acc` at the end of Epoch 2. This should also be corrected in the logs.

[2021-06-11 22:31] Innixma commented on #1175
Thanks for mentioning this bug! I have fixed this in #1177.

[2021-06-11 23:09] Innixma commented on #1125
Resolved via #1164

[2021-06-11 23:09] #1125 closed

[2021-06-12 12:29] 2010hexi opened #1178 "How to custom activation function?"
If i want to use my own activation function, how to extend it on autogluon ?
is there any tutorial or instructions?

[2021-06-12 19:11] talhaanwarch opened #1179 "TypeError: '<' not supported between instances of 'int' and 'Categorical'"
I think after PR #1164 I can use 'medium_quality_faster_inference' preset because previously I am getting error #1141. But now I am getting a new error.
Version: 0.2.1b20210612
Colab notebook
https://colab.research.google.com/drive/1SshDbvdCSzvRpxDc5qRsvxM03NfKEUqp?usp=sharing

[2021-06-13 09:50] garvijayaud opened #1181 "optimize_for_deployment not compatible with persist_models()"
Models fit using the optimize_for_deployment preset work fine for inference; however deleting auxiliary files apparently causes ```persist_models()``` to fail with the following error:
[code]

Tested with Autogluon 0.2.0.  IMHO the 'optimize_for_deployment' preset should be compatible with persisting models in memory during inference.

This works fine:
[code]

However, adding the preset 'optimize_

[2021-06-13 11:12] garvijayaud commented on #1181
Just to add on to this; adding the ```save_space=True``` parameter to fit also causes ```persist_models()``` to fail:

[code]
Error:
[code]

[2021-06-13 18:30] #1175 closed

[2021-06-13 22:45] Innixma commented on #1181
Thanks for reporting!

This issue has been fixed in mainline via https://github.com/awslabs/autogluon/pull/1118

You can try out the fix via installing the nightly pre-release: https://auto.gluon.ai/dev/install.html

[2021-06-13 22:45] #1181 closed

[2021-06-14 17:30] Innixma commented on #1156
Marking as resolved for now, please re-open if the answer did not solve the problem.

[2021-06-14 17:30] #1156 closed

[2021-06-14 22:29] Innixma commented on #1179
Thanks yet again for highlighting the issue, this is very valuable!

@zhreshold The error is because there is code that is trying to ensure the batch size is valid via:

[code]

However, this is done when `config['batch_size']` can still be represented as a search space i.e. `Categorical[64, 128]`.

Therefore, whenever a search space is specified for `batch_size`, predictor will crash.

This means

[2021-06-14 23:00] Innixma commented on #1178
We will need more information in order to help. Could you provide a code example or a description of the problem and the functionality that solves it? Activation functions are specific to neural networks, and we have many different neural networks in AutoGluon for a variety of tasks (vision, text, tabular). Each of them has their own hyperparameters which can be specified by the user, likely inclu

[2021-06-15 00:27] xuantubka opened #1184 "Why all models in multiclass mode failed to persist and raise ValueError: multiclass format is not supported"
I have trained models on multiclass mode as below:
![Screenshot from 2021-06-15 07-29-29](https://user-images.githubusercontent.com/15737695/121975322-889ca100-cdab-11eb-8a92-4b4d0b373f65.png)

But in training stage, all models crashed due to the mentioned error. What I did wrong here? I can not find any example about multiclass problems so I try it myself.

[2021-06-15 15:56] 2010hexi commented on #1178
Hi Innixma, thank you for your reply.
AutoGluon is an excellent tool for AI.  Now I do not have detail information about the specified activation function.
I am wondering if there is such an extension to custom user self design activation function to apply into the autogluon to see if could improve performance or not . Just like Torch, it provides such an option for users custom their own activati

[2021-06-16 10:10] garvijayaud commented on #1181
thanks for the quick turnaround!

[2021-06-16 17:11] Emekaborisama opened #1185 "Error importing autogluon.vision"
same error

`ImportError: cannot import name 'stringify' from 'dask.utils' (/usr/local/lib/python3.7/dist-packages/dask/utils.py)`

_Originally posted by @Emekaborisama in https://github.com/awslabs/autogluon/discussions/970#discussioncomment-879402_

[2021-06-17 19:52] jwmueller commented on #1184
I think it's because you set the evaluation metric = roc_auc which is only supported for binary not multiclass classification. Does your code work if you omit the `eval_metric` argument?

[2021-06-17 23:38] talhaanwarch opened #1191 "AttributeError: 'ImageClassificationEstimator' object has no attribute '_problem_type'"
I have saved a model.
`predictor.save('predictor.ag')`
and now when I try to load it
predictor=predictor.load('predictor.ag')
I got this error

Log
[code]

[2021-06-18 22:48] crazy25000 commented on #1053
Would like to request this as well, trying to get this working on Python 3.9

[2021-06-19 06:58] Fanxingye opened #1192 "why continue training after the max trial reached?"
I set num_trials to be 15, training starts from trial_0 to trial_14, but when trial_14 was finished, it continue to run trial_0. This happend on two different tasks. Why it happend?

[2021-06-19 15:12] xuantubka commented on #1184
Yes, I remove 'roc_auc' and the code works well. Thanks for suggestion

[2021-06-19 15:12] #1184 closed

[2021-06-20 21:13] danski3456 opened #1194 "Reproducibility of experiments"
Hi, Is there any way to fix the seed of the whole training procedure, so that results are reproducible?

Apparently there was some sort of seed for the cross validation part in some older documentation, but it does not seem to work anymore.

[2021-06-21 19:23] talhaanwarch opened #1196 "How to do transfer learning in vision task"
Let suppose I have a data of ct-scan with four classes, I trained AG model at it. I have another data with 5 classes, I want to use pre-trained weights obtained in the first case instead of using imagenet weights. How can I do this?

[2021-06-21 19:25] talhaanwarch commented on #1185
Can you share your code

[2021-06-21 21:08] #1179 closed