[2020-04-26 00:31] dsp6414 commented on #437
but it's normal to train   shopee_iet datasets
![image](https://user-images.githubusercontent.com/22781941/80294084-52abf000-8798-11ea-879c-7bcd85a9ac1c.png)

[2020-04-26 01:13] #437 closed

[2020-04-27 13:30] braaannigan commented on #428
Hi @Innixma that works great, thanks!  Will let you know if the GAN approach is useful for my problem

[2020-04-27 22:41] Innixma commented on #420
If you have questions feel free to either respond to this issue or reach out to me: innixma@gmail.com

If you think your question would more naturally flow in a live conversation, send me an email and we can have a sync-up meeting.

[2020-04-28 08:08] razmikmelikbekyan commented on #432
Sorry for late reply.
Below you can see the pseudo code:
[code]
 Yep I now that there are 2 levels of data preprocessing: one is model agnostic and the second one is done by each model. So taking into consideration this, this suggestion (copying learner) I think is the most suitable.

[2020-04-28 18:20] #218 closed

[2020-04-28 18:29] zhreshold commented on #433
@tlienart I think for a non-python exception, you can use `signal`(https://docs.python.org/3/library/signal.html#example)  module to catch and handle the shutdown gracefully.

[2020-04-28 19:46] tlienart commented on #433
I’ll look into it, thanks!

[2020-04-29 00:06] dsp6414 opened #441 "How to provide custom model and weights for image classification training"
How to provide custom model and  weights for image classification training, and save the best checkpoints.

[2020-04-29 07:42] tlienart commented on #433
ok no that's almost certainly not the right way to do it as it's not for distributed set ups as far as I'm aware.

I think to go forward with this we need advice from someone who has experience with Dask distributed.

[2020-04-29 09:30] sgdread commented on #349
FYI, if the whole dataset is made of only categorical variables, the model produces the error:
[code]

[2020-04-29 20:27] Innixma commented on #349
Yes, I am aware of this issue. We can probably improve the error message to be cleaner.

[2020-04-30 00:36] Innixma commented on #432
Thanks for the reply, it was very helpful! I understand now what you are going for.

Interestingly, when auto_stack=True, we can actually bypass the for-loop here. This is an alternative strategy to get your cv_scores:

[code]

Note that this won't work for weighted ensembles, since they don't perform bagging. Implementing cv_score retrieval for weighted ensemble would be a bit tricky, since it ne

[2020-05-04 08:21] oguzhangur96 commented on #399
Hi,

I have encountred the same problem. Fixed it before the training begins with a regular expression and lambda function (pandas). Object named "_data_" must be a dataframe.

[code]

Could provide data/column headers if needed.

[2020-05-04 11:37] Innixma commented on #399
Thanks for the info @oguzhangur96! Right now the main difficulty here is to ensure that column names are always converted when entering the model (whether for feature importances, fit, inference) and also inversely converted back to the original upon leaving. This seems to be something that LightGBM itself should handle, and I don't have a good understanding of why they haven't done so.

Furthermo

[2020-05-05 06:10] #441 closed

[2020-05-05 21:27] Ishitori opened #450 "[Feature Request] Add eval_set to training"
I have 2 datasets: one training dataset, which comes from one place, and another, much smaller, evaluation dataset. I want to instruct autogluon to use my evaluation dataset for the estimating performance of the model instead of taking a chunk from training dataset. Basically, it is a functionality similar to XGBoost: https://xgboost.readthedocs.io/en/latest/python/python_api.html#xgboost.XGBRFReg

[2020-05-05 21:35] Innixma commented on #450
Hi Ishitori,

Thanks for submitting an issue!

Have you tried `tuning_data`? I believe it satisfies your requirements.

`task.fit(train_data=train_data, tuning_data=validation_data, ...)`

Alternatively, you can get the scores on your hold-out set by:

`predictor.leaderboard(holdout_data)`

Let me know if this is what you are looking for.

Best,
Nick

[2020-05-06 20:24] Innixma commented on #399
@braaannigan , @oguzhangur96

#451 is merged and should fix this issue (Just in time for our upcoming 0.0.7 release!). I have tested this on various NLP problems which previously caused crashes, and it successfully trains.

Thanks again for highlighting this issue!

Best,
Nick

[2020-05-06 20:24] #399 closed

[2020-05-06 20:25] #428 closed

[2020-05-06 20:27] Innixma commented on #401
With the merging of #440 and #451, I think AutoGluon should be able to handle these text problems reasonably and without long inference times. #440 disables NLP features in the NN, as I was also experiencing unreasonable inference latency on other problems, which returns NN to only taking a few seconds at most for inference.

[2020-05-06 20:27] #401 closed

[2020-05-07 14:33] braaannigan commented on #399
Great - looking forward to the next release!

[2020-05-07 17:25] zcyang opened #454 "[Feature Request] sample_weight, folds and parallel running for tabular data"
Hi,

Does the current framework support sample_weight, i.e., each data sample has a weight?

Also is it possible to specify the folds in the cross validation process instead of using random partitions?

Finally, tabular automl works well for small scale dataset, running it on large scale data with tens of million of samples takes a long time. Wonder if it possible to add parallel support to train

[2020-05-07 21:21] Innixma commented on #454
Hi Zichao,

Great question! These are all important features.

Customized eval metrics is already possible, you can take a look at https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/metrics/__init__.py for examples of how to create your own custom eval metric. Once created through make_scorer(), you would pass in the object as the eval_metric argument.

#33 is tracking sample

[2020-05-10 13:38] hmingkwan opened #456 "AutoGluon 0.0.7 pip install does not work: No module named 'autogluon.version'"
After pip install mxnet autogluon
I got this error msg: No module named 'autogluon.version'

[2020-05-10 22:50] Innixma commented on #456
@jwmueller Can you take a look at this and see if there are any issues with the 0.0.7 pypi?

[2020-05-10 23:04] Innixma commented on #456
Thanks for notifying! I reproduced the error on a fresh linux machine. Looking into this now, I suspect it was due to how the PyPi was created.

[2020-05-11 00:05] Innixma commented on #456
This is a major defect. Do not install autogluon 0.0.7, as it will fail to import. For the time being, use pip install autogluon==0.0.6 while we work to resolve the issue.

[2020-05-11 00:23] Innixma commented on #456
autogluon 0.0.7 has been yanked from PyPi, we will release 0.0.8 shortly as a hotfix.

[2020-05-11 21:42] Innixma opened #459 "Improve documentation of TabularDataset"
Improve documentation of TabularDataset and add kwargs options to file loading.

[2020-05-12 00:37] Innixma commented on #456
#457 has been merged and we have released AutoGluon 0.0.8 which addresses the issue. Please use AutoGluon 0.0.8 and avoid using AutoGluon 0.0.7

Best,
Nick

[2020-05-12 00:37] #456 closed

[2020-05-12 22:47] Innixma opened #461 "ImportError: cannot import name 'MaskedArray'"
Full traceback:

[code]

This is caused because sklearn updated to 0.23, and skopt breaks with sklearn==0.23. To fix manually, downgrade sklearn to 0.22.

AutoGluon Fix PR: #460

Skopt Issue: https://github.com/scikit-optimize/scikit-optimize/issues/902

[2020-05-13 00:08] Innixma commented on #461
Resolved in 0.0.9

[2020-05-13 00:08] #461 closed

[2020-05-14 08:40] mseeger opened #466 "Reporter returns empty dict to scheduler _run_reporter"
We use HyperbandScheduler, and we run into the problem that reporter.fetch() in HyperbandScheduler._run_reporter returns an empty dict(). Looking at DistStatusReporter.fetch:

        try:
            kwargs = self._queue.get()
        except CommClosedError:
            return {}
        return kwargs

What is confusing. In Communicator (also reporter.py), exceptions are caught and sent back with

[2020-05-14 22:39] brianverk opened #467 "Loading models built under past versions"
Not sure if this is a common issue between models, but I was use 0.0.6, came across an error that made me update to 0.0.9, but then realized I couldnt load my saved models in the directory using task.load() in 0.0.9. I worked around the issue, but wanted to still call this out to hopefully get fixed for future versions.

[2020-05-15 05:00] wlsl8135 opened #468 "What is the green part input in the model in the paper?"
What is the green part input in the model in the paper?
![image](https://user-images.githubusercontent.com/26565404/81915027-00c6ef00-960d-11ea-939b-3d6b4a8f5bb8.png)

[2020-05-15 19:38] Innixma commented on #467
Great comment! At present, AutoGluon is undergoing major changes to the underlying model code between versions as we are still very early in the development process and are continually refining and adding functionality. Because of this, it is very difficult to make meaningful changes without also making models incompatible between versions. For example, between 0.0.6 and 0.0.9, the entire backend

[2020-05-15 19:46] brianverk commented on #467
Thanks for the response!

[2020-05-15 19:46] #467 closed

[2020-05-15 20:03] Innixma commented on #468
The original data features. The stacker models use both the original features and the out-of-fold predictions of the base models as their feature set during training.

[2020-05-16 14:23] unifydinsights opened #471 "ERROR ExecuteUserScriptError: Command "/usr/local/bin/python3.6 train.py --label y""
Has anyone run into this. Running the current tabular gluon out of box  I get to the end of the training job and fail at this point where it cannot execute the hyperparameters.  I am using the proper Version conda_mxnet_p36 as requested in Jupyter Lab.

Traceback (most recent call last):
  File "train.py", line 20, in <module>
    import autogluon as ag
  File "package/autogluon/__init__.py", line

[2020-05-16 21:54] Innixma commented on #471
Thanks for submitting an issue! Was AutoGluon able to successfully train the models prior to this error? What do you mean by 'it cannot execute the hyperparameters'?

@zhreshold Appears to be a failed import coming from gluoncv, perhaps you might know why this occurred?

[2020-05-17 20:11] unifydinsights commented on #471
So I pulled the autogluon jupyter notebook into a sagemaker jupyter
notebook and ran it with no changes.  I tried about four times but
everytime it failed at the training model.  see attached.  I am seeing more
references to the hyperparameters json here.
[image: image.png]

following this we have the environment variables.

[image: image.png]

following this we have a failed import of imaging

[i

[2020-05-18 17:22] zhreshold commented on #471
@unifydinsights Can you print the version of PIL package in sagemaker? I think it's due to a incompatible PIL version issue

[2020-05-18 18:02] nitinmnsn opened #473 "/home/nitin/anaconda3/envs/automlgluon/lib/python3.6/site-packages/sklearn/metrics/classification.py:2174: RuntimeWarning: divide by zero encountered in log loss = -(transformed_labels * np.log(y_pred)).sum(axis=1)"
I am using autogluon to help me a binary classification problem. It is an unbalanced dataset (90:10) and the neural network breaks down in training and never recovers. I guess a reinitialization once this has been encountered would help?
[code]
The task is fitting all the other models just fine and hitting an 'auc' of 0.74+ but neural network has issues (dead relus, inf encountered and now wont re

[2020-05-18 18:22] Ishitori commented on #450
Yes, that would work. Thanks, Nick.

[2020-05-18 18:22] #450 closed

[2020-05-18 19:01] unifydinsights commented on #471
PIL 7.0.0 in sagemaker jupyter

On Mon, May 18, 2020 at 1:22 PM Joshua Z. Zhang <notifications@github.com>
wrote:

[2020-05-18 19:41] unifydinsights commented on #471
[image: image.png]
now i see this so it does look like an upgrade is needed.  any idea?

On Mon, May 18, 2020 at 3:00 PM Wes Shepherd <wshepherd@unifydinsights.com>
wrote:

[2020-05-18 20:02] Innixma commented on #473
Thanks for submitting an issue!

We are aware that the NN can at times break down as you say. We have a PR in progress that hopes to deal with at least part of the problem: #339 .

@jwmueller Can you take ownership of this issue and see to resolving this problem in the next release? I think it affects quite a few datasets.

[2020-05-18 20:26] zhreshold commented on #471
@unifydinsights Per this thread https://stackoverflow.com/questions/25340698/importerror-cannot-import-name-imaging, the solution is to install Pillow `pip install -U Pillow`

[2020-05-19 01:57] jwmueller commented on #473
Yep I already have a much better fix than the one in the PR but it's currently entangled with a bunch of other code. Will try to update the PR shortly

[2020-05-19 04:01] nitinmnsn opened #475 "There is no argument named continue_training as is mentioned in augluon arxiv paper"
[https://arxiv.org/pdf/2003.06505.pdf](url) says there is a way to continue training if for some reason the training was halted half way. But the fit api has not `continue_training` argument that it accepts

[2020-05-19 06:09] nitinmnsn opened #476 "Failed to clean up lingering worker directories in path : %s"
Post trying autogluon for the first time here are a few things i have noticed:
1. Cannot delete producer.log. `rm producer.log` works without an error status but the producer.log is still there. Pre and post inode numbers for producer.log are different so i am guessing some processes are created outside the scope of jupyter notebook that persist even after i kill the jupyter kernel and recreate th

[2020-05-19 09:22] nitinmnsn commented on #473
I have seen this issue in writing my own neural networks based pipeline (it was couple of years back though). I did a few things in trying to solve it and they helped (all in tensorflow) :
1. Gradient clipping
2. Batchnorm as the first layer
3. Weights normalization (You have batchnorm with dropout. I have read that they dont work well together). If anyway you have batchnorm then keeping gamma fro

[2020-05-19 10:12] Spark001 opened #477 "Cannot use all GPUs in AutoGluon==0.0.8"
Like [previous issue](https://github.com/awslabs/autogluon/issues/239#issuecomment-576459539), I set `resource={'num_cpus': 4, 'num_gpus': 2}` in FIFO scheduler, but the GPU usually cannot be all used.

There are 8 GPUs on my machine, by all rights, there should be 4 tasks working at one time. Therefore I found sometimes only 1 or 2 or 3 tasks working at one time.
My platform & environment is as f

[2020-05-19 12:26] mseeger opened #478 "For HyperbandScheduler, epoch must start with 1, not with 0"
I noted a mistake in the docstrings, and maybe also in the tabular code.

When time_attr = 'epoch' in HyperbandScheduler, the values coming from the reporter are assumed to start with 1 and run up to max_t. Instead, the examples make them start at 0 and run up to max_t-1.

In other words, HyperbandScheduler treats epoch is "number of epochs done" (which starts at 1). Or think about time or resourc

[2020-05-19 17:24] Innixma commented on #475
Thanks for making an issue!

Yes, continue_training is not implemented yet, although all the pieces are in place to enable it. I originally had continue_training functionality, but I decided to delay its release when transitioning to a DAG stack ensemble representation. This is one of the top things I plan to add in the near future, and should hopefully be available by 0.1.0 release.

Best,
Nick

[2020-05-19 17:34] Innixma commented on #476
Interesting, I have not seen this error before. It may be due to the way your mounted disk is implemented. I have not tested on azure. On EC2 with EBS it works without issue for me.

Regarding the extra `dask-worker-space` files, this is a bug that exists somewhere in AutoGluon NLP (I believe), which on `import autogluon` creates dask workers needlessly. To my knowledge they do not persist after k

[2020-05-19 17:40] Innixma commented on #477
Thanks for creating an issue!

@zhreshold Could you take a look at this?

[2020-05-19 17:44] Innixma commented on #478
Would it instead make sense to change the usage of epochs in HyperbandScheduler to use epoch+1, that way it can start at 0? We should try to have consistency between the schedulers and reporter in terms of what these values mean if they are shared between them. I am fine with changes being made in a new PR to address this.

[2020-05-19 18:09] zhreshold commented on #477
@Spark001 Do you have the output `python3 -c "import mxnet; print(mxnet.util.get_gpu_count())"` to be 8 in your build?
And also do you think the number of parallel tasks is bound by `num_cpus` by any chance?

[2020-05-19 18:41] Spark001 commented on #477
Thanks for your reply.
Actually I use the gpu and cpu resource on the cloud. I applied 8 GPUs, 32 CPUs and 256G memory, I think they are enough.

[2020-05-19 20:51] mseeger commented on #478
I'd be against changing HyperbandScheduler, and instead insist that epoch must start with 1.

If you think of this more general as a resource attribute, you want to count how much resource (or time) has been spent. So 0 makes no sense.

I think as long as it is clearly said that time_attr (def: epoch) in HyperbandScheduler must be a positive integer, we are fine. No?

[2020-05-19 21:26] zhreshold commented on #477
@Spark001 Thanks for the info, the idea of checking the `gpu_count` is to ensure that autogluon can find as many gpu as the phisically availabel GPUs on your instance.

[2020-05-19 21:41] Innixma commented on #478
I'm fine with this so long as it is documented, and that we confirm it is resolved in all locations (including Tabular) in your PR.

@jwmueller , @zhreshold are we all aligned?

[2020-05-20 01:18] jwmueller commented on #478
A simple solution might be: we add a flag-argument to the __init__ of HyperbandScheduler that simply internally increments it's epochs by +1 if the argument is specified?  Each task can then properly set this flag when creating its scheduler.

But AutoGluon's overall epoch-indexing anyway seems poorly unified so it could be worth addressing at this time:

Image classification uses 1-based epoch in

[2020-05-20 01:23] jwmueller commented on #473
The issue is much simpler, when you specify eval_metric='roc_auc', the NN is actually internally checking the per-epoch validation log-loss metric for early stopping. Near initialization, the NN often predicts class-probabilities == 0 by pure chance which causes 'divide by zero'.  If you simply change your eval_metric to accuracy, you'll get better 'roc_auc' from the NN as it will avoid this issue

[2020-05-20 06:41] mseeger commented on #478
@jwmueller But would we not control the train_fn wrapper for any 3rd-party code?

I can do what you suggest (in #470), this flag would either leave time_attr values returned by reporter as they are (default) or increment them by 1.

But then, one can ask why this is not just done in the train_fn wrapper.

One other thing (which I think I documented): HyperbandScheduler requires time_attr values to

[2020-05-20 07:52] Spark001 commented on #477
@zhreshold I run `python3 -c "import mxnet; print(mxnet.util.get_gpu_count())"` and confirmed 8 GPUs available.

Furthermore, I found the GPU utility ratio was like a square wave. GPU first works 2 hours, then sleep for about 2 hours repeatedly (2 hours is the time one task costs approximately).

Under my experimental setting, it may appear `out of memory` error, so I suspect that
thread not termi

[2020-05-20 20:14] zhreshold commented on #477
@Spark001 Yes, your guess is very likely straight to the point. It might due to a dead task on GPU that recource manager failed to revoke and clean.

@zhanghang1989 Any straight forward way to kill a task when it's not responsive for certain time?

[2020-05-20 20:23] zhanghang1989 commented on #477
The `time_out` feature was not considered in the original design. We can do it, but it may lead to misuse and cause troubles for long-training job.

[2020-05-21 00:41] #478 closed

[2020-05-21 06:58] jwmueller opened #480 "'pac_score' eval_metric does not work"
Using eval_metric = 'pac_score' produces error:
[code]

Can reproduce by simply running examples/tabular/example_simple_tabular.py with eval_metric set to 'pac_score'.

[2020-05-22 06:31] jwmueller opened #482 "mx.metric moved to gluon.metric in latest MXNet master"
This will break autogluon once the official version of MXNet updates to reflect this change.

https://github.com/apache/incubator-mxnet/issues/18386

I'm not sure what the best procedure is to handle this, to cap the MXNet version for now? try-import both of mx.metric & gluon.metric?

[2020-05-22 16:34] szha commented on #482
similar to gluoncv, I'd suggest pinning autogluon to mxnet 1.x, gluonnlp and gluoncv to 0.x, until the mx2 migration is done.

[2020-05-22 19:16] Innixma commented on #473
Alternatively, you can also set stopping_metric='roc_auc' to fix it.

[2020-05-23 21:37] Innixma commented on #480
Fixed in #483

[2020-05-23 21:37] #480 closed

[2020-05-24 01:01] Innixma opened #485 "Feature: Programmatic model training interruptions"
Add a feature in Tabular which allows for model training to be interrupted after a given time has passed.

Example: time_limits=100, but model has been training for 200 seconds and has not returned.

Currently, AutoGluon waits for the model to return and then exits.

With this feature, AutoGluon could raise an Exception to the model if it goes significantly over the time budget, without needing to

[2020-05-24 02:01] Innixma opened #486 "Feature: User-specified ensemble weights"
Add an option for users to create a new weighted ensemble after training that uses user-provided model weights.

Example usage:

[code]

[2020-05-24 05:04] ps-coder opened #487 "Classification or detection keeps on running on colab"
I'm following as mentioned in #163. Any [classification](https://autogluon.mxnet.io/tutorials/image_classification/beginner.html) or [detection task](https://autogluon.mxnet.io/tutorials/object_detection/beginner.html) keeps on running with no output after the resnet50 or mobilenet model is downloaded. On interrupt, I'm getting following stack trace:

KeyboardInterrupt                         Trac

[2020-05-24 11:35] nitinmnsn commented on #473
@jwmueller  - "Near initialization, the NN often predicts class-probabilities == 0 by pure chance".. Maybe you wanted to say 'hard classes' and not 'class-probabilities'. Outoput of softmax wont be zero.
1.  I do not think this is a case of pure chance but a case of imbalanced data. NN is getting so many samples with 0 as the label that it initially learns to predict all 0s. Plus it is happening o

[2020-05-27 07:49] HerbertArthur opened #488 "AttributeError: 'NoneType' object has no attribute 'update'"
I am trying to run this code like below:

[code]

Then I got error, the output is following:

My envs are: `mxnet-cu100 1.5.1.post0, autogluon 0.0.9`

[2020-05-29 04:06] BarclayII opened #490 "Running on multiple GPUs in parallel with PyTorch & Autogluon"
Hi,

I was wondering if it is possible to run parallel hyperparameter trials with PyTorch.  I tried the following code but it can only utilize one GPU:
[code]

Is it possible to make the scheduler to run multiple trials in parallel on separate GPUs?

Thanks.

[2020-05-29 09:03] BarclayII commented on #490
Turns out that if I set both `num_cpus` and `num_gpus` to 1 it can parallelize jobs on all GPUs.  Is it intended?

And how could I specify which GPUs to run AutoGluon on?  It seems that AutoGluon will always use all GPUs available no matter what I set to `CUDA_VISIBLE_DEVICES`.

[2020-05-29 22:18] Innixma commented on #490
Thanks for the info! While I'm glad that you were able to parallelize the GPU's, this sounds like a bug. @zhreshold could you look into this?

[2020-05-29 23:29] zhreshold commented on #490
Autogluon use `CUDA_VISIBLE_DEVICES` to control the underlying resource management which is now incompatible with pytorch's latest changes.
@BarclayII  In the meantime you can use `both num_cpus and num_gpus to 1` trick to manually manage the gpu resources until we find a way to manage it.

[2020-05-29 23:35] zhreshold commented on #488
@HerbertArthur Cannot reproduce, can you try upgrade autogluon?

[2020-06-01 12:08] mseeger commented on #482
+1. In general, I think it is wise to work hard to make AutoGluon as independent from MXNet as possible.

[2020-06-02 21:31] jrdzha opened #492 "Feature Request - Training Progress callback"
Is it possible to have a progress callback function with ETA or # completed tasks / # total tasks?

[2020-06-03 12:21] ouwyukha opened #493 "Is there a way to suppress distributed.worker - WARNING - Memory use is high .."
Is there a way to suppress this warning or even solve this?

I'm using Jupyter Notebook on WSL Ubuntu 18.04 and just installed latest version of autogluon by pip. At first i thought it's one time warning after i tried to load 5.6GB csv file. But when i tried to run print('test'), the warning is flooding again.

Here's my code:
[code]

I tried:
warnings.filterwarnings("ignore")  : warning still sho

[2020-06-04 07:35] Innixma commented on #493
This should be fixed in the recently released 0.0.10 version, thanks for reporting!

[2020-06-04 07:35] #493 closed

[2020-06-04 07:54] yongzpp commented on #488
@HerbertArthur did you manage to resolve? I encountered the same issue

[2020-06-04 10:48] mseeger commented on #488
Does this still happen with the latest version?

[2020-06-04 10:52] ind-kum commented on #399
how can i fix this error "LightGBMError: Do not support special JSON characters in feature name."

[2020-06-04 11:04] yongzpp commented on #488
I am using 0.0.10 version

[2020-06-04 11:49] mseeger commented on #488
@zhreshold

What happens here:
In BaseTask.run_fit, there is a call to scheduler.run_with_config(best_config). This returns None. It itself calls TasKScheduler.run_job, which returns job.result(), so this must be None.

I'd check whether the best_config passed to run_with_config is really valid. But I also do not see an obvious reason why any of this happens.

[2020-06-04 12:21] mseeger opened #498 "Could HyperbandScheduler obtain max_t from its train_fn?"
More of a question than an issue, looking for your ideas.
With HyperbandScheduler, we have time_attr, and we have associated max_t, grace_period, which are used to create the rung levels.

Now, it is usually the case that max_t is hard-coded into train_fn, right? If this is NN training, it knows its maximum number of epochs. Is there a way we could obtain max_t from train_fn, which would not be a

[2020-06-04 18:20] Innixma commented on #399
@ind-kum Please check your AutoGluon version and upgrade to 0.0.10 if you haven't. This should fix the issue.

[2020-06-04 18:25] zhreshold commented on #488
tracking the result down into the dask, I found that it's directly returned by `dask.Future.result()` which is supposed to be the return value of image classification training pipeline: https://github.com/awslabs/autogluon/blob/master/autogluon/task/image_classification/pipeline.py#L121

So the root cause might be related to the execution of dask.

[2020-06-04 23:26] Innixma commented on #498
If I understand correctly, you want a unified variable that corresponds to the epochs/iterations/etc. of a particular model when running hyperband for it?

[2020-06-05 00:54] zhanghang1989 commented on #498
That's very good point. This was not considered during the initial design.

We can pass it through `task.args`, for example `task.args['max_t']=self.max_t` . We can add it at:
https://github.com/awslabs/autogluon/blob/master/autogluon/scheduler/hyperband.py#L280-L281

Then user can read it in the `train_fn`, `max_t=args.max_t`

[2020-06-05 07:45] mseeger commented on #498
Yes. The thing is how to do it such that it does not put a burden on the user?

Of course, it is also a burden to have to pass max_t to HyperbandScheduler.

And the risk of not doing it is obvious.

@zhanghang1989 Your suggestion does not solve it. What we want is that the user does not have to specify max_t for HyperbandScheduler anymore, but it is taken from train_fn.

Maybe we could do somethin

[2020-06-05 07:47] mseeger commented on #488
So we should for sure test for None in BaseTask.run_fit, after scheduler.run_with_config(best_config) has been called (did you check that best_config is really valid?), and fail there with a message.

Even better if we could avoid this happening altogether.

[2020-06-05 09:31] priyanga24 opened #499 "Autogluon for linear models"
Hi,
I used the code below with the aws dataset which has binary class label. So it is logistic regression that must take action.
/*
from autogluon.utils.tabular.ml.trainer.auto_trainer import AutoTrainer
from autogluon.utils.tabular.ml.models.lr.lr_model import LinearModel
import autogluon as ag
import matplotlib.pyplot as plt
from autogluon import TabularPrediction as task
class LinearRegrssionTr

[2020-06-05 13:37] priyanga24 opened #500 "Linear regression - Random forest"
Hi,
why do I get a messy scatterplot while using random forest regressor for simple linear regression with two variables?
![image](https://user-images.githubusercontent.com/34644984/83882161-48f0b180-a774-11ea-9ac1-6312eb6928ad.png)

Code:
from autogluon.utils.tabular.ml.trainer.auto_trainer import AutoTrainer
from autogluon.utils.tabular.ml.models.lr.lr_model import LinearModel
import autogluon a

[2020-06-05 13:38] priyanga24 commented on #500
The dataset used was just a random linear regression dataset with one dependent variable(salary) and one independent variable(experience). So based on the experience, the LR model calculates the salary.

[2020-06-05 15:22] zhanghang1989 commented on #498
Thanks @mseeger  I see your point now.

It is hard to get it from the `train_fn` unless we ask the user to specify something like `max_t` (fixed name) in the `args`. Then we are able to read it.

[2020-06-05 20:07] Innixma commented on #498
For Tabular this is do-able, as the Model class implementations contains this information, which can be fed to hyperband when optimizing the particular model. This is not a solve for the other tasks unless they adopt Tabular's AbstractModel class however. With that said, it is likely that they will in a future version of AG, this work is already in-progress for NLP.

[2020-06-05 20:35] Innixma commented on #499
Thanks for submitting an issue!

Changing your get_models function fixed the issue:

[code]

In 0.0.10, the kwargs option was added to get_models to allow for improved extensibility and customization. You can solve the issue by specifying the **kwargs parameter.

Note that you can also get identical functionality in 0.0.10 without this custom class (Recommended):

[code]

Finally, if you want to g

[2020-06-05 20:46] Innixma commented on #500
This appears to be a tiny dataset, which is not well suited to tree algorithms which don't generalize beyond the bounds of their training data. I suspect if you increased the training data size by 100x, you would see the expected pattern. Note that this isn't particular to AutoGluon, but is a general property of tree algorithms.

[2020-06-05 20:48] Innixma commented on #500
Also, the tree algorithm must have had a training example near the 0 experience range to correctly predict it, as tree algorithms do not generalizee beyond their training set bounds.

[2020-06-06 06:16] priyanga24 commented on #499
Thank you so much!

[2020-06-06 07:09] priyanga24 commented on #500
Thanks a lot!

[2020-06-06 07:26] priyanga24 commented on #500
I used the code below to use random forest as regressor . As you said, I extended the dataset size to 12,000 rows in train and 3000 rows in train. But Still I am getting a messy plot as shown below. Please help!

![image](https://user-images.githubusercontent.com/34644984/83938751-c9adbd00-a809-11ea-950b-a8a02223b6dc.png)

**CODE:**
import autogluon as ag
import matplotlib.pyplot as plt
from autog

[2020-06-06 21:12] #499 closed

[2020-06-06 21:21] Innixma commented on #500
I'd recommend you try passing this same data in to a sklearn random forest model directly without using AutoGluon. If it gives you similar results, then it is a fundamental property of the tree model. If you get your ideal solution however, it is a property of AutoGluon and I can try to assist in resolving it.

Another option: Try specifying hyperparameters = {'RF': {'n_estimators': 10000}} or inc

[2020-06-06 21:28] Innixma commented on #492
Could you clarify which task you are referring to? Do you mean for Tabular on a model-by-model basis or for generic HPO in terms of HPO trials?

[2020-06-07 03:17] jrdzha commented on #492
Hi, I mean on a model by model basis. Just something similar to H2O-3's AutoML, how the user can query the leaderboard, get the current leader and its stats, etc. This is just useful to help track long running sessions and potentially build live graphs or dashboards.

[2020-06-07 20:12] Innixma commented on #492
I'll need to think about the best way to incorporate this functionality, but it is definitely do-able and useful. I will update this issue when I make progress in my implementation.

[2020-06-08 06:14] priyanga24 commented on #500
Hey Nick, Yes you were right, the tree algorithms like RF,KNN and boosting algorithms CAtboost and GBM have a non linear nature and they cannot extrapolate - this is clarified.
But neural networks can work very well with linear regression with specifying linear activation function in the output layer. where can i specify that the activation function for the output layer is 'linear'? But i see that

[2020-06-08 07:17] mseeger commented on #498
For all or most of our NN training examples, we have train_fn.args.epochs. But this is not a hard requirement, it just seems something folks tend to do.

Here is a proposal:
- Make the default in HyperbandScheduler (for max_t) = None
- If max_t is None, check whether train_fn.args contains a field epochs. If so, use the value for max_t, and also display some message "max_t = train_fn.args.epochs =

[2020-06-08 20:42] Innixma commented on #498
@zhreshold Can you coordinate with @mseeger to get this working for image? I think we can perform the integration later on for Tabular, as it involves updating AbstractModel.

[2020-06-08 20:46] Innixma commented on #500
@jwmueller Perhaps you could answer the NN question?

[2020-06-08 21:20] zhreshold commented on #498
It's probably still introducing some extra burden to user defined `train_fn` since the behavior of HyperBand and FIFO is diverging, some `train_fn` which run perfectly using FIFO won't stand in HyberBandScheduler.

@mseeger  So two questions here:
- Is it dangerous to set a large `max_t` default value like `500`?
- If not, can HyberBandScheduler become smarter enough to detect possible values for

[2020-06-09 08:20] mseeger commented on #498
@zhreshold
- Large value for max_t: I would have to look at the code in more detail. It certainly would be less
   of an issue than if max_t is too small
- Smarter HB scheduler: This is what I'd suggest

In terms of smarter HB, we could try this:
- If max_t is not None, use it. Then, the user knows what (s)he wants
- If max_t is None, try to infer it from train_fn.args. Look for epochs. If that is

[2020-06-09 08:22] mseeger commented on #498
And we'd be clear in the documentation, say for HyperbandScheduler, that it is wise to use either epochs or max_t in args when writing train_fn.

Another thing: Say that HyperbandScheduler gets a max_t value (not None), AND train_fn.args contains epochs or max_t, and these are different. Then, we should write a warning message to the log, but still continue with using max_t passed to the scheduler

[2020-06-09 09:10] jwmueller commented on #500
If you want to train only a linear model, you can call autogluon like this:

[code]
Note this is recently-added functionality so please upgrade your autogluon version: `pip install autogluon --upgrade`

If you want a more flexible model that can extrapolate a bit, then yes you can use the NN and call autogluon like this:
[code]
Note the autogluon NN already uses linear activation in the output lay

[2020-06-09 14:52] mseeger commented on #498
@zhreshold I can take a stab at this one.
Still, if you could tell me how I can cleanly test whether args has args.epochs or args.max_t, this would be helpful. I am not so firm on Python.

[2020-06-09 15:16] priyanga24 opened #506 "HPO for KNN,RF,XT"
Hi, when will you be adding HPO for knn,rf,xt algorithms?

[2020-06-09 15:47] mseeger commented on #498
Closing this, superseded by #507

[2020-06-09 15:47] #498 closed

[2020-06-09 16:42] priyanga24 commented on #500
ok, I tried changing different values for y_range_extend parameter,still my plot does not show a best fit line.
![image](https://user-images.githubusercontent.com/34644984/84175491-a8232e80-aab2-11ea-9bdd-f13fc50fd80f.png)
if I increase the dataset size also, I dont get a best fit line
![image](https://user-images.githubusercontent.com/34644984/84175705-efa9ba80-aab2-11ea-9a1e-afb0fc12cfb6.png)
So

[2020-06-09 18:03] Innixma commented on #506
Hi,

We plan to add this support in an upcoming release likely in the next couple months. It should be noted that the benefits gained from HPO on these models is likely small, and the reason it is currently disabled is due to concerns that HPO would run users out of disk space, as the models are both quick to train and take up a lot of disk space.

Best,
Nick

[2020-06-09 19:27] jwmueller commented on #500
Sorry how can I tell if it is extrapolating from these plots? Are the green dots the training data?  If so to see whether the model is extrapolating, you would need to plot 'predicted' for new X that are bigger/smaller than the biggest/smallest X in the training data.

And yes it is recommended to set "LR" in `hyperparameters` argument of `task.fit()` if you have a linear regression problem.

[2020-06-10 21:16] artemmavrin opened #509 "Import error caused by removed private scikit-learn function"
Import error using autogluon 0.0.10 and scikit-learn 0.23.1:

[code]

Error: `ImportError: cannot import name '_argmax'`, caused by

https://github.com/awslabs/autogluon/blob/566a00c552c1ecde8d8e8b433500aa0b46fdfc6b/autogluon/utils/tabular/ml/models/tabular_nn/categorical_encoders.py#L13

`_argmax` was removed from `sklearn.utils.fixes` in https://github.com/scikit-learn/scikit-learn/commit/75d3f2

[2020-06-10 22:45] Innixma commented on #509
We do cap the sklearn version for other reasons related to skopt being incompatible with sklearn 0.23, although this will help us upgrade in future, thanks for the PR!

[2020-06-11 18:09] nickyongzhang commented on #471
Same error here. Just copy the notebook in SM notebook instance and did nothing change.

I tried both `pip install -U Pillow` in jupyter and Docker file and still sees this error.

[2020-06-11 23:22] #509 closed

[2020-06-12 08:55] #317 closed

[2020-06-12 08:56] #293 closed

[2020-06-12 15:04] impulsecorp opened #515 "Time Limit Question"
Using tabular data, when I run it like:
predictor = task.fit(train_data=train_data, label=label_column, output_directory=dir, hyperparameter_tune=True, feature_prune=True, auto_stack=False, search_strategy='random')

it sets a time out of 77.14 for HPO for each algorithm. And then it only performs 1%-2% of the 1000 pending tasks (optimizations, I assume) due to hitting this time limit. Why is that

[2020-06-12 19:52] Innixma commented on #515
To avoid having users run out of memory and other bad things, if you specify hyperparameter_tune=True without setting num_trials or time_limits, time_limits defaults to 10 minutes. If you want to do many trials, try setting time_limits=3600*24 to have it train for 24 hours.

[2020-06-13 00:42] #515 closed

[2020-06-14 09:03] arr28 opened #520 "For TabularPrediction, add get_default_hyperparameters"
There are several comments (e.g. [this one](https://github.com/awslabs/autogluon/issues/401#issuecomment-608041453)) where it's recommended to specify all hyperparameters except one to avoid training a particular model type.  That involves knowing the default hyperparameters for everything else, which can be hard to find.  Furthermore, it isn't future-proof (to changes in default hyperparameters i

[2020-06-14 09:10] arr28 commented on #520
Sorry, from searching the code, I've just discovered...

[code]

...does exactly what I'm looking for.

[2020-06-14 09:10] #520 closed

[2020-06-15 05:24] jwmueller commented on #473
Fixed in: https://github.com/awslabs/autogluon/pull/481

[2020-06-15 05:24] #473 closed

[2020-06-15 20:25] Innixma opened #524 "Tabular metrics print negative values"
Fix metric printouts in Tabular showing negative values for metrics such as RMSE, MSE, log_loss, etc.

Areas where they are shown negative:
- logging statements after training
- leaderboard
- summary graphics

[2020-06-16 11:36] priyanga24 opened #525 "Catbost hpo"
Hi,
can you give an example of how to specify HPO searchspace for Catboost? Thanks

[2020-06-16 13:05] priyanga24 commented on #506
why does giving hyperparameter_tune gives an error?

[2020-06-16 13:06] priyanga24 commented on #506
if I give hyperparameter_tune=True, I get error. Can u please explain why?

[2020-06-16 15:23] priyanga24 commented on #525
Solved it myself. sorry, Thank you.

[2020-06-16 15:23] #525 closed

[2020-06-16 15:34] priyanga24 commented on #506
if I give hyperparameter_tune=True, I get error. Can u please explain why?
Also, may I know that if autogluon automatically takes the searchspace of a particular algorithm and chooses the best parameters(which means it is doing HPO) when we give for example, hyperparameters={'CAT':{}} in fit()?
Also I get same results when I explicitly define the searchspace in hyperparameters{} in fit() or don't

[2020-06-16 15:56] Innixma commented on #506
To enable me to give you helpful advice, can you please provide code examples and code output detailing your problem and question?

[2020-06-16 22:09] Sam7791 opened #526 "time_limits not respected for object detection"
Hello,
I set time_limits to 60*10 seconds (10 minutes) with 3 epoch.
The three epochs finished but the fit is still running more than one hour after end of last epoch training:
`time_limits = 60*10  # 5 hours
epochs = 3
detector = task.fit(dataset_train,
                    epochs=epochs,
                    net='resnet50_v1b',
                    batch_size=4,
                    meta_arch='faste

[2020-06-17 04:57] priyanga24 commented on #506
Hi, Sure.
Please see the code below. Used the same code in autogluon website ( https://autogluon.mxnet.io/tutorials/tabular_prediction/tabular-indepth.html )
**_CODE:_**
import autogluon as ag
from autogluon import TabularPrediction as task

train_data = task.Dataset(file_path='https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv')
val_data = task.Dataset(file_path='https://autogluon.s3.amazo

[2020-06-17 04:59] priyanga24 commented on #506
Hi, Sure.
Please see the code below. Used the same code in autogluon website ( https://autogluon.mxnet.io/tutorials/tabular_prediction/tabular-indepth.html )
CODE:
import autogluon as ag
from autogluon import TabularPrediction as task

train_data = task.Dataset(file_path='https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv')
val_data = task.Dataset(file_path='https://autogluon.s3.amazonaws.c

[2020-06-17 05:01] priyanga24 commented on #506
Hi, Sure.
Please see the code below. Used the same code in autogluon website ( https://autogluon.mxnet.io/tutorials/tabular_prediction/tabular-indepth.html )
**_CODE:_**
import autogluon as ag
from autogluon import TabularPrediction as task

train_data = task.Dataset(file_path='https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv')
val_data = task.Dataset(file_path='https://autogluon.s3.amazo

[2020-06-19 23:12] thvasilo opened #528 "TabularNeuralNetModel taking unnecessarily long to train"
Hello,

Thanks for the great package, really interesting stuff!

I ran a minimal example using a credit card fraud detection dataset, available [here](https://www.kaggle.com/mlg-ulb/creditcardfraud). Since this is a highly unbalanced dataset, I used `balanced_accuracy` as my metric.

One thing I noticed was that, compared to the other models, the `TabularNeuralNetModel` took ages to train, and ess

[2020-06-20 18:42] austinmw commented on #528
This comment probably won't address your overall issue, but if I recall correctly, I think I was told it's preferable to use M instances over C instances for these models, so comparing that to a run with a ml.m5.24xlarge might be worth a shot.

[2020-06-20 20:39] Innixma commented on #528
One thing to check is if you have intel-mkl installed. If so, uninstalling it will dramatically speed-up the NN training.

Furthermore, the reason this particular NN took a long time is because it had a val_score of 1.0, and the NN keeps training if its val_score doesn't decrease over N iterations, up to a maximum of 500 iterations. If you increase the amount of data being trained with AutoGluon (

[2020-06-21 01:40] wmlba opened #530 "Autogluon breaks if tried to run it in a script"
Error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/walebadr/Downloads/autogluon.py", line 1, in <module>
    from autogluon import TabularPrediction as task
ImportError: cannot import name 'TabularPrediction'

To Reproduce:
- install latest gluon using pip
- write a very simple script *.py file to do anything.
- run the script.
- autogluon breaks even if

[2020-06-21 01:57] Innixma commented on #528
#531 should address some of this concern. Once merged, you can specify a new argument to .fit():

[code]

[2020-06-21 02:12] Innixma commented on #530
I cannot reproduce this issue.

From a fresh linux machine:

[code]

[code]

[code]

pip freeze output:

[code]

Please ensure that your installation succeeded and you are using the proper python environment.

Best,
Nick

[2020-06-21 12:14] priyanga24 opened #532 "fit() error"
Hi,
The dataset used was like this:

[code]
![image](https://user-images.githubusercontent.com/34644984/85224256-8a7f8e80-b3fb-11ea-9d6c-692eca6a5bc3.png)
I am trying to perform the 'likelihood ratio test' to evaluate the regression model. it includes a null model and fitted model. in the null model, we do the below in fit()
**CODE:**
[code]
--------------------------------------------------------

[2020-06-21 21:52] Innixma commented on #506
This looks like an issue with threading. Try running that code directly from terminal rather than through a Python notebook. As an example, HPO does not work in debug mode in an IDE like PyCharm because it starts and stops threads. I haven't tested with how HPO works in a Juypter Notebook, but it may be the case that it runs into issues.

[2020-06-21 21:56] Innixma commented on #532
A tip for future issues: Please use the code block functionality of GitHub when pasting code into your issue, this simplifies viewing and makes things look a lot cleaner. I have edited your original comment to use code blocks.

[2020-06-21 22:08] thvasilo commented on #528
Thanks @Innixma seems like #531 would indeed help in cases such as these.

I'm using a SageMaker notebook to test this out, doing `conda list | grep mkl` on my env gives

[code]

This seems counter-intuitive, you're saying removing intel-mkl will _speed up_ training?

Thanks for pointing out leaderboard, good to see accuracy on my test set in the end. LightGBM did end up being the best with the te

[2020-06-21 22:08] #528 closed

[2020-06-22 00:56] priyanga24 commented on #532
Oh sure, noted. Thanks. Waiting for your reply on the issue!

[2020-06-22 18:09] arunmk commented on #492
@Innixma thanks for taking up this bug. We are also interested in this and want details from all models including non-leaders while the training is going on. Would that be supported by the fix for this issue?

[2020-06-22 23:48] Innixma commented on #528
Regarding mkl, yes, uninstalling it generally results in a significant speedup in NN training time. I don't know why at the current time, but I have observed it in my tests.

[2020-06-23 00:40] Innixma commented on #532
Your data transformation was not correct, and led to the 'n' column consisting of only 0 values. Since this is the only feature and it contains no information (thus getting filtered out during preprocessing), AutoGluon crashes.

This modified code works:

[code]

Code Output:

[code]

For future issues, please confirm that your data being sent into AutoGluon is correct before creating the issue, i

[2020-06-23 02:09] priyanga24 commented on #532
No, to perform likelihood ratio test we use fit() with only zeros as train_data and dependent variable. This error doesn't occur when we do the same with scikit learn fit().

[2020-06-23 05:39] priyanga24 opened #533 "evaluations"
Hi,
reference from https://arxiv.org/pdf/2003.06505.pdf
![image](https://user-images.githubusercontent.com/34644984/85363714-2c19f380-b554-11ea-856e-648eb4d469e8.png)
For the above datasets, is this the code you used?
[code]

The output gives only the validation score from fit(), not the test data scores.
The test data does not have the ground truth(actual values). We need actual values and the pr

[2020-06-23 06:58] Innixma commented on #532
I understand what you mean now, sorry for misunderstanding. While this is technically a valid use-case, AutoML may not be the best solution to go about creating a null model. AutoGluon crashes because it filters out features which have all the same value across all rows, and since no features exist, no models can be trained. This could be changed in future to instead return a dummy model which jus

[2020-06-23 07:00] Innixma commented on #533
You have to join the Kaggle competition and submit your predictions to Kaggle to get the test score, the test labels are not publicly available.

[2020-06-24 02:14] priyanga24 commented on #533
ok! what was the algorithm you used? hyperparams={'LR':{'penalty':'L1'}} or all the algorithms?
And using L1 loss gave bad results for 'house price' dataset. I see that it's mentioned in the paper that you've used L1 loss.

[2020-06-24 22:19] priyanga24 commented on #532
Thank you!

[2020-06-24 23:21] Innixma commented on #533
Please refer to the AutoGluon-Tabular paper for extensive discussion of the experimental setup: https://arxiv.org/pdf/2003.06505.pdf

We used default hyperparameters, without them being manually set. We did not use linear regression.

For reproducing results exactly: https://github.com/Innixma/autogluon-benchmarking/blob/master/autogluon_utils/benchmarking/kaggle/README-kagglebenchmark.txt

For ex

[2020-06-25 01:17] Innixma opened #535 "Tabular: Add AutoGluon version as variable to predictor"
Add AutoGluon version as variable to predictor, and a warning message when loading a model using a different AutoGluon version than used during training.

[2020-06-25 15:13] arunmk commented on #392
@Innixma @jwmueller is it possible for Tabular to have pre and post callback functions for each model fit() run, so that we may gather data even while the entire set of models is running.

[2020-06-25 19:52] Innixma commented on #492
Yes, this is something that I plan to add as it is a natural aspect of having the callback function.

[2020-06-25 19:52] Innixma commented on #392
Hi Arun, please see my update to https://github.com/awslabs/autogluon/issues/492

[2020-06-25 22:06] #500 closed

[2020-06-25 22:07] #468 closed

[2020-06-26 00:31] ifeherva opened #538 "Combine tabular and image tasks?"
I have a problem best fit for tabular but one column points to images. Is it possible with AutoGluon to combine both tasks, so image and tabular input for each row? If yes, how?

[2020-06-26 05:12] #535 closed

[2020-06-26 05:12] #532 closed

[2020-06-26 06:11] jwmueller commented on #538
Offering this as a built-in task is on our roadmap, but probably won't be ready for a while.
For now, you can use `ImageClassification.fit()` on just the images, and `TabularPrediciton.fit()` on the tabular input (on a GPU machine). At inference time you can just take a weighted average of the image-classifier's predicted probabilities and the tabular-predictor's predicted probabilities (assigning

[2020-06-26 09:36] salad-henchmen opened #539 "How to obtain information on multiple evaluation metrics?"
Aside from the value passed to eval_metric during fit, I want to find the results of other evaluation metrics as well. When the leaderboard() is called on test data, is there any way these other metrices can also be computed and returned for each model?

[2020-06-26 12:15] priyanga24 commented on #533
Thanks for your help!
I was able to experiment it, and for this dataset https://www.kaggle.com/c/santander-customer-satisfaction/data , I see that your roc_auc values was 0.82654. But my score was only 0.50065.
I trained for the model for 4 hours as you did, and set auto_stack=True.
Now Because you've upgraded autogluon , due to some changes my score is less now compared to the score with the vers

[2020-06-26 18:22] Innixma commented on #533
0.5 with AUC is the score of randomly guessing. You are feeding in predictions (1 and 0) when you should be submitting prediction probabilities (0.8, 0.2, etc.). Prediction probabilities are required to calculate AUC, otherwise you will see a score very close to 0.5.

[2020-06-26 21:02] Innixma commented on #539
Currently, leaderboard only outputs the eval_metric score, but it would be a good feature-add to also output additional metrics if requested.

At present, you can get the pred and pred_proba's from all of the models and calculate the metric scores outside of AutoGluon, and fit_summary() has information on several other metric scores.

[2020-06-26 21:15] priyanga24 commented on #533
oh Thanks! Got confused with the sample submission. Sorry, thanks for the help!

[2020-06-26 21:15] #533 closed

[2020-06-28 11:22] impulsecorp opened #541 "Displaying The Training Validation Score"
I would like to be able to separately display the final training validation score, after training is finished, something like
print(score_val)
0.5355
but that gives an error. Or if I had access to the train/test split AutoGluon automatically performs, it could be:
print(accuracy_score(x_test, x_pred))

I am referring to the Validation score it shows when training is completed:
--------------------

[2020-06-28 21:52] Innixma commented on #541
As an example:

[code]

[code]

[code]

Get best score:
[code]

Get particular model score:
[code]

[code]

[code]

[2020-06-28 22:05] impulsecorp commented on #541
Yes, that did what I needed, thanks.

[2020-06-28 22:05] #541 closed

[2020-06-29 17:27] calebeaires opened #544 "Function on AutoGluon that returns a confusion matrix corresponding to the predict"
I have done some tests with this lib. Is is fast and accurate. I was wondering how to call some function from evaluate objects that returns a **confusion matrix corresponding to the  predict** while using the processo of TabularPrediction

[2020-06-29 20:52] jrdzha opened #545 "Tabular Feature Engineering on Large Datasets"
I am specifically interested in using Autogluon's feature engineering. My question is if this is something that can be exposed to the end user?

Also, I've noticed that Autogluon's tabular data import requires an Autogluon-specific table, but also works with pandas dataframe. However, it does not work with Dask dataframe. Are there plans to make Autogluon compatible with other distributed large-sc

[2020-06-29 21:43] Innixma commented on #545
In the next 1-2 months we plan to refactor the API of AutoGluon to enable the use of the feature engineering exclusively without needing to also train models.

For now, you can hack around this by training a very simple model and never using it:

[code]

Regarding the input format, it is actually just a wrapper to the pandas DataFrame, and therefore anything that shares the same functionality as t

[2020-06-29 21:45] Innixma commented on #544
This is not currently implemented, but I think would be a great addition. Contributions are welcome!

[2020-06-29 21:48] Innixma commented on #530
Marking as resolved, please re-open if you still are having issues.

[2020-06-29 21:48] #530 closed

[2020-06-29 23:00] jrdzha commented on #545
Thanks, then my followup question is this: I've noticed that the nlp function for feature engineering creates different number of features based on how the number of rows its given. For a large dataset, would I be able to break my table into, say 10 sub-tables, run feature engineering in parallel on each of these, then join back somehow, with the resulting dataframe the same as if I had just run t

[2020-06-30 01:31] Innixma commented on #545
Great question. As of right now it would be very difficult, if not impossible, to parallelize feature engineering during training fully, as we use a CountVectorizer for text, which requires all of the text data at once (or at least it isn't trivial to combine them in parallel). I had looked into this in the past, and I wasn't able to find a parallelized version of CountVectorizer.

However, it sho

[2020-06-30 02:17] jrdzha commented on #545
Ah I see. I'd be interested in parallelizing feature engineering if possible. Maybe I can play with this and see if I get anywhere. Is there any resource / reading for how autogluon is doing feature engineering? Thanks!

[2020-06-30 03:08] priyanga24 commented on #506
No, it was previously working fine when I ran in jupyter notebook. why is it not working now?

[2020-06-30 03:38] priyanga24 commented on #506
Please give an example of how to use hyperparameter_tune=true functionality?

[2020-06-30 03:47] priyanga24 commented on #506
@zhanghang1989 Hi, I see from the issues, that you wrote the code for HPO. Can you please let me know why HPO is not working for me when I give hyperparameter_tune=true?
Code:
[code]
Error output:
[code]

PLEASE HELP RESOLVING THIS ISSUE, THANKS!!

[2020-06-30 17:50] Innixma commented on #506
I have tested on a fresh sagemaker notebook after installing AutoGluon, and copy-pasted your code into it. HPO worked without issue.

This is an issue with your jupyter environment, not an issue with AutoGluon. See https://github.com/jupyter-widgets/ipywidgets/issues/2527 as an example to look into why you are having issues.

AutoGluon works fine with a correctly configured Jupyter environment in

[2020-07-01 04:13] jrdzha commented on #545
It seems like Spark has a countvectorizer. Is there anything that can be taken from their implementation?

[2020-07-01 10:05] priyanga24 commented on #506
Hello Nick,
I have a few questions/doubts, can you please confirm?

1) We get the validation score for separate models that are trained, but can we get the individual test scores for each model too? if yes, can you give an example code?

2) Autogluon automatically is doing HPO without specifying hyperparameter_tune=true right? We set the hyperparameter_tune only when we define our own search space

[2020-07-01 20:02] Innixma commented on #506
1. predictor.leaderboard(test_data)
2. No, AutoGluon does not do HPO by default. It does not tune, it uses fixed hyperparameters. If hyperparameter_tune=True, default searchspaces are used unless specified by the user.
3. predictor.info()
4. Please reference the AutoGluon-Tabular paper for this information.

[2020-07-01 20:14] Innixma commented on #545
If you are interested in contributing to AutoGluon, please send me an email or confirm your interest in this thread and I can give you a link to our recently created developer slack channel where we can collaborate more closely.

The best way to look at how AutoGluon is doing feature engineering would be to look at the source code at present, as it hasn't been touched for a long time as we have be

[2020-07-01 22:39] arunmk commented on #524
@Innixma I observed the log_loss eval_metric as negative from the inner function itself (`best_model_score_val` from the `AutoTrainer.get_info` function). So it is not merely a printing artifact. Do you know if the values are accurate but only negative?

[2020-07-01 23:09] priyanga24 commented on #506
Thank you so much for your patience in answering my doubts, cheers!

[2020-07-01 23:09] #506 closed

[2020-07-02 00:11] Innixma commented on #524
@arunmk Yes, they are accurate in absolute value, but flipped since AutoGluon works under the assumption that higher = better for all metrics. This simplifies various logic in the codebase such as when sorting models best to worst, choosing the best model, HPO, etc.

[2020-07-02 00:22] arunmk commented on #524
@Innixma ok, I will just invert the values where minima are used for now in our use cases. Thanks for the clarification!

[2020-07-03 03:29] jrdzha commented on #545
@Innixma Thanks, I've sent you an email.

[2020-07-03 23:31] lfleon9b commented on #372
The following version works:

https://colab.research.google.com/drive/1Z0F2FOowLWrJ-gYx72fiWLIpmEVMk4Bo#scrollTo=XtuOeo_ZzLMq

see full article in : (from https://towardsdatascience.com/getting-started-with-automl-and-aws-autogluon-6bc7ed7aef95)

greetings!

[2020-07-05 20:22] Innixma commented on #545
@jrdzha Responded, thanks for your interest!

[2020-07-14 05:35] priyanga24 opened #553 "Neural Architecture search"
Hello, is it possible to implement NAS in autogluon? if yes, can you please provide an example or syntax to build a CNN for image dataset using NAS?

[2020-07-14 07:33] jwmueller commented on #553
Yes there is an implementation available for you to use for vision tasks.  See our provided tutorial here:
https://autogluon.mxnet.io/tutorials/nas/index.html

[2020-07-14 10:16] priyanga24 commented on #553
thanks, under what environmental constrains did this work? I mean the the amount of memory, speed, number of GPU's?
I have a free tier AWS Sagemaker account with which I have 4 GB RAM and 2 virtual CPU's.

[2020-07-14 11:57] priyanga24 commented on #553
Also may I know how to define our own threshold for classification problems ? thanks!

[2020-07-15 00:16] jwmueller commented on #553
If you read the ProxylessNAS paper closely, they also consider an additional non-gradient-based NAS which is basically ENAS.  The basic cell being searched here is convolutional and is precisely defined under "AutoGluon ENAS Unit":
https://autogluon.mxnet.io/tutorials/nas/enas_proxylessnas.html#autogluon-enas-unit

With your limited compute power, I would avoid NAS if I were you.  CNNs in general

[2020-07-15 01:04] priyanga24 commented on #553
Thanks, thanks a lot!

[2020-07-15 01:05] #553 closed

[2020-07-16 09:08] DrumSergio opened #555 "Feature request - Deployment on a K8s / K3s cluster"
My petition is in line with an open-source European-Taiwanese project, after a failed attempt of deploying an H2O cluster inside K3s (K3s is a certified lightweight distribution of Kubernetes, specially suitable for edge and fog environments).

Currently, there is some work already done about distributed computing and AutoGluon: https://autogluon.mxnet.io/tutorials/course/distributed.html
But it l

[2020-07-16 23:54] andyDoucette opened #558 "How to save the model created with an ENAS_Scheduler?"
We have this nice tutorial showing how to use the ENAS_Scheduler to train a model.

[ENAS Tutorial](https://autogluon.mxnet.io/tutorials/nas/enas_proxylessnas.html)

My question is:  How do we save and load trained models created that way?  I've tried 5 different ways and none of them seem to work.

Based on what I read, the one I think I'm supposed to use is this:

`
mynet.export(modelFile, epoch

[2020-07-17 21:08] Innixma commented on #558
@zhreshold Could you take a look at this?

[2020-07-17 21:57] zhreshold commented on #558
@andyDoucette Hi, the fix to export is available here: https://github.com/awslabs/autogluon/pull/559

The remaining issue is that you can only use the exported model for inference, but may not be able to load it back as the current implementation of ENAS is based on a highly dynamically wrapped structure that can't be pickled or saved.
The good news is that the exported model can be imported into

[2020-07-17 23:25] sxjscience opened #560 "[HPO] ag.space.Categorical does not support keys containing `.`"
Minimal reproducible example:

Case1: Use `model.name` as the key

[code]
Output:
[code]

Case2: Use `model_name` as the key:

[code]
Output:
[code]

I've also tried ray/tune and it's supported.

[2020-07-18 04:57] andyDoucette commented on #558
@zhreshold Thank you very much! :)  Once this all gets put into master, I'll try it out on my side and report back.

[2020-07-18 07:59] sxjscience opened #562 "[HPO] Autogluon will only use one GPU"
I've set the `num_gpu` in `resource` to be 4. However, it will still have only 1 GPU available.

Reproducible example:

[code]
Output:
[code]

For installing the MXNet, following the guide here: https://sxjscience.github.io/KDD2020/

[2020-07-18 08:01] sxjscience commented on #562
Confirmed that it's not a bug. The reason is that I've made the mistake in `get_mxnet_visible_gpus`.

[2020-07-18 08:01] #562 closed

[2020-07-19 02:49] andyDoucette opened #563 "How to run the ENAS Tutorial on a GPU?"
## Problem
I'm working on trying to get the [ENAS Tutorial](https://autogluon.mxnet.io/tutorials/nas/enas_proxylessnas.html) to run on a GPU, but every time I do this, I get an obscure CUDA initialization error.  The error message is quite opaque, and I'm not sure where the problem lies.  I would really appreciate some help if you're willing.

Here is the code:

[code]
As you can see, I'm being ve

[2020-07-19 09:02] alan-aipe commented on #544
@Innixma : May I take this task up? I would like to start contributing to this project and this seems like a good first issue as you have rightfully pointed out.

[2020-07-19 16:36] schinto opened #565 "Is the calculation of the RMSE of test data correct?"
Is the RMSE calculation in evaluate_prediction in autogluon version 0.0.11 correct?

From a prediction with the test data:
[code]
I got:

[code]

When the RMSE is calculated using
[code]
the following values are returned:
[code]

[2020-07-19 18:22] Innixma commented on #565
Interesting... Could you also do predictor.leaderboard(X_raw_with_labels)? That will indicate what is internally being used by AutoGluon.

[2020-07-19 18:30] Innixma commented on #565
This is the AutoGluon source code for rmse (Same as in https://stackoverflow.com/questions/17197492/is-there-a-library-function-for-root-mean-square-error-rmse-in-python):

[code]

[2020-07-19 18:37] Innixma commented on #565
I've ran a test on this and it seems to be consistent (differing from your example). Could you double-check your code and ensure you ran everything in the same cell?

On 0.0.12 (No changes to RMSE):

[code]

Output:

[code]

[2020-07-19 19:09] Innixma commented on #230
Marking this as resolved given that many changes have happened since this issue and AutoGluon appears to work without issue in SageMaker notebooks with the latest versions.

[2020-07-19 19:09] #230 closed

[2020-07-19 19:16] Innixma commented on #544
@alan-aipe : Certainly! I've sent you an email with some tips on getting started.

[2020-07-19 19:19] Innixma commented on #563
@zhreshold Could you take a look at this?

[2020-07-19 19:45] Innixma commented on #555
Hi Sergio,

Great request! We are in the process of considering our options for refactoring/expanding AutoGluon's distributed support, and will keep this request in mind, as we want to be as flexible and accessible as possible.

If anyone has suggestions on how to practically add this functionality to autogluon, discussion here or a pull request would be much appreciated!

Best,
Nick

[2020-07-19 22:30] pushpendre opened #567 "Autogluon does not gracefully handle sparse pandas dataframes"
Consider the following MWE where I created a sparse 10,000 × 1,500 matrix and, I made the first column the label. The entire dataset takes less only a few MB in memory. The `task.fit` step encounters two major error.

[code]

**First** the main issue is that autogluon outputs the following error 1499 times, presumably once for each column!

[code]

**Second** it outputs the following error with th

[2020-07-19 22:57] pushpendre commented on #567
a workaround is to configure autogluon as follows

[code]

[2020-07-20 00:12] andyDoucette commented on #563
Let me know if you have trouble reproducing.  I can provide a full Dockerfile if needed.

[2020-07-20 02:55] alan-aipe commented on #544
Seems that I did not receive the email yet. Can you forward it to alanaipe@outlook.com?

[2020-07-20 05:31] jwmueller commented on #560
Thanks @sxjscience, merged your fix: https://github.com/awslabs/autogluon/pull/564

[2020-07-20 05:31] #560 closed

[2020-07-20 07:29] alan-aipe commented on #544
Thanks for the mail. I will start working on this :)

[2020-07-20 07:33] schinto commented on #565
See below for the output from the leaderboard.
[code]
The output from `evaluate_predictions` is still:
`Evaluation: root_mean_squared_error on test data: 1.9002197479504435`

Two other observation:
A) I trained 14 regression models (training data had on average 24000 samples and 1243 features) using:
[code]
**NeuralNetRegressor_STACKER_l0 always had the highest RMSE.**

B) In one of my first runs

[2020-07-20 07:47] schinto opened #569 "Estimation of the uncertainty in the predictions"
Currently, Autogluon Tabular predicts values without giving an estimate of the uncertainty.
Are you going to integrate methods like [conformal prediction](https://arxiv.org/pdf/2005.07972.pdf) or another method to estimate the uncertainty in the prediction of new samples?

[2020-07-20 07:57] kaheicanaan opened #570 "Docs request: detailed docs for data preprocessing procedure"
My question is similar to #545. Preprocessing procedure described in [docs](https://autogluon.mxnet.io/tutorials/tabular_prediction/tabular-quickstart.html#description-of-fit) and [paper Chapter 2.2](https://arxiv.org/pdf/2003.06505.pdf) are oversimplified and I found difficulties to decide whether I should manually generate certain commonly used features (e.g. z-score, bin, etc.).

Reading source

[2020-07-20 16:39] alan-aipe commented on #544
@Innixma : Can you have a look at the PR. It seems the CI failed during BUILD_DOC phase because of `ImportError: cannot import name '_psutil_linux' from 'psutil' (/var/lib/jenkins/miniconda3/envs/autogluon_docs/lib/python3.7/site-packages/psutil/__init__.py)` . Let me know if this was caused because of my code as I am not able to figure this out.

[2020-07-20 18:35] Innixma commented on #544
@alan-aipe Sorry for the confusion, this started happening 2 days ago due to a psutil update (I believe), I will be debugging it to try to fix the CI. Once the fix is merged I'll update this thread and you can rebase your PR onto the fix to get CI to pass.

[2020-07-20 19:18] Innixma commented on #570
Great suggestion! I think this is one of the most opaque and confusing aspects of AutoGluon as present.

I am in the process of refactoring various aspects of feature generation to be more standardized and flexible, as well as allowing multiple feature generators at once as opposed to just a single feature generator (important for multi-modal data and pipeline optimization). With these changes, I

[2020-07-20 19:27] testvinder opened #572 "Monotonic constraints for autogluon-tabular"
I would find it very useful if autogluon-tabular could add partial support for monotonic constraints. I would be happy to write a PR if that has interest?

Of the underlying models used only Lightgbm and Catboost support monotonic constraints but we could add a warning that the constraints will only be respected by these two models. Monotonic constraints can help in ability to generalize and are o

[2020-07-20 19:33] Innixma commented on #569
This would be a very nice feature to have.

Before implementing more sophisticated methods of uncertainty, we can actually implement a simple method assuming the model is a bagged model: get the prediction of each fold model individually, then calculate the variance. This should give a rough approximation of model uncertainty.

To implement this, we just need to add a new argument to `BaggedEnsemb

[2020-07-20 19:54] Innixma commented on #567
Thanks for creating an issue!

I'm genuinely surprised that AutoGluon didn't outright crash with those inputs. To be clear, AutoGluon does not support sparse input data at present, and I suspect the models aren't actually using the features you provided during training.

I do think that we can do a better job regarding the logging of errors in this situation, by more clearly indicating that the fe

[2020-07-20 20:14] uzhao commented on #563
I got same problem when I try

TabularPrediction.fit(
        train_data=xy,
        label="y",
        problem_type="multiclass",
        ngpus_per_trial=1,
        auto_stack=True,
        num_bagging_sets=5
)

There is no problem when not using GPU or not using auto_stack

autogluon.__version__ = '0.0.11'
mxnet.__version__ = '1.6.0'

[2020-07-20 21:02] Innixma commented on #572
I wasn't previously aware of this functionality, but it does seem useful!

The primary work involved to get this in will be tracking a feature as it undergoes transformation in the feature generator. This is because the features (and their order) can change after undergoing automated feature generation.

This special functionality would likely have to exist as a new variable in `feature_types_meta

[2020-07-20 21:15] diff7 commented on #304
Guys, awesome library. Thank you!

How do you calculate feature importance, is it something similar to Shap value?
And do use the same strategy for dropping features during training as in feature_importance(X_test)?

Thank you!

[2020-07-20 21:26] diff7 opened #573 "num_bagging_folds & stack_ensemble_levels"
Hi, thank you for awesome work.

I can't figure out library's behaviour.

Let's say we have
1. **num_bagging_folds = k**, it means we train k models on k subsamples from our dataset.
2. then if **stack_ensemble_levels>=1** we stack these models.
3. and if  **stack_ensemble_levels=0** we choose the best one from step 1.

My confusion comes from the fact when
**num_bagging_folds = k**
**stack_ensemb

[2020-07-20 21:34] Innixma commented on #304
@diff7 We use permutation-shuffle importance, a black-box feature importance method. It is very similar (and potentially identical) to the recently added sklearn `permutation_importance`: https://scikit-learn.org/stable/modules/permutation_importance.html

We currently do not do any feature pruning during training, but in future we do plan to do this, and when we do it will be using the permutatio

[2020-07-20 21:41] pushpendre commented on #567
I was actually going into the internals of auto-gluon yesterday to try and make this thing work, since I'll really prefer to use auto-gluon as a top-level orchestrator for lightgbm + timed Hyper Parameter Optimization. I.e. even if I don't end up using any thing other than lightgbm I think the automatic feature pre-processing and time-sensitive hyper-parameter optimization are good features.

I th

[2020-07-20 21:48] Innixma commented on #573
Good question!

l0 stacker models are not true stack models, they are bagged ensembles. However, because AutoGluon's stack ensemble inherits from bagged ensemble, it is simpler in our code logic to consider all bagged ensembles as stack ensembles. (A bagged stack ensemble with no base models is equivalent to a bagged ensemble).

l0 = stack layer 0, these are the original base models.
l1 = stack la

[2020-07-20 22:06] Innixma commented on #567
Regarding AutoGluon not supporting sparse data, this is primarily due to abstract_feature_generator which is likely just dropping the features because it doesn't recognize them. If we add functionality for it to recognize them (quite simple), they should pass through feature generation and be fed into the ML models.

The next step will be to update the .fit() functions of the models to handle spar

[2020-07-20 23:54] Innixma commented on #565
Thanks for the clarification! I believe I have narrowed down that this has to be a bug. I also suspect that `predictor.evaluate(test_data)` will produce the correct value, and that the bug purely lies in `predictor.evaluate_predictions` because it uses separate logic from what the rest of the code uses to calculate scores.

Contributions are welcome to try to refactor `predictor.evaluate_predictio

[2020-07-21 09:02] testvinder commented on #572
Great! I'll start working on a PR.

[2020-07-21 10:41] diff7 commented on #573
Great, thank you!

You have a lot of questions glad to see people has  interest in your project.

[2020-07-21 10:50] diff7 commented on #304
Hi, thank you for your reply.

If you do not do feature pruning during training how
**feature_prunebool, default = False** in **fit** is used?

Or it can be used only after one session of training?

[2020-07-21 14:37] cibic89 opened #575 "TabularPrediction task .fit fails on Ubuntu and Windows"
[code]

Fails with:
[code]

Pip list
[code]

[2020-07-21 17:44] Innixma commented on #575
Great catch! This bug was added when presets were added in 0.0.8, since the presets decorator only had kwargs as an input argument. I have updated this to also support args in #576, and the fix should be available in the next release.

In the meantime, avoid using any conditional arguments in the fit call, instead do:

[code]

[2020-07-21 18:43] Innixma commented on #304
feature_prune = True will log a warning indicating that feature pruning is not available, and will force it to false. We do this to maintain backwards compatibility.

[2020-07-21 19:15] cibic89 commented on #575
Working fine now. Don't mind contributing to update the examples/tutorials.

[2020-07-21 19:48] Innixma commented on #575
@cibic89 Thanks for the offer, although I believe the only example which didn't work was the one from towardsdatascience you mentioned (which I have since edited to work correctly). If you do see any examples that don't work, feel free to point them out and I'll fix them.

[2020-07-21 21:00] Innixma commented on #563
I believe this may be a separate issue, could you make a new issue and include the run logs? Additionally, please use autogluon==0.0.12 to ensure you are up to date. Do note that Tabular does not use GPU beyond the neural network model at present.

[2020-07-21 23:56] uzhao commented on #563
I can create a new issue as update to 0.0.12 doesn't fix it. Also I think catboost also use GPU? In fact, it will be great if GPU is supported in all models available like lightgbm
https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/models/catboost/catboost_model.py#L150

[2020-07-22 01:55] Innixma commented on #563
Sounds good regarding creating a new issue. Also, GPU support is being tracked in #263, and should be fairly easy to implement.

[2020-07-22 07:26] cibic89 commented on #575
Sure, thank you

[2020-07-22 07:48] schinto commented on #565
Minimum Working Example illustrating the problem with `root_mean_squared_error`:
[code]
Output:
[code]

`sqrt(232.442) = 15.246` => root_mean_squared_error returned by function `evaluate_predictions` is wrong.

[2020-07-22 08:48] diff7 commented on #304
Got it, thank you!

[2020-07-22 17:23] Innixma commented on #565
@schinto Awesome, thanks!

[2020-07-22 17:26] #575 closed

[2020-07-22 18:03] #558 closed

[2020-07-22 19:36] pushpendre commented on #567
@Innixma here's a minimal patch that I wrote to appease the `abstract_feature_generator` and the `auto_ml_feature_generator.py`.
https://gist.github.com/pushpendre/a17ce02e8bc2ee293f93360495070954

With these changes my MWE passes

[code]

Before putting in more time I wanted to ask a couple of clarification questions

1. Is the approach in the patch reasonable?
1. Is there a flow-chart / diagram

[2020-07-22 20:59] Innixma opened #579 "Tabular: Refactor FeatureGenerator classes"
At present, Tabular's feature generator is not properly extensible and optimized to handle increasingly broad feature types and downstream models. This is because the feature generator has been largely untouched since open source release and the majority of focus in AutoGluon has since been spent on the modeling side.

The feature generator suffers from 3 main shortcomings:

1. Extensibility / Int

[2020-07-22 21:41] #573 closed

[2020-07-22 22:13] Innixma commented on #567
@pushpendre Great work regarding your changes. Your comments and questions are much appreciated.

I have made an issue (#579) regarding refactoring the feature generator so my plans are more widely visible. The feature generator is the oldest and least maintained part of the code at present, and I want to change that.

Regarding your questions:

1. Yes it appears reasonable (With some comments I w

[2020-07-25 07:52] songqiang opened #580 "Add fastText classification model to tabularprediction"
Tracking discussions on adding fasttext model to TabularPrediction

[2020-07-26 17:00] adrienatallah opened #581 "Tabular: Add compression options for pickle file saving/loading"
Currently pickle files saved to disk are uncompressed and can take up large amounts of disk space.  Some users may wish to have slower inference time/model loading for a large reduction in disk space usage.

**Proposal:**

Add a compression level parameter to task.fit that defaults to uncompressed (existing behavior) and is applied in [save_pkl.py](https://github.com/awslabs/autogluon/blob/master/

[2020-07-27 13:14] Pentar0o opened #582 "How to load a pre trained classifier params file in auto gluon for inferencing ?"
Hi,

Once I've trained a classifier in Autogluon and I have the params file how can I load this params file in another script for inferencing (with my code below for training) ?
dataset = task.Dataset('DataSet')
classifier = task.fit(dataset)

network = classifier.model
network.save_parameters('network.params')

test_dataset = task.Dataset('DataSet/test', train=False)
indice, resultat, probs_all =

[2020-07-27 20:39] Innixma commented on #582
@zhreshold Could you look into this?

[2020-07-27 23:47] sugspi opened #583 "How to save the text classification model?"
Hi,

The class of TextClassificationPredictor is not yet implemented save and load function.
Do you have any workaround way?

Thank you very much for your help.

[2020-07-28 08:53] jwmueller commented on #582
@zhreshold @Jerryzcn  Any idea what happened to the old example scripts that used to live in `examples/image_classification/`?  I vote we add those back into this directory (and move the blog-stuff to `examples/image_classification/kaggle/` subdirectory).  I think example scripts are mainly supposed to help newcomers see what functionality is possible & provide an easy test-script for contributors

[2020-07-28 09:51] jwmueller commented on #583
Apologies this hasn't been added because we're in the process of overhauling the current text classification module with major improvements (that will produce better models and be much more feature-complete).

While it's not optimal, for now you can try `pickle`:  https://wiki.python.org/moin/UsingPickle
applied to the `classifier` returned by fit.

A better approach could be as follows:
[code]
fo

[2020-07-28 23:21] Innixma commented on #581
I was curious about this and gave it an initial test:

[code]

This seems to work well (bz2 often gets >75% reduction in size from my tests), and only changes very few lines of code in save_pkl.py and load_pkl.py

The remaining parts will be:

1. Link the compression format a model was saved in to the loading context, so the appropriate compression algorithm is used to load it back. This should li

[2020-07-28 23:51] misterm10 opened #586 "Save and Load Individual Models"
How do I load an individual model?

When i use x.delete_models(models_to_keep='ExtraTreesClassifierEntr_STACKER_l1', dry_run=False)

It keeps many models not just this model?

When I load the pickle file it appears to the same result for every model on the validation data.

Please could someone advise?

Thanks in advance.

[2020-07-29 01:19] adrienatallah commented on #581
This is great, I wasn't planning on parameterizing the compression function, but that is a good call.  So far, I have only implemented gzip in save/load and a `compression_level` argument in task.fit with propagation to learner, trainer and model.  I will change this to how you've described in #2, #3 and #4.

[2020-07-29 08:25] Innixma commented on #586
`ExtraTreesClassifierEntr_STACKER_l1` is a Level 1 stack ensemble. That means for it to produce predictions it requires input from Level 0 models. These are the models which are present after the delete models call. It is the minimal valid set of models required for your desired model to function.

[2020-07-29 22:26] Innixma opened #589 "Tabular: Add XGBoost Model"
Add XGBoost model to increase model diversity in AutoGluon-Tabular.

[2020-07-29 22:58] Dipanks commented on #589
HI @Innixma
Can I work on this?

[2020-07-29 23:21] Innixma commented on #589
Sure! Please reference the existing LightGBM and CatBoost implementations when making your model class, and reference [example_custom_model_tabular.py ](https://github.com/awslabs/autogluon/blob/master/examples/tabular/example_custom_model_tabular.py) for an example of adding a custom model to AutoGluon.

[2020-07-30 00:26] mli opened #591 "Data preprocessing for tabular took too long"
I'm using autogluon to train a [kaggle competition](https://www.kaggle.com/c/ashrae-energy-prediction/data), but it took too long for autogluon to prepare the data, which may due to too many examples.

Here are the codes to reproduce this issue.

First download dataset

[code]

then load and merge data

[code]

next use autogluon to train

[code]

then the progress hangs (>1h) after the following

[2020-07-30 05:04] jwmueller commented on #544
Added in:  https://github.com/awslabs/autogluon/pull/571

[2020-07-30 05:04] #544 closed

[2020-07-30 08:44] utopianpallu commented on #586
@Innixma
Hii I want to load individual models that are generated in models directory and get their metrics.But when i do task.load() , it is loading learner.pkl file always , that is the best model.
How to load model.pkl file from each model that is generated using task.load()?

[2020-07-30 14:34] priyanga24 opened #593 "Memory problem"
Hello team,

I have a tabular dataset which is of size 2GB and when I try to use this dataset to implement an ensemble model(binary classification problem), autogluon gives memory error. I am running the experiment on my workstation with 16GB RAM. Is there anyway I can run the full dataset to create ensemble? thanks

[2020-07-30 15:11] #565 closed

[2020-07-30 17:55] pushpendre commented on #567
I went ahead and did some work to use Pandas SparseDataframe with lightgbm. It turns out that lightgbm does not support the extension dtype `Sparse[]` that is defined in pandas. It accepted this datatype but then started converting to dense matrix. But thankfully lightgbm does support -- and I have tested this myself -- CSR/CSC sparse matrices. So just focusing on a case where the `train_data` is

[2020-07-30 17:59] pushpendre commented on #567
Focusing on a case where the input is an array, can also help in adding a flag where the preprocessing can be skipped. If the user is passing in an array of `float` values then the user may have already done all the preprocessing themselves. The  user should be allowed to bypass feature pre-processing at this point. A benefit is that this way auto gluon will not have to deal with the sparse-featur

[2020-07-30 18:27] mli opened #594 "tabular fit cannot take positional argument"
The following code doesn't work

[code]

[code]

if read from source code, it seems this usage should be fine

[code]

on the other hand, it's ok to call `model.predict(val)`. can we find a way to resolve this inconsistency?

[2020-07-30 19:01] mli opened #595 "`NeuralNetClassifier` took too long to train"
sometimes the `NeuralNetClassifier` took way long time than others. for example, here is an example to train on a small scale dataset

[code]

The normal time to train a classifier is about 5sec, while the `NeuralNetClassifier` needs >1h (didn't finish). The only specialty I feel is that it's a unbalanced dataset, with ~0.1% positive examples. Maybe negative sampling is used here?

An easy way to

[2020-07-30 21:33] Innixma commented on #594
This has been fixed on mainline, but is not yet available in a release: #576

[2020-07-30 21:33] #594 closed

[2020-07-30 21:42] Innixma commented on #595
Thanks for providing a clear example dataset where this is particularly egregious. I agree that the neural network behaves strangely on some datasets and takes unreasonable amounts of time. I have not seen it to this extent before however, so this should be a good opportunity to identify the cause.

@jwmueller Would you have bandwidth to look into this? Otherwise I can try to when I find time. I h

[2020-07-30 21:49] Innixma commented on #567
Definitely agree. I plan to eventually add this option after the feature generator refactor. This is actually a way to speed-up the inference time on bagged ensembles since we wouldn't have to repeat the preprocessing 10 times, only once, so long as the preprocessing is not stateful in regards to the training rows used to train the model. In this sense I think it will be best to have 2-stage prepr

[2020-07-30 21:58] Innixma commented on #567
Great! Feel free to have a new class inherit from LGBM as a prototype POC to do whatever you need to get it working with your sparse input. One thing to note is that you will have to specify the categorical features in this instance to LightGBM. In your implementation, you can assume that the model magically knows which features are categorical even if it isn't possible to tell from X_train alone.

[2020-07-30 22:11] Innixma commented on #593
Hello,

In order to help you will need to provide more information. Specifically logs of the run. Also, 16GB of RAM is quite small for handling a 2GB dataset. Consider upgrading to 32GB.

[2020-07-30 22:52] mli opened #596 "Use AutoGluon in Kaggle Kernels"
A majority of recent Kaggle competitions require to submit via notebooks.

We could use `!pip install autogluon`, but got the a bunch of errors, even just importing the tabular task. For example

[code]

Several competitions don't allow use Internet, which means we cannot `pip install`. Instead, we should submit a PR to add autogluon at https://github.com/Kaggle/docker-python/blob/master/Dockerfil

[2020-07-30 23:03] jwmueller commented on #595
@mli For future issues, it'll be helpful if you can post the output log from: `task.fit(..., verbosity=4)`
so we can see more information.

@Innixma  I'll look into this particular issue.

Re: the specific issue of delayed early-stopping (which likely not the culprit for such a massive runtime difference in this case), I'm also not sure what's the expected behavior.
If the user cares about runtime

[2020-07-30 23:07] mli commented on #595
We'd better document it

[2020-07-30 23:35] mli commented on #595
it seems that earlier stopping didn't work here.

[code]

[2020-07-30 23:44] Innixma commented on #595
Yes, this is being caused by the early stopping logic. All other models will early stop if they don't improve for X iterations/epochs, however the NN will only early stop if it has not at least matched the best found score for X iterations/epochs. This means if it gets a perfect score and keeps getting a perfect score, it will not stop training until max_epochs (500) is reached, even though in thi

[2020-07-30 23:47] Innixma commented on #595
In what manner? All of our tutorials use task.Dataset to load the data and it is our recommended approach. We could perhaps add a line to the task.Dataset documentation recommending it over pd.read_csv if you think it will be useful.

[2020-07-31 00:00] Innixma commented on #596
Regarding the notebook error, I don't think this is caused by an issue in AutoGluon. Have you tried restarting the kernel after pip installing to ensure the correct versions are loaded? Additionally, can you do a pip freeze after the pip install + kernel restart to ensure the proper sklearn version is being used?

Regarding adding AutoGluon to the Kaggle Dockerfile, we should at least wait until m

[2020-07-31 00:12] Innixma commented on #591
Thanks for providing the code example for reproducing. We have not tried a dataset with this many rows before on AutoGluon (20M), so it may be that some of the preprocessing code is struggling to scale to this size or that memory was not sufficient.

Hopefully this should become easier to debug and fix once the feature generator refactor (#584) is merged.

[2020-07-31 05:41] jwmueller commented on #595
@mli Thanks for the log, indeed early-stopping is the culprit here.

@Innixma I've proposed one potential solution in this PR:  https://github.com/awslabs/autogluon/pull/598
Let's discuss there.

[2020-07-31 07:07] andyDoucette commented on #563
Somehow the discussion got side-tracked to tabular stuff.  The original issue was with ENAS.  Did anyone try to reproduce this besides me?

[2020-07-31 08:13] Innixma commented on #563
Apologies for the side-tracking :) , @zhreshold is on vacation this week.

@zhreshold : when you get back, would you be able to look into this?

[2020-07-31 09:04] andyDoucette commented on #563
Thanks Nick!

On Fri, Jul 31, 2020, 4:13 PM Nick Erickson <notifications@github.com wrote:

[2020-07-31 09:13] jwmueller commented on #596
@mli
I was able to use kaggle kernels with multiple older versions of autogluon, c.f. https://www.kaggle.com/jonaswm/covid-ag
so maybe seemingly-incorrect version of dependency can be corrected via: `!pip install scikit-learn<=0.22`
as a temporary fix?

Longer term it seems like we should consider removing `from .openml_download import *`.

@tlienart Is it ok to remove that statement to prevent th

[2020-07-31 09:26] tlienart commented on #596
sounds good

[2020-07-31 09:27] tlienart commented on #596
sounds good

[2020-07-31 11:06] mseeger commented on #596
@jwmueller So then Thibaut's tutorial would import load_and_split_openml_data how? By using the absolute path?

Is the problem that nothing in utils must depend on sklearn? Seems to make sense. In the beginning, I had this load_and_split_openml_data somewhere next to the bayesopt searcher code.

We could also move it back into the tutorial if you like, since the unit test which calls it is deactiv

[2020-07-31 11:16] schinto commented on #595
Hi @Innixma,

The neural net in Autogluon version 0.0.11 is really slow.
I did a performance check with some of our datasets (with around 1200 features in each dataset) and more than 95%  of the runtime was spend in the neural net of AutoGluon.

The total runtime for fitting and external test set prediction for all models took around 10 days on 1 node using 16 cores.
The Autogluon models were trai

[2020-07-31 16:09] Pentar0o opened #599 "How to load a pre trained object detection .params file in auto gluon for inferencing ?"
Hi,

I've trained an object detection network with autogluon and I've saved the parameters with :
network = detector.model
network.save_parameters('network.params')

When I try in another python script to load it for inferencing with :
detection = autogluon.task.object_detection.detector.load('YeroAutoGluon_090.params')

I have this error :

Traceback (most recent call last):
  File "TestImageYolo

[2020-07-31 20:18] Innixma commented on #595
@schinto Great stuff! Indeed the NN is generally the bottleneck in terms of training time (Although in some extreme situations CatBoost can actually take the longest when many categorical features are present). I think there is large room for improvement in the NN hyperparameter defaults in these cases, and hopefully this early stopping improvement should at least help in some situations.

Can you

[2020-07-31 21:35] jwmueller commented on #596
@mseeger
I agree if the unit-test is not being used it would be nice to move this function to `tutorials/` instead.  But I didn't mean that nothing in `utils/` can depend on `sklearn`, this is unavoidable as `utils/tabular/` uses sklearn all over.  I suspect the error here is due to incompatible sklearn version present, which is certainly not the fault of the `openml_downloads` functions.

What I

[2020-08-01 00:17] mli opened #601 "Predict for tabular: Cannot convert non-finite values (NA or inf) to integer"
Got an error when `preds = model.predict(test_data)` on a popular [kaggle datasets](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data) (may due to this dataset has a bunch of NAs?)

[code]

Here is the code

[code]

[2020-08-01 02:45] jwmueller commented on #601
@Innixma  Seems like a new bug perhaps introduced in the feature-generator refactor?
I've run this dataset multiple times in the past without issue.

[2020-08-01 09:42] sxjscience opened #602 "[Bug][HPO] CUDA does not support fork so you cannot AutoGluon HPO if you've initialized CUDA"
CUDA does not support fork: See PyTorch documentation (https://pytorch.org/docs/stable/notes/multiprocessing.html#cuda-in-multiprocessing). Thus, if we initialize the cuda before calling the autogluon scheduler, we will see an error: `CUDA: initialization error`

- Example 1 (runnable)
[code]

[code]

- Example 2 (Raise error)
[code]

[2020-08-01 09:59] sxjscience commented on #602
For Ray/Tune, we are able to do this:
@zhreshold @szha @jwmueller @Innixma @Jerryzcn

[code]

[2020-08-01 23:06] jwmueller commented on #602
Also @sxjscience pointed out the reason tasks like ImageClassification get around this issue is their `task.fit()` returns models to the CPU instead of GPU, which seems undesirable...

https://github.com/awslabs/autogluon/blob/5e1acab422289921ae9f7112e71855c2ea89e3b1/autogluon/task/image_classification/image_classification.py#L316

[2020-08-02 00:16] zhreshold commented on #602
@sxjscience any clue how ray tune bypassed the issue? It's unclear to me how global imported module is still available while cuda array is not.

[2020-08-02 04:54] jwmueller opened #603 "NativeImageFolderDataset vs ImageFolderDataset"
Should `NativeImageFolderDataset` be a subclass of `ImageFolderDataset`?
Currently `NativeImageFolderDataset` lacks many of the attributes of `ImageFolderDataset`, such as:
`class_to_idx`, and is not even documented here:
 https://autogluon.mxnet.io/api/autogluon.task.html#autogluon.task.ImageClassification.Dataset

Also the exact same code may arbitrarily return either `ImageFolderDataset` or `Na

[2020-08-03 13:43] utopianpallu commented on #586
@Innixma For every individual model that i am loading am getting same metric values.
I used this to load:
model = predictor._trainer.load_model('ExtraTreesClassifierEntr')
But when i tried predicting , I am getting errors.

[2020-08-03 20:33] Innixma commented on #586
@utopianpallu You can use predictor.info() to get a lot of model-specific information. Alternatively, you can use non-public API's to get access to the models:

[code]

Due note that it isn't recommended that you use the model object outside of the predictor context, as the model depends on a variety of functionality outside of its context to properly generate predictions on new data.

[2020-08-04 00:05] Innixma commented on #601
Fixed in #584 (https://github.com/awslabs/autogluon/pull/584/commits/11b4f5abf9e29f773be074ddc0ccfe685a0b6c51)

When the functionality to convert dtypes to the original train dtypes at inference time was added, this bug was created, because integer types can't have NaN. So during training, if an int type has no NaN's, then training succeeds, but if the same column has NaN's at test time, pandas ac

[2020-08-04 00:59] cfaaa4460 opened #606 "print parameter issue -- related to S3"
I’m trying to save autogluon model to S3 and print the parameters. Below is my code for V0.0.12. Could you help? Thanks a lot!

from autogluon import TabularPrediction as task

hyp ={'CAT': {}}
predictor = task.fit(train_data=combined, label='model_flag',problem_type='binary',eval_metric='log_loss',
                     hyperparameters = hyp,output_directory = 's3://bucket1/model_output1/')

print

[2020-08-04 05:45] utopianpallu commented on #586
@Innixma I tried using this, I am confused as the accuracy are not coming same , in predictor.fit_summary() the accuracy for Light GBM is 0.86 and when i tried loading that model , the accuracy is 0.82.
![Screenshot 2020-08-04 at 11 09 19 AM](https://user-images.githubusercontent.com/48690720/89257346-9a69cf80-d643-11ea-9a70-a919bb762bf9.png)

![Screenshot 2020-08-04 at 11 09 07 AM](https://user-i

[2020-08-04 10:07] Pentar0o commented on #582
Hi, so with the code :

import autogluon
from autogluon import ImageClassification as task

classifier = autogluon.task.image_classification.Classifier.load('network_98_4.params')
indice, resultat, probs_all = classifier.predict('Test')

Test is my folder of test pictures

I got the following error :

/usr/lib/python3/dist-packages/apport/report.py:13: DeprecationWarning: the imp module is depreca

[2020-08-05 01:08] sugspi commented on #583
Thanks to your help,
I could save and load the pickle file to use `cloudpickle`.

[code]

Thank you very much again.

[2020-08-05 01:08] #583 closed

[2020-08-05 23:11] zhreshold commented on #582
@Pentar0o You are mixing save/load that's designed for different purposes.

Refering your original code snipet
[code]

You can save/load the complete state of the estimator by
[code]

or simply save the network parameters if you don't necessarily need to resume the full state of fitting but want to revert or copy the weights from certain checkpoint:

[code]

For you usecase I'd suggest you stick w

[2020-08-06 00:44] jwmueller commented on #606
For TabularPrediction, the usage is a bit different than for other tasks.  Can you try this instead?
[code]

You can then extract the appropriate key you want from the `results` object.

[2020-08-06 02:12] jwmueller commented on #601
@Innixma
Whenever we cast columns into new types, what if we just to try-except and keep the original-type if the column can't be casted?

I'd imagine all models will still work if trained on `int` column but then tested with `float` column (not 100% sure about this though).

[2020-08-06 02:48] Innixma commented on #601
That will open the gates to many defects down the road I think. This will also mean anyone who makes models will have to know that the input data could be of a different type during inference, which is really confusing.

[2020-08-06 02:56] Innixma commented on #606
@jwmueller We do need to change all instances of file save/load to be compatible with S3, likely by using a generic wrapper save/load function for generic files like we do already with load_pd/save_pd and load_pkl/save_pkl.

We need to create load_file/save_file. I believe this impacts HPO and some of the post-fit methods such as fit_summary().

[2020-08-06 10:27] ethanqi1109 commented on #167
@Innixma do you support customized dataset for text classification now?

[2020-08-06 12:45] Pentar0o commented on #582
Question : how to load the params without having to start the learning process first ? because the task.fit(dataset) will launch the training.

Is there something like :
new_classifier = autogluon.task.image_classification.Classifier.load_parameters('network.params')

[2020-08-06 13:55] diff7 opened #607 "Is it any reason you did not use layer norm in tabular_nn?"
Hi, I am just curious.
It seems that layer norm was made for feature-wise normalization and may work a bit better than batch norm. But you use batch norm. Is it any specific reason for it?

Sorry for one more issue but this question did not let me go.

[2020-08-06 17:42] Innixma commented on #167
We will once #556 is merged, which is a full overhaul to the TextClassification task.

[2020-08-06 17:44] Innixma commented on #607
@jwmueller Could you answer this?

[2020-08-07 05:24] priyanga24 opened #608 "neural net"
Hi,
my dataset has 800k rows with 600k:200k train and test split. it is a binary classificatio problem. I used neural network with hyper-parameter tuning with time limit set to **one hour**. But the process was running for more than 3 hours, so I stopped it. What is the issue?How can i solve it?

[2020-08-07 07:56] diff7 commented on #607
Hi, got it. Thank you for your reply.

There is might be a chance that I will be testing different architectures for tabular nns and if I do most likely I will be benchmarking results with your solution. So, I will share results if I find something.

[2020-08-07 17:49] jwmueller commented on #601
I agree having unexpected types during inference could be weird if people are using models that can't handle the type-change (I'm not sure what models those are though). For now we can just do this on case-by-case basis, although I guess then we need to wait for bug notifications and then. For these ints specifically, we should probably be imputing via something like: `int(nanmean(column_vals)`. I

[2020-08-07 19:23] Innixma commented on #601
Imputation method should likely be a parameter to the generator. The main reason I am converting to 0 at present is because that is how our downstream models handle it generally (RF/KNN), so making it something other than 0 would also mean we probably want to change it for RF/KNN as well.

[2020-08-10 07:19] aaronkl commented on #608
Hi, which scheduler/searcher did you use? How long is the training time of your neural network? Autogluon does not stop the evaluation of your algorithm if it runs over the time limit. So it might be that the first evaluation already takes 3 hours and Autogluon is effectively not doing anything. There are several things you could try: a) reduce the dataset, b) increase the time limit or c) use mul

[2020-08-10 09:28] EternalConfession opened #611 "Bug on Tabular Feature Generation"
The code in Feature Generator

[https://github.com/awslabs/autogluon/blob/b96e678c350dfc31bb4a3a2bb9e86621d0711bfd/autogluon/utils/tabular/features/abstract_feature_generator.py#L344](url)

defines:

[code]

It means that the number of bins will always be ideal cats which is 10.

Or did you initially want to make the feature generator this way?

[2020-08-10 17:05] schinto commented on #595
The MultitaskGNN is AttentiveFP.

Do you have an example of training an AutoGluon Tabular multioutput regressor which can handle missing y-values?
Maybe an approach like morfist (mixed multitask learning random forest) can improve the performance of the regression models.
Or an additional stacking layer on top of the single task models.

[2020-08-10 17:44] jwmueller commented on #608
@priyanga24
Please share the code you used and the output-logs.  Ideally, you will call `task.fit(..., verbosity=4)` to print detailed output-logs, and then share them here.  Do you have the same issue if you set `hyperparameter_tune=False`?

[2020-08-10 20:44] Innixma commented on #611
Great comment! This isn't necessarily a bug but more that the iterative approach to determining optimal bins was fast enough that it was better to early stop through `max_iterations` than through non-ideal bin counts. I am currently refactoring feature generation, and this threshold could be one of the hyperparameters/parameters to the binning generator. To understand if max/min desired bins are e

[2020-08-11 03:39] EternalConfession commented on #611
So why don't you use

[code]
The current implementation will always make the number of bins to 10.

It also seems that the fit_transform function didn't really run when I use the tabular predictor. It will feed the raw input to the learner.

[2020-08-11 15:04] kmedved commented on #33
Thanks for this very intriguing library. i wanted to check if there was any update on allowing `sample_weights` for tabular regression problems? Sample weight support is core functionality of every major tabular machine learning library (AutoML and otherwise), e.g., sklearn, xgboost, catboost, lightgbm, ngboost, TPot, H2O, etc... It would be a major enhancement to add support.

Sample weight suppo

[2020-08-11 20:20] Innixma commented on #33
Hi @kmedved,

Thanks for your interest! This is on our roadmap and we intend to add support for row weights by the end of the year and will notify in this issue when progress has been made.

Best,
Nick

[2020-08-11 23:17] kmedved commented on #33
Thanks @Innixma - that's great to hear. This is a very impressive looking library - I'm getting excellent results on my data in limited testing so far, and am excited to deploy it into production.

[2020-08-12 11:30] priyanga24 opened #612 "Installing autogluon in conda"
Hi I am getting the following issue while installing autogluon in Conda environment. Can you please help?

[code]

[2020-08-12 11:32] priyanga24 opened #613 "multi-core"
Hi, How to install and run autoGluon in multi-core environment? Please help, thanks!

[2020-08-12 19:46] Innixma opened #614 "Tabular: output_directory overwrite issue"
If two predictors are trained within the same second, they can overwrite each-other's output. This can be fixed by adding a check to see if the directory already exists, and then adding an _N to make a new unique directory (but only if the directory was not specified by user prior). N would be a number >=1, which would be checked repeatedly until a number that results in a unique directory is chos

[2020-08-12 21:57] Innixma commented on #611
Yes, that logic would be equivalent in the current implementation, but I plan to parameterize the min and max values.

Regarding the fit_transform, it is called within learner. Learner has a feature generator object within it that it calls to prepare the data before sending it to Trainer. Trainer trains all of the models using the data provided by Learner.

[2020-08-12 22:12] Innixma opened #615 "Tabular: Multi-label support"
Enable the following functionality:

[code]

Contributions are welcome! We suggest that contributors start by enabling multi-label support in individual models by checking the incoming dimensions of the y_train and y_val arguments in the [Model classes](https://github.com/awslabs/autogluon/tree/master/autogluon/utils/tabular/ml/models). This change should be accompanied by a unit test which constr

[2020-08-12 22:14] Innixma commented on #595
@schinto Unfortunately we don't support multi-label datasets at present, but it is on our roadmap. #615 currently tracks this feature and we will update that issue when progress has been made.

[2020-08-12 22:16] Innixma commented on #613
Please clarify what you mean by multi-core. All modern processors have multiple cores by default.

[2020-08-12 22:34] Innixma commented on #612
AutoGluon is not currently available via conda, but we plan to add it to conda in future.

For now, please follow these instructions to install AutoGluon in a conda environment: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages

[2020-08-12 22:38] #586 closed

[2020-08-13 00:36] priyanga24 commented on #612
is GPU supported for tabular data in autogluon?

[2020-08-13 05:57] priyanga24 opened #616 "resume training"
Hello team,
https://arxiv.org/pdf/2003.06505.pdf in page number 2, it says "All  intermediate  results  are  saved  on  disk. If  a  call was canceled,  we can invoke fit() with the argument continue training=True to resume training."
But this parameter is not available with the fit() function in tabular prediction? How to resume training of a saved unfinished model? thanks

[2020-08-13 16:29] Innixma commented on #616
Please see #475

[2020-08-13 16:29] #616 closed

[2020-08-14 02:12] songqiang commented on #614
I can take care of this. Seems a simple one.

[2020-08-14 08:45] Innixma commented on #614
Awesome, sounds good!

[2020-08-14 08:46] Innixma commented on #612
#263 tracks GPU support for Tabular, I believe the Tabular Neural Network supports GPU at present.

[2020-08-14 11:35] diff7 commented on #607
I did some tests on a few datasets so far but with different net parameters on each and did not find any  significant difference.
but my network was written in pytorch, however it resembles your architecture.

![image](https://user-images.githubusercontent.com/34035501/90244878-4aa4b880-de3a-11ea-8eef-d8886d81fe15.png)

![image](https://user-images.githubusercontent.com/34035501/90245443-5cd32680-

[2020-08-14 13:06] schinto opened #617 "Time-based crossvalidation in AutoGluon Tabular?"
Is [time-based-cross-validation](https://towardsdatascience.com/time-based-cross-validation-d259b13d42b8) supported in AutoGluon Tabular?

[2020-08-14 17:31] Innixma commented on #617
Not at present, however this is an active area where we are investigating to expand AutoGluon's functionality to time-series problems.

As a clarification, this cross-validation technique would not produce predictions on all training rows since the earliest in time rows would never be part of a validation set during cross-val, is that correct? Thus, with 5-fold cross-val only 4 folds (80%) of the

[2020-08-14 17:36] Innixma commented on #607
Thanks! At the very least, this should mean our NN implementation isn't completely unreasonable. If you end up wrapping your model in AutoGluon's AbstractModel API, I'd be happy to review a PR to add it in, especially if it has some unique property to it that differs from our model such that they could ensemble well together, or if it is able to train faster for example.

[2020-08-14 22:11] samuelstanton opened #619 "multiprocessing.fork breaks PyTorch autograd"
Python version: 3.6.5
AutoGluon version: 0.0.11
PyTorch version: 1.5.1

I'm using an Autogluon HyperbandScheduler to do neural architecture search. I'm running into trouble executing jobs on a multi-node cluster due to this error thrown during a backwards call.

[code]

Reading the linked issue, it seems like PyTorch supports the use of `multiprocessing.spawn` but not `multiprocessing.fork`. Does

[2020-08-17 17:52] Innixma commented on #619
@zhreshold Could you take a look?

[2020-08-17 19:16] Innixma commented on #614
Resolved by #614, thanks Qiang for the very helpful contribution!

[2020-08-17 19:16] #614 closed

[2020-08-17 20:05] samuelstanton commented on #619
I'm working on a minimal example to reproduce the issue. My use case is something like this

[code]

Strangely enough, this example works fine, but when I replace my dummy `train_fn` with actual model training code, the error I mentioned gets thrown. As far as I can tell, it seems to work fine when the `train_fn` call happens on a worker, and fail when the `train_fn` call happens on the main node.

[2020-08-17 20:19] zhreshold commented on #619
I guess it's related to https://github.com/awslabs/autogluon/issues/602

[2020-08-18 01:00] samuelstanton commented on #619
Thanks for the tip! In my case, I was saving and loading model checkpoints from S3 inside my `train_fn` to halt/resume training. Doing the checkpoint saving/loading on CPU appears to have resolved my issue.

[2020-08-18 01:00] #619 closed

[2020-08-18 13:27] Tobias314 opened #622 "Possible bug due to hybridization of the supernet in ENAS"
In the enas implementation of autogluon there exists a supernet which represents the whole search space. This supernet corresponds with the [ENAS paper](https://arxiv.org/abs/1802.03268) where it is described as a DAG and all the possible architectures are sub-graphs of this supernet. If I understand it correctly in the autogluon implementation of enas this is implemented using the `ENAS_Unit` cla

[2020-08-18 14:38] quantum-fusion opened #623 "Autogluon image classification quick start hangs"
I executed the image Classification example from your AutoGluon Image Classification quick Start (https://autogluon.mxnet.io/tutorials/image_classification/beginner.html), and the imageClassification.py file is here: (https://www.dropbox.com/s/9lfiw7kgixs4jc2/imageClassification.py?dl=0)

I found that the program when executed has hung, and shows the number of pending tasks as 2, but they never ex

[2020-08-18 17:49] Innixma commented on #623
Thanks for submitting an issue!

I believe that the likely cause is #139, as mxnet has some issues running on MacOS in HPO mode. Could you try using Linux?

@zhreshold Feel free to add to this if you have additional insight.

[2020-08-18 17:53] Innixma commented on #622
Thanks for making a detailed issue on the topic!

@zhreshold Could you take a look?

[2020-08-18 19:04] Innixma commented on #582
@zhreshold Could we add an example of saving, loading, and predicting on the loaded model to the image classification tutorial for quick reference?

[2020-08-18 22:41] yusharon opened #624 "Question about when tabular NN EmbedNet will support hybridize"
Hi
I have a general question about is there any plan that tabular neural network model will support Hybridize? (There's a TODO in the [nn model](https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/models/tabular_nn/embednet.py#L68))
Can you also help me understand what is the difficulty of not having EmbedNet as a hybridizeBlock? I am still pretty new to MxNet and AutoGluon

[2020-08-19 05:47] jwmueller commented on #624
The issue lies in the use of multiple embedding layers, one per categorical feature. This requires indexing just the data from each feature, which can also be done in a hybridized network as well:  https://mxnet.apache.org/versions/1.6/api/python/docs/tutorials/packages/gluon/blocks/hybridize.html#Indexing

But the resulting hybridized implementation was uglier and actually slower than the current

[2020-08-19 16:52] yusharon commented on #624
Got it. thanks for the explanation and context. Will look into this.

[2020-08-19 16:52] #624 closed

[2020-08-19 19:24] kmedved commented on #617
That's correct, yes @Innixma - the earliest in time rows would never be included in the validation data. Depending on the size of your training data, you can do 10 folds to ensure that 90% of your data receives a prediction, etc..., but to my knowledge there's no way around the core issue you raise.

[2020-08-19 21:29] zhreshold commented on #582
The current api for serializing the estimator is incomplete so I think it only make sense when the save/load functionalities are complete, I will update the corresponding tutorial after merging the new estimator refactorization.

[2020-08-19 21:34] zhreshold commented on #622
@Tobias314 Your understanding is correct about the hybridization, however, ENAS training is a dynamic process so the recording needs to be done anytime the structure gets updated, i.e., the `supernet.hybridization` during initialization will freeze the recorded graph and cause troubles. TLDR, do not use hybridization during training, but inference. In the latter case you can benefit from it.

[2020-08-19 22:11] Tobias314 commented on #622
Thanks for the quick response.
 So will it then be fixed in the next Autogluon release? I mean the [`self.supernet.hybridize()`](https://github.com/awslabs/autogluon/blob/fefd83f390b22cbc3f486901793e44c909c93d04/autogluon/contrib/enas/enas_scheduler.py#L80) call is in the ENAS_Scheduler code of Autogluon so when you just use ENAS like e.g. shown in the Autogluon ENAS tutorial, currently you will g

[2020-08-20 03:05] zhreshold commented on #622
@Tobias314 I didn't find anything related to hybridization in the ENAS tutorial. Do you mean autogluon should explicitly disable the hybridization during training to avoid the potential misuse?

[2020-08-20 12:13] Tobias314 commented on #622
@zhreshold No, I am talking about the fact that the autogluon ENAS implementation does this hybridization internally and if that really is a bug then it should be fixed. Because otherwise the autogluon ENAS is incorrect.

So I am talking about [line 80](https://github.com/awslabs/autogluon/blob/df18ef328672aab3b80a543dde73543de0d68a16/autogluon/contrib/enas/enas_scheduler.py#L80) of autogluon/cont

[2020-08-24 08:44] andyDoucette commented on #563
@zhreshold :  I hope you had a good vacation.  Can you take a look at this in the next day or two please?  I really need GPU acceleration for my project to be success.  Thanks so much. :)

[2020-08-24 09:23] Renesis88 opened #633 "Problem in Importing AutoGluon Package"
Hi. I was using AutoGluon about a year back there were no issues. Only recently I keep having this Import Error. I didn't change the code. Was there some updates that affected this ?

**pip install --upgrade mxnet
pip install autogluon

import autogluon as ag
from autogluon import TabularPrediction as task**

---------------------------------------------------------------------------
ImportError

[2020-08-24 21:07] Innixma commented on #633
Thanks for creating an issue!

Could you please create a fresh venv and install mxnet and autogluon in it, and then try to run the example code in the README?

[code]

Please ensure `autogluon==0.0.13` and `mxnet==1.6.0`, and provide OS information and `pip freeze` output if the issue persists.

[2020-08-24 21:10] jwmueller commented on #633
@Renesis88 It seems your command only updated MXNet, so you may also need to execute:
`pip install --upgrade autogluon`

[2020-08-24 22:59] zhreshold commented on #563
@andyDoucette No worries, trying to look into the issue there. If you can provide a working dockerfile and launcher script I probably can help you out faster

[2020-08-25 03:21] jwmueller opened #635 "balanced_accuracy in TabularPredictor.evaluate()"
Predictor.evaluate() does not match Predictor.evaluate_predictions() when `eval_metric='balanced_accuracy'`.

Script to reproduce:

[code]

Outputs are:
score1 = 0.1906
score2 = 0.1906 ( = score1)
score 3 = 0.2042
leaderboard weighted_ensemble has score = 0.2042 (= score3)

Here there's new label in the test-data not present in training-data:
[code]
Output: {' Armed-Forces'}

[2020-08-25 05:23] jwmueller commented on #635
One bug is in: https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/learner/abstract_learner.py#L237
since -1 is used to replace all new classes in the test data (two different classes will both become -1 values).

Toy example (suppose ['a','b'] are only labels seen in training):
[code]

[2020-08-25 08:51] Renesis88 commented on #633
Hi jwmueller,

Thanks got this to work in Google Colab after this tweak. However, it does not work in the Kaggle Notebooks. After some research, I discovered it is due to the different versions of SK Learn.

[2020-08-25 08:51] #633 closed

[2020-08-25 11:27] andyDoucette commented on #563
I'm so glad you're on it. :)  Yeah, I'd be glad to help you reproduce it.

Ok, on an g2.2xlarge aws instance with 50GB of storage and the Ubuntu 18.04 AMI installed, extract [this directory](https://drive.google.com/file/d/1rxtzuyR9RKzqGtCGFJR_XjFXkj_ZTb0G/view?usp=sharing), and run `cd enasTest; ./setup.sh` to set up the host.  `sudo reboot` to reboot the system.  Log back into the server.

Then,

[2020-08-25 16:37] zhreshold commented on #139
I got a data point recently that on mac the autogluon unittests will segfault 11 with

- the pip installed mxnet
- mxnet built from source with cmake

However, the unittests pass with
- mxnet built from source with Makefile

[2020-08-25 20:09] FlorianBorn commented on #488
Hi,
I just encountered this error.
It occurs if I use 60 or less Images per class (cats & dogs) and disappers if I use 70 Images per class.
Is it possible, that this error is related to the size of the dataset?

[code]

[2020-08-25 20:23] Innixma commented on #488
@zhreshold What happens if training fails for the model? Does it return None? If so, we should raise a proper error stating the model exception.

[2020-08-25 22:52] zhreshold commented on #563
@andyDoucette  You can still find the wheels for cu101 of mxnet 1.6.0 here: https://dist.mxnet.io/python/cu101

In particular: https://repo.mxnet.io/dist/python/cu101/mxnet_cu101-1.6.0-py2.py3-none-manylinux1_x86_64.whl

[2020-08-25 23:16] zhreshold commented on #563
@andyDoucette
Okay, I think I found a way to fix the issue, generally speaking, you can't intialize the network on gpu before forking the processes.
That's why there's a internal reset_context for you if `num_gpu > 0`: https://github.com/awslabs/autogluon/blob/master/autogluon/contrib/enas/enas_scheduler.py#L79

To fix your original example code, simply change:
[code]
to
[code]

and you have alrea

[2020-08-26 09:25] jamiekang commented on #488
Hi,
I am also having this error.
With the same script, there was no error before the recent update of Autogluon (last Friday).
How can we avoid this error?

[code]
This is my task.fit().
[code]

[2020-08-26 09:52] FlorianBorn commented on #488
@jamiekang
What's the size of your dataset (images per class)? Maybe try to set your batch_size to be smaller then your dataset. That worked for me.

[2020-08-26 10:27] jamiekang commented on #488
The batch size is 128, and the smallest class size is about 2000.

[2020-08-26 18:20] Innixma commented on #488
@jamiekang Can you try installing mxnet 1.7 based on the instructions in https://autogluon.mxnet.io/install.html#installation-faq ? Because mxnet 1.7 has not officially released quite yet, simply doing pip install --upgrade mxnet won't quite do the trick.

[2020-08-26 19:28] jamiekang commented on #488
I followed that instruction. And I tried both cuda 10.0 and 10.1. The same error.

[2020-08-26 21:48] zhreshold commented on #488
did you encounter have error message or traceback before the error was actually raised?

[2020-08-26 23:57] jamiekang commented on #488
I cannot see anything relevant. You can see the whole log file here -> [link](https://jk-s3-iad.s3.amazonaws.com/temp/ag.out.gz)

[2020-08-27 03:15] andyDoucette commented on #563
For anyone on the net who comes here through google because of a `Illegal instruction (core dumped)` error, here's what I found out about that:  The root cause had nothing to do with my version of mxnet.  It had to do with the hardware I was running on.  When I first submitted the issue, I was working on a g3.xlarge instance in aws.  When I went to replicate it later, I apparently started a g2.2xl

[2020-08-27 03:28] andyDoucette commented on #563
@zhreshold :  Thanks so much for your help!  I tried your fix and it does indeed run now.

Some questions for you:

1.  Since we set the context to CPU and that's the default, can I take out all of my context setting code and it's equivalent?  For example:  `    x = mx.nd.random.uniform(shape=(1, 1, 28, 28), ctx=context)
` and `.transform(lambda x,y: to_context(context, x, y)` in the get_built_in_

[2020-08-27 21:24] sashagutfraind commented on #120
ImageClassification is also not supported on 3.8

[2020-08-27 21:40] zhreshold commented on #563
@andyDoucette for 1&2, yes you can skip the context because the default context is mx.cpu, and what actually makes it use gpu is the `num_gpus` arg.

For 3, your intuition is no doubt correct, "GPU is more powerful, let's put everything in GPU for training". However, nvidia doesn't allow us to `fork(happens when python multiprocessing is involved)` arrays inside GPU context(cross-process ownership

[2020-08-28 03:46] Jie-Yuan opened #641 "TabularPrediction.fit"
File "/home/yuanjie/anaconda3/lib/python3.7/site-packages/autogluon/utils/tabular/ml/models/catboost/catboost_model.py", line 235, in _fit
    init_model=init_model,
TypeError: fit() got an unexpected keyword argument 'init_model'
fit() got an unexpected keyword argument 'init_model'

[2020-08-28 06:56] #140 closed

[2020-08-28 07:29] jwmueller commented on #263
FYI the neural network does use GPU, but does not support multi-GPU training.   If you're interested in adding GPU support for LightGBM/Catboost, have a look at the NeuralNet UI to see how GPU usage is specified:

https://github.com/awslabs/autogluon/blob/master/autogluon/utils/tabular/ml/models/tabular_nn/tabular_nn_model.py#L196

[2020-08-28 18:32] Innixma commented on #641
Can you provide the version of catboost you have installed? Also, please try installing catboost 0.23.2 as that is the intended version of catboost in AG. If you are using an old version of catboost, it will be good to know the version so we can tighten the requirements for AG.

[2020-08-29 06:15] andyDoucette commented on #563
Great, thank you very much for this!  Is there a place this knowledge can go in the documentation so it doesn't get lost?  And/or a check that can be done in autogluon to prevent anyone seeing a ever-not-helpful "terminate called after throwing an instance of 'dmlc::Error'" message again?  I've been a developer for years and there are friendly error message (python stack traces) and there are not

[2020-08-30 22:18] zhreshold commented on #563
good idea, I think a context checker can be applied to the ENAS when network is allocated on gpu but needs multiprocessing.

[2020-08-31 01:02] uzhao commented on #563
So is multiprocessing also reason for TabularPrediction?

[2020-09-01 14:26] schinto opened #646 "NaNs in the leaderboard"
In Autogluon version: 0.0.13, I get some NaNs in the leaderboard for the columns `score_val`, `pred_time_val` and `pred_time_val_marginal`. For example see table below.
[code]
**What do these NaNs mean?**

model | score_val | pred_time_val | fit_time | pred_time_val_marginal | fit_time_marginal | stack_level | can_infer | fit_order
-- | -- | -- | -- | -- | -- | -- | -- | --
weighted_ensemble_k0_l2

[2020-09-01 17:06] Innixma commented on #646
This is because you are using `_FULL` models by calling `predictor.refit_full()` or using the `best_quality_with_high_quality_refit` preset. These models are trained on all of the data with no validation set, so they do not have validation scores. Pass in test data to leaderboard to get scores for these models.

In general, these models will have lower accuracy but will have 10x+ reduced inference

[2020-09-01 17:37] SamanthaSHan opened #647 "RuntimeError: The best config {'search_space▁optimization.lr': 5.5e-05} is not found in config history = OrderedDict()."
Using SageMaker, tried conda_python3 (and downloaded mxnet as suggested in https://autogluon.mxnet.io/install.html#installation-faq) and conda_mxnet_36, error is reproduced in both kernels.

Just following the text prediction quick start example, but running into following:
[code]

[code]
(No gpu configuration as my instance does not have gpu)
Running into: `RuntimeError: The best config {'search_

[2020-09-01 18:22] Innixma commented on #647
@sxjscience Could you take a look?

[2020-09-01 19:14] sxjscience commented on #647
@SamanthaSHan One possibility is that the speed is too slow because you are not using GPU. Thus, the training loop cannot find a model within 60 seconds. There are two options:

1) Change `time_limits=None`, which will wait until all trials are finished.
2) To have the best user experience of TextPrediction, I recommend to use the SageMaker instance with GPU support, e.g., the p3.2x instance in Sa

[2020-09-01 20:32] Innixma commented on #647
Can we make clearer error messages if no models were trained in time?

[2020-09-02 15:41] SamanthaSHan commented on #647
@sxjscience
Thanks for your reply. In the meantime, I did try it in p2.xlarge and p3.2x. Though both had 1 GPU, it didn't work in p2.xlarge vs p3.2x.
Following @Innixma 's comment, I do think that it would be necessary to make the error message clearer.

[2020-09-02 15:46] sxjscience commented on #647
@SamanthaSHan Would you try again by launching a SageMaker notebook with “conda_py36” kernel and inside the Jupyter notebook, install the following MXNet?

python3 -m pip install -U --pre "mxnet_cu101>=1.7.0b20200713, <2.0.0" -f https://sxjscience.github.io/KDD2020/

I previously tested the command on SageMaker and it should runs fine.

[2020-09-02 15:53] sxjscience commented on #647
I noticed that in your previous installation command, you are doing “ !pip install --upgrade mxnet autogluon” Basically, you may try to remove “pip install --upgrade mxnet” and install MXNet with the previous command. Also, you should make sure that you are using the conda_py36 kernel instead of the conda_mxnet_py36 kernel.

[2020-09-02 17:03] SamanthaSHan commented on #647
@sxjscience Apologies if my previous comment was not clear. It did work on p3.2x using the initial installation command.

I am now training my own custom data, but running into the same error. Can TextPrediction take symbols? (i.e @!# etc)? That is the only difference between the example data.

[2020-09-02 17:06] sxjscience commented on #647
@SamanthaSHan It can take symbols. Basically, you will have to use a larger `time_limits` if you are working on your custom data. You may try to set time_limits to `None` so that it will be trained into convergence.

[code]

[2020-09-02 17:33] SamanthaSHan commented on #647
@sxjscience
Got it to work without symbols. I did previously try with and without symbols by applying`re.sub(r'[^\w]',' ', str(text))`
[code]

Pertaining to the initial issue that I've created, the error thrown was `RuntimeError: The best config {'search_space▁optimization.lr': 5.5e-05} is not found in config history = OrderedDict(). This should never happen!` when there were symbols in the text,

[2020-09-02 17:37] sxjscience commented on #647
@SamanthaSHan Yeah, thanks for your suggestion! We will improve our error message and the way to deal with the time limits. Stay tuned :) For now, just open issues in case you met any problems and we are always happy to help!

[2020-09-02 17:43] SamanthaSHan commented on #647
@sxjscience Thank you.
It may also be good to find any limitations with the use of symbols. I haven't delved deeper into what symbols are in my custom dataset (I assume ASCII characters are ok while utf-8 ones may not be?). I'd like to contribute should time permit!

[2020-09-02 17:45] sxjscience commented on #647
@SamanthaSHan The TextPrediction task should work even if your data contain symbols or any UTF-8 characters. Are you seeing errors when you are have symbols in the data?

[2020-09-02 19:17] SamanthaSHan commented on #647
@sxjscience Yes, correct. I'm seeing the same error as above, relating to the RuntimeError

[2020-09-02 19:30] sxjscience commented on #647
@SamanthaSHan Thanks for reporting this. This is definitely a bug and we should solve it. Would you know if it's possible for us to connect so that I can may debug the issue? I think it's related to certain non-unicode characters, e.g., emojis like '😁' in the dataset.

[2020-09-02 21:00] Innixma commented on #647
Great to hear that you are interested in contributing! If you can send me an email at neerick@amazon.com, I can invite you to our collaborator slack channel.

[2020-09-02 21:21] Innixma commented on #563
I think you have separate issue. Could you create a new issue highlighting your problem with code and error logs?

[2020-09-03 00:29] Innixma commented on #589
@Dipanks Do you have an update on this? If not I may consider taking up the task.

[2020-09-03 21:54] Chudbrochil commented on #164
Anecdotally, the steps above that @Innixma described worked for using AutoGluon on Windows. The only other requirement was downloading and installing Microsoft Visual C++ 14.0 from https://visualstudio.microsoft.com/visual-cpp-build-tools/ .
This was with mxnet v1.6.0 and autogluon v0.0.13.

[2020-09-04 02:13] #601 closed

[2020-09-04 06:56] jwmueller commented on #167
Easy usage of custom text datasets has been addressed in:  https://github.com/awslabs/autogluon/pull/556

[2020-09-04 06:56] #167 closed

[2020-09-04 18:28] #646 closed

[2020-09-05 01:22] salil-gtm commented on #596
Can someone suggest a temporary fix to run AutoGluon in Kaggle Kernels ? Tried reverting to older versions as mentioned in the kernel link shared by @jwmueller
```!pip install mxnet==1.6.0 autogluon==0.0.6```
Still getting :
```ImportError: cannot import name 'isStringType' from 'PIL._util' (/opt/conda/lib/python3.7/site-packages/PIL/_util.py)```

[2020-09-05 07:41] ganeshmg commented on #647
I am facing the same issue , even though i did try after removing the symbols. I am try to execute this in colab. Code given below for reference.

!pip install mxnet
!pip install autogluon
import autogluon as ag
import pandas as pd
from autogluon import TextPrediction as task
import regex as re

train=pd.read_csv("Train.csv") #Have attached the file as Train.txt since csv was not supported.
trn =

[2020-09-05 07:43] sxjscience commented on #647
Thanks for reporting. Let me take a look tomorrow.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ganesh MG <notifications@github.com>
Sent: Saturday, September 5, 2020 12:41:15 AM
To: awslabs/autogluon <autogluon@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust.hk>; Mention <mention@noreply.github.com>
Subject: Re: [awslabs/autogluon] RuntimeError: The

[2020-09-05 07:50] sxjscience commented on #647
@ganeshmg Sorry that I do not have access to the laptop and will investigate tomorrow. Meanwhile, would you try to specify the “feature_column” in ‘.fit()’ and try to include only the “Product_Description”, and “ Product_Type”? Basically, the “Text_ID” is an ID Column and the text prediction task cannot deal with the ID column currently.

[2020-09-05 08:46] ganeshmg commented on #647
@sxjscience  I tried with only the Product_Description and Product_Type as features for the .fit(), but i still i receive the same error. I even tried converting the Product_Type to categorical (string) even though it has numerical values, just in case if it wasn't expecting any numerical columns, but still the same error persists.

[2020-09-05 08:57] sxjscience commented on #647
For me, It seems that you are not installing MXNet with GPU support. Would you try again with pip install mxnet_cu101 or pip install mxnet_cu102?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ganesh MG <notifications@github.com>
Sent: Saturday, September 5, 2020 1:46:22 AM
To: awslabs/autogluon <autogluon@noreply.github.com>
Cc: Xingjian SHI <xshiab@connect.ust

[2020-09-05 09:33] ganeshmg commented on #647
I tried pip install with both mxnet_cu101 and mxnet_cu102, but still the same error in both the cases. Are there any predefined steps or order that needs to be taken care for installing autogluon,mxnet,mxnet_cu101,mxnet_cu102?

After pip install the only things that i import are the ones mentioned below.

import autogluon as ag
from autogluon import TextPrediction as task

Is there anything that i

[2020-09-05 09:51] sxjscience commented on #647
@ganeshmg I just tried locally in a g4dn.4xlarge instance and there is no such issue.

[code]

It gives
[code]

Are you seeing this issue when using the Google Colab? Also, would you try to train with `verbosity=3` and paste the error message here so I can help debug?

[2020-09-05 11:22] ganeshmg commented on #647
Yes, I am using Google Colab. Attached are the log files of the fit() executed with "verbosity=3" with one and two features. If i execute only with 'Product_Description' it succeeds and fails if i add 'Product_Type'. Is there a way where i can include 'Product_Type' as well in training?
[Error_Log_2_Features.txt](https://github.com/awslabs/autogluon/files/5177975/Error_Log_2_Features.txt)
[LogFile

[2020-09-06 06:33] sxjscience commented on #647
@ganeshmg @SamanthaSHan Thanks so much for trying out AutoGluon! The error message is improved in https://github.com/awslabs/autogluon/pull/651. Also, I fixed the bug found by @ganeshmg. In order to try out this fix, you may use:

[code]

[2020-09-06 18:16] yx1215 opened #652 "Issue with example in image classification"
When I tried to run the file examples/image_classification/benchmark.py, the following error showed up:
[code]

This error repeatedly occur until the program ends.

The following are the package versions that I use.
[code]

[2020-09-07 07:45] ganeshmg commented on #647
@sxjscience I tried the fit() with both 'Product_Description' and 'Product_Type' as feature_columns and find attached the log file.
The fit() function succeeded, however under the Train/Tuning dataset section in the log file, i do not see any mention on 'Product_Type'. Not sure whether this means that 'Product_Type' was not considered for training?
[Error_Log.txt](https://github.com/awslabs/autogl

[2020-09-07 08:11] sxjscience commented on #647
I've verified that `Product_Type` is used, if it is not used, the validation loss can only reach 70%. It can get 88% if `Product_Type` is used together with the text feature.

However, the previous fix introduced another problem that the specified `feature_columns` will be ignored so I created another fix in https://github.com/awslabs/autogluon/pull/653.

To try it out, use the following command:

[2020-09-07 10:15] ganeshmg commented on #647
@sxjscience The fit() function succeeded and under the Train/Tuning dataset section in the log file, i could now see the 'Product_Type' being mentioned. Find attached the log for reference.
[Error_Log_1.txt](https://github.com/awslabs/autogluon/files/5182538/Error_Log_1.txt)

[2020-09-07 20:25] sxjscience commented on #647
@ganeshmg Really appreciate your help! Would you provide the details about where did you find the "Train.txt" and which task it is tackling?

[2020-09-08 06:01] ganeshmg commented on #647
@sxjscience Thanks for the example script. Will give it a try.
The dataset shared was of a hackathon conducted by Machinehack. Hope it helps.

[2020-09-08 07:27] m946107011 opened #655 "import error : libcudart.so.10.2: cannot open shared object file: No such file or directory"
I use  this two code to install gpu autogluon
python3 -m pip install -U --pre "mxnet_cu102>=1.7.0b20200713, <2.0.0" -f https://sxjscience.github.io/KDD2020/
python3 -m pip install autogluon

but when i import autogluon
from autogluon import TabularPrediction as task
i got this error   libcudart.so.10.2: cannot open shared object file: No such file or directory

my enviroment:
ubuntu 20.04
python 3

[2020-09-08 17:19] sxjscience commented on #655
This looks like an issue related to CUDA version. Would you check the CUDA version again? For example, you may run
[code]

Also, you may try to install mxnet via `pip install mxnet_cu102==1.7.0` and try again.

[2020-09-09 08:19] Innixma commented on #652
@zhreshold Could you take a look?

[2020-09-09 12:55] diff7 commented on #570
I guess something like that:
(I am not sure if the information below it is correct by the way )

There are two types or feature reprocessing pipelines common for all models and  specific for each model.
Common process mainly includes data cleaning:
1. We drop features with high variance var > max_th.
2. Remove columns with many missing values num_na > max_th.
3. Drop duplicates

Specific to each m

[2020-09-09 14:28] sackoh commented on #589
Hi, @Innixma   can I join this work?

[2020-09-09 22:55] zhreshold commented on #652
@yx1215 did you change the data type to float16? AFAIK, fp16 is not supported on CPU yet.

[2020-09-10 06:47] dulanafdo opened #656 "_pickle.UnpicklingError: invalid load key"
while using the Autogluon model for tabular prediction, I've got this error for time_limits = 360. but my code works fine for the time_limits = 60.  Any ideas to overcome this issue?

`Loaded data from: ./Data/train_data.csv | Columns = 13 / 13 | Rows = 48654 -> 48654
Loaded data from: ./Data/test_data.csv | Columns = 13 / 13 | Rows = 12164 -> 12164
Beginning AutoGluon training ... Time limit = 12

[2020-09-10 17:26] Innixma commented on #656
Thanks for submitting an issue.

It appears you are training multiple AutoGluon predictors in parallel using the same path directory. This will cause numerous issues with models overwriting other model's saved pickle files, which will create race conditions that lead to errors. Consider having a unique `output_path` for each run or don't specify `output_path` at all and it will generate a unique p

[2020-09-10 19:04] Innixma commented on #589
@sackoh Hi David, feel free to take up this task and reference the existing LightGBM and Catboost implementations to aid in your code. Do note that I will plan to take up this task in a couple weeks if a contribution has not been submitted, as it is high priority, so please consider the timeline in which you plan to work on this, as submitting a PR within the next 1-2 weeks would be highly preferr

[2020-09-10 23:20] sackoh commented on #589
@Innixma Ok, I consider this in my priority.

[2020-09-11 13:47] m946107011 commented on #655
thanks for reply
I am sure about my cuda version
and i have already reinstall with ur suggestion
but still not work....

[2020-09-11 19:00] cpoptic opened #657 "Plotting for model performance metrics (ROC curve, AUC, Precision-Recall)?"
Is there a function to plot AUC_ROC curves, Precision_Recall curves, etc for classifier models?
Or should we just implement these by hand with maptlotlib, seaborn, bokeh, etc?

[2020-09-12 08:33] jwmueller commented on #657
There are no built-in methods for this. But you can easily do it via sklearn:

https://stackoverflow.com/questions/25009284/how-to-plot-roc-curve-in-python

[2020-09-13 03:06] tirkarthi opened #659 "Warnings in Python 3.8"
Importing ABC directly from collections has been deprecated. Use `collections.abc` instead.

[code]

Syntax warnings due to comparison of literals using is :

[code]

[2020-09-14 06:54] #659 closed

[2020-09-14 07:00] redhood95 opened #663 "resuming training"
How do i resume training for text classification?

[2020-09-14 16:07] schinto commented on #657
Do the yellowbrick [Regression Visualizers](https://www.scikit-yb.org/en/latest/api/regressor/index.html) and  [Classification Visualizers](https://www.scikit-yb.org/en/latest/api/classifier/index.html)  work with autogluon tabular?

Any textual hint or visual clue, which helps to interpret these plots would be very useful (e.g. as shown [here]( https://www.qualtrics.com/support/stats-iq/analyses/

[2020-09-14 16:34] schinto commented on #615
Multi-output support as discussed in the [article](https://arxiv.org/pdf/1904.03943.pdf) would be great, too.

[2020-09-14 22:26] sxjscience commented on #647
@ganeshmg I will mark it as resolved now. Feel free to reopen!

[2020-09-14 22:26] #647 closed

[2020-09-15 01:44] Innixma commented on #663
Can you clarify if you mean TextPrediction or TextClassification? TextClassification is a deprecated task and TextPrediction should be used instead (as of 0.0.13).

[2020-09-15 13:59] sackoh commented on #589
@Innixma  Hi, Nick!
I have spent a couple of days to review the code structure of tabular task.
I started to work on this task in my forked repo.
Hope to finish within coming next 1-2 weeks. 🤗

[2020-09-15 17:35] Innixma commented on #589
Awesome, thanks for the update!

[2020-09-15 21:44] Renesis88 commented on #655
Hi firstly, AutoGluon is not compatible with Python 3.8, only 3.6 and 3.7 supported. So  you should create a separate venv environment to run it.

As for Cuda, I am not sure but I have installed version 10.1 and it works for me.

[2020-09-15 21:55] cpoptic opened #669 "TabularNeuralNetModel sometimes does not train during task.fit() on CPU"
I observe the TabularNeuralNetModel sometimes does not train during task.fit() when training on CPU.

Digging into the `presets.py` file   https://github.com/awslabs/autogluon/blob/960f2c4e60132410fc0342cf8f759d89a077e340/autogluon/utils/tabular/ml/trainer/model_presets/presets.py

it appears the `DEFAULT_MODEL_PRIORITY` sets `NN` to 50, lower than most other model types (e.g. RF, XT, GBM, CAT).

[2020-09-15 23:01] Innixma commented on #669
Thanks for the question!

If the neural network is not being trained, that means that the time limit specified was too short and AutoGluon ran out of time before training the neural network. Either increase the time_limit, don't provide a time_limit at all (will guarantee each model is trained), or specify a custom hyperparameter config with custom model priority.

In general, I am planning to mak

[2020-09-16 02:23] cpoptic commented on #669
Ah perfect, thanks, that's what I figured.  I'll set the model to train longer next time.

If not providing time_limits at all, is there an upper bound on the time to train?  And if you interrupt the training process with Ctrl+C, will this cause an inconsistencies or errors?  Thanks again

I think the order of the models doesn't necessarily need to be changed.  I can understand why the neural netw

[2020-09-16 04:58] redhood95 commented on #663
I mean TextPrediction.

[2020-09-16 21:33] Innixma commented on #669
If time_limits is not set, AutoGluon will train each model to completion regardless of how long it takes. There is no upper bound in this case. If you interrupt the training process, only models which have finished training will be available within the predictor when loaded. If the logs say the following, the model has finished training:

[code]

If you stopped the training early, it is likely tha

[2020-09-16 23:06] Innixma commented on #663
@sxjscience Could you answer?

[2020-09-17 06:01] sxjscience commented on #663
@redhood95 There are two scenarios for resuming a trained model: 1) After you have accidentally killed the job, we may resume the training. 2) We load a trained model and continue the training process with a new sets of hparams, or on a new dataset. Which one is your use case? For now, we cannot resume training but I can add the functionality.

[2020-09-18 11:35] redhood95 commented on #663
i need to resume training on previous weights for the same dataset, please let me know if its possible. and the two scenarios @sxjscience mentioned how can i resume training when i killed it accidentally.

[2020-09-20 02:21] redhood95 commented on #663
hey, if it's okay can I work on adding this feature, for all tasks that are present currently?

[2020-09-20 02:36] sxjscience commented on #663
@redhood95 We are more than welcome for any contributions to AutoGluon. Adding the second functionality (load a trained model and call `.fit()` again) in TextPrediction is not very difficult. We will need to extend the loaded predictor https://github.com/awslabs/autogluon/blob/54d174913a20ba93a37847af722241022a690664/autogluon/task/text_prediction/models/basic_v1.py#L537-L538 to support `.fit()`.

[2020-09-20 02:44] redhood95 commented on #663
@sxjscience  where can I join the slack channel?

[2020-09-20 02:47] sxjscience commented on #663
Would you try out this link? [AutoGluon Slack Invitation](https://join.slack.com/t/autogluon/shared_invite/zt-gx5s8jhw-lg5oGy0Yz3hvfekztiib5g)

[2020-09-21 19:25] amybachir opened #675 "fit_summary Error KeyError: 'trial_info'"
I'm trying autogluon for the first time with a dataset of 75,000 data points and labels.
autogluon version 0.0.13
OS:
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codename:       bionic

Here is my predictor, it is a TabularPrediction with hyperparameter_tune turned on:
`predictor = task.fit(train_data=train_data, label=label_column, output_directory=savedir, pro

[2020-09-21 19:50] sxjscience commented on #663
@redhood95 I removed the previous slack invitation. For those who are willing to obtain the slack invitation, just send emails to me or other developers in AutoGluon.

[2020-09-22 06:43] jwmueller commented on #675
Thanks for pointing out this bug. I believe it should be fixed in this PR:  https://github.com/awslabs/autogluon/pull/678
if you'd like to install that version of autogluon locally and try it out.

Also just FYI:  `hyperparameter_tune` is currently not typically the best way to maximize accuracy in TabularPrediction. Instead consider specifying: `task.fit(..., presets='best_quality')` which utiliz

[2020-09-22 13:32] amybachir commented on #675
Thanks for the tip @jwmueller ! I will try that out!

[2020-09-23 19:57] jwmueller commented on #657
@schinto  I'm not sure which visualizers will work with directly with autogluon-tabular, which would require minor changes, and which would require major changes. Note that autogluon does implement the key `fit()` and `predict_proba()` sklearn APIs, albeit with a slightly different data format (pandas).
If you do manage to get them working, it would be awesome if you could contribute your script/n

[2020-09-24 23:07] #675 closed

[2020-09-25 11:17] AnthonyTheKoala opened #683 "Cannot install AG on Windows with Python 3.8 due to ConfigSpace"
I am having having problems installing ConfigSpace by whatever means, whether it is. Whether it is installing directly by pipping configspace or by pipping autogluon, no matter how ConfigSpace is installed, I get the same error message whether I am installing configspace by installing autogluon or by installing it directly by pipping configspace.

<pre>
C:\Python38>pip install ConfigSpace --upgrad

[2020-09-25 20:31] Innixma commented on #120
User on Windows encountered install errors for ConfigSpace using Python 3.8: #683

[2020-09-25 20:33] Innixma commented on #683
Hi Anthony,

Thanks for the detailed bug report!

Could you try installing via python 3.7? Python 3.8 is currently not officially supported by AutoGluon: #120. Users have commented that AutoGluon version 0.0.13 is installable on Windows via Python 3.7.3 : #164

If it is critical for you to work in Python 3.8, I'd recommend opening an issue in the configspace GitHub, as it appears your problem is n

[2020-09-25 20:35] Innixma commented on #683
I have added a 'help wanted' label to this issue to encourage anyone that runs into similar issues to comment regarding any work-arounds or solutions they have found. Ideally we want to add Python 3.8 support in future and solving this issue will be important in that regard.

[2020-09-27 19:42] yx1215 opened #685 "Error when running example code for GPFIFOSearcher"
When I tried to run the example code for searcher [here](https://autogluon.mxnet.io/api/autogluon.searcher.html), I will get the following error:

[code]

The following is the minimum script to reproduce the error:

[code]

Actually this is just the copy-paste of what we have on that website.

[2020-09-29 04:19] jwmueller commented on #685
@yx1215 you can instead follow this tutorial:
https://autogluon.mxnet.io/tutorials/course/mlp.html

Or use the following code instead:

[code]

Note that using `searcher= 'bayesopt' is equivalent to using the `GPFIFOSearcher`

[2020-09-29 04:20] jwmueller commented on #685
@mseeger @aaronkl @tlienart  Any idea why one cannot create the GPFIFOScheduler as shown in your example:

https://autogluon.mxnet.io/api/autogluon.searcher.html

[2020-09-29 09:49] aaronkl commented on #685
it's indeed a bug in the GPFactory, the default value for the 'scheduler' parameter is not imputed. I will send a PR to fix this

[2020-09-30 20:08] #669 closed

[2020-09-30 20:13] #613 closed

[2020-09-30 20:14] Innixma commented on #608
Marking as resolved. Please re-open if the issue is still present and you have additional information to help us assist.

[2020-09-30 20:14] #608 closed

[2020-09-30 21:29] Innixma commented on #685
Resolved in #686.

[2020-09-30 21:29] #685 closed

[2020-10-03 22:26] AnthonyTheKoala commented on #683
I am cutting a long story very short.
While it applies to ConfigSpace, this package is relevant to the installation of autogluon which uses ConfigSpace.
NOW this  is about the installation of ConfigSpace.
* downgraded pip to 18.1 in order to avoid the PEP 517 problem
<pre>
pip install --user pip==18.1
</pre>
This is a long story cut short.
* My python version is 3,8.5 - I have invested a lot of ba

[2020-10-04 04:51] sackoh commented on #589
@Innixma Hi, Nick. I have cretaed #691 to add XGBoost model.

[2020-10-05 06:28] goolig opened #692 "Stacking with evaluation set"
I'm working with patient data collected for a few years.
The last year of the data is used as a test set and the year before is kept for validation.

According to the documentation, it is not possible to enable stacking and use a validation set. If stacking is enabled, the validation set is also used for training, I assume the score reported is the out-of-bag score. However, in my case, this badly

[2020-10-06 02:08] Innixma commented on #589
Great, I'll take a look!

[2020-10-06 17:37] Innixma commented on #692
Thanks for the feature request! This is a good feature to have. AutoGluon does not currently support specifying a custom validation set for stacking as we use out-of-fold predictions. However, if you have co-variate shift in your data, this can result in heavy overfitting and worse results then if the validation set was used.

Adding this requires updating the stack ensemble API to take in validat

[2020-10-06 17:44] Innixma commented on #683
Hi Anthony,

Thanks for the detailed bug report. We have taken note of it and will reference it when we expand AutoGluon support to Python 3.8.

Best,
Nick

[2020-10-06 22:35] Innixma opened #693 "Remove usage of select_dtypes() from CatBoost preprocessing"
Optimize CatBoost inference speed by not calling select_dtypes() for each call to .predict, instead keep track of the dtypes internally. This can reduce total inference latency by ~37% in online-inference scenarios.

[2020-10-07 16:32] ghazaryanartashes opened #696 "Tabular: NeuralNetClassifier does not use GPU"
I am training the tabular classification model. I have installed the GPU version of MXnet and the latest version of autogluon. However, the training of NeuralNetClassifier is very slow and in most cases runs out of time and skips the model. I checked nvidia-smi and I guess that the model just doesn't use GPU.

[2020-10-08 01:18] Innixma commented on #696
Can you try using:

`predictor = task.fit(train_data, label=label, ngpus_per_trial=1)`?

GPU usage is not enabled by default, it needs to be specified. This functionality will become more clear in the next release as GPU usage is only partially implemented (Neural network and CatBoost use GPU if specified, but the other models don't)

[2020-10-09 04:56] solua100 opened #698 "Can't train object detect with custom dataset"
Hi,

I try use custm dataset for object detection but it usually crash, sometime it can run. I do almost same with tutorial.
`import autogluon as ag
from autogluon import ObjectDetection as task
import os

root = './train_data'
data_root = os.path.join(root,'number_dataset')
#dataset_train = task.Dataset(data_root, classes=('zero','one','two','three','four','five','six','seven','eight','nine',))
t

[2020-10-09 07:24] ghazaryanartashes commented on #696
Dear @Innixma thanks for the response,
I was using ngpus_per_trial, but still, the training is very slow and again nvidia-smi doesn't show any GPU usage.

[2020-10-09 20:10] Innixma commented on #696
Interesting, thanks for the clarification. I am on vacation next week but will take a look once I return. We are planning to refactor the usage of GPU for v0.1 and I will ensure this is resolved for v0.1.

[2020-10-12 14:15] utopianpallu opened #699 "Autogluon Object detection task not getting trained on cpu."
Hey @Innixma , I used cpu for training but it is giving error,
**ValueError: Cannot reset context for Parameter 'mobilenet0_conv0_weight' because it has not been initialized.**

But whenever i am using gpu it gives me correct results.

[2020-10-12 15:31] utopianpallu opened #700 "Object detection not giving results for mobilenet0.25 as a base network."
@zheng-da @chongruo
Hii , i tried using mobilenet 0.25 as a base network for yolo3 using:

detector = task.fit(dataset_train,net=ag.Categorical('mobilenet1.0','mobilenet0.25'),
                    lr=ag.Categorical(5e-4, 1e-4),
                    loss=mxnet.gluon.loss.SoftmaxCrossEntropyLoss(),
                    split_ratio=0.8,
                    batch_size=16,
                    num_trials=

[2020-10-13 06:12] jwmueller commented on #696
@ghazaryanartashes  Did you call fit with `verbosity=4` and check the NN is actually training in the output logs which should print updates every epoch?

The NN should train on GPU if you've properly installed GPU-version of MXNet, but FYI GPU training is not actually that much faster for this NN as it's a fairly small network. The NN model is expected to train slowly if you have high-dimensional

[2020-10-13 09:00] KleinXin opened #703 "TypeError when using 'XT' hyperparameters"
I am trying to train data which has 9-dim feature vectors. The format of data is shown below

![image](https://user-images.githubusercontent.com/13084622/95838088-f2bffa80-0d73-11eb-9ec2-e8ce2668b913.png)

The data works fine when I use 'CAT'/'RF'/'GBM'/'KNN' as hyperparameter. However, when I set it as 'XT', it reports a typeerror that is shown below

`Loaded data from: ../Dataset/data_20200927_8

[2020-10-13 19:06] jwmueller commented on #703
The reason you are encountering this error is highlighted in these lines of the output log:
[code]

AutoGluon has decided there is not enough memory on your machine to train the ExtraTrees model, and since it's the only model you've said to train, AutoGluon cannot produce a `predictor` object. Is there a particular reason you need to use the ExtraTrees model? These are typically not the most accur

[2020-10-14 02:42] KleinXin commented on #703
thx！In fact, I am just testing different options of AutoGluon on the dataset to compare the accuracy.

[2020-10-14 14:38] jojo19893 opened #704 "Issue with deserializing model"
the following workflow persisting a model with:
`model.save('/tmp/model')`
the model contains text and numerical attributes the resulting metadata.json looks as follows:
[code]
when loading the folder with `model=task.load(folder)` it works.
however if you call `model.predict(df)` on a DF that works on the trained model in memory the following error occurs:
`AssertionError: Shape mismatch!. Expect

[2020-10-14 22:19] sxjscience commented on #704
Thanks for reporting this. A quick fix will be to change the following
https://github.com/awslabs/autogluon/blob/3a688299ee8ac6d05db05faf6ce918ab3c8453ff/text/src/autogluon/text/text_prediction/column_property.py#L240-L242

to

[code]

[2020-10-15 06:48] moyiliyi opened #707 "How to get the return values in train_fn?"
When the train_fn has return values, how to access them?
E.g. in a sample case here, is there a way to get the 'msg' value in each search trial?

[code]

[2020-10-15 07:38] mseeger commented on #707
You need to use the reporter.

Your example will not work, you need to have something like

reporter(epoch=..., accuracy=...)

in ag_train_mnist. And you can return other things via reporter, which your scheduler can then access. Careful:
- reporter has to return accuracy (name as in reward_attr) always
- reporter has to return epoch (name as in time_attr) for multi-fidelity schedulers (e.g., Hype

[2020-10-15 07:39] #707 closed

[2020-10-15 07:53] moyiliyi commented on #707
Thanks. Actually my example has a reporter in the test function (line 6). My question is that I need to return some extra information outside the training/test iteration, is that possible?

[2020-10-15 08:23] mseeger commented on #707
Ah sorry I missed that.
As I said, you can return other information via the reporter.

But the signal that evaluation has finished, is created automatically, you do not have to do that.

We are routinely returning other information, for example the time per epoch. If you look into the scheduler code, some will also store what you return via reporter into training_history.

The only way to return i

[2020-10-15 08:47] moyiliyi commented on #707
Thanks!

[2020-10-15 09:40] ZheyuYe opened #709 "Tiny bug related to text prediction"
https://github.com/awslabs/autogluon/blob/28f5df3a9366b2224bebd7f4a3a81307662378eb/autogluon/task/text_prediction/modules/basic_prediction.py#L248-L249

This action only occurs if `len(field_proj_features)` is equal to 1. Adding some proper test cases that cover basic layers used for prediction would be great.

@sxjscience

[2020-10-15 16:58] sxjscience commented on #709
Thanks for reporting this. I find that we can safely remove the `len(field_proj_features)` branch. Because when the number of inputs is 1, `stack` + `mean`, and `concatenate` just becomes identity.

[2020-10-15 17:25] sxjscience opened #710 "[Feature Request] Add official Docker support"
Docker can provide a virtual environment for the users to try out AutoGluon. The new version of GluonNLP has recently added the docker support (See https://github.com/dmlc/gluon-nlp/tree/master/tools/docker for more details).

For AutoGluon, once added, the usage can be like the follows:

[code]

It will then open a [JupyterLab](https://jupyterlab.readthedocs.io/en/stable/) environment with pre-in

[2020-10-15 17:27] zhanghang1989 commented on #710
FYI https://github.com/zhanghang1989/AutoGluon-Docker

[2020-10-15 22:57] sxjscience commented on #704
Solved via https://github.com/awslabs/autogluon/pull/708

[2020-10-15 22:57] #704 closed

[2020-10-16 13:53] mseeger opened #711 "Imports autogluon.core.searcher in bayesopt unit tests"
Hello,

I am trying to put together the bayesopt -> autograd PR, which will make bayesopt HPO independent of MXNet. I'm basically done, except I need to refactor the unit tests. Here, I came across a problem, maybe due to my ignorance of advanced Python.

I noted that several of the unit tests import internal symbols via

from autogluon.core.searcher import XYZ

Then, I noted:
https://github.com/a

[2020-10-18 20:16] #711 closed

[2020-10-19 01:58] ZheyuYe commented on #709
This is also a good solution

[2020-10-19 08:21] #703 closed

[2020-10-19 22:01] jeremyholcombe opened #714 "Tabular: Early stopping is too aggressive"
There seems to be some kind of global early stopping setting that I'm having difficulty disabling. Is there early stopping setting in `task.fit` that is agnostic of the algorithm being used? **If so, is there any way I can disable it so I can run the full iterations specified?**

I am trying to train two CatBoost configurations with 5 bagging folds and 1 stacked ensemble _without_ time limits. I a

[2020-10-19 22:14] Innixma commented on #714
Thanks for submitting an issue!

I suspect that the model actually did have the validation loss increase which triggered the early stopping. For large enough datasets the early stopping rounds is 10, so you would need to set verbosity=4 to see the per-iteration losses rather than every 20 iterations to check for sure.

In 0.0.14, unfortunately there is no option to disable or change the early stop

[2020-10-20 00:49] Innixma commented on #700
@zhreshold Could you take a look?

[2020-10-20 07:41] ShehzadaAlam opened #716 "Autogluon Import Error: cannot import name 'IPV6_ADDRZ_RE'"
Hi,

**Issue Description:** Until yesterday I was able to import autogluon, but now if I try to import I get an error stating, cannot import name 'IPV6_ADDRZ_RE'.

**Environment/ OS:** I am using google colab and below are the details.
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"

[2020-10-20 11:25] impulsecorp opened #717 "Logistic Regression Question"
For tabular data, how can I use logistic regression at https://github.com/awslabs/autogluon/tree/master/tabular/src/autogluon/tabular/utils/ml/models/lr  for binary prediction (Titanic dataset, for example)?

It does not seem to be included in the 'best_quality' preset, and when I try to include it manually it does not work, like:
predictor = task.fit(train_data=train_data, label=label_column, out

[2020-10-20 11:34] impulsecorp opened #718 "Adding A Custom Model Question"
I see your example at https://github.com/awslabs/autogluon/blob/master/examples/tabular/example_custom_model_tabular.py
for how to add a custom model , but how would I actually make that example work, like the custom GBM model is already working?

For example, it works right now to fit it like:
'custom': ['GBM']
but it doesn't work if I use
'custom': ['CustomNaiveBayes']

Would I need to add the c

[2020-10-20 19:14] Innixma commented on #718
'custom' is not something users can specify their own models in yet, and it is unfortunately a bit misleading, as `'custom': ['GBM']` is not related to `'GBM': {}`. The [code](https://github.com/awslabs/autogluon/blob/master/tabular/src/autogluon/tabular/utils/ml/trainer/model_presets/presets_custom.py) for 'custom' only accepts 'GBM'. Instead, use:

```custom_hyperparameters = {NaiveBayesModel: {

[2020-10-20 19:16] #718 closed

[2020-10-20 20:22] Innixma commented on #717
Can you please provide the complete output logs of your run including the error? I just tested and it works for me.

[2020-10-20 20:36] impulsecorp commented on #717
I am sorry, I see now, it was something else I did that was causing it not to work. It works for me now.

[2020-10-20 20:36] #717 closed

[2020-10-20 20:40] Innixma commented on #716
Thanks for the info!

Seems like botocore or urllib released a new version today which causes the issue. Downgrading the versions of those packages would be your best bet.

Could you try following this: https://github.com/boto/botocore/issues/2187#issuecomment-712819351

[2020-10-20 20:44] Innixma commented on #699
@zhreshold could you take a look?

[2020-10-20 20:47] Innixma commented on #699
Actually, I believe a PR already exists to fix this, and should be merged sometime soon: #697

[2020-10-21 21:09] Innixma opened #722 "Consider rewording frontpage of website + readme"
Currently the website and readme opens with stating that AutoGluon is a deep learning library, which has caused confusion with users who want to use primarily classical algorithms thinking that AutoGluon is not a good fit.

[2020-10-22 05:49] KleinXin opened #725 "How to pack models generated during bagging together?"
By default, num_bagging_folds is 10 and it will generate 10 models. A model named model.pkl will use all sub-models in each folder during inference. An example is shown below.

![image](https://user-images.githubusercontent.com/13084622/96829565-84162780-146c-11eb-9352-dffe7e673db8.png)

The problem is that the path of all sub-models can not be changed when model.pkl uses them. For example, when a

[2020-10-22 08:55] mseeger commented on #722
I'd also think that AutoGluon is broader than that. And soon the core does not even depend on any DL framework. The fact that AG is framework-agnostic, is a big plus over others I think.

[2020-10-22 16:02] Innixma commented on #725
Could you explain why you need to access the individual models? What is the problem you are having?

You can do:

predictor = task.fit(...)

`predictor.predict(test_data)`

or

`predictor.predict(test_data, model='CatboostClassifier_STACKER_l1')`

Alternatively, you can compress the bags into a single model via `predictor.refit_full()`, but with a slight reduction in accuracy.

[2020-10-22 16:54] KleinXin commented on #725
My Problem is that the paths of all the sub-models are not relative paths. For example, suppose the path of the model.pkl in the figure above is './res/20201022/model.pkl'. Then I copy model.pkl to './res' and load './res/model.pkl', the name of folder 20201022 is changed to 20201023 at the same time. So in the end the path of the model in folder 'CatboostClassifier_fold_0' is './res/20201023/Catb

[2020-10-22 17:40] Innixma opened #728 "Remove install warnings and --pre from website for v0.1 release"
Remove warnings and `--pre` added in #727

[2020-10-22 17:51] Innixma commented on #725
Why are you loading model.pkl? It is **highly recommended** to just use the predictor object, as numerous things can go wrong by using the model files in isolation (Without predictor, the model will not replicate the feature engineering done during training). So long as you move the entire folder directory of the predictor it will work.

Regarding your example, this fundamentally cannot work regar

[2020-10-22 18:58] montardon opened #730 "assert num_tries <= self.MAX_TRIES"
I'm training a default model on a custom dataset.
detector = task.fit(dataset_train,
                    epochs=epochs,
                    lr=ag.Categorical(5e-4, 1e-4, 5e-5),
                    ngpus_per_trial=1,
                    time_limits=time_limits,
                    batch_size=8
                    )
After a while (three times 30 epochs) , I get an error in searcher.py, line 349
asse

[2020-10-22 20:15] Innixma commented on #730
Assuming this is vision, but please clarify if it is text. @zhreshold could you take a look?

[2020-10-22 23:39] #699 closed

[2020-10-23 01:10] KleinXin commented on #725
In fact, we want to use the model trained by AutoGluon but donot want to integrate AutoGluon into our system. So I used pickle to load the model file.

I think it is better to give the hyperparameters about how to train the model just like tpot does. However, AutoGluon may not support that because bagging is also used in trainning process. Is that right?

[2020-10-23 06:52] montardon commented on #730
Yes. It is vision. I'm training an object detection model on a custom dataset.

[2020-10-23 08:35] mseeger commented on #730
This is an easy one. Your whole search space only has 3 configs, and so once RandomSearcher has sampled all of them, there are none left.
You should use a larger search space, or less trials.

[2020-10-23 08:36] mseeger commented on #730
I am also not sure whether ag.Categorical should not have string objects? I recommend to use ag.Real() for searching for a learning rate, and use log transform.

[2020-10-23 08:37] mseeger commented on #730
We currently do not have the means to check the size of a finite search space, so this is hard to catch in a better way.

[2020-10-23 12:47] liangfu commented on #488
https://github.com/awslabs/autogluon/blob/132e61736d392fe50650d148b8d01d227117e17b/core/src/autogluon/core/task/base/base_task.py#L67-L73

Since L67 here returns None in results, L73 couldn't get the update function from results dict. I think this might be the root cause of the issue.

[2020-10-23 13:29] mseeger commented on #488
Yeah, but why does it return None? One has to go a little deeper, as this is for the most time not happening

[2020-10-23 13:51] montardon commented on #730
Thank you.
Using ag.Real() instead of ag.Categorical() in lr ( lr=ag.Real(5e-4, 2e-4)) leads to the folowing error :
  File "ConfigSpace/hyperparameters.pyx", line 408, in ConfigSpace.hyperparameters.UniformFloatHyperparameter.__init__
ValueError: Upper bound 0.000500 must be larger than lower bound 0.000200 for hyperparameter lr

It looks like upper bound 0.000500 is larger than lower bound 0.000

[2020-10-23 14:00] montardon commented on #730
I guess the message is wrong. Reordering parameters did it.

[2020-10-23 15:54] #730 closed

[2020-10-23 17:45] Innixma commented on #730
@zhreshold Could you re-order the message so it is correct?

[2020-10-23 17:50] Innixma opened #734 "CI Failure: tests/unittests/test_bayesopt_searcher.py ..Cancelling nested steps due to timeout"
tests/unittests/test_bayesopt_searcher.py ..Cancelling nested steps due to timeout

Test times out after 3 hours in Bayesopt. Logs:
https://ci.mxnet.io/blue/organizations/jenkins/autogluon/detail/PR-691/7/pipeline
https://ci.mxnet.io/blue/organizations/jenkins/autogluon/detail/PR-731/1/pipeline

This occurs non-deterministically, sometimes it does not hang.

@mseeger Could you take a look?

[2020-10-23 18:02] mseeger commented on #734
Are you sure this is due to this particular test?
The CI was failing for my due to timeout as well a few times, but at a different point.

This test should be very short running. I'd suggest to deactivate it for now, and then see whether CI time-outs are not anyway happening.

[2020-10-23 18:03] mseeger commented on #730
This message comes from Configspace, we do not control that, unless we submit a patch to them.

[2020-10-23 18:31] Innixma commented on #734
Looks like another version of this test already exists in 'extra' which is disabled due to causing CI failures in the past. Given the similarity between it and the new test, I expect that the test is indeed the cause.

Previous test_bayesopt_searcher file:
https://github.com/awslabs/autogluon/blob/master/extra/tests/unittests/test_bayesopt_searcher.py

[2020-10-23 19:02] mseeger commented on #734
The test in extra should be removed altogether, I did not realize it was still there.
But the test is core is using artificial train_fn, and it should work.

If it does not, this could be due to the dead-locking problems we seem to have.

[2020-10-23 20:46] Innixma commented on #734
Feel free to remove it in your PR, I have merged the disabling of the core version, so you can rebase your PR with it to incorporate the change.

[2020-10-23 22:19] Innixma commented on #730
oh, I see. If others complain about it we might consider, but for now it is likely a niche issue.

[2020-10-23 22:28] Innixma commented on #725
What is the restriction in terms of not integrating AutoGluon? If it is due to dependencies this has been made easier in upcoming v0.1 through modularization. Trying to extract the model from AutoGluon is a complex process and will only work if you also include the feature generator. The model file is dependent on AutoGluon as it is an AutoGluon AbstractModel implementation.

To get the model hype

[2020-10-23 23:13] Innixma commented on #693
Resolved in #724

[2020-10-23 23:13] #693 closed

[2020-10-24 01:26] Innixma opened #738 "Tabular: Handle features with 1 unique value + missing values"
Currently, Tabular drops features which have only 1 unique non-null value and null values. This is actually a binary variable and should be treated as such.

Example 1: https://www.openml.org/t/2

9 of the 39 features are incorrectly dropped because of this.

Example 2: https://www.openml.org/t/3945

feature Var118 is dropped incorrectly because of this.

[2020-10-26 03:28] Innixma opened #741 "Update website URL to auto.gluon.ai"
Update URL from autogluon.mxnet.io -> auto.gluon.ai

[2020-10-26 10:10] mseeger opened #743 "HPO defaults for the different tasks"
Hello,

with 'bayesopt' now independent of MXNet, and PR #735, I recommend that more powerful HPO methods (bayesopt, bayesopt_hyperband) are being explored for the vision and text tasks. The current default there is random search, which can be improved upon by a factor by hyperband, and bayesopt_hyperband is again often better than hyperband by a factor of 2.

Of course, this needs some exploratio

[2020-10-26 10:21] jamescolless commented on #33
Any updates on this? Sample weights are critical in regression problems when you care more about getting certain predictions right than others! As kmedved pointed out this is already implemented in all the other major ML libraries!

[2020-10-26 19:29] Innixma commented on #33
Row weight support is planned for our next release (0.1) which is scheduled for release in December.

[2020-10-27 11:01] KleinXin commented on #725
@Innixma Thank you for your reply!
Our system is using GO with XGBoost. So we have to retrain the model using XGBoost or CatBoost with parameters searched by AutoGluon so that it can be loaded.

I tried to use predictor.leaderboard(extra_info=True). I think all parameters regarding trainning can be acquired from key 'model_info' of predictor.info() dict.

I will print them out and study how to tra

[2020-10-27 17:16] Innixma commented on #725
Ah, I see. In that case predictor.info() will be your best resource and should hopefully allow you to replicate the majority of results. Just keep in mind that AutoGluon does perform feature engineering/preprocessing that you should analyze in order to understand what is being fed into the model. Given your restrictions, I also recommend that you avoid using stack ensembles as they will be **_very

[2020-10-28 01:13] KleinXin commented on #725
Thank you for your suggestion!
I also realize that ensemble is very complex. So I set num_bagging_folds to 0 and auto_stack to False so that only one model is generated.

[2020-10-29 02:24] jwmueller commented on #722
@Innixma  Names still don't seem to be fully standardized between readme and docs.

I vote we use the name: "AutoGluon: AutoML for Text, Image, and Tabular Data"
because "Tabular" sounds weird unless next to "Data" and "Toolkit" may be an unnecessary extra word

[2020-10-29 19:50] Innixma commented on #722
I'm fine with this (and I agree toolkit is unnecessary). Feel free to send a PR with the changes and fix and inconsistencies.

[2020-10-29 19:52] #725 closed

[2020-10-29 20:12] sorinmuchi commented on #420
@philschmid @Innixma I'm curious if there are any updates on this?

[2020-11-04 20:07] montardon opened #757 "Object Detection Images directory layout"
Hi,

I'm trying to run Object Detection on a custom images dataset.
I tried to mimics Tiny bike example.

What is the expected images directory layout ?

For Tiny bike example, the root directory is like :
Annotations\*.xml
ImageSet\Main\trainval.txt
ImageSet\Main\test.txt
JPEGImages\*.jpg

Do you support PNG files ?
I'm using PNG images. I converted them to JPG using mogrify.

[2020-11-05 21:11] Innixma opened #759 "Website tutorials as downloadable notebooks"
Currently, it is not easy for users to run the tutorials themselves such as https://auto.gluon.ai/stable/tutorials/tabular_prediction/tabular-quickstart.html

We should provide an option for the user to download the python notebook itself.

[2020-11-06 07:46] arianacai1997 opened #760 "ModuleNotFoundError: No module named 'autogluon.tabular'"
In the
from autogluon.tabular import TabularPrediction as task
I got the error:
ModuleNotFoundError: No module named 'autogluon.tabular'

While it works once I change it into
from autogluon import TabularPrediction as task

[2020-11-06 08:02] dai-ichiro commented on #760
Now there are two versions, dev and stable.
[https://auto.gluon.ai/dev/versions.html](https://auto.gluon.ai/dev/versions.html)

In the dev version
`from autogluon.tabular import TabularPrediction as task`

In the stable version
`from autogluon import TabularPrediction as task`

[2020-11-07 00:38] Innixma commented on #760
As @dai-ichiro said, dev currently has a separate API from stable as dev is working towards v0.1 release.

For stable:
[code]

For dev:

[code]

Generally it is recommended to use stable unless you are contributing to AutoGluon.

The github readme is based on the dev version, so it is recommended to refer to the website for tutorials: https://auto.gluon.ai/

[2020-11-07 00:39] #760 closed

[2020-11-07 00:41] Innixma commented on #741
Updated in https://github.com/awslabs/autogluon/pull/749

[2020-11-07 00:41] #741 closed

[2020-11-07 01:50] Innixma commented on #757
@zhreshold Could you take a look?

[2020-11-08 06:04] dai-ichiro opened #763 "Cannot use GPU in AutoGluon on WSL2 (Windows Subsystem for Linux 2)"
My platform & environment is as follow:
Ubuntu 18.04(on WSL2) + cuda10.1 + mxnet-cu101==1.7.0 + autogluon==0.0.15b20201107

Autogluon can't find GPU.

[code]

I changed the version of autogluon to 0.0.14(stable), but the result is same.

Like Windows, is WSL2 not yet supported?
I would appreciate it if you could give me any advice.

[2020-11-08 20:42] Innixma commented on #763
@zhreshold Any idea why MXNet can find the GPU but AG can't?

[2020-11-08 22:32] sxjscience commented on #602
@zhreshold It seems that ray tune does not have the issue even if we are reusing the global variable. The following runs well in ray/tune.

[code]

[2020-11-09 01:36] Innixma commented on #602
@gradientsky Pinging in case this is of interest to you

[2020-11-09 17:18] sxjscience commented on #602
Update on the reproducible example with latest AutoGluon after refactory:

[code]

My guess is that switching to `forkserver` can help solve the problem.

[2020-11-09 18:06] zhreshold commented on #763
This isn't something we have tested, since wsl 2 introduced gpu partial virtualization recently.
Can you help checking for nvidia-smi outputs first? I might be able to get a working wsl setup sometime later this week

[2020-11-09 21:03] dai-ichiro commented on #763
Thank you for your prompt reply.

I can't use `nvidia-smi` in WSL2 because NVIDIA Management Library (NVML) APIs are not supported.
https://docs.nvidia.com/cuda/wsl-user-guide/index.html#known-limitations

[2020-11-09 21:43] zhreshold commented on #757
@montardon

The structure is

[code]

as for now, only `.jpg` files are supported in such voc format. In upcoming https://github.com/awslabs/autogluon/pull/733, the major image extensions will be supported.

[2020-11-10 05:29] seekingdeep opened #769 "Training and Predicting using a single model type"
Hi there,

1. i want to train an **`LightGBMClassifier`** model type only, so i included:
`excluded_model_types=['NN', 'RF', 'XT', 'KNN', 'CAT', 'LR', 'custom']`
- The issue is that training includes **`LightGBMClassifierXT`** and **`weighted_ensemble`**, How to disable them also?

2. For prediction, is there a way to set only the individual model type that i want to use.
Because when i am trying

[2020-11-10 05:30] seekingdeep commented on #769
@Innixma @jwmueller @zhanghang1989

[2020-11-10 08:50] jwmueller commented on #769
Answered here: https://github.com/jwmueller/KDD20-tutorial/issues/9

[2020-11-10 08:50] #769 closed

[2020-11-10 09:44] Innixma commented on #769
You can get rid of any other models by using `predictor.delete_models(models_to_keep=['your_model_name'], dry_run=False)` after training.

You can train just a LightGBM (+ weighted ensemble which can be deleted after) via `task,fit(..., hyperparameters={'GBM': {}})`

[2020-11-12 14:36] idavydov opened #774 "distributed learning for Tabular (parallelization beyond a single node)"
Hi,

Looking at the source code, it seems to me that parallelization beyond a single node is currently not supported for Tabular by autogluon. I didn't find an issue dedicated to this topic (however, it this was discussed among other things in #350 and #454).

I was wondering if there are any short-/medium-term plans to add support for distributed learning for Tabular?

Thanks!

[2020-11-12 21:28] Innixma commented on #589
XGBoost model has now been merged in. Thanks @sackoh for the contribution!

[2020-11-12 21:28] #589 closed

[2020-11-12 22:05] Innixma commented on #774
Thanks for the great question @idavydov!

We are actively working on this and hope to have it available in the next release (v0.1).

Refer to the in-progress PR #767 that aims to stabilize distributed training. Once #767 is merged, we also have contributors working on adding distributed HPO capabilities to Tabular (likely in by end of year) which would include multi-node bayesopt hyperband support

[2020-11-14 20:06] Innixma opened #778 "Enforce pip release failure if pip import would cause error"
CI fails when init file is missing that would cause imports to fail when using pip. This means our pre-release can be released broken. See Issue #777.

[2020-11-15 18:32] seekingdeep opened #781 "Deep Clustering of Tabular Data"
How can i train a model to learn how to cluster rows/ nodes into groups.

i have a table inwhich each row is contains a node and it's features.
i want to teach a model how to cluster and create groups of the nodes.

Note that this is not similar to classification.

[2020-11-15 20:31] Innixma commented on #781
This is called unsupervised learning, which can be done most commonly by models such as nearest-neighbors algorithms. AutoGluon does not actively support this functionality at present, as it is focused on the supervised learning domain.

[2020-11-16 01:20] Innixma opened #782 "v0.1 Tabular model name refinement discussion"
For v0.1 release, we are looking to refine and improve the readability of the model names created by Tabular.

Below is a list of proposals. We are looking for community feedback, so please add your thoughts and suggestions!

1. Weighted ensemble renaming:
Current -> weighted_ensemble_k0_l2
Proposed -> WeightedEnsemble_l2
Reasoning: All other models are in CamelCase format except for the weighted

[2020-11-16 01:28] Innixma commented on #782
My personal recommendations are the following:

1. Accept (Main)
2. Accept Alternative 2 (_BAG_)
3. Accept
4. Accept
5. Reject
6. Reject
7. Accept
8. Accept (Main or Alternative 1)
9. Undecided

With this, the following changes would occur to the example model name:

Current: RandomForestClassifier_STACKER_l0
Proposed: RandomForest_BAG_l1

[2020-11-16 11:11] seekingdeep commented on #781
nearest neighbor might not be suitable for high dimensional data.

[2020-11-16 11:29] seekingdeep commented on #781
@Innixma

[2020-11-16 20:42] gradientsky commented on #782
1. CamelCase is easier to type, but underscores are easier to read [1], I'd vote for underscores, but with capital L on level since lowecase l is in many cases confused with 1: `weighted_ensemble_L2`.
2. BAG is better because we don't really have stacking in the L0.
3. Accept. Alternative proposal: can we do camel_case for variations of the algorithm? This reads better:
4. Accept, but with capital

[2020-11-16 21:07] la-cruche opened #784 "ObjectDetection fails with faster_rcnn: unexpected keyword argument 'num_devices'"
Hi,

I'm running the public AutoGluon ObjectDetection [Quick Start](https://auto.gluon.ai/tutorials/object_detection/beginner.html) replacing `yolo3` by `faster_rcnn`. My fit is the below:

[code]

it fails for with the following error (bottom of stack trace only):

[code]

[From this page](https://github.com/awslabs/autogluon/blob/master/vision/src/autogluon/vision/object_detection/pipeline.py),

[2020-11-16 21:10] la-cruche commented on #784
@zhreshold :)

[2020-11-16 21:15] mseeger commented on #782
Default/majority on 1-8

As for 9: Are there not already two tabular neural nets present, one the original one, and the other from FastAI?

[2020-11-16 21:55] Innixma commented on #781
You said that this is not classification, but what you are describing is a multiclass classification problem, with the cluster name/number as the label. Have you tried simply passing the data into AutoGluon Tabular .fit?

[2020-11-16 22:03] Innixma commented on #782
@gradientsky Re CamelCase: I feel that CamelCase is better because it is fewer characters and makes the logical distinction between the qualifiers that use underscores (level, _FULL, _BAG, _DSTL, etc.) and the model name itself. This clarifies which part of the name is the model itself and which is the qualities of the model.

Re capital L for level, I am ok with this, the reasoning for lowercase

[2020-11-16 22:50] zhreshold commented on #784
@la-cruche hey, faster rcnn is not included in the existing object detection task. the latest changes that brings faster rcnn is not merged, see #733

[2020-11-16 23:01] la-cruche commented on #784
but the [docstring says](https://github.com/awslabs/autogluon/blob/master/vision/src/autogluon/vision/object_detection/object_detection.py) it's supported no? _("Meta architecture of the model. Currently support YoloV3 (Default) and FasterRCNN. YoloV3 is faster, while FasterRCNN is more accurate.")_ Is there a previous AutoGluon version that supported it? Or an ETA for a future version to support

[2020-11-17 19:44] jwmueller commented on #782
I vote for CamelCase as well and I also vote that level suffix should be capitalized to be more readable (`_L1` instead of `_l1`).

1. Accept (Main, `WeightedEnsemble_l2`). Another alternative could simply be `Ensemble` since we refer to bagged/stack-ensembles in other ways.

2. I vote to get rid of `_S` and just let the level information `_L1` inform the user when a model is stacker.  To indicate

[2020-11-17 19:45] jwmueller commented on #782
A major thing is our documentation/tutorial needs to provide a glossary of what all the possible model names & suffixes mean.  Also the `hyperparameters` argument keys should be overloaded to either take the name-abbreviations or the full model names discussed here.

[2020-11-17 20:27] Innixma commented on #782
Given we are changing _STACKER suffix, I have another proposal to add:

10. Level suffix in non-bagged models:
Current: CatBoost
Proposed: CatBoost_L1
Reasoning: If we later intend to add a form of multilayer blend stacking to AutoGluon, this will be required to maintain clarity. Additionally, it helps to standardize the level scheme such that any model regardless of if it is bagged will have a le

[2020-11-17 20:45] seekingdeep commented on #781
i should try testing and reply back, stay tuned

[2020-11-18 06:28] jwmueller commented on #782
I agree with 10, but this only with stacking activated correct? With no stacking, I don't think there should be `_L1` as it's confusing.

[2020-11-18 19:15] seekingdeep commented on #781
hi,
when treating this task as a multi-class classification problem, it seems that the accuracy needs improvement.
My guess is that, for example: "a node that is present in cluster 1 in a certain map, might be in cluster 5 in another map".

Thus, you might consider "deep clustering" as basically a **`Context-Aware`** classification.
@Innixma what do you suggest

[2020-11-18 19:17] #781 closed

[2020-11-22 00:54] daikikatsuragawa opened #798 "Apply black"
I propose the introduction of black code formatter in order to create an environment that is easy to deal with other problems.

https://github.com/psf/black

For example, in the following, `”` and `’` of (A) will be unified.

(A)

[code]

https://github.com/awslabs/autogluon/blob/master/core/src/autogluon/core/metrics/classification_metrics.py#L19

[2020-11-23 19:48] Innixma opened #799 "v0.1 Add argument to calculate additional evaluation metric scores on predictor.leaderboard()"
Add argument to calculate additional evaluation metric scores on predictor.leaderboard()

[2020-11-24 03:44] #579 closed

[2020-11-26 13:26] DIVYA-19 opened #801 "wrong number of folds are producing"
I used these parameter vales while fitting
[code]
https://github.com/awslabs/autogluon/blob/4f18a8d658857be49f54e2f3e234e33f01f634ae/tabular/src/autogluon/tabular/task/tabular_prediction/tabular_prediction.py#L291

**bagging = num_bagging_folds * num_bagging_sets**

I expected data to be splitted into 5 folds
When I check model info, I found this
[code]
folds should be 5, why are here 10 folds.
Am

[2020-11-27 17:45] jrdzha commented on #492
Hi @Innixma, just wondering if this is still in the plans? Thanks!

[2020-11-27 20:35] Innixma commented on #492
@jrdzha This is planned as a stretch goal for 0.1 release in January, but more likely as a follow-up feature likely to release sometime in late Q1 2020.

[2020-11-27 23:12] Innixma commented on #801
I am quite confident that the number of child models should be 5 in your example. Could you provide a reproducible script that shows this incorrect behavior?

Here is a script which provides the correct behavior (Note: using mainline, will have to be edited slightly to work on v0.0.14:

[code]

This outputs:

[code]

[2020-11-27 23:17] Innixma commented on #798
Pretty cool tool! How would you generally incorporate this into a project? Would it be a CI check on PRs to check that it satisfies black guidelines? I'd assume a large refactor PR to apply black guidelines followed by a CI check would be the most practical method.

[2020-11-28 02:32] Innixma commented on #801
Just to confirm, as I suspect I know the issue, did you also set `auto_stack=True` or set `presets`? There is an unintuitive interaction between these settings and `num_bagging_folds` and `stack_ensemble_levels`, which will override them. This functionality is going to be changed in the next release so that user specified `num_bagging_folds` and `stack_ensemble_levels` override any defaults chosen

[2020-11-28 04:22] DIVYA-19 commented on #801
Yeah! I set `auto_stack=True`. So that's the reason.
I got it. Thanks
when will be the next version releasing?

[2020-11-29 19:28] Innixma commented on #801
Roughly end of January will be the release of v0.1. You can also get the latest updates early by doing `pip install --pre autogluon` on a fresh venv. The fix to the `auto_stack` logic is in https://github.com/awslabs/autogluon/pull/802.

[2020-11-30 05:05] DIVYA-19 commented on #801
ok! Thank you

[2020-11-30 05:06] #801 closed

[2020-11-30 22:29] Innixma opened #804 "Transient CI Failure: "ModuleNotFoundError: No module named 'scipy._lib'""
I've been seeing this CI failure occur rather frequently across a variety of PRs. Generally by rerunning the CI it succeeds. Does anyone know why this is occurring?

Impacted PRs:

1. #797 : https://ci.gluon.ai/blue/organizations/jenkins/autogluon/detail/PR-797/4/pipeline (NAS)

2. #805 : https://ci.gluon.ai/blue/organizations/jenkins/autogluon/detail/PR-805/5/pipeline/138 (NAS)

[code]

[2020-12-01 22:22] claudiuvintila opened #806 "multiprocessing.context.TimeoutError in docker with gpu/cuda"
I tried running the object detection example code on Azure Container Instances with GPU and get multiprocessing TimeoutError. Any ideas why?

----------------------------------------------------------------------------
import autogluon.core as ag
from autogluon.vision import ObjectDetection as task

import os

root = './'
filename_zip = ag.download('https://autogluon.s3.amazonaws.com/datasets/tiny

[2020-12-02 00:02] sxjscience commented on #804
Also having this issue. Seems to be related to the version of sklearn v.s. scipy.

[2020-12-04 17:42] sxjscience opened #809 "No module named "fastai.core""
I'm meeting this error message:

[code]

It might be due to some upgrade of the fastai package.

[2020-12-04 17:47] sxjscience commented on #809
I just realized it's due to some incorrect cherry-picking.

[2020-12-04 17:47] #809 closed

[2020-12-04 19:45] mglowacki100 opened #810 "Autogluon problem with installation on google colab"
A couple days ago, there was no problem with installation and runnig autogluon on google colab.
Just:
[code]
pressing RESTART, then
[code]
worked perfecly fine and also autogluon.
Now, it gives:
[code]
Also I've tried:
[code]
but it gives:
[code]

Installation traceback:
[code]

[2020-12-06 03:42] dayananddevarapalli commented on #810
I am having similar issue as well. Is something got changed with underlying library?

[2020-12-06 04:06] Innixma commented on #810
Very strange, is it only in collab or are you having issues elsewhere?

[2020-12-06 06:17] dayananddevarapalli commented on #810
I tried on fresh environment  also. The issue still exists.

python3 -m pip install --upgrade pip
python3 -m pip install --upgrade setuptools
python3 -m pip install --upgrade "mxnet<2.0.0"
python3 -m pip install --pre autogluon

import autogluon as ag
from autogluon import TabularPrediction as task

ImportError: cannot import name 'TabularPrediction' from 'autogluon' (unknown location)

[2020-12-06 06:34] Innixma commented on #810
When using `--pre` you need to do the following:

[code]